Repository DataDog/integrations-extras: changes, and which Codecov flags are due for each by the changed paths.
All: aqua, aws_pricing, bind9, cfssl, cloudnatix, cloudsmith, cybersixgill_actionable_alerts, cyral, emqx, eventstore, exim, fiddler, filebeat, filemage, fluentbit, gatekeeper, gitea, gnatsd, gnatsd_streaming, go_pprof_scraper, grpc_check, hikaricp, jfrog_platform_self_hosted, kernelcare, lighthouse, logstash, mergify, neo4j, neutrona, nextcloud, nn_sdwan, ns1, nvml, octoprint, open_policy_agent, php_apcu, php_opcache, pihole, ping, portworx, puma, purefa, purefb, radarr, reboot_required, redis_enterprise, redis_sentinel, redisenterprise, redpanda, riak_repl, robust_intelligence_ai_firewall, scalr, sendmail, snmpwalk, sonarr, sortdb, speedtest, stardog, storm, syncthing, tidb, traefik, trino, unbound, unifi_console, upbound_uxp, upsc, vespa, wayfinder, zabbix, zenoh_router

Add images and update manifest faile
  f5-distributed-cloud/images/defense_events_overview_2.png
  f5-distributed-cloud/images/waf_events_overview_2.png
  f5-distributed-cloud/manifest.json
Due: none

Resolved validate-image failure
  f5-distributed-cloud/manifest.json
Due: none

add wrong owner
  contrast_security_adr/README.md
  contrast_security_adr/manifest.json
Due: none

Altering mock to match changes in DataDog repo.
  redpanda/tests/conftest.py
Due: redpanda

Rewriting description for client pool utilization due to a unicode character issue.
  redpanda/metadata.csv
  redpanda/tests/fixtures/redpanda_metrics.txt
Due: redpanda

Fixing metadata.csv missing comma.
  redpanda/metadata.csv
Due: none

Committing autogenerated changes to conf.yaml.example.
  redpanda/datadog_checks/redpanda/data/conf.yaml.example
Due: redpanda

Pin GitHub Actions
  .github/workflows/check_partials.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/master.yml
  .github/workflows/pr.yml
  .github/workflows/publish-test-results-pr.yml
  .github/workflows/stale.yml
  .github/workflows/test-all.yml
  .github/workflows/validate.yml
Due: none

still bad owner
  contrast_security_adr/manifest.json
Due: none

update changelog date + add back in template_variable_presets
  gatling_enterprise/CHANGELOG.md
  gatling_enterprise/assets/dashboards/gatling_enterprise_overview.json
Due: none

Pin GitHub Actions (#2824)
  .github/workflows/check_partials.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/master.yml
  .github/workflows/pr.yml
  .github/workflows/publish-test-results-pr.yml
  .github/workflows/stale.yml
  .github/workflows/test-all.yml
  .github/workflows/validate.yml
Due: none

update filters on MongoDB Atlas dashboard
  mongodb_atlas/assets/dashboards/MongoDB-Atlas-Database-Collection-Query-Overview_dashboard.json
Due: none

revert title
  mongodb_atlas/assets/dashboards/MongoDB-Atlas-Database-Collection-Query-Overview_dashboard.json
Due: none

update changelog
  mongodb_atlas/CHANGELOG.md
Due: none

add unknown owner
  contrast_security_adr/manifest.json
Due: none

second unknown
  datazoom/manifest.json
Due: none

enable public docs
  instabug/manifest.json
Due: none

address comments
  mongodb_atlas/CHANGELOG.md
  mongodb_atlas/assets/dashboards/MongoDB-Atlas-Database-Collection-Query-Overview_dashboard.json
Due: none

Add owner field to Agent Integrations manifest files
  aws_pricing/manifest.json
  devcycle/manifest.json
  kepler/manifest.json
  open_policy_agent/manifest.json
  pulse/manifest.json
  resilience4j/manifest.json
  riak_repl/manifest.json
Due: none

Add owner field to Integrations Developer Platform manifest files
  sigsci/manifest.json
  split-rum/manifest.json
  statsig_rum/manifest.json
  warpstream/manifest.json
  webb_ai/manifest.json
Due: none

fix some of the failing test
  bind9/tests/conftest.py
  cloudsmith/tests/test_cloudsmith.py
  cyral/tests/conftest.py
  emqx/tests/conftest.py
  filebeat/tests/test_filebeat.py
  fluentbit/tests/conftest.py
  gatekeeper/tests/test_gatekeeper.py
  gitea/tests/conftest.py
  hikaricp/tests/conftest.py
  mergify/tests/test_mergify.py
  open_policy_agent/tests/test_open_policy_agent.py
  portworx/tests/test_portworx.py
  qdrant/tests/conftest.py
  redis_cloud/tests/conftest.py
  redis_enterprise/tests/conftest.py
  redis_enterprise_prometheus/tests/conftest.py
  redpanda/tests/conftest.py
  tidb/tests/conftest.py
  wayfinder/tests/conftest.py
Due: bind9, cloudsmith, cyral, emqx, filebeat, fluentbit, gatekeeper, gitea, hikaricp, mergify, open_policy_agent, portworx, redis_enterprise, redpanda, tidb, wayfinder

bump check base version
  bind9/pyproject.toml
  cloudsmith/pyproject.toml
  cloudsmith/tests/test_cloudsmith.py
  cyral/pyproject.toml
  filebeat/pyproject.toml
  mergify/pyproject.toml
  open_policy_agent/pyproject.toml
  portworx/pyproject.toml
  qdrant/pyproject.toml
  redis_enterprise/pyproject.toml
  redis_enterprise_prometheus/pyproject.toml
  redpanda/pyproject.toml
  tidb/pyproject.toml
  wayfinder/pyproject.toml
Due: cloudsmith

fix tests
  mergify/tests/test_mergify.py
Due: mergify

add bypasse for new grok linter (#2809)
  zscaler/assets/logs/zscaler.yaml
Due: none

Remove instabug OAuth client config
  instabug/assets/oauth_clients.json
  instabug/manifest.json
Due: none

Remove finout OAuth client config
  finout/assets/oauth_clients.json
  finout/manifest.json
Due: none

Add owner field to Integrations Developer Platform manifest files (#2828)
  sigsci/manifest.json
  split-rum/manifest.json
  statsig_rum/manifest.json
  warpstream/manifest.json
  webb_ai/manifest.json
Due: none

[Release] Update metadata
  .in-toto/tag.8b238386.link
Due: none

Upgrading pihole check to support v6+ of pihole
  pihole/CHANGELOG.md
  pihole/assets/configuration/spec.yaml
  pihole/datadog_checks/pihole/__about__.py
  pihole/datadog_checks/pihole/data/conf.yaml.example
  pihole/datadog_checks/pihole/pihole.py
  pihole/hatch.toml
  pihole/metadata.csv
  pihole/pyproject.toml
  pihole/setup.py
  pihole/tests/Dockerfile
  pihole/tests/conftest.py
  pihole/tests/docker-compose.yaml
  pihole/tests/fake-hole.py
  pihole/tests/requirements.txt
  pihole/tests/test_pihole.py
Due: pihole

fix metadata issues, sync config, move test image from local to Dockerhub
  pihole/metadata.csv
  pihole/tests/Dockerfile
  pihole/tests/docker-compose.yaml
  pihole/tests/fake-hole.py
  pihole/tests/requirements.txt
Due: pihole

include legacy metrics in metadata.csv
  pihole/metadata.csv
Due: none

[ECOINT-283] Rebrand integration from Instabug to Luciq (#2808)
  instabug/CHANGELOG.md
  instabug/README.md
  instabug/images/Instabug-Logo.svg
  instabug/images/company-logo.svg
  instabug/images/instabug-ai-smart-resolve.png
  instabug/images/instabug-app-health.png
  instabug/images/instabug-bugs.png
  instabug/images/instabug-crash-details.png
  instabug/images/instabug-datadog-app-builder.png
  instabug/images/instabug-issues-list.png
  instabug/images/instabug-releases-page.png
  instabug/images/instabug-session-replay-details.png
  instabug/images/luciq-ai-smart-resolve.png
  instabug/images/luciq-app-health.png
  instabug/images/luciq-bugs.png
  instabug/images/luciq-crash-details.png
  instabug/images/luciq-datadog-app-builder.png
  instabug/images/luciq-issues-list.png
  instabug/images/luciq-releases-page.png
  instabug/images/luciq-session-replay-details.png
  instabug/manifest.json
Due: none

Bump minumum base package version
  pihole/pyproject.toml
Due: none

sync configs via ddev validate ci --sync
  .github/workflows/test-all.yml
Due: none

add changelog
  bind9/CHANGELOG.md
  cloudnatix/CHANGELOG.md
  cloudsmith/CHANGELOG.md
  cyral/CHANGELOG.md
  emqx/CHANGELOG.md
  filebeat/CHANGELOG.md
  fluentbit/CHANGELOG.md
  gatekeeper/CHANGELOG.md
  gitea/CHANGELOG.md
  go_pprof_scraper/CHANGELOG.md
  hikaricp/CHANGELOG.md
  kepler/CHANGELOG.md
  mergify/CHANGELOG.md
  neo4j/CHANGELOG.md
  open_policy_agent/CHANGELOG.md
  portworx/CHANGELOG.md
  purefb/CHANGELOG.md
  qdrant/CHANGELOG.md
  redis_cloud/CHANGELOG.md
  redis_enterprise/CHANGELOG.md
  redis_enterprise_prometheus/CHANGELOG.md
  redpanda/CHANGELOG.md
  scaphandre/CHANGELOG.md
  tidb/CHANGELOG.md
  wayfinder/CHANGELOG.md
  zenoh_router/CHANGELOG.md
Due: none

Revert "sync configs via ddev validate ci --sync"
  .github/workflows/test-all.yml
Due: none

[ECOINT-295] Update filters on MongoDB Atlas dashboard (#2825)
  mongodb_atlas/CHANGELOG.md
  mongodb_atlas/assets/dashboards/MongoDB-Atlas-Database-Collection-Query-Overview_dashboard.json
Due: none

Path conditions:
  aqua: any of: aqua/datadog_checks/aqua, aqua/tests
  aws_pricing: any of: aws_pricing/datadog_checks/aws_pricing, aws_pricing/tests
  bind9: any of: bind9/datadog_checks/bind9, bind9/tests
  cfssl: any of: cfssl/datadog_checks/cfssl, cfssl/tests
  cloudnatix: any of: cloudnatix/datadog_checks/cloudnatix, cloudnatix/tests
  cloudsmith: any of: cloudsmith/datadog_checks/cloudsmith, cloudsmith/tests
  cybersixgill_actionable_alerts: any of: cybersixgill_actionable_alerts/datadog_checks/cybersixgill_actionable_alerts, cybersixgill_actionable_alerts/tests
  cyral: any of: cyral/datadog_checks/cyral, cyral/tests
  emqx: any of: emqx/datadog_checks/emqx, emqx/tests
  eventstore: any of: eventstore/datadog_checks/eventstore, eventstore/tests
  exim: any of: exim/datadog_checks/exim, exim/tests
  fiddler: any of: fiddler/datadog_checks/fiddler, fiddler/tests
  filebeat: any of: filebeat/datadog_checks/filebeat, filebeat/tests
  filemage: any of: filemage/datadog_checks/filemage, filemage/tests
  fluentbit: any of: fluentbit/datadog_checks/fluentbit, fluentbit/tests
  gatekeeper: any of: gatekeeper/datadog_checks/gatekeeper, gatekeeper/tests
  gitea: any of: gitea/datadog_checks/gitea, gitea/tests
  gnatsd: any of: gnatsd/datadog_checks/gnatsd, gnatsd/tests
  gnatsd_streaming: any of: gnatsd_streaming/datadog_checks/gnatsd_streaming, gnatsd_streaming/tests
  go_pprof_scraper: any of: go_pprof_scraper/datadog_checks/go_pprof_scraper, go_pprof_scraper/tests
  grpc_check: any of: grpc_check/datadog_checks/grpc_check, grpc_check/tests
  hikaricp: any of: hikaricp/datadog_checks/hikaricp, hikaricp/tests
  jfrog_platform_self_hosted: any of: jfrog_platform_self_hosted/datadog_checks/jfrog_platform_self_hosted, jfrog_platform_self_hosted/tests
  kernelcare: any of: kernelcare/datadog_checks/kernelcare, kernelcare/tests
  lighthouse: any of: lighthouse/datadog_checks/lighthouse, lighthouse/tests
  logstash: any of: logstash/datadog_checks/logstash, logstash/tests
  mergify: any of: mergify/datadog_checks/mergify, mergify/tests
  neo4j: any of: neo4j/datadog_checks/neo4j, neo4j/tests
  neutrona: any of: neutrona/datadog_checks/neutrona, neutrona/tests
  nextcloud: any of: nextcloud/datadog_checks/nextcloud, nextcloud/tests
  nn_sdwan: any of: nn_sdwan/datadog_checks/nn_sdwan, nn_sdwan/tests
  ns1: any of: ns1/datadog_checks/ns1, ns1/tests
  nvml: any of: nvml/datadog_checks/nvml, nvml/tests
  octoprint: any of: octoprint/datadog_checks/octoprint, octoprint/tests
  open_policy_agent: any of: open_policy_agent/datadog_checks/open_policy_agent, open_policy_agent/tests
  php_apcu: any of: php_apcu/datadog_checks/php_apcu, php_apcu/tests
  php_opcache: any of: php_opcache/datadog_checks/php_opcache, php_opcache/tests
  pihole: any of: pihole/datadog_checks/pihole, pihole/tests
  ping: any of: ping/datadog_checks/ping, ping/tests
  portworx: any of: portworx/datadog_checks/portworx, portworx/tests
  puma: any of: puma/datadog_checks/puma, puma/tests
  purefa: any of: purefa/datadog_checks/purefa, purefa/tests
  purefb: any of: purefb/datadog_checks/purefb, purefb/tests
  radarr: any of: radarr/datadog_checks/radarr, radarr/tests
  reboot_required: any of: reboot_required/datadog_checks/reboot_required, reboot_required/tests
  redis_enterprise: any of: redis_enterprise/datadog_checks/redis_enterprise, redis_enterprise/tests
  redis_sentinel: any of: redis_sentinel/datadog_checks/redis_sentinel, redis_sentinel/tests
  redisenterprise: any of: redisenterprise/datadog_checks/redisenterprise, redisenterprise/tests
  redpanda: any of: redpanda/datadog_checks/redpanda, redpanda/tests
  riak_repl: any of: riak_repl/datadog_checks/riak_repl, riak_repl/tests
  robust_intelligence_ai_firewall: any of: robust_intelligence_ai_firewall/datadog_checks/robust_intelligence_ai_firewall, robust_intelligence_ai_firewall/tests
  scalr: any of: scalr/datadog_checks/scalr, scalr/tests
  sendmail: any of: sendmail/datadog_checks/sendmail, sendmail/tests
  snmpwalk: any of: snmpwalk/datadog_checks/snmpwalk, snmpwalk/tests
  sonarr: any of: sonarr/datadog_checks/sonarr, sonarr/tests
  sortdb: any of: sortdb/datadog_checks/sortdb, sortdb/tests
  speedtest: any of: speedtest/datadog_checks/speedtest, speedtest/tests
  stardog: any of: stardog/datadog_checks/stardog, stardog/tests
  storm: any of: storm/datadog_checks/storm, storm/tests
  syncthing: any of: syncthing/datadog_checks/syncthing, syncthing/tests
  tidb: any of: tidb/datadog_checks/tidb, tidb/tests
  traefik: any of: traefik/datadog_checks/traefik, traefik/tests
  trino: any of: trino/datadog_checks/trino, trino/tests
  unbound: any of: unbound/datadog_checks/unbound, unbound/tests
  unifi_console: any of: unifi_console/datadog_checks/unifi_console, unifi_console/tests
  upbound_uxp: any of: upbound_uxp/datadog_checks/upbound_uxp, upbound_uxp/tests
  upsc: any of: upsc/datadog_checks/upsc, upsc/tests
  vespa: any of: vespa/datadog_checks/vespa, vespa/tests
  wayfinder: any of: wayfinder/datadog_checks/wayfinder, wayfinder/tests
  zabbix: any of: zabbix/datadog_checks/zabbix, zabbix/tests
  zenoh_router: any of: zenoh_router/datadog_checks/zenoh_router, zenoh_router/tests
