Repository DataDog/integrations-extras: changes, and which Codecov flags are due for each by the changed paths.
All: aqua, aws_pricing, bind9, cfssl, cloudnatix, cloudsmith, cybersixgill_actionable_alerts, cyral, emqx, eventstore, exim, fiddler, filebeat, filemage, fluentbit, gatekeeper, gitea, gnatsd, gnatsd_streaming, go_pprof_scraper, grpc_check, hikaricp, jfrog_platform_self_hosted, kernelcare, lighthouse, logstash, mergify, neo4j, neutrona, nextcloud, nn_sdwan, ns1, nvml, octoprint, open_policy_agent, php_apcu, php_opcache, pihole, ping, portworx, puma, purefa, purefb, radarr, reboot_required, redis_enterprise, redis_sentinel, redisenterprise, redpanda, riak_repl, robust_intelligence_ai_firewall, scalr, sendmail, snmpwalk, sonarr, sortdb, speedtest, stardog, storm, syncthing, tidb, traefik, trino, unbound, unifi_console, upbound_uxp, upsc, vespa, wayfinder, zabbix, zenoh_router

Path conditions:
  aqua: any of: aqua/datadog_checks/aqua, aqua/tests
  aws_pricing: any of: aws_pricing/datadog_checks/aws_pricing, aws_pricing/tests
  bind9: any of: bind9/datadog_checks/bind9, bind9/tests
  cfssl: any of: cfssl/datadog_checks/cfssl, cfssl/tests
  cloudnatix: any of: cloudnatix/datadog_checks/cloudnatix, cloudnatix/tests
  cloudsmith: any of: cloudsmith/datadog_checks/cloudsmith, cloudsmith/tests
  cybersixgill_actionable_alerts: any of: cybersixgill_actionable_alerts/datadog_checks/cybersixgill_actionable_alerts, cybersixgill_actionable_alerts/tests
  cyral: any of: cyral/datadog_checks/cyral, cyral/tests
  emqx: any of: emqx/datadog_checks/emqx, emqx/tests
  eventstore: any of: eventstore/datadog_checks/eventstore, eventstore/tests
  exim: any of: exim/datadog_checks/exim, exim/tests
  fiddler: any of: fiddler/datadog_checks/fiddler, fiddler/tests
  filebeat: any of: filebeat/datadog_checks/filebeat, filebeat/tests
  filemage: any of: filemage/datadog_checks/filemage, filemage/tests
  fluentbit: any of: fluentbit/datadog_checks/fluentbit, fluentbit/tests
  gatekeeper: any of: gatekeeper/datadog_checks/gatekeeper, gatekeeper/tests
  gitea: any of: gitea/datadog_checks/gitea, gitea/tests
  gnatsd: any of: gnatsd/datadog_checks/gnatsd, gnatsd/tests
  gnatsd_streaming: any of: gnatsd_streaming/datadog_checks/gnatsd_streaming, gnatsd_streaming/tests
  go_pprof_scraper: any of: go_pprof_scraper/datadog_checks/go_pprof_scraper, go_pprof_scraper/tests
  grpc_check: any of: grpc_check/datadog_checks/grpc_check, grpc_check/tests
  hikaricp: any of: hikaricp/datadog_checks/hikaricp, hikaricp/tests
  jfrog_platform_self_hosted: any of: jfrog_platform_self_hosted/datadog_checks/jfrog_platform_self_hosted, jfrog_platform_self_hosted/tests
  kernelcare: any of: kernelcare/datadog_checks/kernelcare, kernelcare/tests
  lighthouse: any of: lighthouse/datadog_checks/lighthouse, lighthouse/tests
  logstash: any of: logstash/datadog_checks/logstash, logstash/tests
  mergify: any of: mergify/datadog_checks/mergify, mergify/tests
  neo4j: any of: neo4j/datadog_checks/neo4j, neo4j/tests
  neutrona: any of: neutrona/datadog_checks/neutrona, neutrona/tests
  nextcloud: any of: nextcloud/datadog_checks/nextcloud, nextcloud/tests
  nn_sdwan: any of: nn_sdwan/datadog_checks/nn_sdwan, nn_sdwan/tests
  ns1: any of: ns1/datadog_checks/ns1, ns1/tests
  nvml: any of: nvml/datadog_checks/nvml, nvml/tests
  octoprint: any of: octoprint/datadog_checks/octoprint, octoprint/tests
  open_policy_agent: any of: open_policy_agent/datadog_checks/open_policy_agent, open_policy_agent/tests
  php_apcu: any of: php_apcu/datadog_checks/php_apcu, php_apcu/tests
  php_opcache: any of: php_opcache/datadog_checks/php_opcache, php_opcache/tests
  pihole: any of: pihole/datadog_checks/pihole, pihole/tests
  ping: any of: ping/datadog_checks/ping, ping/tests
  portworx: any of: portworx/datadog_checks/portworx, portworx/tests
  puma: any of: puma/datadog_checks/puma, puma/tests
  purefa: any of: purefa/datadog_checks/purefa, purefa/tests
  purefb: any of: purefb/datadog_checks/purefb, purefb/tests
  radarr: any of: radarr/datadog_checks/radarr, radarr/tests
  reboot_required: any of: reboot_required/datadog_checks/reboot_required, reboot_required/tests
  redis_enterprise: any of: redis_enterprise/datadog_checks/redis_enterprise, redis_enterprise/tests
  redis_sentinel: any of: redis_sentinel/datadog_checks/redis_sentinel, redis_sentinel/tests
  redisenterprise: any of: redisenterprise/datadog_checks/redisenterprise, redisenterprise/tests
  redpanda: any of: redpanda/datadog_checks/redpanda, redpanda/tests
  riak_repl: any of: riak_repl/datadog_checks/riak_repl, riak_repl/tests
  robust_intelligence_ai_firewall: any of: robust_intelligence_ai_firewall/datadog_checks/robust_intelligence_ai_firewall, robust_intelligence_ai_firewall/tests
  scalr: any of: scalr/datadog_checks/scalr, scalr/tests
  sendmail: any of: sendmail/datadog_checks/sendmail, sendmail/tests
  snmpwalk: any of: snmpwalk/datadog_checks/snmpwalk, snmpwalk/tests
  sonarr: any of: sonarr/datadog_checks/sonarr, sonarr/tests
  sortdb: any of: sortdb/datadog_checks/sortdb, sortdb/tests
  speedtest: any of: speedtest/datadog_checks/speedtest, speedtest/tests
  stardog: any of: stardog/datadog_checks/stardog, stardog/tests
  storm: any of: storm/datadog_checks/storm, storm/tests
  syncthing: any of: syncthing/datadog_checks/syncthing, syncthing/tests
  tidb: any of: tidb/datadog_checks/tidb, tidb/tests
  traefik: any of: traefik/datadog_checks/traefik, traefik/tests
  trino: any of: trino/datadog_checks/trino, trino/tests
  unbound: any of: unbound/datadog_checks/unbound, unbound/tests
  unifi_console: any of: unifi_console/datadog_checks/unifi_console, unifi_console/tests
  upbound_uxp: any of: upbound_uxp/datadog_checks/upbound_uxp, upbound_uxp/tests
  upsc: any of: upsc/datadog_checks/upsc, upsc/tests
  vespa: any of: vespa/datadog_checks/vespa, vespa/tests
  wayfinder: any of: wayfinder/datadog_checks/wayfinder, wayfinder/tests
  zabbix: any of: zabbix/datadog_checks/zabbix, zabbix/tests
  zenoh_router: any of: zenoh_router/datadog_checks/zenoh_router, zenoh_router/tests

add to unreleased
  cloudsmith/CHANGELOG.md
  cloudsmith/datadog_checks/cloudsmith/__about__.py
Due: cloudsmith

run validation
  cloudsmith/datadog_checks/cloudsmith/data/conf.yaml.example
Due: cloudsmith

unit test add missing variable
  cloudsmith/datadog_checks/cloudsmith/check.py
Due: cloudsmith

further unit test fixes
  cloudsmith/datadog_checks/cloudsmith/check.py
Due: cloudsmith

Adding search metrics info
  mongodb_atlas/CHANGELOG.md
  mongodb_atlas/metadata.csv
Due: none

feat: adjust Auth0 api usage dashboard to 10s rollup
  auth0/assets/dashboards/auth0-api-usage.json
Due: none

Bump unifi_console version
  unifi_console/CHANGELOG.md
  unifi_console/datadog_checks/unifi_console/__about__.py
Due: unifi_console

add repository storage information
  cloudsmith/CHANGELOG.md
  cloudsmith/README.md
  cloudsmith/assets/dashboards/cloudsmith_overview.json
  cloudsmith/datadog_checks/cloudsmith/__about__.py
  cloudsmith/datadog_checks/cloudsmith/check.py
  cloudsmith/metadata.csv
  cloudsmith/tests/test_cloudsmith.py
Due: cloudsmith

Regenerate models
  unifi_console/datadog_checks/unifi_console/config_models/instance.py
Due: unifi_console

add nextjs directory
  rum_nextjs/CHANGELOG.md
  rum_nextjs/README.md
  rum_nextjs/manifest.json
Due: none

Update cloudsmith/assets/configuration/spec.yaml
  cloudsmith/assets/configuration/spec.yaml
Due: none

Update cloudsmith/datadog_checks/cloudsmith/data/conf.yaml.example
  cloudsmith/datadog_checks/cloudsmith/data/conf.yaml.example
Due: cloudsmith

Update cloudsmith/CHANGELOG.md
  cloudsmith/CHANGELOG.md
Due: none

update example to 300s collection and readme update
  cloudsmith/README.md
  cloudsmith/datadog_checks/cloudsmith/data/conf.yaml.example
Due: cloudsmith

Add Codeowners for Next.js App Router integration
  .github/CODEOWNERS
Due: none

revert 300 to 15 in template
  cloudsmith/datadog_checks/cloudsmith/data/conf.yaml.example
Due: cloudsmith

Bump base check version
  unifi_console/pyproject.toml
Due: none

don't poll metrics API if interval is higher than check
  cloudsmith/datadog_checks/cloudsmith/check.py
  cloudsmith/tests/test_cloudsmith.py
Due: cloudsmith

Sync models
  unifi_console/datadog_checks/unifi_console/config_models/defaults.py
  unifi_console/datadog_checks/unifi_console/config_models/instance.py
Due: unifi_console

Bump major version
  unifi_console/CHANGELOG.md
Due: none

Add release trigger workflow
  .github/workflows/trigger-release.yml
Due: none

Add .github/workflows/* to CODEOWNERS
  .github/CODEOWNERS
Due: none

TEST add pull_request trigger
  .github/workflows/trigger-release.yml
Due: none

add to changelog
  cloudsmith/CHANGELOG.md
Due: none

feat: adjust Auth0 api usage dashboard to 10s rollup (#2915)
  auth0/assets/dashboards/auth0-api-usage.json
Due: none

Add dry-run
  .github/workflows/trigger-release.yml
Due: none

Replace dry-run with target
  .github/workflows/trigger-release.yml
Due: none

Fix for uc history metrics now showing
  stonebranch/datadog_checks/stonebranch/metrics.py
Due: none

Adds redirect_uris needed for planned app migration
  cloudzero/assets/oauth_clients.json
Due: none

update changelog
  cloudzero/CHANGELOG.md
Due: none

fix autoformatting
  cloudzero/CHANGELOG.md
Due: none

Codeowner fixes for saas integrations
  .github/CODEOWNERS
Due: none

Define dataflows for saas-integrations
  akamai_datastream_2/assets/dataflows.yaml
  buddy/assets/dataflows.yaml
  cockroachdb_dedicated/assets/dataflows.yaml
  datazoom/assets/dataflows.yaml
  f5-distributed-cloud/assets/dataflows.yaml
  hcp_vault/assets/dataflows.yaml
  jamf_protect/assets/dataflows.yaml
  logzio/assets/dataflows.yaml
  planetscale/assets/dataflows.yaml
  split/assets/dataflows.yaml
  tailscale/assets/dataflows.yaml
  uptime/assets/dataflows.yaml
  zscaler/assets/dataflows.yaml
Due: none

Adding search metrics info (#2914)
  mongodb_atlas/CHANGELOG.md
  mongodb_atlas/metadata.csv
Due: none

Bump unifi_console version (#2916)
  unifi_console/CHANGELOG.md
  unifi_console/datadog_checks/unifi_console/__about__.py
  unifi_console/datadog_checks/unifi_console/config_models/defaults.py
  unifi_console/datadog_checks/unifi_console/config_models/instance.py
  unifi_console/pyproject.toml
Due: unifi_console

Update README.md
  unifi_console/README.md
Due: none

[Release] Update metadata
  .in-toto/tag.4912ca73.link
Due: none
