Repository DataDog/integrations-extras: changes, and which Codecov flags are due for each by the changed paths.
All: aqua, aws_pricing, bind9, cfssl, cloudnatix, cloudsmith, cybersixgill_actionable_alerts, cyral, emqx, eventstore, exim, fiddler, filebeat, filemage, fluentbit, gatekeeper, gitea, gnatsd, gnatsd_streaming, go_pprof_scraper, grpc_check, hikaricp, jfrog_platform_self_hosted, kernelcare, lighthouse, logstash, mergify, neo4j, neutrona, nextcloud, nn_sdwan, ns1, nvml, octoprint, open_policy_agent, php_apcu, php_opcache, pihole, ping, portworx, puma, purefa, purefb, radarr, reboot_required, redis_enterprise, redis_sentinel, redisenterprise, redpanda, riak_repl, robust_intelligence_ai_firewall, scalr, sendmail, snmpwalk, sonarr, sortdb, speedtest, stardog, storm, syncthing, tidb, traefik, trino, unbound, unifi_console, upbound_uxp, upsc, vespa, wayfinder, zabbix, zenoh_router

Fix import sort
  spicedb/tests/conftest.py
  spicedb/tests/test_e2e.py
  spicedb/tests/test_integration.py
  spicedb/tests/test_unit.py
Due: none

Add noqa to stop ruff and black from fighting
  spicedb/datadog_checks/spicedb/metrics.py
Due: none

Last one
  spicedb/datadog_checks/spicedb/metrics.py
Due: none

fix logstash metrics descriptions
  logstash/metadata.csv
Due: none

fix logstash metrics descriptions (#2570)
  logstash/metadata.csv
Due: none

feat: Support for Memory/Hardware metrics
  qdrant/assets/dashboards/qdrant_overview.json
  qdrant/datadog_checks/qdrant/metrics.py
  qdrant/metadata.csv
  qdrant/tests/common.py
  qdrant/tests/data/metrics.txt
Due: none

chore: Updated CHANGELOG.md
  qdrant/CHANGELOG.md
  qdrant/README.md
Due: none

chore: formatting
  qdrant/datadog_checks/qdrant/metrics.py
Due: none

Update the Version Tag
  cloudsmith/datadog_checks/cloudsmith/__about__.py
Due: cloudsmith

Add missing Version Tag for last PR
  cloudsmith/datadog_checks/cloudsmith/__about__.py
Due: cloudsmith

Update links in readme
  bind9/README.md
Due: none

Update link for timezone steps in readme
  bind9/README.md
Due: none

DDS: Update README Links Bind9 (#2574)
  bind9/README.md
Due: none

First commit
  patroni/CHANGELOG.md
  patroni/README.md
  patroni/assets/dashboards/patroni_overview.json
  patroni/datadog_checks/patroni/patroni.py
  patroni/metadata.csv
  patroni/tests/test_patroni.py
  patroni/tests/test_unit.py
Due: none

Update default sonfiguration spec
  patroni/README.md
  patroni/assets/configuration/spec.yaml
Due: none

Update README.md
  qdrant/README.md
Due: none

Update reference link to the fluent bit log collection docs
  fluentbit/README.md
Due: none

Update fluentbit/README.md
  fluentbit/README.md
Due: none

sync models
  fluentbit/datadog_checks/fluentbit/config_models/instance.py
Due: fluentbit

Update reference link to the fluent bit log collection docs (#2576)
  fluentbit/README.md
  fluentbit/datadog_checks/fluentbit/config_models/instance.py
Due: fluentbit

Add some more sample tags for testing
  octoprint/metadata.csv
Due: none

Add even more sample tags for testing
  octoprint/metadata.csv
Due: none

Fix broken tags
  octoprint/metadata.csv
Due: none

Update metadata.csv
  zilliz_cloud_zilliz_cloud/metadata.csv
Due: none

Added consumer metrics join support and fixed the consumer latency dashboard title
  redpanda/assets/dashboards/overview.json
  redpanda/datadog_checks/redpanda/data/conf.yaml.example
Due: redpanda

Update README.md
  akamai_datastream_2/README.md
Due: none

Changed the conf.yaml.example back to the original, but added shared metrics instructions to the readme
  redpanda/README.md
  redpanda/datadog_checks/redpanda/data/conf.yaml.example
Due: redpanda

restored original conf.yaml.example
  redpanda/datadog_checks/redpanda/data/conf.yaml.example
Due: redpanda

sync conf.yaml.example from orginal DD repo
  redpanda/datadog_checks/redpanda/data/conf.yaml.example
Due: redpanda

sync conf.yaml.example from orginal DD repo try 3
  redpanda/datadog_checks/redpanda/data/conf.yaml.example
Due: redpanda

Added Reflectiz integration files
  reflectiz/Changelog.md
  reflectiz/README.md
  reflectiz/assets/dasboards/WebExposureAlertsDashboard.json
  reflectiz/assets/dasboards/WebExposureRatingDashboard.json
  reflectiz/assets/eula.pdf
  reflectiz/assets/logos/reflectiz-logo.png
  reflectiz/assets/oauth_clients.json
  reflectiz/images/dashboard_1.png
  reflectiz/images/dashboard_2.png
  reflectiz/manifest.json
  reflectiz/metadata.csv
Due: none

updated logos
  reflectiz/assets/logos/reflectiz-logo.png
  reflectiz/assets/logos/reflectiz_logo.svg
  reflectiz/assets/logos/reflectiz_logo_dark_mode.svg
  reflectiz/manifest.json
Due: none

updated log definition
  reflectiz/README.md
Due: none

updated manifest json
  reflectiz/assets/dashboards/WebExposureAlertsDashboard.json
  reflectiz/assets/dashboards/WebExposureRatingDashboard.json
  reflectiz/manifest.json
Due: none

fix for PR
  reflectiz/manifest.json
Due: none

solve issue on invalid service checks
  reflectiz/assets/service_checks.json
  reflectiz/manifest.json
Due: none

fix PR checks
  reflectiz/Changelog.md
  reflectiz/assets/logos/service_checks.json
  reflectiz/assets/oauth_clients.json
  reflectiz/manifest.json
  reflectiz/metadata.csv
Due: none

Update proxmox/README.md
  proxmox/README.md
Due: none

Update proxmox/datadog_checks/proxmox/__about__.py
  proxmox/datadog_checks/proxmox/__about__.py
Due: none

Apply suggestions from code review
  proxmox/assets/dashboards/proxmox_overview.json
  proxmox/pyproject.toml
  proxmox/tests/test_e2e.py
Due: none

Path conditions:
  aqua: any of: aqua/datadog_checks/aqua, aqua/tests
  aws_pricing: any of: aws_pricing/datadog_checks/aws_pricing, aws_pricing/tests
  bind9: any of: bind9/datadog_checks/bind9, bind9/tests
  cfssl: any of: cfssl/datadog_checks/cfssl, cfssl/tests
  cloudnatix: any of: cloudnatix/datadog_checks/cloudnatix, cloudnatix/tests
  cloudsmith: any of: cloudsmith/datadog_checks/cloudsmith, cloudsmith/tests
  cybersixgill_actionable_alerts: any of: cybersixgill_actionable_alerts/datadog_checks/cybersixgill_actionable_alerts, cybersixgill_actionable_alerts/tests
  cyral: any of: cyral/datadog_checks/cyral, cyral/tests
  emqx: any of: emqx/datadog_checks/emqx, emqx/tests
  eventstore: any of: eventstore/datadog_checks/eventstore, eventstore/tests
  exim: any of: exim/datadog_checks/exim, exim/tests
  fiddler: any of: fiddler/datadog_checks/fiddler, fiddler/tests
  filebeat: any of: filebeat/datadog_checks/filebeat, filebeat/tests
  filemage: any of: filemage/datadog_checks/filemage, filemage/tests
  fluentbit: any of: fluentbit/datadog_checks/fluentbit, fluentbit/tests
  gatekeeper: any of: gatekeeper/datadog_checks/gatekeeper, gatekeeper/tests
  gitea: any of: gitea/datadog_checks/gitea, gitea/tests
  gnatsd: any of: gnatsd/datadog_checks/gnatsd, gnatsd/tests
  gnatsd_streaming: any of: gnatsd_streaming/datadog_checks/gnatsd_streaming, gnatsd_streaming/tests
  go_pprof_scraper: any of: go_pprof_scraper/datadog_checks/go_pprof_scraper, go_pprof_scraper/tests
  grpc_check: any of: grpc_check/datadog_checks/grpc_check, grpc_check/tests
  hikaricp: any of: hikaricp/datadog_checks/hikaricp, hikaricp/tests
  jfrog_platform_self_hosted: any of: jfrog_platform_self_hosted/datadog_checks/jfrog_platform_self_hosted, jfrog_platform_self_hosted/tests
  kernelcare: any of: kernelcare/datadog_checks/kernelcare, kernelcare/tests
  lighthouse: any of: lighthouse/datadog_checks/lighthouse, lighthouse/tests
  logstash: any of: logstash/datadog_checks/logstash, logstash/tests
  mergify: any of: mergify/datadog_checks/mergify, mergify/tests
  neo4j: any of: neo4j/datadog_checks/neo4j, neo4j/tests
  neutrona: any of: neutrona/datadog_checks/neutrona, neutrona/tests
  nextcloud: any of: nextcloud/datadog_checks/nextcloud, nextcloud/tests
  nn_sdwan: any of: nn_sdwan/datadog_checks/nn_sdwan, nn_sdwan/tests
  ns1: any of: ns1/datadog_checks/ns1, ns1/tests
  nvml: any of: nvml/datadog_checks/nvml, nvml/tests
  octoprint: any of: octoprint/datadog_checks/octoprint, octoprint/tests
  open_policy_agent: any of: open_policy_agent/datadog_checks/open_policy_agent, open_policy_agent/tests
  php_apcu: any of: php_apcu/datadog_checks/php_apcu, php_apcu/tests
  php_opcache: any of: php_opcache/datadog_checks/php_opcache, php_opcache/tests
  pihole: any of: pihole/datadog_checks/pihole, pihole/tests
  ping: any of: ping/datadog_checks/ping, ping/tests
  portworx: any of: portworx/datadog_checks/portworx, portworx/tests
  puma: any of: puma/datadog_checks/puma, puma/tests
  purefa: any of: purefa/datadog_checks/purefa, purefa/tests
  purefb: any of: purefb/datadog_checks/purefb, purefb/tests
  radarr: any of: radarr/datadog_checks/radarr, radarr/tests
  reboot_required: any of: reboot_required/datadog_checks/reboot_required, reboot_required/tests
  redis_enterprise: any of: redis_enterprise/datadog_checks/redis_enterprise, redis_enterprise/tests
  redis_sentinel: any of: redis_sentinel/datadog_checks/redis_sentinel, redis_sentinel/tests
  redisenterprise: any of: redisenterprise/datadog_checks/redisenterprise, redisenterprise/tests
  redpanda: any of: redpanda/datadog_checks/redpanda, redpanda/tests
  riak_repl: any of: riak_repl/datadog_checks/riak_repl, riak_repl/tests
  robust_intelligence_ai_firewall: any of: robust_intelligence_ai_firewall/datadog_checks/robust_intelligence_ai_firewall, robust_intelligence_ai_firewall/tests
  scalr: any of: scalr/datadog_checks/scalr, scalr/tests
  sendmail: any of: sendmail/datadog_checks/sendmail, sendmail/tests
  snmpwalk: any of: snmpwalk/datadog_checks/snmpwalk, snmpwalk/tests
  sonarr: any of: sonarr/datadog_checks/sonarr, sonarr/tests
  sortdb: any of: sortdb/datadog_checks/sortdb, sortdb/tests
  speedtest: any of: speedtest/datadog_checks/speedtest, speedtest/tests
  stardog: any of: stardog/datadog_checks/stardog, stardog/tests
  storm: any of: storm/datadog_checks/storm, storm/tests
  syncthing: any of: syncthing/datadog_checks/syncthing, syncthing/tests
  tidb: any of: tidb/datadog_checks/tidb, tidb/tests
  traefik: any of: traefik/datadog_checks/traefik, traefik/tests
  trino: any of: trino/datadog_checks/trino, trino/tests
  unbound: any of: unbound/datadog_checks/unbound, unbound/tests
  unifi_console: any of: unifi_console/datadog_checks/unifi_console, unifi_console/tests
  upbound_uxp: any of: upbound_uxp/datadog_checks/upbound_uxp, upbound_uxp/tests
  upsc: any of: upsc/datadog_checks/upsc, upsc/tests
  vespa: any of: vespa/datadog_checks/vespa, vespa/tests
  wayfinder: any of: wayfinder/datadog_checks/wayfinder, wayfinder/tests
  zabbix: any of: zabbix/datadog_checks/zabbix, zabbix/tests
  zenoh_router: any of: zenoh_router/datadog_checks/zenoh_router, zenoh_router/tests
