Repository DataDog/integrations-extras: changes, and which Codecov flags are due for each by the changed paths.
All: aqua, aws_pricing, bind9, cert_manager, cfssl, cloudsmith, cyral, eventstore, exim, filebeat, fluentbit, fluxcd, gatekeeper, gitea, gnatsd, gnatsd_streaming, grpc_check, jfrog_platform, kernelcare, lighthouse, logstash, neo4j, neutrona, nextcloud, nn_sdwan, ns1, nvml, octoprint, open_policy_agent, php_apcu, php_opcache, pihole, ping, portworx, puma, purefa, purefb, reboot_required, redis_sentinel, redisenterprise, redpanda, riak_repl, sendmail, snmpwalk, sortdb, speedtest, stardog, storm, syncthing, tidb, traefik, trino, unbound, unifi_console, upsc, vespa, zabbix

Path conditions:
  aqua: any of: aqua/datadog_checks/aqua, aqua/tests
  aws_pricing: any of: aws_pricing/datadog_checks/aws_pricing, aws_pricing/tests
  bind9: any of: bind9/datadog_checks/bind9, bind9/tests
  cert_manager: any of: cert_manager/datadog_checks/cert_manager, cert_manager/tests
  cfssl: any of: cfssl/datadog_checks/cfssl, cfssl/tests
  cloudsmith: any of: cloudsmith/datadog_checks/cloudsmith, cloudsmith/tests
  cyral: any of: cyral/datadog_checks/cyral, cyral/tests
  eventstore: any of: eventstore/datadog_checks/eventstore, eventstore/tests
  exim: any of: exim/datadog_checks/exim, exim/tests
  filebeat: any of: filebeat/datadog_checks/filebeat, filebeat/tests
  fluentbit: any of: fluentbit/datadog_checks/fluentbit, fluentbit/tests
  fluxcd: any of: fluxcd/datadog_checks/fluxcd, fluxcd/tests
  gatekeeper: any of: gatekeeper/datadog_checks/gatekeeper, gatekeeper/tests
  gitea: any of: gitea/datadog_checks/gitea, gitea/tests
  gnatsd: any of: gnatsd/datadog_checks/gnatsd, gnatsd/tests
  gnatsd_streaming: any of: gnatsd_streaming/datadog_checks/gnatsd_streaming, gnatsd_streaming/tests
  grpc_check: any of: grpc_check/datadog_checks/grpc_check, grpc_check/tests
  jfrog_platform: any of: jfrog_platform/datadog_checks/jfrog_platform, jfrog_platform/tests
  kernelcare: any of: kernelcare/datadog_checks/kernelcare, kernelcare/tests
  lighthouse: any of: lighthouse/datadog_checks/lighthouse, lighthouse/tests
  logstash: any of: logstash/datadog_checks/logstash, logstash/tests
  neo4j: any of: neo4j/datadog_checks/neo4j, neo4j/tests
  neutrona: any of: neutrona/datadog_checks/neutrona, neutrona/tests
  nextcloud: any of: nextcloud/datadog_checks/nextcloud, nextcloud/tests
  nn_sdwan: any of: nn_sdwan/datadog_checks/nn_sdwan, nn_sdwan/tests
  ns1: any of: ns1/datadog_checks/ns1, ns1/tests
  nvml: any of: nvml/datadog_checks/nvml, nvml/tests
  octoprint: any of: octoprint/datadog_checks/octoprint, octoprint/tests
  open_policy_agent: any of: open_policy_agent/datadog_checks/open_policy_agent, open_policy_agent/tests
  php_apcu: any of: php_apcu/datadog_checks/php_apcu, php_apcu/tests
  php_opcache: any of: php_opcache/datadog_checks/php_opcache, php_opcache/tests
  pihole: any of: pihole/datadog_checks/pihole, pihole/tests
  ping: any of: ping/datadog_checks/ping, ping/tests
  portworx: any of: portworx/datadog_checks/portworx, portworx/tests
  puma: any of: puma/datadog_checks/puma, puma/tests
  purefa: any of: purefa/datadog_checks/purefa, purefa/tests
  purefb: any of: purefb/datadog_checks/purefb, purefb/tests
  reboot_required: any of: reboot_required/datadog_checks/reboot_required, reboot_required/tests
  redis_sentinel: any of: redis_sentinel/datadog_checks/redis_sentinel, redis_sentinel/tests
  redisenterprise: any of: redisenterprise/datadog_checks/redisenterprise, redisenterprise/tests
  redpanda: any of: redpanda/datadog_checks/redpanda, redpanda/tests
  riak_repl: any of: riak_repl/datadog_checks/riak_repl, riak_repl/tests
  sendmail: any of: sendmail/datadog_checks/sendmail, sendmail/tests
  snmpwalk: any of: snmpwalk/datadog_checks/snmpwalk, snmpwalk/tests
  sortdb: any of: sortdb/datadog_checks/sortdb, sortdb/tests
  speedtest: any of: speedtest/datadog_checks/speedtest, speedtest/tests
  stardog: any of: stardog/datadog_checks/stardog, stardog/tests
  storm: any of: storm/datadog_checks/storm, storm/tests
  syncthing: any of: syncthing/datadog_checks/syncthing, syncthing/tests
  tidb: any of: tidb/datadog_checks/tidb, tidb/tests
  traefik: any of: traefik/datadog_checks/traefik, traefik/tests
  trino: any of: trino/datadog_checks/trino, trino/tests
  unbound: any of: unbound/datadog_checks/unbound, unbound/tests
  unifi_console: any of: unifi_console/datadog_checks/unifi_console, unifi_console/tests
  upsc: any of: upsc/datadog_checks/upsc, upsc/tests
  vespa: any of: vespa/datadog_checks/vespa, vespa/tests
  zabbix: any of: zabbix/datadog_checks/zabbix, zabbix/tests

Update signl4/README.md
  signl4/README.md
Due: none

Add Vantage
  .github/CODEOWNERS
  vantage/CHANGELOG.md
  vantage/README.md
  vantage/assets/images/vantage-datadog-budget-forecast.png
  vantage/assets/images/vantage-datadog-grouped-report.png
  vantage/assets/images/vantage-datadog-provider-summary.png
  vantage/assets/logos/logo-dark.png
  vantage/assets/logos/logo-dark.svg
  vantage/assets/terms-of-service.pdf
  vantage/manifest.json
Due: none

Update purefb_overview.json
  purefb/CHANGELOG.md
  purefb/dashboards/purefb_overview.json
  purefb/datadog_checks/purefb/__about__.py
  purefb/datadog_checks/purefb/data/conf.yaml.example
Due: purefb

Update purefb_overview.json
  purefb/dashboards/purefb_overview.json
Due: none

Updated path for image (#1549)
  firefly/manifest.json
Due: none

Update zenduty/README.md with punctuation
  zenduty/README.md
Due: none

Update ping.py
  ping/datadog_checks/ping/ping.py
Due: ping

Add EMnify integration (#1534)
  .github/CODEOWNERS
  emnify/CHANGELOG.md
  emnify/README.md
  emnify/assets/dashboards/emnify_dashboard.json
  emnify/assets/monitors/emnify_data_usage_forecast.json
  emnify/assets/monitors/emnify_data_usage_high_rx.json
  emnify/assets/monitors/emnify_data_usage_high_tx.json
  emnify/assets/monitors/emnify_data_usage_host_stopped.json
  emnify/assets/service_checks.json
  emnify/images/above_forecast_monitor.png
  emnify/images/data_usage_dashboard.png
  emnify/images/datastop_monitor.png
  emnify/images/high_data_monitor.png
  emnify/images/high_transmission_monitor.png
  emnify/manifest.json
  emnify/metadata.csv
Due: none

Add warning for windows users
  ping/README.md
Due: none

Update Ping README to separately install Ping binary
  ping/README.md
Due: none

Update vantage/README.md
  vantage/README.md
Due: none

Update ping/README.md
  ping/README.md
Due: none

update
  f5-distributed-cloud/manifest.json
Due: none

Update README.md
  f5-distributed-cloud/README.md
Due: none

Update PureFB 1.0.1 (#1554)
  purefb/CHANGELOG.md
  purefb/dashboards/purefb_overview.json
  purefb/datadog_checks/purefb/__about__.py
  purefb/datadog_checks/purefb/data/conf.yaml.example
Due: purefb

[Release] Update metadata
  .in-toto/tag.9bb10b65.link
Due: none

init-commit metrics update test for the new purefa OE
  purefa/assets/configuration/spec.yaml
  purefa/datadog_checks/purefa/__about__.py
  purefa/datadog_checks/purefa/data/conf.yaml.example
  purefa/datadog_checks/purefa/metrics.py
Due: purefa

Missing images added
  signl4/images/datadog-alerts-webhook.png
  signl4/images/datadog-incidents-rule.png
  signl4/images/datadog-incidents-webhook.png
  signl4/images/signl4-datadog-connector-app.png
Due: none

add new open metrics metric names
  purefa/datadog_checks/purefa/__about__.py
  purefa/datadog_checks/purefa/metrics.py
Due: purefa

Updated manifest.json with regenerated app_uuid
  zenduty/manifest.json
Due: none

Add warning for windows users (#1556)
  ping/README.md
Due: none

Update CODEOWNERS
  .github/CODEOWNERS
Due: none

update
  f5-distributed-cloud/README.md
  f5-distributed-cloud/dashboards/f5xc_access.json
  f5-distributed-cloud/manifest.json
Due: none

new images under 500
  drata/images/Drata-001.jpg
  drata/images/Drata-002.jpg
  drata/images/Drata-003.jpg
  drata/images/Drata-004.jpg
  drata/images/Drata-005.jpg
Due: none

Updated zenduty/CHANGELOG.md
  zenduty/CHANGELOG.md
Due: none

Add support for UMP and update dashboard
  unifi_console/README.md
  unifi_console/assets/configuration/spec.yaml
  unifi_console/assets/dashboards/unifi_console_overview.json
  unifi_console/datadog_checks/unifi_console/__about__.py
  unifi_console/datadog_checks/unifi_console/api.py
  unifi_console/datadog_checks/unifi_console/config.py
  unifi_console/datadog_checks/unifi_console/data/conf.yaml.example
  unifi_console/datadog_checks/unifi_console/types.py
  unifi_console/tests/conftest.py
Due: unifi_console

Fix config
  unifi_console/datadog_checks/unifi_console/data/conf.yaml.example
Due: unifi_console

Fix model
  unifi_console/datadog_checks/unifi_console/config_models/instance.py
Due: unifi_console

Initial Commit
  .github/CODEOWNERS
  twingate/CHANGELOG.md
  twingate/README.md
  twingate/assets/configuration/spec.yaml
  twingate/assets/dashboards/twingate_overview.json
  twingate/assets/service_checks.json
  twingate/images/IMAGES_README.md
  twingate/images/Twingate Logo - Wide.png
  twingate/images/Twingate Logo – Icon.png
  twingate/manifest.json
  twingate/metadata.csv
Due: none
