Repository DataDog/integrations-extras: changes, and which Codecov flags are due for each by the changed paths.
All: aqua, aws_pricing, bind9, cfssl, cloudnatix, cloudsmith, cybersixgill_actionable_alerts, cyral, emqx, eventstore, exim, fiddler, filebeat, filemage, fluentbit, gatekeeper, gitea, gnatsd, gnatsd_streaming, go_pprof_scraper, grpc_check, hikaricp, jfrog_platform_self_hosted, kernelcare, lighthouse, logstash, mergify, neo4j, neutrona, nextcloud, nn_sdwan, ns1, nvml, octoprint, open_policy_agent, php_apcu, php_opcache, pihole, ping, portworx, puma, purefa, purefb, radarr, reboot_required, redis_enterprise, redis_sentinel, redisenterprise, redpanda, riak_repl, robust_intelligence_ai_firewall, scalr, sendmail, snmpwalk, sonarr, sortdb, speedtest, stardog, storm, syncthing, tidb, traefik, trino, unbound, unifi_console, upbound_uxp, upsc, vespa, wayfinder, zabbix, zenoh_router

add log pipeline test
  fauna/assets/logs/fauna_tests.yaml
Due: none

Accept README and manifest suggestions
  fauna/README.md
  fauna/manifest.json
Due: none

namespace fauna facets
  fauna/assets/dashboards/fauna_overview.json
  fauna/assets/logs/fauna.yaml
  fauna/assets/logs/fauna_tests.yaml
Due: none

remove ui_extension oauth section
  fauna/assets/oauth_clients.json
Due: none

size images to 2880px
  fauna/images/dashboard_logs.png
  fauna/images/dashboard_metrics.png
Due: none

update README with dashboard link
  fauna/README.md
  fauna/assets/dashboards/fauna_overview.json
Due: none

Update images size and aspect ratio
  fauna/images/dashboard_logs.jpeg
  fauna/images/dashboard_metrics.jpeg
  fauna/images/fauna_dashboard_1.png
  fauna/images/fauna_log_example.png
  fauna/manifest.json
Due: none

change to pngs
  fauna/images/dashboard_logs.jpeg
  fauna/images/dashboard_logs.png
  fauna/images/dashboard_metrics.jpeg
  fauna/images/dashboard_metrics.png
  fauna/manifest.json
Due: none

add empty service_checks.json
  fauna/assets/service_checks.json
  fauna/manifest.json
Due: none

update scopes for cloudzero integration (#2437)
  cloudzero/CHANGELOG.md
  cloudzero/assets/oauth_clients.json
  cloudzero/manifest.json
Due: none

add excludes to spec.yaml, code support in check
  redis_enterprise/assets/configuration/spec.yaml
  redis_enterprise/datadog_checks/redis_enterprise/check.py
  redis_enterprise/datadog_checks/redis_enterprise/data/conf.yaml.example
Due: redis_enterprise

remove unused variable
  redis_enterprise/datadog_checks/redis_enterprise/check.py
Due: redis_enterprise

use renamed parameter in tests
  redis_enterprise/tests/test_redis_enterprise.py
Due: redis_enterprise

fix addition of extra_metrics
  redis_enterprise/datadog_checks/redis_enterprise/check.py
Due: redis_enterprise

desperately trying to fix something that is broken - running ddev validate config produces no changes
  redis_enterprise/datadog_checks/redis_enterprise/data/conf.yaml.example
Due: redis_enterprise

desperately trying to fix something that is broken - running ddev validate config produces no changes #2
  redis_enterprise/datadog_checks/redis_enterprise/data/conf.yaml.example
Due: redis_enterprise

manually updating instance,py
  redis_enterprise/datadog_checks/redis_enterprise/config_models/instance.py
Due: redis_enterprise

Updated instructions with post-installation steps to configure the integration
  cloudaeye/README.md
Due: none

fix: dashboard qdrant.cluster.commit.count sum
  qdrant/assets/dashboards/qdrant_overview.json
Due: none

Added more images
  qdrant/images/qdrant_grpc_metrics.png
  qdrant/images/qdrant_rest_metrics.png
  qdrant/manifest.json
Due: none

docs: Updated README.md
  qdrant/README.md
Due: none

chore: formatting
  qdrant/tests/test_qdrant.py
Due: none

fix: aspect ratios
  qdrant/images/qdrant_dashboard.png
  qdrant/images/qdrant_grpc_metrics.png
  qdrant/images/qdrant_rest_metrics.png
  qdrant/manifest.json
Due: none

regenerated conf.yaml.example, added test for exclude metrics
  redis_enterprise/datadog_checks/redis_enterprise/check.py
  redis_enterprise/datadog_checks/redis_enterprise/config_models/instance.py
  redis_enterprise/datadog_checks/redis_enterprise/data/conf.yaml.example
  redis_enterprise/tests/test_redis_enterprise.py
Due: redis_enterprise

re-validated with ddev 9.10
  redis_enterprise/datadog_checks/redis_enterprise/config_models/instance.py
Due: redis_enterprise

fix linter issues
  redis_enterprise/tests/test_redis_enterprise.py
Due: redis_enterprise

yet another validation run
  redis_enterprise/datadog_checks/redis_enterprise/data/conf.yaml.example
Due: redis_enterprise

add image, add exclude code and test, set logo, regen conf.yaml.example
  redis_cloud/README.md
  redis_cloud/assets/configuration/spec.yaml
  redis_cloud/assets/dashboards/redis_cloud_database.json
  redis_cloud/assets/dashboards/redis_cloud_networking.json
  redis_cloud/assets/dashboards/redis_cloud_overview.json
  redis_cloud/datadog_checks/redis_cloud/check.py
  redis_cloud/datadog_checks/redis_cloud/config_models/defaults.py
  redis_cloud/datadog_checks/redis_cloud/config_models/instance.py
  redis_cloud/datadog_checks/redis_cloud/data/conf.yaml.example
  redis_cloud/images/datadog-database-overview.png
  redis_cloud/manifest.json
  redis_cloud/tests/test_redis_cloud.py
Due: none

use extra_metrics param
  redis_cloud/datadog_checks/redis_cloud/metrics.py
  redis_cloud/tests/test_redis_cloud.py
Due: none

fix typo in manifest filename
  redis_cloud/manifest.json
Due: none

update dashboard images
  fauna/images/dashboard_logs.png
  fauna/images/fauna_dashboard_2.png
  fauna/images/fauna_dashboard_logs.png
  fauna/images/fauna_dashboard_overview.png
  fauna/manifest.json
Due: none

update README to remove 'metrics'
  fauna/README.md
Due: none

remove unused image
  fauna/images/dashboard_metrics.png
Due: none

update log pipeline facets and dashboard
  fauna/assets/dashboards/fauna_overview.json
  fauna/assets/logs/fauna.yaml
  fauna/assets/logs/fauna_tests.yaml
  fauna/images/fauna_dashboard_overview.png
  fauna/manifest.json
Due: none

feat(dashboard): Optimize layout and update EMQX logo
  emqx/CHANGELOG.md
  emqx/README.md
  emqx/assets/dashboards/overview.json
  emqx/assets/logos/avatars-bot.png
  emqx/assets/logos/emqx-with-watermark.svg
  emqx/assets/logos/emqx.svg
  emqx/assets/logos/saas_logos-bot.png
  emqx/assets/logos/saas_logos-small.png
  emqx/datadog_checks/emqx/__about__.py
  emqx/images/emqx-overview-1.png
  emqx/images/emqx-overview-2.png
  emqx/images/emqx-overview-3.png
  emqx/images/emqx-overview-4.png
  emqx/images/emqx-overview-5.png
Due: emqx

fix(emqx): Fix CI format Error
  emqx/CHANGELOG.md
  emqx/datadog_checks/emqx/data/conf.yaml.example
  emqx/images/emqx-overview-1.png
  emqx/images/emqx-overview-2.png
  emqx/images/emqx-overview-3.png
  emqx/images/emqx-overview-4.png
  emqx/images/emqx-overview-5.png
Due: emqx

chore: tweak dashboard
  qdrant/assets/dashboards/qdrant_overview.json
Due: none

[codeowners] Swap monitor-app for alerting-product
  .github/CODEOWNERS
Due: none

Update the installation instructions in README
  cloudaeye/README.md
Due: none

fixed typo
  redis_enterprise/README.md
Due: none

Path conditions:
  aqua: any of: aqua/datadog_checks/aqua, aqua/tests
  aws_pricing: any of: aws_pricing/datadog_checks/aws_pricing, aws_pricing/tests
  bind9: any of: bind9/datadog_checks/bind9, bind9/tests
  cfssl: any of: cfssl/datadog_checks/cfssl, cfssl/tests
  cloudnatix: any of: cloudnatix/datadog_checks/cloudnatix, cloudnatix/tests
  cloudsmith: any of: cloudsmith/datadog_checks/cloudsmith, cloudsmith/tests
  cybersixgill_actionable_alerts: any of: cybersixgill_actionable_alerts/datadog_checks/cybersixgill_actionable_alerts, cybersixgill_actionable_alerts/tests
  cyral: any of: cyral/datadog_checks/cyral, cyral/tests
  emqx: any of: emqx/datadog_checks/emqx, emqx/tests
  eventstore: any of: eventstore/datadog_checks/eventstore, eventstore/tests
  exim: any of: exim/datadog_checks/exim, exim/tests
  fiddler: any of: fiddler/datadog_checks/fiddler, fiddler/tests
  filebeat: any of: filebeat/datadog_checks/filebeat, filebeat/tests
  filemage: any of: filemage/datadog_checks/filemage, filemage/tests
  fluentbit: any of: fluentbit/datadog_checks/fluentbit, fluentbit/tests
  gatekeeper: any of: gatekeeper/datadog_checks/gatekeeper, gatekeeper/tests
  gitea: any of: gitea/datadog_checks/gitea, gitea/tests
  gnatsd: any of: gnatsd/datadog_checks/gnatsd, gnatsd/tests
  gnatsd_streaming: any of: gnatsd_streaming/datadog_checks/gnatsd_streaming, gnatsd_streaming/tests
  go_pprof_scraper: any of: go_pprof_scraper/datadog_checks/go_pprof_scraper, go_pprof_scraper/tests
  grpc_check: any of: grpc_check/datadog_checks/grpc_check, grpc_check/tests
  hikaricp: any of: hikaricp/datadog_checks/hikaricp, hikaricp/tests
  jfrog_platform_self_hosted: any of: jfrog_platform_self_hosted/datadog_checks/jfrog_platform_self_hosted, jfrog_platform_self_hosted/tests
  kernelcare: any of: kernelcare/datadog_checks/kernelcare, kernelcare/tests
  lighthouse: any of: lighthouse/datadog_checks/lighthouse, lighthouse/tests
  logstash: any of: logstash/datadog_checks/logstash, logstash/tests
  mergify: any of: mergify/datadog_checks/mergify, mergify/tests
  neo4j: any of: neo4j/datadog_checks/neo4j, neo4j/tests
  neutrona: any of: neutrona/datadog_checks/neutrona, neutrona/tests
  nextcloud: any of: nextcloud/datadog_checks/nextcloud, nextcloud/tests
  nn_sdwan: any of: nn_sdwan/datadog_checks/nn_sdwan, nn_sdwan/tests
  ns1: any of: ns1/datadog_checks/ns1, ns1/tests
  nvml: any of: nvml/datadog_checks/nvml, nvml/tests
  octoprint: any of: octoprint/datadog_checks/octoprint, octoprint/tests
  open_policy_agent: any of: open_policy_agent/datadog_checks/open_policy_agent, open_policy_agent/tests
  php_apcu: any of: php_apcu/datadog_checks/php_apcu, php_apcu/tests
  php_opcache: any of: php_opcache/datadog_checks/php_opcache, php_opcache/tests
  pihole: any of: pihole/datadog_checks/pihole, pihole/tests
  ping: any of: ping/datadog_checks/ping, ping/tests
  portworx: any of: portworx/datadog_checks/portworx, portworx/tests
  puma: any of: puma/datadog_checks/puma, puma/tests
  purefa: any of: purefa/datadog_checks/purefa, purefa/tests
  purefb: any of: purefb/datadog_checks/purefb, purefb/tests
  radarr: any of: radarr/datadog_checks/radarr, radarr/tests
  reboot_required: any of: reboot_required/datadog_checks/reboot_required, reboot_required/tests
  redis_enterprise: any of: redis_enterprise/datadog_checks/redis_enterprise, redis_enterprise/tests
  redis_sentinel: any of: redis_sentinel/datadog_checks/redis_sentinel, redis_sentinel/tests
  redisenterprise: any of: redisenterprise/datadog_checks/redisenterprise, redisenterprise/tests
  redpanda: any of: redpanda/datadog_checks/redpanda, redpanda/tests
  riak_repl: any of: riak_repl/datadog_checks/riak_repl, riak_repl/tests
  robust_intelligence_ai_firewall: any of: robust_intelligence_ai_firewall/datadog_checks/robust_intelligence_ai_firewall, robust_intelligence_ai_firewall/tests
  scalr: any of: scalr/datadog_checks/scalr, scalr/tests
  sendmail: any of: sendmail/datadog_checks/sendmail, sendmail/tests
  snmpwalk: any of: snmpwalk/datadog_checks/snmpwalk, snmpwalk/tests
  sonarr: any of: sonarr/datadog_checks/sonarr, sonarr/tests
  sortdb: any of: sortdb/datadog_checks/sortdb, sortdb/tests
  speedtest: any of: speedtest/datadog_checks/speedtest, speedtest/tests
  stardog: any of: stardog/datadog_checks/stardog, stardog/tests
  storm: any of: storm/datadog_checks/storm, storm/tests
  syncthing: any of: syncthing/datadog_checks/syncthing, syncthing/tests
  tidb: any of: tidb/datadog_checks/tidb, tidb/tests
  traefik: any of: traefik/datadog_checks/traefik, traefik/tests
  trino: any of: trino/datadog_checks/trino, trino/tests
  unbound: any of: unbound/datadog_checks/unbound, unbound/tests
  unifi_console: any of: unifi_console/datadog_checks/unifi_console, unifi_console/tests
  upbound_uxp: any of: upbound_uxp/datadog_checks/upbound_uxp, upbound_uxp/tests
  upsc: any of: upsc/datadog_checks/upsc, upsc/tests
  vespa: any of: vespa/datadog_checks/vespa, vespa/tests
  wayfinder: any of: wayfinder/datadog_checks/wayfinder, wayfinder/tests
  zabbix: any of: zabbix/datadog_checks/zabbix, zabbix/tests
  zenoh_router: any of: zenoh_router/datadog_checks/zenoh_router, zenoh_router/tests
