Repository DataDog/integrations-extras: changes, and which Codecov flags are due for each by the changed paths.
All: aqua, aws_pricing, bind9, cfssl, cloudnatix, cloudsmith, cybersixgill_actionable_alerts, cyral, emqx, eventstore, exim, fiddler, filebeat, filemage, fluentbit, gatekeeper, gitea, gnatsd, gnatsd_streaming, go_pprof_scraper, grpc_check, hikaricp, jfrog_platform_self_hosted, kernelcare, lighthouse, logstash, mergify, neo4j, neutrona, nextcloud, nn_sdwan, ns1, nvml, octoprint, open_policy_agent, php_apcu, php_opcache, pihole, ping, portworx, puma, purefa, purefb, radarr, reboot_required, redis_enterprise, redis_sentinel, redisenterprise, redpanda, riak_repl, robust_intelligence_ai_firewall, scalr, sendmail, snmpwalk, sonarr, sortdb, speedtest, stardog, storm, syncthing, tidb, traefik, trino, unbound, unifi_console, upbound_uxp, upsc, vespa, wayfinder, zabbix, zenoh_router

Path conditions:
  aqua: any of: aqua/datadog_checks/aqua, aqua/tests
  aws_pricing: any of: aws_pricing/datadog_checks/aws_pricing, aws_pricing/tests
  bind9: any of: bind9/datadog_checks/bind9, bind9/tests
  cfssl: any of: cfssl/datadog_checks/cfssl, cfssl/tests
  cloudnatix: any of: cloudnatix/datadog_checks/cloudnatix, cloudnatix/tests
  cloudsmith: any of: cloudsmith/datadog_checks/cloudsmith, cloudsmith/tests
  cybersixgill_actionable_alerts: any of: cybersixgill_actionable_alerts/datadog_checks/cybersixgill_actionable_alerts, cybersixgill_actionable_alerts/tests
  cyral: any of: cyral/datadog_checks/cyral, cyral/tests
  emqx: any of: emqx/datadog_checks/emqx, emqx/tests
  eventstore: any of: eventstore/datadog_checks/eventstore, eventstore/tests
  exim: any of: exim/datadog_checks/exim, exim/tests
  fiddler: any of: fiddler/datadog_checks/fiddler, fiddler/tests
  filebeat: any of: filebeat/datadog_checks/filebeat, filebeat/tests
  filemage: any of: filemage/datadog_checks/filemage, filemage/tests
  fluentbit: any of: fluentbit/datadog_checks/fluentbit, fluentbit/tests
  gatekeeper: any of: gatekeeper/datadog_checks/gatekeeper, gatekeeper/tests
  gitea: any of: gitea/datadog_checks/gitea, gitea/tests
  gnatsd: any of: gnatsd/datadog_checks/gnatsd, gnatsd/tests
  gnatsd_streaming: any of: gnatsd_streaming/datadog_checks/gnatsd_streaming, gnatsd_streaming/tests
  go_pprof_scraper: any of: go_pprof_scraper/datadog_checks/go_pprof_scraper, go_pprof_scraper/tests
  grpc_check: any of: grpc_check/datadog_checks/grpc_check, grpc_check/tests
  hikaricp: any of: hikaricp/datadog_checks/hikaricp, hikaricp/tests
  jfrog_platform_self_hosted: any of: jfrog_platform_self_hosted/datadog_checks/jfrog_platform_self_hosted, jfrog_platform_self_hosted/tests
  kernelcare: any of: kernelcare/datadog_checks/kernelcare, kernelcare/tests
  lighthouse: any of: lighthouse/datadog_checks/lighthouse, lighthouse/tests
  logstash: any of: logstash/datadog_checks/logstash, logstash/tests
  mergify: any of: mergify/datadog_checks/mergify, mergify/tests
  neo4j: any of: neo4j/datadog_checks/neo4j, neo4j/tests
  neutrona: any of: neutrona/datadog_checks/neutrona, neutrona/tests
  nextcloud: any of: nextcloud/datadog_checks/nextcloud, nextcloud/tests
  nn_sdwan: any of: nn_sdwan/datadog_checks/nn_sdwan, nn_sdwan/tests
  ns1: any of: ns1/datadog_checks/ns1, ns1/tests
  nvml: any of: nvml/datadog_checks/nvml, nvml/tests
  octoprint: any of: octoprint/datadog_checks/octoprint, octoprint/tests
  open_policy_agent: any of: open_policy_agent/datadog_checks/open_policy_agent, open_policy_agent/tests
  php_apcu: any of: php_apcu/datadog_checks/php_apcu, php_apcu/tests
  php_opcache: any of: php_opcache/datadog_checks/php_opcache, php_opcache/tests
  pihole: any of: pihole/datadog_checks/pihole, pihole/tests
  ping: any of: ping/datadog_checks/ping, ping/tests
  portworx: any of: portworx/datadog_checks/portworx, portworx/tests
  puma: any of: puma/datadog_checks/puma, puma/tests
  purefa: any of: purefa/datadog_checks/purefa, purefa/tests
  purefb: any of: purefb/datadog_checks/purefb, purefb/tests
  radarr: any of: radarr/datadog_checks/radarr, radarr/tests
  reboot_required: any of: reboot_required/datadog_checks/reboot_required, reboot_required/tests
  redis_enterprise: any of: redis_enterprise/datadog_checks/redis_enterprise, redis_enterprise/tests
  redis_sentinel: any of: redis_sentinel/datadog_checks/redis_sentinel, redis_sentinel/tests
  redisenterprise: any of: redisenterprise/datadog_checks/redisenterprise, redisenterprise/tests
  redpanda: any of: redpanda/datadog_checks/redpanda, redpanda/tests
  riak_repl: any of: riak_repl/datadog_checks/riak_repl, riak_repl/tests
  robust_intelligence_ai_firewall: any of: robust_intelligence_ai_firewall/datadog_checks/robust_intelligence_ai_firewall, robust_intelligence_ai_firewall/tests
  scalr: any of: scalr/datadog_checks/scalr, scalr/tests
  sendmail: any of: sendmail/datadog_checks/sendmail, sendmail/tests
  snmpwalk: any of: snmpwalk/datadog_checks/snmpwalk, snmpwalk/tests
  sonarr: any of: sonarr/datadog_checks/sonarr, sonarr/tests
  sortdb: any of: sortdb/datadog_checks/sortdb, sortdb/tests
  speedtest: any of: speedtest/datadog_checks/speedtest, speedtest/tests
  stardog: any of: stardog/datadog_checks/stardog, stardog/tests
  storm: any of: storm/datadog_checks/storm, storm/tests
  syncthing: any of: syncthing/datadog_checks/syncthing, syncthing/tests
  tidb: any of: tidb/datadog_checks/tidb, tidb/tests
  traefik: any of: traefik/datadog_checks/traefik, traefik/tests
  trino: any of: trino/datadog_checks/trino, trino/tests
  unbound: any of: unbound/datadog_checks/unbound, unbound/tests
  unifi_console: any of: unifi_console/datadog_checks/unifi_console, unifi_console/tests
  upbound_uxp: any of: upbound_uxp/datadog_checks/upbound_uxp, upbound_uxp/tests
  upsc: any of: upsc/datadog_checks/upsc, upsc/tests
  vespa: any of: vespa/datadog_checks/vespa, vespa/tests
  wayfinder: any of: wayfinder/datadog_checks/wayfinder, wayfinder/tests
  zabbix: any of: zabbix/datadog_checks/zabbix, zabbix/tests
  zenoh_router: any of: zenoh_router/datadog_checks/zenoh_router, zenoh_router/tests

fix app id, reformat log test
  dagster_plus/assets/logs/dagster-plus_tests.yaml
  dagster_plus/manifest.json
Due: none

format logs, fix codeowners, fix log source
  .github/CODEOWNERS
  dagster_plus/assets/logs/dagster-plus_tests.yaml
  dagster_plus/manifest.json
Due: none

rereformat logs file
  dagster_plus/assets/logs/dagster-plus_tests.yaml
Due: none

update source type name
  dagster_plus/manifest.json
Due: none

Update puma/metadata.csv
  puma/metadata.csv
Due: none

Add tool.ddev.repo to pyproject.toml
  pyproject.toml
Due: none

Fix missing quotes
  pyproject.toml
Due: none

Add tool.ddev.repo to pyproject.toml (#2700)
  pyproject.toml
Due: none

dashboard widgets grouping
  cloudsmith/CHANGELOG.md
  cloudsmith/assets/dashboards/cloudsmith_overview.json
  cloudsmith/datadog_checks/cloudsmith/check.py
  cloudsmith/images/Cloudsmith_example.png
  cloudsmith/manifest.json
  cloudsmith/metadata.csv
  cloudsmith/tests/test_cloudsmith.py
Due: cloudsmith

minor changes
  cloudsmith/assets/dashboards/cloudsmith_overview.json
  cloudsmith/tests/test_cloudsmith.py
Due: cloudsmith

comment it out
  warpstream/pyproject.toml
Due: none

[ECOINT-185] Fix Modal input metrics tags (#2696)
  modal/metadata.csv
Due: none

CP-29348 Add billing_read scope to CloudZero integration.
  cloudzero/CHANGELOG.md
  cloudzero/assets/oauth_clients.json
Due: none

added required manifest fields in assets/integration
  pulse/manifest.json
Due: none

further requested changes
  cloudsmith/CHANGELOG.md
  cloudsmith/assets/dashboards/cloudsmith_overview.json
  cloudsmith/images/CloudsmithLogo.jpeg
  cloudsmith/images/Cloudsmith_example.png
Due: none

Update Instabug integration to version 2.0.0 with breaking changes and new features
  instabug/CHANGELOG.md
  instabug/README.md
  instabug/images/Instabug-Logo.svg
  instabug/images/instabug-ai-smart-resolve.png
  instabug/images/instabug-app-overview.png
  instabug/images/instabug-bugs.png
  instabug/images/instabug-business-impact.png
  instabug/images/instabug-crash-details.png
  instabug/images/instabug-crashes-list.png
  instabug/images/instabug-datadog-app-builder.png
  instabug/images/instabug-datadog-widget.png
  instabug/images/instabug-issues-list.png
  instabug/images/instabug-releases-details.png
  instabug/images/instabug-releases-page.png
  instabug/images/instabug-session-replay-details.png
  instabug/images/instabug-team-performance.png
  instabug/manifest.json
Due: none

Fix: Reduce media entries to 8 and update image URLs in manifest.json
  instabug/images/instabug-app-health.png
  instabug/images/instabug-business-impact.png
  instabug/images/instabug-crashes-list.png
  instabug/images/instabug-releases-details.png
  instabug/images/instabug-team-performance.png
  instabug/manifest.json
Due: none

Fix: Update images to 16:9 aspect ratio and update CHANGELOG.md to follow formatting guidelines
  instabug/CHANGELOG.md
  instabug/images/instabug-ai-smart-resolve.png
  instabug/images/instabug-app-health.png
  instabug/images/instabug-bugs.png
  instabug/images/instabug-crash-details.png
  instabug/images/instabug-datadog-app-builder.png
  instabug/images/instabug-issues-list.png
  instabug/images/instabug-releases-page.png
  instabug/images/instabug-session-replay-details.png
Due: none

Fix changelog formatting: use asterisks for entries to comply with Datadog guidelines
  instabug/CHANGELOG.md
  instabug/images/instabug-bugs.png
Due: none

Fix changelog formatting: use asterisks for entries to comply with Datadog guidelines
  instabug/CHANGELOG.md
Due: none

CP-29348 Add billing_read scope to CloudZero integration. (#2701)
  cloudzero/CHANGELOG.md
  cloudzero/assets/oauth_clients.json
Due: none

new logo (#2687)
  drata/assets/logos/Drata Icon Black BG.svg
  drata/assets/logos/Drata Icon White Reversed.svg
  drata/assets/logos/icon_dark.svg
  drata/assets/logos/icon_light.svg
  drata/assets/logos/wordmark_dark.svg
  drata/assets/logos/wordmark_light.svg
Due: none

Fix unifi_console metadata and tests
  unifi_console/metadata.csv
  unifi_console/tests/test_check.py
Due: unifi_console

Lint
  unifi_console/tests/test_check.py
Due: unifi_console

Fix config and models
  unifi_console/datadog_checks/unifi_console/config_models/instance.py
  unifi_console/datadog_checks/unifi_console/data/conf.yaml.example
Due: unifi_console

Fix manifest
  unifi_console/manifest.json
Due: none

Update unifi_console/metadata.csv
  unifi_console/metadata.csv
Due: none

Fix `unifi_console` metadata.csv and validate metadata.csv tests (#2704)
  unifi_console/datadog_checks/unifi_console/config_models/instance.py
  unifi_console/datadog_checks/unifi_console/data/conf.yaml.example
  unifi_console/manifest.json
  unifi_console/metadata.csv
  unifi_console/tests/test_check.py
Due: unifi_console

Add scope.
  vantage/assets/oauth_clients.json
Due: none

Update CHANGELOG.md
  vantage/CHANGELOG.md
Due: none

[ECOINT-193] Add billing_read scope to Vantage integration. (#2705)
  vantage/CHANGELOG.md
  vantage/assets/oauth_clients.json
Due: none

fix linting
  upbound_uxp/datadog_checks/upbound_uxp/check.py
Due: upbound_uxp

isinstance
  upbound_uxp/datadog_checks/upbound_uxp/check.py
Due: upbound_uxp

Fix
  upbound_uxp/datadog_checks/upbound_uxp/check.py
Due: upbound_uxp

Fix linter by properly checking type (#2706)
  upbound_uxp/datadog_checks/upbound_uxp/check.py
Due: upbound_uxp

Update README.md
  insightfinder/README.md
Due: none

reverting instabug logo
  instabug/images/Instabug-Logo.svg
Due: none

update log pipeline
  dagster/assets/logs/dagster-plus.yaml
  dagster/assets/logs/dagster-plus_tests.yaml
Due: none

update log tests
  dagster/assets/logs/dagster-plus_tests.yaml
Due: none
