Repository DataDog/integrations-extras: changes, and which Codecov flags are due for each by the changed paths.
All: aqua, argo_cd, aws_pricing, bind9, calico, cert_manager, cloudsmith, cyral, eventstore, filebeat, gatekeeper, gnatsd, gnatsd_streaming, jfrog_platform, kernelcare, lighthouse, logstash, neo4j, neutrona, nextcloud, ns1, nvml, octoprint, open_policy_agent, php_apcu, php_opcache, pihole, ping, portworx, pulsar, puma, reboot_required, redis_sentinel, redisenterprise, riak_repl, sendmail, snmpwalk, sortdb, speedtest, stardog, storm, tidb, traefik, unbound, upsc, vespa, zabbix

Hide sedai from public docs
  sedai/manifest.json
Due: none

Hide sedai from public docs (#1132)
  sedai/manifest.json
Due: none

Update Configuration YAML Example Link (#1131)
  resin/README.md
Due: none

Update insightfinder/README.md
  insightfinder/README.md
Due: none

Response to DD change request - manifest v2, include setup instructions in README.md
  sedai/README.md
  sedai/images/Add_DataDog_Channel-Working_REC.png
  sedai/images/Add_DataDog_Channel.png
  sedai/images/Add_Intgegration_button.png
  sedai/images/Invalid_credentials.png
  sedai/images/Notifications.png
  sedai/images/Select_DataDog.png
  sedai/manifest.json
Due: none

[Documentation] Update docs with v2 (#1126)
  traefik/README.md
Due: none

Revert "Updated README.md comments for Neo4j"
  calico/datadog_checks/calico/data/conf.yaml.example
  cyral/datadog_checks/cyral/data/conf.yaml.example
  eventstore/datadog_checks/eventstore/data/conf.yaml.example
  filebeat/datadog_checks/filebeat/data/conf.yaml.example
  gatekeeper/datadog_checks/gatekeeper/data/auto_conf.yaml
  gatekeeper/datadog_checks/gatekeeper/data/conf.yaml.example
  gnatsd/datadog_checks/gnatsd/data/conf.yaml.example
  gnatsd_streaming/datadog_checks/gnatsd_streaming/data/conf.yaml.example
  hbase_master/datadog_checks/hbase_master/data/conf.yaml.example
  hbase_regionserver/datadog_checks/hbase_regionserver/data/conf.yaml.example
  jfrog_platform/datadog_checks/jfrog_platform/data/conf.yaml.example
  kernelcare/datadog_checks/kernelcare/data/conf.yaml.example
  logstash/datadog_checks/logstash/data/conf.yaml.example
  neo4j/README.md
  octoprint/datadog_checks/octoprint/data/conf.yaml.example
  open_policy_agent/datadog_checks/open_policy_agent/data/auto_conf.yaml
  open_policy_agent/datadog_checks/open_policy_agent/data/conf.yaml.example
  php_apcu/datadog_checks/php_apcu/data/conf.yaml.example
  php_opcache/datadog_checks/php_opcache/data/conf.yaml.example
  pihole/datadog_checks/pihole/data/conf.yaml.example
  pulsar/datadog_checks/pulsar/data/conf.yaml.example
  puma/datadog_checks/puma/data/conf.yaml.example
  redisenterprise/datadog_checks/redisenterprise/data/conf.yaml.example
  redpanda/datadog_checks/redpanda/data/conf.yaml.example
  resin/datadog_checks/resin/data/conf.yaml.example
  tidb/datadog_checks/tidb/data/conf.yaml.example
  zabbix/datadog_checks/zabbix/data/conf.yaml.example
Due: calico, cyral, eventstore, filebeat, gatekeeper, gnatsd, gnatsd_streaming, jfrog_platform, kernelcare, logstash, octoprint, open_policy_agent, php_apcu, php_opcache, pihole, pulsar, puma, redisenterprise, tidb, zabbix

Push requests_count metric for Puma running in single mode
  puma/datadog_checks/puma/puma.py
  puma/tests/test_puma.py
Due: puma

Update lighthouse/datadog_checks/lighthouse/data/conf.yaml.example
  lighthouse/datadog_checks/lighthouse/data/conf.yaml.example
Due: lighthouse

Add various performance metrics.
  lighthouse/datadog_checks/lighthouse/lighthouse.py
Due: lighthouse

Fix bug related to backward compatibility. Wrong variable name.
  lighthouse/datadog_checks/lighthouse/lighthouse.py
Due: lighthouse

Fix not reporting server_response_time metric and document all new metrics in metadata file.
  lighthouse/datadog_checks/lighthouse/lighthouse.py
  lighthouse/metadata.csv
Due: lighthouse

Revise tests for new metrics
  lighthouse/tests/lighthouse_example_valid_response.json
  lighthouse/tests/test_lighthouse.py
Due: lighthouse

correct mocked valid response
  lighthouse/tests/lighthouse_example_valid_response.json
Due: lighthouse

Fix style issues reported by flake8
  lighthouse/datadog_checks/lighthouse/lighthouse.py
Due: lighthouse

Update pagerduty integration images
  pagerduty/images/incidents.jpg
  pagerduty/images/landing_page.png
Due: none

Update the regions text in auth0 setup steps to include new regions
  auth0/README.md
Due: none

Initial manifest.
  .github/CODEOWNERS
  akamai_datastream_2/CHANGELOG.md
  akamai_datastream_2/README.md
  akamai_datastream_2/images/IMAGES_README.md
  akamai_datastream_2/manifest.json
Due: none

Add DD categories
  insightfinder/manifest.json
Due: none

Delete insightfinder_overview.json
  insightfinder/assets/dashboards/insightfinder_overview.json
Due: none

Make the pagerduty manifest description shorter to fix failing test
  pagerduty/manifest.json
Due: none

Insightfinder test integration
  insightfinder/README.md
  insightfinder/assets/service_checks.json
  insightfinder/images/.gitkeep
  insightfinder/images/InsightFinder_Horizontal.png
  insightfinder/images/InsightFinder_Icon.png
  insightfinder/images/InsightFinder_Stacked.png
  insightfinder/manifest.json
  insightfinder/metadata.csv
Due: none

Codeowners
  .github/CODEOWNERS
Due: none

Update image sizes to fit DD guidelines
  pagerduty/images/incidents.jpg
  pagerduty/images/landing_page.png
Due: none

Update insightfinder/manifest.json
  insightfinder/manifest.json
Due: none

Update Zabbbix documentation with more acurate instructions to use the webhook
  zabbix/README.md
Due: none

Add InsightFinder Integration Tile (#1130)
  .github/CODEOWNERS
  insightfinder/README.md
  insightfinder/assets/service_checks.json
  insightfinder/images/.gitkeep
  insightfinder/images/InsightFinder_Horizontal.png
  insightfinder/images/InsightFinder_Icon.png
  insightfinder/images/InsightFinder_Stacked.png
  insightfinder/manifest.json
  insightfinder/metadata.csv
Due: none

Add a changelog message to the PD integration
  pagerduty/CHANGELOG.md
Due: none

added Sourcegraph extension integration
  .github/CODEOWNERS
  sourcegraph/README.md
  sourcegraph/assets/service_checks.json
  sourcegraph/images/sourcegraph-datadog-services-map-extension.png
  sourcegraph/manifest.json
  sourcegraph/metadata.csv
Due: none

Update sourcegraph/manifest.json
  sourcegraph/manifest.json
Due: none

add logo
  sourcegraph/assets/logos/Sourcegraph_Logo_FullColor_light.png
Due: none

updated to comply with manifest v2
  sourcegraph/README.md
  sourcegraph/manifest.json
Due: none

more v2 updates
  sourcegraph/manifest.json
  sourcegraph/metadata.csv
Due: none

remove v1 holdovers
  sourcegraph/manifest.json
Due: none

Apply suggestions from code review
  auth0/README.md
Due: none

Apply suggestions from code review
  sourcegraph/README.md
Due: none

Update auth0/README.md
  auth0/README.md
Due: none

Update the regions text in auth0 setup steps to include new regions (#1137)
  auth0/README.md
Due: none

Apply suggestions from code review
  pagerduty/CHANGELOG.md
Due: none

Path conditions:
  aqua: any of: aqua/datadog_checks/aqua, aqua/tests
  argo_cd: any of: argo_cd/datadog_checks/argo_cd, argo_cd/tests
  aws_pricing: any of: aws_pricing/datadog_checks/aws_pricing, aws_pricing/tests
  bind9: any of: bind9/datadog_checks/bind9, bind9/tests
  calico: any of: calico/datadog_checks/calico, calico/tests
  cert_manager: any of: cert_manager/datadog_checks/cert_manager, cert_manager/tests
  cloudsmith: any of: cloudsmith/datadog_checks/cloudsmith, cloudsmith/tests
  cyral: any of: cyral/datadog_checks/cyral, cyral/tests
  eventstore: any of: eventstore/datadog_checks/eventstore, eventstore/tests
  filebeat: any of: filebeat/datadog_checks/filebeat, filebeat/tests
  gatekeeper: any of: gatekeeper/datadog_checks/gatekeeper, gatekeeper/tests
  gnatsd: any of: gnatsd/datadog_checks/gnatsd, gnatsd/tests
  gnatsd_streaming: any of: gnatsd_streaming/datadog_checks/gnatsd_streaming, gnatsd_streaming/tests
  jfrog_platform: any of: jfrog_platform/datadog_checks/jfrog_platform, jfrog_platform/tests
  kernelcare: any of: kernelcare/datadog_checks/kernelcare, kernelcare/tests
  lighthouse: any of: lighthouse/datadog_checks/lighthouse, lighthouse/tests
  logstash: any of: logstash/datadog_checks/logstash, logstash/tests
  neo4j: any of: neo4j/datadog_checks/neo4j, neo4j/tests
  neutrona: any of: neutrona/datadog_checks/neutrona, neutrona/tests
  nextcloud: any of: nextcloud/datadog_checks/nextcloud, nextcloud/tests
  ns1: any of: ns1/datadog_checks/ns1, ns1/tests
  nvml: any of: nvml/datadog_checks/nvml, nvml/tests
  octoprint: any of: octoprint/datadog_checks/octoprint, octoprint/tests
  open_policy_agent: any of: open_policy_agent/datadog_checks/open_policy_agent, open_policy_agent/tests
  php_apcu: any of: php_apcu/datadog_checks/php_apcu, php_apcu/tests
  php_opcache: any of: php_opcache/datadog_checks/php_opcache, php_opcache/tests
  pihole: any of: pihole/datadog_checks/pihole, pihole/tests
  ping: any of: ping/datadog_checks/ping, ping/tests
  portworx: any of: portworx/datadog_checks/portworx, portworx/tests
  pulsar: any of: pulsar/datadog_checks/pulsar, pulsar/tests
  puma: any of: puma/datadog_checks/puma, puma/tests
  reboot_required: any of: reboot_required/datadog_checks/reboot_required, reboot_required/tests
  redis_sentinel: any of: redis_sentinel/datadog_checks/redis_sentinel, redis_sentinel/tests
  redisenterprise: any of: redisenterprise/datadog_checks/redisenterprise, redisenterprise/tests
  riak_repl: any of: riak_repl/datadog_checks/riak_repl, riak_repl/tests
  sendmail: any of: sendmail/datadog_checks/sendmail, sendmail/tests
  snmpwalk: any of: snmpwalk/datadog_checks/snmpwalk, snmpwalk/tests
  sortdb: any of: sortdb/datadog_checks/sortdb, sortdb/tests
  speedtest: any of: speedtest/datadog_checks/speedtest, speedtest/tests
  stardog: any of: stardog/datadog_checks/stardog, stardog/tests
  storm: any of: storm/datadog_checks/storm, storm/tests
  tidb: any of: tidb/datadog_checks/tidb, tidb/tests
  traefik: any of: traefik/datadog_checks/traefik, traefik/tests
  unbound: any of: unbound/datadog_checks/unbound, unbound/tests
  upsc: any of: upsc/datadog_checks/upsc, upsc/tests
  vespa: any of: vespa/datadog_checks/vespa, vespa/tests
  zabbix: any of: zabbix/datadog_checks/zabbix, zabbix/tests
