Repository DataDog/integrations-extras: changes, and which Codecov flags are due for each by the changed paths.
All: aqua, aws_pricing, bind9, cfssl, cloudnatix, cloudsmith, cybersixgill_actionable_alerts, cyral, emqx, eventstore, exim, fiddler, filebeat, filemage, fluentbit, gatekeeper, gitea, gnatsd, gnatsd_streaming, go_pprof_scraper, grpc_check, hikaricp, jfrog_platform_self_hosted, kernelcare, lighthouse, logstash, mergify, neo4j, neutrona, nextcloud, nn_sdwan, ns1, nvml, octoprint, open_policy_agent, php_apcu, php_opcache, pihole, ping, portworx, puma, purefa, purefb, radarr, reboot_required, redis_enterprise, redis_sentinel, redisenterprise, redpanda, riak_repl, robust_intelligence_ai_firewall, scalr, sendmail, snmpwalk, sonarr, sortdb, speedtest, stardog, storm, syncthing, tidb, traefik, trino, unbound, unifi_console, upbound_uxp, upsc, vespa, wayfinder, zabbix, zenoh_router

Path conditions:
  aqua: any of: aqua/datadog_checks/aqua, aqua/tests
  aws_pricing: any of: aws_pricing/datadog_checks/aws_pricing, aws_pricing/tests
  bind9: any of: bind9/datadog_checks/bind9, bind9/tests
  cfssl: any of: cfssl/datadog_checks/cfssl, cfssl/tests
  cloudnatix: any of: cloudnatix/datadog_checks/cloudnatix, cloudnatix/tests
  cloudsmith: any of: cloudsmith/datadog_checks/cloudsmith, cloudsmith/tests
  cybersixgill_actionable_alerts: any of: cybersixgill_actionable_alerts/datadog_checks/cybersixgill_actionable_alerts, cybersixgill_actionable_alerts/tests
  cyral: any of: cyral/datadog_checks/cyral, cyral/tests
  emqx: any of: emqx/datadog_checks/emqx, emqx/tests
  eventstore: any of: eventstore/datadog_checks/eventstore, eventstore/tests
  exim: any of: exim/datadog_checks/exim, exim/tests
  fiddler: any of: fiddler/datadog_checks/fiddler, fiddler/tests
  filebeat: any of: filebeat/datadog_checks/filebeat, filebeat/tests
  filemage: any of: filemage/datadog_checks/filemage, filemage/tests
  fluentbit: any of: fluentbit/datadog_checks/fluentbit, fluentbit/tests
  gatekeeper: any of: gatekeeper/datadog_checks/gatekeeper, gatekeeper/tests
  gitea: any of: gitea/datadog_checks/gitea, gitea/tests
  gnatsd: any of: gnatsd/datadog_checks/gnatsd, gnatsd/tests
  gnatsd_streaming: any of: gnatsd_streaming/datadog_checks/gnatsd_streaming, gnatsd_streaming/tests
  go_pprof_scraper: any of: go_pprof_scraper/datadog_checks/go_pprof_scraper, go_pprof_scraper/tests
  grpc_check: any of: grpc_check/datadog_checks/grpc_check, grpc_check/tests
  hikaricp: any of: hikaricp/datadog_checks/hikaricp, hikaricp/tests
  jfrog_platform_self_hosted: any of: jfrog_platform_self_hosted/datadog_checks/jfrog_platform_self_hosted, jfrog_platform_self_hosted/tests
  kernelcare: any of: kernelcare/datadog_checks/kernelcare, kernelcare/tests
  lighthouse: any of: lighthouse/datadog_checks/lighthouse, lighthouse/tests
  logstash: any of: logstash/datadog_checks/logstash, logstash/tests
  mergify: any of: mergify/datadog_checks/mergify, mergify/tests
  neo4j: any of: neo4j/datadog_checks/neo4j, neo4j/tests
  neutrona: any of: neutrona/datadog_checks/neutrona, neutrona/tests
  nextcloud: any of: nextcloud/datadog_checks/nextcloud, nextcloud/tests
  nn_sdwan: any of: nn_sdwan/datadog_checks/nn_sdwan, nn_sdwan/tests
  ns1: any of: ns1/datadog_checks/ns1, ns1/tests
  nvml: any of: nvml/datadog_checks/nvml, nvml/tests
  octoprint: any of: octoprint/datadog_checks/octoprint, octoprint/tests
  open_policy_agent: any of: open_policy_agent/datadog_checks/open_policy_agent, open_policy_agent/tests
  php_apcu: any of: php_apcu/datadog_checks/php_apcu, php_apcu/tests
  php_opcache: any of: php_opcache/datadog_checks/php_opcache, php_opcache/tests
  pihole: any of: pihole/datadog_checks/pihole, pihole/tests
  ping: any of: ping/datadog_checks/ping, ping/tests
  portworx: any of: portworx/datadog_checks/portworx, portworx/tests
  puma: any of: puma/datadog_checks/puma, puma/tests
  purefa: any of: purefa/datadog_checks/purefa, purefa/tests
  purefb: any of: purefb/datadog_checks/purefb, purefb/tests
  radarr: any of: radarr/datadog_checks/radarr, radarr/tests
  reboot_required: any of: reboot_required/datadog_checks/reboot_required, reboot_required/tests
  redis_enterprise: any of: redis_enterprise/datadog_checks/redis_enterprise, redis_enterprise/tests
  redis_sentinel: any of: redis_sentinel/datadog_checks/redis_sentinel, redis_sentinel/tests
  redisenterprise: any of: redisenterprise/datadog_checks/redisenterprise, redisenterprise/tests
  redpanda: any of: redpanda/datadog_checks/redpanda, redpanda/tests
  riak_repl: any of: riak_repl/datadog_checks/riak_repl, riak_repl/tests
  robust_intelligence_ai_firewall: any of: robust_intelligence_ai_firewall/datadog_checks/robust_intelligence_ai_firewall, robust_intelligence_ai_firewall/tests
  scalr: any of: scalr/datadog_checks/scalr, scalr/tests
  sendmail: any of: sendmail/datadog_checks/sendmail, sendmail/tests
  snmpwalk: any of: snmpwalk/datadog_checks/snmpwalk, snmpwalk/tests
  sonarr: any of: sonarr/datadog_checks/sonarr, sonarr/tests
  sortdb: any of: sortdb/datadog_checks/sortdb, sortdb/tests
  speedtest: any of: speedtest/datadog_checks/speedtest, speedtest/tests
  stardog: any of: stardog/datadog_checks/stardog, stardog/tests
  storm: any of: storm/datadog_checks/storm, storm/tests
  syncthing: any of: syncthing/datadog_checks/syncthing, syncthing/tests
  tidb: any of: tidb/datadog_checks/tidb, tidb/tests
  traefik: any of: traefik/datadog_checks/traefik, traefik/tests
  trino: any of: trino/datadog_checks/trino, trino/tests
  unbound: any of: unbound/datadog_checks/unbound, unbound/tests
  unifi_console: any of: unifi_console/datadog_checks/unifi_console, unifi_console/tests
  upbound_uxp: any of: upbound_uxp/datadog_checks/upbound_uxp, upbound_uxp/tests
  upsc: any of: upsc/datadog_checks/upsc, upsc/tests
  vespa: any of: vespa/datadog_checks/vespa, vespa/tests
  wayfinder: any of: wayfinder/datadog_checks/wayfinder, wayfinder/tests
  zabbix: any of: zabbix/datadog_checks/zabbix, zabbix/tests
  zenoh_router: any of: zenoh_router/datadog_checks/zenoh_router, zenoh_router/tests

set envs.default.env-vars
  redis_enterprise_prometheus/hatch.toml
Due: none

ephemeral values now a tuple, needs index
  redis_enterprise_prometheus/datadog_checks/redis_enterprise_prometheus/metrics.py
  redis_enterprise_prometheus/tests/support.py
  redis_enterprise_prometheus/tests/test_redis_enterprise_prometheus.py
Due: none

minor lint
  redis_enterprise_prometheus/datadog_checks/redis_enterprise_prometheus/metrics.py
  redis_enterprise_prometheus/tests/support.py
Due: none

classifier tags
  redis_enterprise_prometheus/manifest.json
Due: none

manifest edits
  redis_enterprise_prometheus/manifest.json
Due: none

minor json tweak
  redis_enterprise_prometheus/manifest.json
Due: none

renamed dashboards -prometheus to avoid similarity with existing
  redis_enterprise_prometheus/assets/dashboards/redis_enterprise-prometheus_active-active.json
  redis_enterprise_prometheus/assets/dashboards/redis_enterprise-prometheus_database.json
  redis_enterprise_prometheus/assets/dashboards/redis_enterprise-prometheus_node.json
  redis_enterprise_prometheus/assets/dashboards/redis_enterprise-prometheus_overview.json
  redis_enterprise_prometheus/assets/dashboards/redis_enterprise-prometheus_proxy-threads.json
  redis_enterprise_prometheus/assets/dashboards/redis_enterprise-prometheus_shard.json
  redis_enterprise_prometheus/manifest.json
Due: none

remove empty monitors and saved views
  redis_enterprise_prometheus/manifest.json
Due: none

Update manifest.json
  downdetector/manifest.json
Due: none

update appid
  dagster_plus/CHANGELOG.md
  dagster_plus/README.md
  dagster_plus/assets/dashboards/dagster__overview.json
  dagster_plus/assets/logo.svg
  dagster_plus/assets/logs/dagster.yaml
  dagster_plus/assets/logs/dagster_tests.yaml
  dagster_plus/assets/oauth_clients.json
  dagster_plus/assets/service_checks.json
  dagster_plus/images/Screenshot 2025-04-15 at 2.33.38 PM.png
  dagster_plus/manifest.json
Due: none

fix filenames
  dagster_plus/assets/logs/dagster-plus.yaml
  dagster_plus/assets/logs/dagster-plus_tests.yaml
Due: none

add codeowners entry
  .github/CODEOWNERS
Due: none

Shorten changelog entry
  nextcloud/CHANGELOG.md
Due: none

add a note about optional metrics in Readme
  nextcloud/README.md
Due: none

add tag functionality
  eventstore/datadog_checks/eventstore/eventstore.py
  eventstore/tests/conftest.py
  eventstore/tests/test_check.py
Due: eventstore

small change and validation sync
  eventstore/datadog_checks/eventstore/data/conf.yaml.example
  eventstore/datadog_checks/eventstore/eventstore.py
Due: eventstore

change test assertion
  eventstore/tests/test_check.py
Due: eventstore

changelog and release requirements
  eventstore/CHANGELOG.md
  eventstore/datadog_checks/eventstore/__about__.py
Due: eventstore

Add functionality to add tags from config to metrics (#2666)
  eventstore/CHANGELOG.md
  eventstore/datadog_checks/eventstore/__about__.py
  eventstore/datadog_checks/eventstore/data/conf.yaml.example
  eventstore/datadog_checks/eventstore/eventstore.py
  eventstore/tests/conftest.py
  eventstore/tests/test_check.py
Due: eventstore

[Release] Update metadata
  .in-toto/tag.97d0579e.link
Due: none

Bump major version
  nextcloud/CHANGELOG.md
Due: none

Update __about__.py
  nextcloud/datadog_checks/nextcloud/__about__.py
Due: nextcloud

feat(resilience4j): add new integration (#2581)
  .codecov.yml
  .github/CODEOWNERS
  .github/workflows/test-all.yml
  resilience4j/CHANGELOG.md
  resilience4j/README.md
  resilience4j/assets/configuration/spec.yaml
  resilience4j/assets/dashboards/resilience4j_overview.json
  resilience4j/assets/monitors/circuitbreaker_state_open.json
  resilience4j/assets/monitors/circuitbreaker_state_open_slow_calls.json
  resilience4j/assets/resilience4j.png
  resilience4j/assets/service_checks.json
  resilience4j/datadog_checks/__init__.py
  resilience4j/datadog_checks/resilience4j/__about__.py
  resilience4j/datadog_checks/resilience4j/__init__.py
  resilience4j/datadog_checks/resilience4j/check.py
  resilience4j/datadog_checks/resilience4j/config_models/__init__.py
  resilience4j/datadog_checks/resilience4j/config_models/defaults.py
  resilience4j/datadog_checks/resilience4j/config_models/instance.py
  resilience4j/datadog_checks/resilience4j/config_models/shared.py
  resilience4j/datadog_checks/resilience4j/config_models/validators.py
  resilience4j/datadog_checks/resilience4j/data/conf.yaml.example
  resilience4j/datadog_checks/resilience4j/metrics.py
  resilience4j/hatch.toml
  resilience4j/manifest.json
  resilience4j/metadata.csv
  resilience4j/pyproject.toml
  resilience4j/tests/__init__.py
  resilience4j/tests/common.py
  resilience4j/tests/conftest.py
  resilience4j/tests/docker/docker-compose.yaml
  resilience4j/tests/fixtures/metrics-micrometer.txt
  resilience4j/tests/fixtures/metrics-prometheus.txt
  resilience4j/tests/test_e2e.py
  resilience4j/tests/test_integration.py
  resilience4j/tests/test_unit.py
Due: none

Update README.md: fix stale URLs
  komodor/README.md
Due: none

Incident Response (no action needed from repository owner): Trigger SDS scan
  force-scan
Due: none

add CODEOWNERS entry, add configuration and events in manifest.json
  .github/CODEOWNERS
  hawkeye_by_neubird/manifest.json
Due: none

Update manifest.json (#2671)
  downdetector/manifest.json
Due: none

launchdarkly and pagerduty app builder blueprints
  launchdarkly/assets/app-builder-blueprints/launchdarkly_feature_flag_manager.json
  pagerduty/assets/app-builder-blueprints/pagerduty_incident_manager.json
  pagerduty/assets/app-builder-blueprints/pagerduty_oncall_manager.json
  pagerduty/assets/app-builder-blueprints/pagerduty_service_manager.json
  pagerduty/assets/app-builder-blueprints/pagerduty_trigger_incident.json
Due: none

Update manifest.json to add missing dashboard asset.
  redpanda/manifest.json
Due: none

Add initial production release of Cloudsmith integration (v1.0.0)
  cloudsmith/CHANGELOG.md
  cloudsmith/README.md
  cloudsmith/datadog_checks/cloudsmith/__about__.py
  cloudsmith/datadog_checks/cloudsmith/check.py
  cloudsmith/manifest.json
  cloudsmith/metadata.csv
  cloudsmith/pyproject.toml
Due: cloudsmith

Update setup.py
  cloudsmith/setup.py
Due: none

Apply Black formatting to pass lint check and change metadata
  cloudsmith/datadog_checks/cloudsmith/check.py
  cloudsmith/metadata.csv
Due: cloudsmith

Update check.py as per the Black status check logs
  cloudsmith/datadog_checks/cloudsmith/check.py
Due: cloudsmith

Update manifest.json
  cloudsmith/manifest.json
Due: none

Add tests for license policy violations and org members (good and bad cases)
  cloudsmith/tests/conftest.py
  cloudsmith/tests/test_cloudsmith.py
Due: cloudsmith

Fix: Correct changelog version format to pass validation checks
  cloudsmith/CHANGELOG.md
  cloudsmith/tests/conftest.py
  cloudsmith/tests/test_cloudsmith.py
Due: cloudsmith
