Repository DataDog/integrations-extras: changes, and which Codecov flags are due for each by the changed paths.
All: aqua, aws_pricing, bind9, cert_manager, cfssl, cloudsmith, cyral, eventstore, exim, filebeat, fluentbit, fluxcd, gatekeeper, gitea, gnatsd, gnatsd_streaming, grpc_check, jfrog_platform, kernelcare, lighthouse, logstash, neo4j, neutrona, nextcloud, nn_sdwan, ns1, nvml, octoprint, open_policy_agent, php_apcu, php_opcache, pihole, ping, portworx, puma, purefa, purefb, reboot_required, redis_sentinel, redisenterprise, redpanda, riak_repl, sendmail, snmpwalk, sortdb, speedtest, stardog, storm, syncthing, tidb, traefik, trino, unbound, unifi_console, upsc, vespa, zabbix

Fix manifest version
  neo4j/manifest.json
Due: none

Sync config
  neo4j/datadog_checks/neo4j/data/conf.yaml.example
Due: neo4j

Fix manifest version (#1540)
  neo4j/datadog_checks/neo4j/data/conf.yaml.example
  neo4j/manifest.json
Due: neo4j

Use Hatch to manage environments
  gitea/hatch.toml
  gitea/pyproject.toml
  gitea/requirements-dev.txt
  gitea/tox.ini
Due: none

Fix missing comma in manifest.json
  unitq/manifest.json
Due: none

fix: comments fix
  emnify/README.md
  emnify/manifest.json
  emnify/metadata.csv
Due: none

changed display: true
  emnify/manifest.json
Due: none

added service_cheks
  emnify/assets/service_cheks.json
  emnify/manifest.json
Due: none

metadata columns fix
  emnify/metadata.csv
Due: none

Apply suggestions from code review
  sourcegraph/README.md
Due: none

metadata fix
  emnify/metadata.csv
Due: none

s/Support/Troubleshooting and move corresponding content there
  sourcegraph/README.md
Due: none

monitors fix
  emnify/assets/monitors/emnify_data_usage_forecast.json
  emnify/assets/monitors/emnify_data_usage_high_rx.json
  emnify/assets/monitors/emnify_data_usage_high_tx.json
  emnify/assets/monitors/emnify_data_usage_host_stopped.json
Due: none

monitors fix
  emnify/assets/monitors/emnify_data_usage_forecast.json
  emnify/assets/monitors/emnify_data_usage_high_rx.json
  emnify/assets/monitors/emnify_data_usage_high_tx.json
  emnify/assets/monitors/emnify_data_usage_host_stopped.json
  emnify/assets/service_cheks
Due: none

monitors fix
  emnify/assets/service_cheks.json
Due: none

monitors fix
  emnify/assets/service_checks.json
Due: none

names fix
  emnify/README.md
Due: none

texts fix
  emnify/README.md
  emnify/assets/monitors/emnify_data_usage_high_rx.json
  emnify/manifest.json
Due: none

unitq integration (#1512)
  .github/CODEOWNERS
  unitq/CHANGELOG.md
  unitq/README.md
  unitq/assets/dashboards/unitq_overview.json
  unitq/assets/logos/avatars-bot.png
  unitq/assets/logos/saas_logos-bot.png
  unitq/assets/logos/saas_logos-small.png
  unitq/assets/service_checks.json
  unitq/manifest.json
  unitq/metadata.csv
Due: none

texts fix
  emnify/manifest.json
Due: none

Apply suggestions from code review
  go_pprof_scraper/README.md
Due: none

go_pprof_scraper: add installation to README.md, update metrics section
  go_pprof_scraper/README.md
Due: none

go_pprof_scraper: migrate to manifest version 2.0.0
  go_pprof_scraper/manifest.json
Due: none

sync config and models
  gatekeeper/datadog_checks/gatekeeper/config_models/__init__.py
  gatekeeper/datadog_checks/gatekeeper/config_models/defaults.py
  gatekeeper/datadog_checks/gatekeeper/config_models/instance.py
  gatekeeper/datadog_checks/gatekeeper/config_models/shared.py
  gatekeeper/datadog_checks/gatekeeper/config_models/validators.py
  gatekeeper/datadog_checks/gatekeeper/data/auto_conf.yaml
  gatekeeper/datadog_checks/gatekeeper/data/conf.yaml.example
Due: gatekeeper

sync config and models (#1545)
  gatekeeper/datadog_checks/gatekeeper/config_models/__init__.py
  gatekeeper/datadog_checks/gatekeeper/config_models/defaults.py
  gatekeeper/datadog_checks/gatekeeper/config_models/instance.py
  gatekeeper/datadog_checks/gatekeeper/config_models/shared.py
  gatekeeper/datadog_checks/gatekeeper/config_models/validators.py
  gatekeeper/datadog_checks/gatekeeper/data/auto_conf.yaml
  gatekeeper/datadog_checks/gatekeeper/data/conf.yaml.example
Due: gatekeeper

add new validation request metrics
  gatekeeper/datadog_checks/gatekeeper/metrics.py
  gatekeeper/metadata.csv
  gatekeeper/tests/common.py
  gatekeeper/tests/conftest.py
  gatekeeper/tests/fixtures/gatekeeper_controller.txt
Due: gatekeeper

fix style
  gatekeeper/metadata.csv
Due: none

add mutators metrics
  gatekeeper/datadog_checks/gatekeeper/metrics.py
  gatekeeper/metadata.csv
  gatekeeper/tests/common.py
  gatekeeper/tests/conftest.py
  gatekeeper/tests/fixtures/gatekeeper_controller.txt
Due: gatekeeper

fix columns
  gatekeeper/metadata.csv
Due: none

Updated Trino integration default metrics.
  trino/datadog_checks/trino/data/metrics.yaml
Due: trino

newline
  gatekeeper/metadata.csv
Due: none

Add new validation request and mutator metrics (#1544)
  gatekeeper/datadog_checks/gatekeeper/metrics.py
  gatekeeper/metadata.csv
  gatekeeper/tests/common.py
  gatekeeper/tests/conftest.py
  gatekeeper/tests/fixtures/gatekeeper_controller.txt
Due: gatekeeper

Bump base check version to 15.0.0
  gatekeeper/pyproject.toml
Due: none

Bump base check version to 15.0.0 (#1548)
  gatekeeper/pyproject.toml
Due: none

release gatekeeper
  gatekeeper/CHANGELOG.md
  gatekeeper/datadog_checks/gatekeeper/__about__.py
Due: gatekeeper

update changelog
  gatekeeper/CHANGELOG.md
Due: none

Release gatekeeper version 1.0.0 (#1547)
  gatekeeper/CHANGELOG.md
  gatekeeper/datadog_checks/gatekeeper/__about__.py
Due: gatekeeper

[Release] Update metadata
  .in-toto/tag.9bb10b65.link
Due: none

Path conditions:
  aqua: any of: aqua/datadog_checks/aqua, aqua/tests
  aws_pricing: any of: aws_pricing/datadog_checks/aws_pricing, aws_pricing/tests
  bind9: any of: bind9/datadog_checks/bind9, bind9/tests
  cert_manager: any of: cert_manager/datadog_checks/cert_manager, cert_manager/tests
  cfssl: any of: cfssl/datadog_checks/cfssl, cfssl/tests
  cloudsmith: any of: cloudsmith/datadog_checks/cloudsmith, cloudsmith/tests
  cyral: any of: cyral/datadog_checks/cyral, cyral/tests
  eventstore: any of: eventstore/datadog_checks/eventstore, eventstore/tests
  exim: any of: exim/datadog_checks/exim, exim/tests
  filebeat: any of: filebeat/datadog_checks/filebeat, filebeat/tests
  fluentbit: any of: fluentbit/datadog_checks/fluentbit, fluentbit/tests
  fluxcd: any of: fluxcd/datadog_checks/fluxcd, fluxcd/tests
  gatekeeper: any of: gatekeeper/datadog_checks/gatekeeper, gatekeeper/tests
  gitea: any of: gitea/datadog_checks/gitea, gitea/tests
  gnatsd: any of: gnatsd/datadog_checks/gnatsd, gnatsd/tests
  gnatsd_streaming: any of: gnatsd_streaming/datadog_checks/gnatsd_streaming, gnatsd_streaming/tests
  grpc_check: any of: grpc_check/datadog_checks/grpc_check, grpc_check/tests
  jfrog_platform: any of: jfrog_platform/datadog_checks/jfrog_platform, jfrog_platform/tests
  kernelcare: any of: kernelcare/datadog_checks/kernelcare, kernelcare/tests
  lighthouse: any of: lighthouse/datadog_checks/lighthouse, lighthouse/tests
  logstash: any of: logstash/datadog_checks/logstash, logstash/tests
  neo4j: any of: neo4j/datadog_checks/neo4j, neo4j/tests
  neutrona: any of: neutrona/datadog_checks/neutrona, neutrona/tests
  nextcloud: any of: nextcloud/datadog_checks/nextcloud, nextcloud/tests
  nn_sdwan: any of: nn_sdwan/datadog_checks/nn_sdwan, nn_sdwan/tests
  ns1: any of: ns1/datadog_checks/ns1, ns1/tests
  nvml: any of: nvml/datadog_checks/nvml, nvml/tests
  octoprint: any of: octoprint/datadog_checks/octoprint, octoprint/tests
  open_policy_agent: any of: open_policy_agent/datadog_checks/open_policy_agent, open_policy_agent/tests
  php_apcu: any of: php_apcu/datadog_checks/php_apcu, php_apcu/tests
  php_opcache: any of: php_opcache/datadog_checks/php_opcache, php_opcache/tests
  pihole: any of: pihole/datadog_checks/pihole, pihole/tests
  ping: any of: ping/datadog_checks/ping, ping/tests
  portworx: any of: portworx/datadog_checks/portworx, portworx/tests
  puma: any of: puma/datadog_checks/puma, puma/tests
  purefa: any of: purefa/datadog_checks/purefa, purefa/tests
  purefb: any of: purefb/datadog_checks/purefb, purefb/tests
  reboot_required: any of: reboot_required/datadog_checks/reboot_required, reboot_required/tests
  redis_sentinel: any of: redis_sentinel/datadog_checks/redis_sentinel, redis_sentinel/tests
  redisenterprise: any of: redisenterprise/datadog_checks/redisenterprise, redisenterprise/tests
  redpanda: any of: redpanda/datadog_checks/redpanda, redpanda/tests
  riak_repl: any of: riak_repl/datadog_checks/riak_repl, riak_repl/tests
  sendmail: any of: sendmail/datadog_checks/sendmail, sendmail/tests
  snmpwalk: any of: snmpwalk/datadog_checks/snmpwalk, snmpwalk/tests
  sortdb: any of: sortdb/datadog_checks/sortdb, sortdb/tests
  speedtest: any of: speedtest/datadog_checks/speedtest, speedtest/tests
  stardog: any of: stardog/datadog_checks/stardog, stardog/tests
  storm: any of: storm/datadog_checks/storm, storm/tests
  syncthing: any of: syncthing/datadog_checks/syncthing, syncthing/tests
  tidb: any of: tidb/datadog_checks/tidb, tidb/tests
  traefik: any of: traefik/datadog_checks/traefik, traefik/tests
  trino: any of: trino/datadog_checks/trino, trino/tests
  unbound: any of: unbound/datadog_checks/unbound, unbound/tests
  unifi_console: any of: unifi_console/datadog_checks/unifi_console, unifi_console/tests
  upsc: any of: upsc/datadog_checks/upsc, upsc/tests
  vespa: any of: vespa/datadog_checks/vespa, vespa/tests
  zabbix: any of: zabbix/datadog_checks/zabbix, zabbix/tests
