Repository DataDog/integrations-extras: changes, and which Codecov flags are due for each by the changed paths.
All: aqua, argo_cd, aws_pricing, bind9, calico, cert_manager, cloudsmith, cyral, eventstore, filebeat, gatekeeper, gnatsd, gnatsd_streaming, jfrog_platform, kernelcare, lighthouse, logstash, neo4j, neutrona, nextcloud, ns1, nvml, octoprint, open_policy_agent, php_apcu, php_opcache, pihole, ping, portworx, pulsar, puma, reboot_required, redis_sentinel, redisenterprise, riak_repl, sendmail, snmpwalk, sortdb, speedtest, stardog, storm, tidb, traefik, unbound, upsc, vespa, zabbix

Path conditions:
  aqua: any of: aqua/datadog_checks/aqua, aqua/tests
  argo_cd: any of: argo_cd/datadog_checks/argo_cd, argo_cd/tests
  aws_pricing: any of: aws_pricing/datadog_checks/aws_pricing, aws_pricing/tests
  bind9: any of: bind9/datadog_checks/bind9, bind9/tests
  calico: any of: calico/datadog_checks/calico, calico/tests
  cert_manager: any of: cert_manager/datadog_checks/cert_manager, cert_manager/tests
  cloudsmith: any of: cloudsmith/datadog_checks/cloudsmith, cloudsmith/tests
  cyral: any of: cyral/datadog_checks/cyral, cyral/tests
  eventstore: any of: eventstore/datadog_checks/eventstore, eventstore/tests
  filebeat: any of: filebeat/datadog_checks/filebeat, filebeat/tests
  gatekeeper: any of: gatekeeper/datadog_checks/gatekeeper, gatekeeper/tests
  gnatsd: any of: gnatsd/datadog_checks/gnatsd, gnatsd/tests
  gnatsd_streaming: any of: gnatsd_streaming/datadog_checks/gnatsd_streaming, gnatsd_streaming/tests
  jfrog_platform: any of: jfrog_platform/datadog_checks/jfrog_platform, jfrog_platform/tests
  kernelcare: any of: kernelcare/datadog_checks/kernelcare, kernelcare/tests
  lighthouse: any of: lighthouse/datadog_checks/lighthouse, lighthouse/tests
  logstash: any of: logstash/datadog_checks/logstash, logstash/tests
  neo4j: any of: neo4j/datadog_checks/neo4j, neo4j/tests
  neutrona: any of: neutrona/datadog_checks/neutrona, neutrona/tests
  nextcloud: any of: nextcloud/datadog_checks/nextcloud, nextcloud/tests
  ns1: any of: ns1/datadog_checks/ns1, ns1/tests
  nvml: any of: nvml/datadog_checks/nvml, nvml/tests
  octoprint: any of: octoprint/datadog_checks/octoprint, octoprint/tests
  open_policy_agent: any of: open_policy_agent/datadog_checks/open_policy_agent, open_policy_agent/tests
  php_apcu: any of: php_apcu/datadog_checks/php_apcu, php_apcu/tests
  php_opcache: any of: php_opcache/datadog_checks/php_opcache, php_opcache/tests
  pihole: any of: pihole/datadog_checks/pihole, pihole/tests
  ping: any of: ping/datadog_checks/ping, ping/tests
  portworx: any of: portworx/datadog_checks/portworx, portworx/tests
  pulsar: any of: pulsar/datadog_checks/pulsar, pulsar/tests
  puma: any of: puma/datadog_checks/puma, puma/tests
  reboot_required: any of: reboot_required/datadog_checks/reboot_required, reboot_required/tests
  redis_sentinel: any of: redis_sentinel/datadog_checks/redis_sentinel, redis_sentinel/tests
  redisenterprise: any of: redisenterprise/datadog_checks/redisenterprise, redisenterprise/tests
  riak_repl: any of: riak_repl/datadog_checks/riak_repl, riak_repl/tests
  sendmail: any of: sendmail/datadog_checks/sendmail, sendmail/tests
  snmpwalk: any of: snmpwalk/datadog_checks/snmpwalk, snmpwalk/tests
  sortdb: any of: sortdb/datadog_checks/sortdb, sortdb/tests
  speedtest: any of: speedtest/datadog_checks/speedtest, speedtest/tests
  stardog: any of: stardog/datadog_checks/stardog, stardog/tests
  storm: any of: storm/datadog_checks/storm, storm/tests
  tidb: any of: tidb/datadog_checks/tidb, tidb/tests
  traefik: any of: traefik/datadog_checks/traefik, traefik/tests
  unbound: any of: unbound/datadog_checks/unbound, unbound/tests
  upsc: any of: upsc/datadog_checks/upsc, upsc/tests
  vespa: any of: vespa/datadog_checks/vespa, vespa/tests
  zabbix: any of: zabbix/datadog_checks/zabbix, zabbix/tests

TiDB Cloud Integration: Update metrics and the dashboard (#1144)
  tidb_cloud/assets/dashboards/overview.json
  tidb_cloud/manifest.json
  tidb_cloud/metadata.csv
Due: none

update Gemfile
  puma/tests/docker/Gemfile
Due: puma

update gemfile.lock
  puma/tests/docker/Gemfile.lock
Due: puma

Bump puma tests dependency (#1202)
  puma/tests/docker/Gemfile
  puma/tests/docker/Gemfile.lock
Due: puma

Bump puma version to 1.2.0
  puma/CHANGELOG.md
  puma/datadog_checks/puma/__about__.py
Due: puma

Bump puma version to 1.2.0 (#1203)
  puma/CHANGELOG.md
  puma/datadog_checks/puma/__about__.py
Due: puma

[Release] Update metadata
  .in-toto/tag.d1d0746a.link
Due: none

add curated_metric column to metadata.csv files
  auth0/metadata.csv
  concourse_ci/metadata.csv
  convox/metadata.csv
  lacework/metadata.csv
  logzio/metadata.csv
  snmpwalk/metadata.csv
  vns3/metadata.csv
Due: none

add curated_metric column to metadata.csv files
  speedtest/metadata.csv
  storm/metadata.csv
  upsc/metadata.csv
Due: none

add curated_metric column to metadata.csv files
  aqua/metadata.csv
  rbltracker/metadata.csv
Due: none

add curated_metric column to metadata.csv files sqreen,uptime
  split/metadata.csv
  uptime/metadata.csv
Due: none

add curated_metric column to metadata.csv files cert_manager,gatekeeper,open_policy_agent
  cert_manager/metadata.csv
  gatekeeper/metadata.csv
  open_policy_agent/metadata.csv
Due: none

add curated_metric column to metadata.csv files nomad,octoprint,pihole,ping
  nomad/metadata.csv
  octoprint/metadata.csv
  pihole/metadata.csv
  ping/metadata.csv
Due: none

add curated_metric column to metadata.csv files flume,nextcloud,vercel
  flume/metadata.csv
  nextcloud/metadata.csv
  vercel/metadata.csv
Due: none

update description in launchdarkly/manifest.json
  launchdarkly/manifest.json
Due: none

sync foundationdb models
  foundationdb/datadog_checks/foundationdb/config_models/__init__.py
  foundationdb/datadog_checks/foundationdb/config_models/defaults.py
  foundationdb/datadog_checks/foundationdb/config_models/instance.py
  foundationdb/datadog_checks/foundationdb/config_models/shared.py
  foundationdb/datadog_checks/foundationdb/config_models/validators.py
Due: none

revert foundationdb and launchdarkly
  foundationdb/datadog_checks/foundationdb/config_models/__init__.py
  foundationdb/datadog_checks/foundationdb/config_models/defaults.py
  foundationdb/datadog_checks/foundationdb/config_models/instance.py
  foundationdb/datadog_checks/foundationdb/config_models/shared.py
  foundationdb/datadog_checks/foundationdb/config_models/validators.py
  foundationdb/metadata.csv
  launchdarkly/manifest.json
  launchdarkly/metadata.csv
Due: none

add curated_metric column to metadata.csv files
  foundationdb/metadata.csv
  launchdarkly/metadata.csv
Due: none

fix deb package link
  .azure-pipelines/scripts/foundationdb/linux/55_install_client.sh
Due: none

test pipeline
  foundationdb/datadog_checks/foundationdb/__about__.py
Due: none

sync models
  foundationdb/datadog_checks/foundationdb/__about__.py
  foundationdb/datadog_checks/foundationdb/config_models/__init__.py
  foundationdb/datadog_checks/foundationdb/config_models/defaults.py
  foundationdb/datadog_checks/foundationdb/config_models/instance.py
  foundationdb/datadog_checks/foundationdb/config_models/shared.py
  foundationdb/datadog_checks/foundationdb/config_models/validators.py
Due: none

fix headers
  foundationdb/datadog_checks/foundationdb/config_models/__init__.py
  foundationdb/datadog_checks/foundationdb/config_models/defaults.py
  foundationdb/datadog_checks/foundationdb/config_models/instance.py
  foundationdb/datadog_checks/foundationdb/config_models/shared.py
Due: none

fix header date
  foundationdb/datadog_checks/foundationdb/config_models/validators.py
Due: none

Fix package link in CI VM script (#1211)
  .azure-pipelines/scripts/foundationdb/linux/55_install_client.sh
  foundationdb/datadog_checks/foundationdb/config_models/__init__.py
  foundationdb/datadog_checks/foundationdb/config_models/defaults.py
  foundationdb/datadog_checks/foundationdb/config_models/instance.py
  foundationdb/datadog_checks/foundationdb/config_models/shared.py
  foundationdb/datadog_checks/foundationdb/config_models/validators.py
Due: none

revert models sync to match master
  foundationdb/datadog_checks/foundationdb/config_models/__init__.py
  foundationdb/datadog_checks/foundationdb/config_models/defaults.py
  foundationdb/datadog_checks/foundationdb/config_models/instance.py
  foundationdb/datadog_checks/foundationdb/config_models/shared.py
  foundationdb/datadog_checks/foundationdb/config_models/validators.py
Due: none

Add curated_metric column to metadata.csv files (#1210)
  foundationdb/metadata.csv
  launchdarkly/manifest.json
  launchdarkly/metadata.csv
Due: none

Add curated_metric column to metadata.csv files (#1204)
  auth0/metadata.csv
  concourse_ci/metadata.csv
  convox/metadata.csv
  lacework/metadata.csv
  logzio/metadata.csv
  snmpwalk/metadata.csv
  vns3/metadata.csv
Due: none

Add curated_metric column to metadata.csv files (#1206)
  aqua/metadata.csv
  rbltracker/metadata.csv
  split/metadata.csv
  uptime/metadata.csv
Due: none

Add curated_metric column to metadata.csv files flume,nextcloud,vercel
  flume/metadata.csv
  nextcloud/metadata.csv
  vercel/metadata.csv
Due: none

Add curated_metric column to metadata.csv files nomad,octoprint,pihole,ping
  nomad/metadata.csv
  octoprint/metadata.csv
  pihole/metadata.csv
  ping/metadata.csv
Due: none

Add curated_metric column to metadata.csv files (#1205)
  cert_manager/metadata.csv
  gatekeeper/metadata.csv
  open_policy_agent/metadata.csv
  speedtest/metadata.csv
  storm/metadata.csv
  upsc/metadata.csv
Due: none

Test CI
  storm/datadog_checks/storm/storm.py
Due: storm

Test against latest LTS EventStoreDB
  eventstore/tests/compose/docker-compose.yml
Due: eventstore

Accept readonlyreplica state for web node
  eventstore/tests/compose/subscription.sh
Due: eventstore

Remove stats EventStoreDB no longer emits
  eventstore/datadog_checks/eventstore/metrics.py
Due: eventstore
