Repository DataDog/integrations-extras: changes, and which Codecov flags are due for each by the changed paths.
All: aqua, aws_pricing, bind9, cert_manager, cyral, eventstore, filebeat, gnatsd, gnatsd_streaming, kernelcare, lighthouse, logstash, neo4j, neutrona, nextcloud, nvml, php_apcu, php_opcache, pihole, ping, portworx, pulsar, puma, reboot_required, redis_sentinel, riak_repl, sendmail, snmpwalk, sortdb, speedtest, stardog, storm, traefik, unbound, upsc, vespa, zabbix

[Release] Update metadata
  .in-toto/tag.f284fd5f.link
Due: none

Ensure all integrations that emmit metrics define a metric_to_check (#837)
  aqua/manifest.json
  aws_pricing/manifest.json
  flume/manifest.json
  neutrona/manifest.json
  pihole/manifest.json
  riak_repl/manifest.json
  unbound/manifest.json
  zabbix/manifest.json
  zabbix/metadata.csv
Due: none

Sqreen integration (#851)
  sqreen/CHANGELOG.md
  sqreen/README.md
  sqreen/assets/dashboards/overview.json
  sqreen/assets/logos/avatars-bot.png
  sqreen/assets/logos/saas_logos-bot.png
  sqreen/assets/logos/saas_logos-small.png
  sqreen/assets/saved_views/all.json
  sqreen/assets/saved_views/attacks_in_app_waf.json
  sqreen/assets/saved_views/logs_linked_traces.json
  sqreen/assets/saved_views/playbook_triggers.json
  sqreen/assets/saved_views/sdk_custom_events.json
  sqreen/assets/saved_views/security_incidents.json
  sqreen/assets/saved_views/user_activities.json
  sqreen/assets/saved_views/vulnerability_exploits_rasp.json
  sqreen/assets/service_checks.json
  sqreen/images/sqreen_dashboard.png
  sqreen/images/sqreen_logo.png
  sqreen/images/sqreen_logo.svg
  sqreen/manifest.json
Due: none

initial commit of stackpulse integration (#853)
  .github/CODEOWNERS
  stackpulse/CHANGELOG.md
  stackpulse/README.md
  stackpulse/assets/dashboards/stackpulse_overview.json
  stackpulse/assets/logos/stackpulse_green_grey_vertical.png
  stackpulse/assets/logos/stackpulse_green_white_vertical.png
  stackpulse/assets/logos/stackpulse_logo.svg
  stackpulse/assets/service_checks.json
  stackpulse/images/datadog_api_card.png
  stackpulse/images/datadog_app_webhook.png
  stackpulse/images/datadog_card.png
  stackpulse/manifest.json
  stackpulse/metadata.csv
Due: none

Make integrations public (#833)
  appkeeper/manifest.json
  cert_manager/manifest.json
  cyral/manifest.json
  flume/manifest.json
  kernelcare/manifest.json
  nvml/manifest.json
  octoprint/manifest.json
  open_policy_agent/manifest.json
  perimeterx/manifest.json
  php_apcu/manifest.json
  php_opcache/manifest.json
  pihole/manifest.json
  puma/manifest.json
  resin/manifest.json
  sendmail/manifest.json
  speedtest/manifest.json
  zabbix/manifest.json
Due: none

Make nvml check quieter on non-GPU hosts (#817)
  nvml/datadog_checks/nvml/nvml.py
  nvml/tests/Dockerfile
  nvml/tests/test_nvml.py
Due: nvml

Added codeowner for sqreen (#856)
  .github/CODEOWNERS
Due: none

Fix aws pricing prefix (#838)
  aws_pricing/manifest.json
Due: none

Add average_response_time_sec to traefik integration (#836)
  traefik/datadog_checks/traefik/traefik.py
Due: traefik

bump stardog integration version to 1.0.1 (#859)
  stardog/CHANGELOG.md
  stardog/datadog_checks/stardog/__about__.py
Due: stardog

Fix hbase_master typo (#828)
  hbase_master/datadog_checks/hbase_master/data/metrics.yaml
Due: none

Update nomad metadata (#830)
  nomad/metadata.csv
Due: none

add http intake shortcode (#840)
  aqua/README.md
  logstash/README.md
Due: none

Explicitly set validate_codeowners for CI (#850)
  .azure-pipelines/changes.yml
Due: none

Postman's Datadog Integration, initial draft (#825)
  .github/CODEOWNERS
  postman/README.md
  postman/assets/dashboards/overview.json
  postman/assets/logos/postman-logo-horizontal.svg
  postman/assets/service_checks.json
  postman/images/.gitkeep
  postman/images/add-integration-datadog.jpeg
  postman/manifest.json
  postman/metadata.csv
Due: none

Updated N2WS tile for Ver 4.0
  n2ws/README.md
  n2ws/assets/dashboards/N2WSBackup&Recovery-BackupSuccessRates(AreasGraphs).json
  n2ws/assets/dashboards/N2WSBackup&Recovery-BackupSuccessRates(ColumnGraphs).json
  n2ws/assets/dashboards/N2WSBackup&Recovery-EntityTypesDetails.json
  n2ws/assets/dashboards/N2WSBackup&RecoveryV4.0-BackupSuccessRates(ColumnGraphs).json
  n2ws/assets/dashboards/N2WSBackup&RecoveryV4.0-EntityTypesDetails.json
  n2ws/manifest.json
  n2ws/metadata.csv
Due: none

for testing ignore TLS certs and warning
  redisenterprise/tests/conftest.py
Due: none

cleaner display of JSON for users
  redisenterprise/assets/dashboards/redisenterprise_cluster_top_view.json
  redisenterprise/assets/dashboards/redisenterprise_overview.json
  redisenterprise/assets/dashboards/redisenterprise_rof.json
Due: none

add user information to http requests
  redisenterprise/datadog_checks/redisenterprise/__about__.py
  redisenterprise/datadog_checks/redisenterprise/check.py
Due: none

Update .github/CODEOWNERS
  .github/CODEOWNERS
Due: none

bump version for production testing
  redisenterprise/datadog_checks/redisenterprise/__about__.py
Due: none

Update neo4j check to use requests wrapper (#894)
  neo4j/assets/configuration/spec.yaml
  neo4j/datadog_checks/neo4j/data/conf.yaml.example
  neo4j/datadog_checks/neo4j/neo4j.py
  neo4j/manifest.json
  neo4j/tests/common.py
  neo4j/tests/conftest.py
  neo4j/tests/docker/docker-compose.yaml
  neo4j/tests/test_neo4j.py
Due: neo4j

fix indentation issues
  .github/CODEOWNERS
  redisenterprise/assets/configuration/spec.yaml
Due: none

more indentation fixes
  redisenterprise/assets/configuration/spec.yaml
Due: none

include categories
  redisenterprise/manifest.json
Due: none

ensure this integration will be public on release
  redisenterprise/manifest.json
Due: none

update template
  redisenterprise/datadog_checks/redisenterprise/data/conf.yaml.example
Due: none

N2WS-18718: [Datadog] Fixed alerts filtering issue on dashboard
  n2ws/README.md
  n2ws/assets/dashboards/N2WSBackup&Recovery-BackupSuccessRates(AreasGraphs).json
  n2ws/assets/dashboards/N2WSBackup&Recovery-BackupSuccessRates(ColumnGraphs).json
  n2ws/assets/dashboards/N2WSBackup&Recovery-EntityTypesDetails.json
  n2ws/assets/dashboards/N2WSBackup&RecoveryV4.0-BackupSuccessRates(ColumnGraphs).json
  n2ws/assets/dashboards/N2WSBackup&RecoveryV4.0-EntityTypesDetails.json
  n2ws/assets/service_checks.json
  n2ws/logos/.gitkeep
  n2ws/logos/N2WS Logo.svg
  n2ws/logos/N2WS-BlueLogo.png
  n2ws/manifest.json
  n2ws/metadata.csv
Due: none

Bug fix for getting values from cashe anf url forming for pulsar api
  ns1/datadog_checks/ns1/check.py
  ns1/tests/test_ns1.py
Due: none

Bug fix for getting values from cashe and url forming for pulsar api
  ns1/datadog_checks/ns1/check.py
  ns1/tests/test_ns1.py
Due: none

modified check to use requests wrapper
  filebeat/datadog_checks/filebeat/filebeat.py
Due: filebeat

added spec.yaml
  filebeat/assets/configuration/spec.yaml
  filebeat/datadog_checks/filebeat/data/conf.yaml.example
Due: filebeat

modified normalize_metrics logic to use base class name formatting
  filebeat/datadog_checks/filebeat/filebeat.py
Due: filebeat

modified tests to use instance when instantiating check
  filebeat/tests/test_filebeat.py
Due: filebeat

changed default timeout to 2 for backwards compatibilty
  filebeat/assets/configuration/spec.yaml
  filebeat/datadog_checks/filebeat/data/conf.yaml.example
  filebeat/datadog_checks/filebeat/filebeat.py
Due: filebeat

added test to verify default timeout functionality
  filebeat/tests/test_filebeat.py
Due: filebeat

fixed extra lines for style test
  filebeat/tests/test_filebeat.py
Due: filebeat

set default timeout of 2 on instance
  filebeat/datadog_checks/filebeat/filebeat.py
Due: filebeat

Stub the FoundationDB Datadog integration
  foundationdb/CHANGELOG.md
  foundationdb/MANIFEST.in
  foundationdb/README.md
  foundationdb/assets/configuration/spec.yaml
  foundationdb/assets/dashboards/foundationdb_overview.json
  foundationdb/assets/service_checks.json
  foundationdb/datadog_checks/__init__.py
  foundationdb/datadog_checks/foundationdb/__about__.py
  foundationdb/datadog_checks/foundationdb/__init__.py
  foundationdb/datadog_checks/foundationdb/check.py
  foundationdb/datadog_checks/foundationdb/config_models/__init__.py
  foundationdb/datadog_checks/foundationdb/config_models/defaults.py
  foundationdb/datadog_checks/foundationdb/config_models/instance.py
  foundationdb/datadog_checks/foundationdb/config_models/shared.py
  foundationdb/datadog_checks/foundationdb/config_models/validators.py
  foundationdb/datadog_checks/foundationdb/data/conf.yaml.example
  foundationdb/images/.gitkeep
  foundationdb/manifest.json
  foundationdb/metadata.csv
  foundationdb/requirements-dev.txt
  foundationdb/requirements.in
  foundationdb/setup.py
  foundationdb/tests/__init__.py
  foundationdb/tests/conftest.py
  foundationdb/tests/test_foundationdb.py
  foundationdb/tox.ini
Due: none

Bug fix for getting values from cashe and url forming for pulsar api (#901)
  ns1/datadog_checks/ns1/check.py
  ns1/tests/test_ns1.py
Due: none

Path conditions:
  aqua: any of: aqua/datadog_checks/aqua, aqua/tests
  aws_pricing: any of: aws_pricing/datadog_checks/aws_pricing, aws_pricing/tests
  bind9: any of: bind9/datadog_checks/bind9, bind9/tests
  cert_manager: any of: cert_manager/datadog_checks/cert_manager, cert_manager/tests
  cyral: any of: cyral/datadog_checks/cyral, cyral/tests
  eventstore: any of: eventstore/datadog_checks/eventstore, eventstore/tests
  filebeat: any of: filebeat/datadog_checks/filebeat, filebeat/tests
  gnatsd: any of: gnatsd/datadog_checks/gnatsd, gnatsd/tests
  gnatsd_streaming: any of: gnatsd_streaming/datadog_checks/gnatsd_streaming, gnatsd_streaming/tests
  kernelcare: any of: kernelcare/datadog_checks/kernelcare, kernelcare/tests
  lighthouse: any of: lighthouse/datadog_checks/lighthouse, lighthouse/tests
  logstash: any of: logstash/datadog_checks/logstash, logstash/tests
  neo4j: any of: neo4j/datadog_checks/neo4j, neo4j/tests
  neutrona: any of: neutrona/datadog_checks/neutrona, neutrona/tests
  nextcloud: any of: nextcloud/datadog_checks/nextcloud, nextcloud/tests
  nvml: any of: nvml/datadog_checks/nvml, nvml/tests
  php_apcu: any of: php_apcu/datadog_checks/php_apcu, php_apcu/tests
  php_opcache: any of: php_opcache/datadog_checks/php_opcache, php_opcache/tests
  pihole: any of: pihole/datadog_checks/pihole, pihole/tests
  ping: any of: ping/datadog_checks/ping, ping/tests
  portworx: any of: portworx/datadog_checks/portworx, portworx/tests
  pulsar: any of: pulsar/datadog_checks/pulsar, pulsar/tests
  puma: any of: puma/datadog_checks/puma, puma/tests
  reboot_required: any of: reboot_required/datadog_checks/reboot_required, reboot_required/tests
  redis_sentinel: any of: redis_sentinel/datadog_checks/redis_sentinel, redis_sentinel/tests
  riak_repl: any of: riak_repl/datadog_checks/riak_repl, riak_repl/tests
  sendmail: any of: sendmail/datadog_checks/sendmail, sendmail/tests
  snmpwalk: any of: snmpwalk/datadog_checks/snmpwalk, snmpwalk/tests
  sortdb: any of: sortdb/datadog_checks/sortdb, sortdb/tests
  speedtest: any of: speedtest/datadog_checks/speedtest, speedtest/tests
  stardog: any of: stardog/datadog_checks/stardog, stardog/tests
  storm: any of: storm/datadog_checks/storm, storm/tests
  traefik: any of: traefik/datadog_checks/traefik, traefik/tests
  unbound: any of: unbound/datadog_checks/unbound, unbound/tests
  upsc: any of: upsc/datadog_checks/upsc, upsc/tests
  vespa: any of: vespa/datadog_checks/vespa, vespa/tests
  zabbix: any of: zabbix/datadog_checks/zabbix, zabbix/tests
