Repository DataDog/integrations-extras: changes, and which Codecov flags are due for each by the changed paths.
All: aqua, aws_pricing, bind9, cert_manager, cyral, eventstore, filebeat, gnatsd, gnatsd_streaming, kernelcare, lighthouse, logstash, neo4j, neutrona, nextcloud, nvml, php_apcu, php_opcache, pihole, ping, portworx, pulsar, puma, reboot_required, redis_sentinel, riak_repl, sendmail, snmpwalk, sortdb, speedtest, stardog, storm, traefik, unbound, upsc, vespa, zabbix

Update ProphetStor Federator.ai dashboard (#829)
  federatorai/assets/dashboards/cost-analysis-overview.json
Due: none

Use SVG logos on integration dashboards instead of PNGs (#795)
  algorithmia/assets/dashboards/algorithmia.json
  aqua/assets/dashboards/overview.json
  federatorai/assets/dashboards/application-overview.json
  federatorai/assets/dashboards/cluster-overview.json
  federatorai/assets/dashboards/cost-analysis-overview.json
  federatorai/assets/dashboards/overview.json
  gatekeeper/assets/dashboards/gatekeeper_overview.json
  k6/assets/dashboards/overview.json
  nomad/assets/dashboards/overview.json
  open_policy_agent/assets/dashboards/open_policy_agent_overview.json
  sigsci/assets/dashboards/overview.json
  speedtest/assets/dashboards/speedtest.json
Due: none

Fix tests for gnatsd streaming (#816)
  gnatsd_streaming/tests/docker/config/Dockerfile
Due: gnatsd_streaming

update ProphetStor Federator.ai Cost Analysis dashboard. (#797)
  federatorai/assets/dashboards/cost-analysis-overview.json
Due: none

Fix codecov project names and openmetrics config specs (#794)
  .codecov.yml
  cyral/assets/configuration/spec.yaml
  cyral/datadog_checks/cyral/data/conf.yaml.example
  gatekeeper/assets/configuration/spec.yaml
  gatekeeper/datadog_checks/gatekeeper/data/auto_conf.yaml
  gatekeeper/datadog_checks/gatekeeper/data/conf.yaml.example
  open_policy_agent/assets/configuration/spec.yaml
  open_policy_agent/datadog_checks/open_policy_agent/data/auto_conf.yaml
  open_policy_agent/datadog_checks/open_policy_agent/data/conf.yaml.example
  pulsar/assets/configuration/spec.yaml
  pulsar/datadog_checks/pulsar/data/conf.yaml.example
Due: cyral, pulsar

Add iLert Integration Tile (#801)
  .github/CODEOWNERS
  ilert/CHANGELOG.md
  ilert/README.md
  ilert/assets/service_checks.json
  ilert/images/datadog-alert-source-new.png
  ilert/images/datadog-alert-source-view.png
  ilert/images/datadog-webhook-new.png
  ilert/images/datadog-webhook-view.png
  ilert/manifest.json
  ilert/metadata.csv
Due: none

Sync codecov config with -core (#813)
  .codecov.yml
Due: none

Fix ACME HTTP metrics names (#826)
  cert_manager/datadog_checks/cert_manager/metrics.py
  cert_manager/metadata.csv
  cert_manager/tests/common.py
  cert_manager/tests/fixtures/cert_manager.txt
Due: cert_manager

update links (#824)
  octoprint/README.md
Due: none

Fix Neutrona and Portworx tests (#809)
  neutrona/requirements.in
  neutrona/requirements.txt
  neutrona/tox.ini
  portworx/tests/test_portworx.py
Due: portworx

[Release] Bumped ping version to 1.0.1 (#819)
  ping/CHANGELOG.md
  ping/datadog_checks/ping/__about__.py
Due: ping

Added windows command to add datadog-ping (#805)
  ping/README.md
Due: none

Reflect correct metric_prefix (#810)
  aws_pricing/manifest.json
Due: none

Add overview dashboard to cert manager integration (#827)
  cert_manager/README.md
  cert_manager/assets/dashboards/certmanager_overview.json
  cert_manager/images/overview_dashboard.png
  cert_manager/manifest.json
Due: none

Add dashboard screenshot to Gatekeeper docs (#822)
  gatekeeper/README.md
  gatekeeper/images/gatekeeper_dashboard.png
Due: none

[Release] Update metadata
  .in-toto/tag.f284fd5f.link
Due: none

Fix ping check with bad float conversion (#818)
  ping/datadog_checks/ping/ping.py
Due: ping

encoding first link (#802)
  ping/README.md
Due: none

SIGNL4 Alerting Added (#807)
  .github/CODEOWNERS
  signl4/CHANGELOG.md
  signl4/README.md
  signl4/assets/service_checks.json
  signl4/images/datadog-webhook.png
  signl4/images/signl4-phone.png
  signl4/manifest.json
  signl4/metadata.csv
Due: none

Added additional information <INTEGRATION_VERSION> (#799)
  ping/README.md
Due: none

Fix categories (#814)
  sleuth/manifest.json
Due: none

Add e2e tests for cert_manager integration (#820)
  cert_manager/datadog_checks/cert_manager/cert_manager.py
  cert_manager/datadog_checks/cert_manager/metrics.py
  cert_manager/requirements-dev.txt
  cert_manager/tests/common.py
  cert_manager/tests/conftest.py
  cert_manager/tests/kubernetes/acme.yaml
  cert_manager/tests/kubernetes/nginx.yaml
  cert_manager/tests/kubernetes/pebble.yaml
  cert_manager/tests/kubernetes/selfsigned.yaml
  cert_manager/tests/test_cert_manager.py
  cert_manager/tests/test_e2e.py
  cert_manager/tox.ini
Due: cert_manager

rewrite of appkeeper docs (#796)
  appkeeper/README.md
  appkeeper/images/integration.jpg
  appkeeper/images/integration2.jpg
  appkeeper/images/synthetic_test_params.png
  appkeeper/images/webhook_setup.png
Due: none

New integration for OctoPrint (#763)
  .azure-pipelines/all.yml
  .codecov.yml
  .github/CODEOWNERS
  octoprint/CHANGELOG.md
  octoprint/MANIFEST.in
  octoprint/README.md
  octoprint/assets/configuration/spec.yaml
  octoprint/assets/dashboards/octoprint_overview.json
  octoprint/assets/logos/octoprint_logo_rgb_500px.png
  octoprint/assets/service_checks.json
  octoprint/datadog_checks/__init__.py
  octoprint/datadog_checks/octoprint/__about__.py
  octoprint/datadog_checks/octoprint/__init__.py
  octoprint/datadog_checks/octoprint/check.py
  octoprint/datadog_checks/octoprint/data/conf.yaml.example
  octoprint/images/.gitkeep
  octoprint/manifest.json
  octoprint/metadata.csv
  octoprint/requirements-dev.txt
  octoprint/requirements.in
  octoprint/setup.py
  octoprint/tests/__init__.py
  octoprint/tests/common.py
  octoprint/tests/conftest.py
  octoprint/tests/docker-compose.yml
  octoprint/tests/test_octoprint.py
  octoprint/tox.ini
Due: none

fixing issue that is breaking the docs build (#823)
  octoprint/README.md
Due: none

DOCS-1332 - update squadcast docs (#790)
  squadcast/README.md
Due: none

Add E2E tests for gatekeeper (#821)
  gatekeeper/tests/conftest.py
  gatekeeper/tests/kubernetes/constraintsample.yaml
  gatekeeper/tests/kubernetes/constrainttemplate.yaml
  gatekeeper/tests/test_e2e.py
  gatekeeper/tox.ini
Due: none

Release cert_manager integration 2.0.0 (#831)
  cert_manager/CHANGELOG.md
  cert_manager/datadog_checks/cert_manager/__about__.py
Due: cert_manager

Fix embedded image link (#798)
  nomad/README.md
Due: none

Convert metric alert to query alert (#806)
  algorithmia/assets/monitors/algorithm_duration.json
  nomad/assets/monitors/nomad_heartbeats_received.json
  php_opcache/assets/monitors/php-opcache_expunges.json
Due: none

Pin docker image (#811)
  nextcloud/tests/compose/nextcloud-standalone
Due: nextcloud

add link to tracing docs (#835)
  ambassador/README.md
Due: none

Add metric to check (#842)
  bind9/manifest.json
  eventstore/manifest.json
  filebeat/manifest.json
  gnatsd/manifest.json
  gnatsd_streaming/manifest.json
  hbase_master/manifest.json
  hbase_regionserver/manifest.json
  launchdarkly/manifest.json
  neo4j/manifest.json
  ping/manifest.json
  portworx/manifest.json
  rigor/manifest.json
  sortdb/manifest.json
  stardog/manifest.json
  storm/manifest.json
  traefik/manifest.json
  upsc/manifest.json
Due: none

decode stardog auth token (#857)
  stardog/datadog_checks/stardog/stardog.py
  stardog/tests/test_stardog.py
Due: stardog

Update CHANGELOG.md (#843)
  logstash/CHANGELOG.md
Due: none

Updated docs for new alert integration (#834)
  zabbix/README.md
Due: none

Update README.md (#858)
  auth0/README.md
Due: none

Fix non-ascii characters (#841)
  auth0/README.md
  flume/README.md
  kernelcare/README.md
  lighthouse/README.md
  rundeck/README.md
  sleuth/README.md
Due: none

Path conditions:
  aqua: any of: aqua/datadog_checks/aqua, aqua/tests
  aws_pricing: any of: aws_pricing/datadog_checks/aws_pricing, aws_pricing/tests
  bind9: any of: bind9/datadog_checks/bind9, bind9/tests
  cert_manager: any of: cert_manager/datadog_checks/cert_manager, cert_manager/tests
  cyral: any of: cyral/datadog_checks/cyral, cyral/tests
  eventstore: any of: eventstore/datadog_checks/eventstore, eventstore/tests
  filebeat: any of: filebeat/datadog_checks/filebeat, filebeat/tests
  gnatsd: any of: gnatsd/datadog_checks/gnatsd, gnatsd/tests
  gnatsd_streaming: any of: gnatsd_streaming/datadog_checks/gnatsd_streaming, gnatsd_streaming/tests
  kernelcare: any of: kernelcare/datadog_checks/kernelcare, kernelcare/tests
  lighthouse: any of: lighthouse/datadog_checks/lighthouse, lighthouse/tests
  logstash: any of: logstash/datadog_checks/logstash, logstash/tests
  neo4j: any of: neo4j/datadog_checks/neo4j, neo4j/tests
  neutrona: any of: neutrona/datadog_checks/neutrona, neutrona/tests
  nextcloud: any of: nextcloud/datadog_checks/nextcloud, nextcloud/tests
  nvml: any of: nvml/datadog_checks/nvml, nvml/tests
  php_apcu: any of: php_apcu/datadog_checks/php_apcu, php_apcu/tests
  php_opcache: any of: php_opcache/datadog_checks/php_opcache, php_opcache/tests
  pihole: any of: pihole/datadog_checks/pihole, pihole/tests
  ping: any of: ping/datadog_checks/ping, ping/tests
  portworx: any of: portworx/datadog_checks/portworx, portworx/tests
  pulsar: any of: pulsar/datadog_checks/pulsar, pulsar/tests
  puma: any of: puma/datadog_checks/puma, puma/tests
  reboot_required: any of: reboot_required/datadog_checks/reboot_required, reboot_required/tests
  redis_sentinel: any of: redis_sentinel/datadog_checks/redis_sentinel, redis_sentinel/tests
  riak_repl: any of: riak_repl/datadog_checks/riak_repl, riak_repl/tests
  sendmail: any of: sendmail/datadog_checks/sendmail, sendmail/tests
  snmpwalk: any of: snmpwalk/datadog_checks/snmpwalk, snmpwalk/tests
  sortdb: any of: sortdb/datadog_checks/sortdb, sortdb/tests
  speedtest: any of: speedtest/datadog_checks/speedtest, speedtest/tests
  stardog: any of: stardog/datadog_checks/stardog, stardog/tests
  storm: any of: storm/datadog_checks/storm, storm/tests
  traefik: any of: traefik/datadog_checks/traefik, traefik/tests
  unbound: any of: unbound/datadog_checks/unbound, unbound/tests
  upsc: any of: upsc/datadog_checks/upsc, upsc/tests
  vespa: any of: vespa/datadog_checks/vespa, vespa/tests
  zabbix: any of: zabbix/datadog_checks/zabbix, zabbix/tests
