Repository DataDog/integrations-extras: changes, and which Codecov flags are due for each by the changed paths.
All: aqua, argo_cd, aws_pricing, bind9, calico, cert_manager, cloudsmith, cyral, eventstore, filebeat, gatekeeper, gnatsd, gnatsd_streaming, jfrog_platform, kernelcare, lighthouse, logstash, neo4j, neutrona, nextcloud, ns1, nvml, octoprint, open_policy_agent, php_apcu, php_opcache, pihole, ping, portworx, pulsar, puma, reboot_required, redis_sentinel, redisenterprise, riak_repl, sendmail, snmpwalk, sortdb, speedtest, stardog, storm, tidb, traefik, unbound, upsc, vespa, zabbix

Path conditions:
  aqua: any of: aqua/datadog_checks/aqua, aqua/tests
  argo_cd: any of: argo_cd/datadog_checks/argo_cd, argo_cd/tests
  aws_pricing: any of: aws_pricing/datadog_checks/aws_pricing, aws_pricing/tests
  bind9: any of: bind9/datadog_checks/bind9, bind9/tests
  calico: any of: calico/datadog_checks/calico, calico/tests
  cert_manager: any of: cert_manager/datadog_checks/cert_manager, cert_manager/tests
  cloudsmith: any of: cloudsmith/datadog_checks/cloudsmith, cloudsmith/tests
  cyral: any of: cyral/datadog_checks/cyral, cyral/tests
  eventstore: any of: eventstore/datadog_checks/eventstore, eventstore/tests
  filebeat: any of: filebeat/datadog_checks/filebeat, filebeat/tests
  gatekeeper: any of: gatekeeper/datadog_checks/gatekeeper, gatekeeper/tests
  gnatsd: any of: gnatsd/datadog_checks/gnatsd, gnatsd/tests
  gnatsd_streaming: any of: gnatsd_streaming/datadog_checks/gnatsd_streaming, gnatsd_streaming/tests
  jfrog_platform: any of: jfrog_platform/datadog_checks/jfrog_platform, jfrog_platform/tests
  kernelcare: any of: kernelcare/datadog_checks/kernelcare, kernelcare/tests
  lighthouse: any of: lighthouse/datadog_checks/lighthouse, lighthouse/tests
  logstash: any of: logstash/datadog_checks/logstash, logstash/tests
  neo4j: any of: neo4j/datadog_checks/neo4j, neo4j/tests
  neutrona: any of: neutrona/datadog_checks/neutrona, neutrona/tests
  nextcloud: any of: nextcloud/datadog_checks/nextcloud, nextcloud/tests
  ns1: any of: ns1/datadog_checks/ns1, ns1/tests
  nvml: any of: nvml/datadog_checks/nvml, nvml/tests
  octoprint: any of: octoprint/datadog_checks/octoprint, octoprint/tests
  open_policy_agent: any of: open_policy_agent/datadog_checks/open_policy_agent, open_policy_agent/tests
  php_apcu: any of: php_apcu/datadog_checks/php_apcu, php_apcu/tests
  php_opcache: any of: php_opcache/datadog_checks/php_opcache, php_opcache/tests
  pihole: any of: pihole/datadog_checks/pihole, pihole/tests
  ping: any of: ping/datadog_checks/ping, ping/tests
  portworx: any of: portworx/datadog_checks/portworx, portworx/tests
  pulsar: any of: pulsar/datadog_checks/pulsar, pulsar/tests
  puma: any of: puma/datadog_checks/puma, puma/tests
  reboot_required: any of: reboot_required/datadog_checks/reboot_required, reboot_required/tests
  redis_sentinel: any of: redis_sentinel/datadog_checks/redis_sentinel, redis_sentinel/tests
  redisenterprise: any of: redisenterprise/datadog_checks/redisenterprise, redisenterprise/tests
  riak_repl: any of: riak_repl/datadog_checks/riak_repl, riak_repl/tests
  sendmail: any of: sendmail/datadog_checks/sendmail, sendmail/tests
  snmpwalk: any of: snmpwalk/datadog_checks/snmpwalk, snmpwalk/tests
  sortdb: any of: sortdb/datadog_checks/sortdb, sortdb/tests
  speedtest: any of: speedtest/datadog_checks/speedtest, speedtest/tests
  stardog: any of: stardog/datadog_checks/stardog, stardog/tests
  storm: any of: storm/datadog_checks/storm, storm/tests
  tidb: any of: tidb/datadog_checks/tidb, tidb/tests
  traefik: any of: traefik/datadog_checks/traefik, traefik/tests
  unbound: any of: unbound/datadog_checks/unbound, unbound/tests
  upsc: any of: upsc/datadog_checks/upsc, upsc/tests
  vespa: any of: vespa/datadog_checks/vespa, vespa/tests
  zabbix: any of: zabbix/datadog_checks/zabbix, zabbix/tests

Update spec.yaml and rebuilt conf.yaml.example
  neo4j/assets/configuration/spec.yaml
  neo4j/datadog_checks/neo4j/data/conf.yaml.example
Due: neo4j

codeowners changes to the github username
  .github/CODEOWNERS
Due: none

dashboard changes updated
  lambdatest/assets/dashboards/lambdatest_overview.json
  lambdatest/manifest.json
Due: none

public key flagged true
  lambdatest/manifest.json
Due: none

adding linux to supported os
  lambdatest/manifest.json
Due: none

Use requests wrapper
  riak_repl/datadog_checks/riak_repl/riak_repl.py
Due: riak_repl

Use requests wrapper
  sortdb/datadog_checks/sortdb/check.py
Due: sortdb

Fix title typo
  gnatsd_streaming/manifest.json
Due: none

update database dashboard to newer style
  redisenterprise/assets/dashboards/redisenterprise_overview.json
  redisenterprise/images/dashboard.png
Due: none

add in legends and aliases
  redisenterprise/assets/dashboards/redisenterprise_overview.json
Due: none

update the cluster top view graph to newer format
  redisenterprise/assets/dashboards/redisenterprise_cluster_top_view.json
  redisenterprise/images/datadog_cluster_top_view.png
Due: none

new active active dashboard
  redisenterprise/assets/dashboards/redis_enterprise_active_active.json
  redisenterprise/images/active_active_dashboard.png
Due: none

update graphs
  redisenterprise/assets/dashboards/redis_enterprise_active_active.json
  redisenterprise/assets/dashboards/redisenterprise_cluster_top_view.json
  redisenterprise/assets/dashboards/redisenterprise_overview.json
Due: none

get correct version
  redisenterprise/assets/dashboards/redis_enterprise_active_active.json
Due: none

update RoF dashboard
  redisenterprise/assets/dashboards/redisenterprise_rof.json
  redisenterprise/images/ROF_dashboard.png
Due: none

codeowners is not fun
  .github/CODEOWNERS
Due: none

bump version for newer dashboards
  redisenterprise/datadog_checks/redisenterprise/__about__.py
Due: redisenterprise

Don't spin up agent on prs
  .azure-pipelines/changes.yml
Due: none

Don't spin up agent on prs (#1088)
  .azure-pipelines/changes.yml
Due: none

Add to manifest.json (#1076)
  redisenterprise/manifest.json
Due: none

updated doc for squadcast integration (#1068)
  squadcast/README.md
  squadcast/images/datadog-webhook.png
Due: none

Use requests wrappers and new check signature
  stardog/datadog_checks/stardog/stardog.py
  stardog/tests/test_stardog.py
Due: stardog

Do not use requests directly
  traefik/datadog_checks/traefik/traefik.py
Due: traefik

update changelog
  redisenterprise/CHANGELOG.md
Due: none

Revert "Don't spin up agent on prs (#1088)"
  .azure-pipelines/changes.yml
Due: none

Enable CI App on non-fork prs
  .azure-pipelines/changes.yml
Due: none

return the correct sendmail queue size
  sendmail/datadog_checks/sendmail/sendmail.py
  sendmail/tests/test_sendmail.py
Due: sendmail

Use requests wrapper (#1082)
  riak_repl/datadog_checks/riak_repl/riak_repl.py
Due: riak_repl

main logic
  tidb/assets/configuration/spec.yaml
  tidb/datadog_checks/tidb/check.py
  tidb/datadog_checks/tidb/metrics.py
Due: tidb

Update redis dashboards
  redisenterprise/assets/dashboards/redis_enterprise_active_active.json
  redisenterprise/assets/dashboards/redisenterprise_cluster_top_view.json
  redisenterprise/assets/dashboards/redisenterprise_overview.json
  redisenterprise/assets/dashboards/redisenterprise_rof.json
Due: none

Update id
  redisenterprise/assets/dashboards/redisenterprise_cluster_top_view.json
Due: none

Update redisenterprise/CHANGELOG.md
  redisenterprise/CHANGELOG.md
Due: none

Update redisenterprise/datadog_checks/redisenterprise/__about__.py
  redisenterprise/datadog_checks/redisenterprise/__about__.py
Due: redisenterprise

Update redisenterprise/assets/dashboards/redisenterprise_rof.json
  redisenterprise/assets/dashboards/redisenterprise_rof.json
Due: none

datadog integration link updated
  lambdatest/README.md
Due: none

done code logic
  tidb/datadog_checks/tidb/check.py
  tidb/datadog_checks/tidb/data/conf.yaml.example
  tidb/datadog_checks/tidb/metrics.py
  tidb/tests/compose/docker-compose.yml
  tidb/tests/compose/tiflash.toml
  tidb/tests/conftest.py
  tidb/tests/expected.py
  tidb/tests/fixtures/mock_pd_metrics.txt
  tidb/tests/fixtures/mock_tidb_metrics.txt
  tidb/tests/fixtures/mock_tiflash_metrics.txt
  tidb/tests/fixtures/mock_tiflash_proxy_metrics.txt
  tidb/tests/fixtures/mock_tikv_metrics.txt
  tidb/tests/test_tidb.py
Due: tidb

done user doc and release note
  tidb/CHANGELOG.md
  tidb/README.md
  tidb/datadog_checks/tidb/__about__.py
  tidb/metadata.csv
Due: tidb

Enable CI App on non-fork PRs (#1091)
  .azure-pipelines/changes.yml
Due: none

fix DEVELOPMENT.md
  tidb/DEVELOPMENT.md
Due: none

init commit
  tidb_cloud/README.md
  tidb_cloud/assets/dashboards/tidb_cloud_overview.json
  tidb_cloud/assets/service_checks.json
  tidb_cloud/images/.gitkeep
  tidb_cloud/manifest.json
  tidb_cloud/metadata.csv
Due: none
