Repository DataDog/integrations-extras: changes, and which Codecov flags are due for each by the changed paths.
All: aqua, aws_pricing, bind9, cfssl, cloudnatix, cloudsmith, cybersixgill_actionable_alerts, cyral, emqx, eventstore, exim, fiddler, filebeat, filemage, fluentbit, gatekeeper, gitea, gnatsd, gnatsd_streaming, go_pprof_scraper, grpc_check, hikaricp, jfrog_platform_self_hosted, kernelcare, lighthouse, logstash, mergify, neo4j, neutrona, nextcloud, nn_sdwan, ns1, nvml, octoprint, open_policy_agent, php_apcu, php_opcache, pihole, ping, portworx, puma, purefa, purefb, radarr, reboot_required, redis_enterprise, redis_sentinel, redisenterprise, redpanda, riak_repl, robust_intelligence_ai_firewall, scalr, sendmail, snmpwalk, sonarr, sortdb, speedtest, stardog, storm, syncthing, tidb, traefik, trino, unbound, unifi_console, upbound_uxp, upsc, vespa, wayfinder, zabbix, zenoh_router

Path conditions:
  aqua: any of: aqua/datadog_checks/aqua, aqua/tests
  aws_pricing: any of: aws_pricing/datadog_checks/aws_pricing, aws_pricing/tests
  bind9: any of: bind9/datadog_checks/bind9, bind9/tests
  cfssl: any of: cfssl/datadog_checks/cfssl, cfssl/tests
  cloudnatix: any of: cloudnatix/datadog_checks/cloudnatix, cloudnatix/tests
  cloudsmith: any of: cloudsmith/datadog_checks/cloudsmith, cloudsmith/tests
  cybersixgill_actionable_alerts: any of: cybersixgill_actionable_alerts/datadog_checks/cybersixgill_actionable_alerts, cybersixgill_actionable_alerts/tests
  cyral: any of: cyral/datadog_checks/cyral, cyral/tests
  emqx: any of: emqx/datadog_checks/emqx, emqx/tests
  eventstore: any of: eventstore/datadog_checks/eventstore, eventstore/tests
  exim: any of: exim/datadog_checks/exim, exim/tests
  fiddler: any of: fiddler/datadog_checks/fiddler, fiddler/tests
  filebeat: any of: filebeat/datadog_checks/filebeat, filebeat/tests
  filemage: any of: filemage/datadog_checks/filemage, filemage/tests
  fluentbit: any of: fluentbit/datadog_checks/fluentbit, fluentbit/tests
  gatekeeper: any of: gatekeeper/datadog_checks/gatekeeper, gatekeeper/tests
  gitea: any of: gitea/datadog_checks/gitea, gitea/tests
  gnatsd: any of: gnatsd/datadog_checks/gnatsd, gnatsd/tests
  gnatsd_streaming: any of: gnatsd_streaming/datadog_checks/gnatsd_streaming, gnatsd_streaming/tests
  go_pprof_scraper: any of: go_pprof_scraper/datadog_checks/go_pprof_scraper, go_pprof_scraper/tests
  grpc_check: any of: grpc_check/datadog_checks/grpc_check, grpc_check/tests
  hikaricp: any of: hikaricp/datadog_checks/hikaricp, hikaricp/tests
  jfrog_platform_self_hosted: any of: jfrog_platform_self_hosted/datadog_checks/jfrog_platform_self_hosted, jfrog_platform_self_hosted/tests
  kernelcare: any of: kernelcare/datadog_checks/kernelcare, kernelcare/tests
  lighthouse: any of: lighthouse/datadog_checks/lighthouse, lighthouse/tests
  logstash: any of: logstash/datadog_checks/logstash, logstash/tests
  mergify: any of: mergify/datadog_checks/mergify, mergify/tests
  neo4j: any of: neo4j/datadog_checks/neo4j, neo4j/tests
  neutrona: any of: neutrona/datadog_checks/neutrona, neutrona/tests
  nextcloud: any of: nextcloud/datadog_checks/nextcloud, nextcloud/tests
  nn_sdwan: any of: nn_sdwan/datadog_checks/nn_sdwan, nn_sdwan/tests
  ns1: any of: ns1/datadog_checks/ns1, ns1/tests
  nvml: any of: nvml/datadog_checks/nvml, nvml/tests
  octoprint: any of: octoprint/datadog_checks/octoprint, octoprint/tests
  open_policy_agent: any of: open_policy_agent/datadog_checks/open_policy_agent, open_policy_agent/tests
  php_apcu: any of: php_apcu/datadog_checks/php_apcu, php_apcu/tests
  php_opcache: any of: php_opcache/datadog_checks/php_opcache, php_opcache/tests
  pihole: any of: pihole/datadog_checks/pihole, pihole/tests
  ping: any of: ping/datadog_checks/ping, ping/tests
  portworx: any of: portworx/datadog_checks/portworx, portworx/tests
  puma: any of: puma/datadog_checks/puma, puma/tests
  purefa: any of: purefa/datadog_checks/purefa, purefa/tests
  purefb: any of: purefb/datadog_checks/purefb, purefb/tests
  radarr: any of: radarr/datadog_checks/radarr, radarr/tests
  reboot_required: any of: reboot_required/datadog_checks/reboot_required, reboot_required/tests
  redis_enterprise: any of: redis_enterprise/datadog_checks/redis_enterprise, redis_enterprise/tests
  redis_sentinel: any of: redis_sentinel/datadog_checks/redis_sentinel, redis_sentinel/tests
  redisenterprise: any of: redisenterprise/datadog_checks/redisenterprise, redisenterprise/tests
  redpanda: any of: redpanda/datadog_checks/redpanda, redpanda/tests
  riak_repl: any of: riak_repl/datadog_checks/riak_repl, riak_repl/tests
  robust_intelligence_ai_firewall: any of: robust_intelligence_ai_firewall/datadog_checks/robust_intelligence_ai_firewall, robust_intelligence_ai_firewall/tests
  scalr: any of: scalr/datadog_checks/scalr, scalr/tests
  sendmail: any of: sendmail/datadog_checks/sendmail, sendmail/tests
  snmpwalk: any of: snmpwalk/datadog_checks/snmpwalk, snmpwalk/tests
  sonarr: any of: sonarr/datadog_checks/sonarr, sonarr/tests
  sortdb: any of: sortdb/datadog_checks/sortdb, sortdb/tests
  speedtest: any of: speedtest/datadog_checks/speedtest, speedtest/tests
  stardog: any of: stardog/datadog_checks/stardog, stardog/tests
  storm: any of: storm/datadog_checks/storm, storm/tests
  syncthing: any of: syncthing/datadog_checks/syncthing, syncthing/tests
  tidb: any of: tidb/datadog_checks/tidb, tidb/tests
  traefik: any of: traefik/datadog_checks/traefik, traefik/tests
  trino: any of: trino/datadog_checks/trino, trino/tests
  unbound: any of: unbound/datadog_checks/unbound, unbound/tests
  unifi_console: any of: unifi_console/datadog_checks/unifi_console, unifi_console/tests
  upbound_uxp: any of: upbound_uxp/datadog_checks/upbound_uxp, upbound_uxp/tests
  upsc: any of: upsc/datadog_checks/upsc, upsc/tests
  vespa: any of: vespa/datadog_checks/vespa, vespa/tests
  wayfinder: any of: wayfinder/datadog_checks/wayfinder, wayfinder/tests
  zabbix: any of: zabbix/datadog_checks/zabbix, zabbix/tests
  zenoh_router: any of: zenoh_router/datadog_checks/zenoh_router, zenoh_router/tests

Update Redis Enterprise to set tls_verify to true by default in check code (ECOINT-109) (#2607)
  redis_enterprise/CHANGELOG.md
  redis_enterprise/README.md
  redis_enterprise/assets/configuration/spec.yaml
  redis_enterprise/datadog_checks/redis_enterprise/__about__.py
  redis_enterprise/datadog_checks/redis_enterprise/check.py
  redis_enterprise/datadog_checks/redis_enterprise/config_models/defaults.py
  redis_enterprise/datadog_checks/redis_enterprise/config_models/instance.py
  redis_enterprise/datadog_checks/redis_enterprise/data/conf.yaml.example
  redis_enterprise/tests/support.py
  redis_enterprise/tests/test_redis_enterprise.py
Due: redis_enterprise

[Release] Update metadata
  .in-toto/tag.97d0579e.link
Due: none

adding requested changes
  ocient/CHANGELOG.md
  ocient/README.md
  ocient/assets/dashboards/ocient_overview.json
Due: none

new process definitions
  redis_enterprise/datadog_checks/redis_enterprise/metrics.py
Due: redis_enterprise

add new process metrics
  redis_enterprise/datadog_checks/redis_enterprise/metrics.py
  redis_enterprise/tests/support.py
Due: redis_enterprise

node_processes_* metrics
  redis_enterprise/datadog_checks/redis_enterprise/metrics.py
  redis_enterprise/tests/support.py
Due: redis_enterprise

enforce metric types, waiting on proxy threads
  redis_enterprise/CHANGELOG.md
  redis_enterprise/README.md
  redis_enterprise/assets/dashboards/redis_enterprise_active-active.json
  redis_enterprise/assets/dashboards/redis_enterprise_database.json
  redis_enterprise/assets/dashboards/redis_enterprise_node.json
  redis_enterprise/assets/dashboards/redis_enterprise_overview.json
  redis_enterprise/assets/dashboards/redis_enterprise_proxy.json
  redis_enterprise/assets/dashboards/redis_enterprise_shard.json
Due: none

Update README.md
  cribl_stream/README.md
Due: none

explicitly set metric types
  redis_enterprise/assets/dashboards/redis_enterprise_proxy-threads.json
Due: none

reverted proxy - will review later
  redis_enterprise/assets/dashboards/redis_enterprise_proxy.json
Due: none

added missing shard metrics, still lacking shard replication descriptions
  redis_enterprise/assets/dashboards/redis_enterprise_proxy-threads.json
  redis_enterprise/datadog_checks/redis_enterprise/metrics.py
  redis_enterprise/metadata.csv
  redis_enterprise/tests/support.py
Due: redis_enterprise

chore: Bumped __about__.py to 1.1.0
  qdrant/datadog_checks/qdrant/__about__.py
Due: none

Update oauth_clients.json
  adaptive_shield/assets/oauth_clients.json
Due: none

requested changes plus testing removing generic tags env var
  ocient/README.md
  ocient/assets/dashboards/ocient_overview.json
  ocient/hatch.toml
Due: none

Update oauth_clients.json (#2620)
  adaptive_shield/assets/oauth_clients.json
Due: none

added shard replication data to metadata
  redis_enterprise/metadata.csv
Due: none

removed proxy dashboard
  redis_enterprise/assets/dashboards/redis_enterprise_proxy.json
  redis_enterprise/manifest.json
Due: none

added missing descriptions
  redis_enterprise/assets/dashboards/redis_enterprise_active-active.json
  redis_enterprise/assets/dashboards/redis_enterprise_proxy-threads.json
Due: none

add CODEOWNERS for harness_harness_notifications
  .github/CODEOWNERS
Due: none

uploading dashboard screenshot in correct aspect ratio
  ocient/images/ocient_dashboard.png
Due: none

minor typos in dashboard description
  redis_enterprise/assets/dashboards/redis_enterprise_proxy-threads.json
Due: none

blocked on csv validation
  redis_enterprise/assets/dashboards/redis_enterprise_proxy.json
  redis_enterprise/manifest.json
  redis_enterprise/metadata.csv
Due: none

added mutli-instance configuration details and example
  redis_enterprise/README.md
  redis_enterprise/datadog_checks/redis_enterprise/data/conf.yaml.multi.example
Due: redis_enterprise

swicth facet reflectiz.alert.severity to tag
  reflectiz/assets/logs/reflectiz.yaml
Due: none

updated changelog MD file to match version update
  reflectiz/Changelog.md
Due: none

removed useless changelog update
  reflectiz/Changelog.md
Due: none

Update auth0.yaml for additional messages
  auth0/assets/logs/auth0.yaml
Due: none

Update auth0_tests.yaml
  auth0/assets/logs/auth0_tests.yaml
Due: none

Update README.md (#2618)
  cribl_stream/README.md
Due: none

Change our company name to PerfectScale by DoiT (ECOINT-113) (#2610)
  perfectscale/README.md
  perfectscale/assets/dashboards/perfectscale_alerts.json
  perfectscale/assets/logos/PerfectScale-by-doit-logo.svg
  perfectscale/assets/logos/perfectscale-logo-color.svg
  perfectscale/images/perfectscale-alerts.png
  perfectscale/images/perfectscale-datadog-dashboard.png
  perfectscale/manifest.json
Due: none

Reflectiz integration fix facet reflectiz.alert.severity source (ECOINT-23) (#2623)
  reflectiz/assets/logs/reflectiz.yaml
Due: none

updated metadata CSV short name
  reflectiz/metadata.csv
Due: none

Reflectiz integration Metric Short Name Update (#2625)
  reflectiz/metadata.csv
Due: none

Replace logo files
  artie/assets/logos/logo_dark_mode.svg
  artie/assets/logos/logo_light_mode.svg
Due: none

Update dashboard banner image
  artie/assets/dashboards/artie_overview.json
  artie/images/artie-overview-dashboard.png
Due: none

Stop using simplejson and use the standard library instead
  aqua/CHANGELOG.md
  aqua/datadog_checks/aqua/aqua.py
  puma/CHANGELOG.md
  puma/datadog_checks/puma/puma.py
  puma/tests/test_puma.py
Due: aqua, puma

fix
  aqua/datadog_checks/aqua/aqua.py
  puma/tests/test_puma.py
Due: aqua, puma

fix
  puma/datadog_checks/puma/data/conf.yaml.example
Due: puma
