Repository DataDog/integrations-extras: changes, and which Codecov flags are due for each by the changed paths.
All: aqua, argo_cd, aws_pricing, bind9, calico, cert_manager, cloudsmith, cyral, eventstore, filebeat, gatekeeper, gnatsd, gnatsd_streaming, jfrog_platform, kernelcare, lighthouse, logstash, neo4j, neutrona, nextcloud, ns1, nvml, octoprint, open_policy_agent, php_apcu, php_opcache, pihole, ping, portworx, pulsar, puma, reboot_required, redis_sentinel, redisenterprise, riak_repl, sendmail, snmpwalk, sortdb, speedtest, stardog, storm, tidb, traefik, unbound, upsc, vespa, zabbix

Path conditions:
  aqua: any of: aqua/datadog_checks/aqua, aqua/tests
  argo_cd: any of: argo_cd/datadog_checks/argo_cd, argo_cd/tests
  aws_pricing: any of: aws_pricing/datadog_checks/aws_pricing, aws_pricing/tests
  bind9: any of: bind9/datadog_checks/bind9, bind9/tests
  calico: any of: calico/datadog_checks/calico, calico/tests
  cert_manager: any of: cert_manager/datadog_checks/cert_manager, cert_manager/tests
  cloudsmith: any of: cloudsmith/datadog_checks/cloudsmith, cloudsmith/tests
  cyral: any of: cyral/datadog_checks/cyral, cyral/tests
  eventstore: any of: eventstore/datadog_checks/eventstore, eventstore/tests
  filebeat: any of: filebeat/datadog_checks/filebeat, filebeat/tests
  gatekeeper: any of: gatekeeper/datadog_checks/gatekeeper, gatekeeper/tests
  gnatsd: any of: gnatsd/datadog_checks/gnatsd, gnatsd/tests
  gnatsd_streaming: any of: gnatsd_streaming/datadog_checks/gnatsd_streaming, gnatsd_streaming/tests
  jfrog_platform: any of: jfrog_platform/datadog_checks/jfrog_platform, jfrog_platform/tests
  kernelcare: any of: kernelcare/datadog_checks/kernelcare, kernelcare/tests
  lighthouse: any of: lighthouse/datadog_checks/lighthouse, lighthouse/tests
  logstash: any of: logstash/datadog_checks/logstash, logstash/tests
  neo4j: any of: neo4j/datadog_checks/neo4j, neo4j/tests
  neutrona: any of: neutrona/datadog_checks/neutrona, neutrona/tests
  nextcloud: any of: nextcloud/datadog_checks/nextcloud, nextcloud/tests
  ns1: any of: ns1/datadog_checks/ns1, ns1/tests
  nvml: any of: nvml/datadog_checks/nvml, nvml/tests
  octoprint: any of: octoprint/datadog_checks/octoprint, octoprint/tests
  open_policy_agent: any of: open_policy_agent/datadog_checks/open_policy_agent, open_policy_agent/tests
  php_apcu: any of: php_apcu/datadog_checks/php_apcu, php_apcu/tests
  php_opcache: any of: php_opcache/datadog_checks/php_opcache, php_opcache/tests
  pihole: any of: pihole/datadog_checks/pihole, pihole/tests
  ping: any of: ping/datadog_checks/ping, ping/tests
  portworx: any of: portworx/datadog_checks/portworx, portworx/tests
  pulsar: any of: pulsar/datadog_checks/pulsar, pulsar/tests
  puma: any of: puma/datadog_checks/puma, puma/tests
  reboot_required: any of: reboot_required/datadog_checks/reboot_required, reboot_required/tests
  redis_sentinel: any of: redis_sentinel/datadog_checks/redis_sentinel, redis_sentinel/tests
  redisenterprise: any of: redisenterprise/datadog_checks/redisenterprise, redisenterprise/tests
  riak_repl: any of: riak_repl/datadog_checks/riak_repl, riak_repl/tests
  sendmail: any of: sendmail/datadog_checks/sendmail, sendmail/tests
  snmpwalk: any of: snmpwalk/datadog_checks/snmpwalk, snmpwalk/tests
  sortdb: any of: sortdb/datadog_checks/sortdb, sortdb/tests
  speedtest: any of: speedtest/datadog_checks/speedtest, speedtest/tests
  stardog: any of: stardog/datadog_checks/stardog, stardog/tests
  storm: any of: storm/datadog_checks/storm, storm/tests
  tidb: any of: tidb/datadog_checks/tidb, tidb/tests
  traefik: any of: traefik/datadog_checks/traefik, traefik/tests
  unbound: any of: unbound/datadog_checks/unbound, unbound/tests
  upsc: any of: upsc/datadog_checks/upsc, upsc/tests
  vespa: any of: vespa/datadog_checks/vespa, vespa/tests
  zabbix: any of: zabbix/datadog_checks/zabbix, zabbix/tests

Update nn_sdwan/README.md
  nn_sdwan/README.md
Due: none

update maintainer and codeowner for NS1 integration
  .github/CODEOWNERS
  ns1/manifest.json
Due: none

Update ns1/datadog_checks/ns1/data/conf.yaml.example
  ns1/datadog_checks/ns1/data/conf.yaml.example
Due: ns1

update integration_shoreline_and_datadog.png file
  shoreline/images/integrate_shoreline_and_datadog.png
Due: none

add basic changelog
  eversql/changelog.md
Due: none

add date
  eversql/changelog.md
Due: none

Add basic changelog (#1277)
  eversql/changelog.md
Due: none

Rename changelog.md to CHANGELOG.md
  eversql/CHANGELOG.md
Due: none

Update zebrium/README.md
  zebrium/README.md
Due: none

Rename changelog.md to CHANGELOG.md (#1278)
  eversql/CHANGELOG.md
Due: none

Update shoreline/README.md
  shoreline/README.md
Due: none

Run no-op publish CI job on merge to master as a test.
  .gitlab-ci.yml
Due: none

Update stardog integration to 1.0.2 to coincide with new metrics in Stardog 7.9.0
  stardog/datadog_checks/stardog/__about__.py
  stardog/datadog_checks/stardog/__init__.py
  stardog/datadog_checks/stardog/stardog.py
  stardog/setup.py
  stardog/tests/conftest.py
  stardog/tests/test_stardog.py
  stardog/tox.ini
Due: stardog

Addressing PR Review comments
  sedai/README.md
  sedai/manifest.json
Due: none

Process metrics should use send_monotonic_counter=True as the default
  neo4j/datadog_checks/neo4j/neo4j.py
Due: neo4j

[NS1] Add API rate limit handler (#1270)
  .github/CODEOWNERS
  ns1/CHANGELOG.md
  ns1/datadog_checks/ns1/__about__.py
  ns1/datadog_checks/ns1/check.py
  ns1/datadog_checks/ns1/data/conf.yaml.example
  ns1/manifest.json
  ns1/tests/test_ns1.py
Due: ns1

[Release] Update metadata
  .in-toto/tag.9bb10b65.link
Due: none

[datazoom] Make docs public
  datazoom/manifest.json
Due: none

[datazoom] Make docs public (#1282)
  datazoom/manifest.json
Due: none

Update lightstep_incident_response/metadata.csv
  lightstep_incident_response/metadata.csv
Due: none

Shortening title
  eversql/manifest.json
Due: none

committing changelog.md for LIR
  lightstep_incident_response/CHANGELOG.md
Due: none

[TILE] Lightstep incident response TILE only integration with Datadog (#1243)
  .github/CODEOWNERS
  lightstep_incident_response/CHANGELOG.md
  lightstep_incident_response/README.md
  lightstep_incident_response/assets/dashboards/lightstep_incident_response_overview.json
  lightstep_incident_response/assets/service_checks.json
  lightstep_incident_response/images/lightstep_incident_response_horizontal_logo.png
  lightstep_incident_response/images/lightstep_incident_response_square_logo.png
  lightstep_incident_response/manifest.json
  lightstep_incident_response/metadata.csv
Due: none

Update metadata csv and tests
  stardog/datadog_checks/stardog/stardog.py
  stardog/metadata.csv
  stardog/tests/test_stardog.py
Due: stardog

Shortening title (#1283)
  eversql/manifest.json
Due: none

Addressing PR Review comments
  sedai/README.md
Due: none

Correcting category name
  neo4j/manifest.json
Due: none

Updating the only DATABASE integration to live in DATA-STORE (#1274)
  neo4j/manifest.json
Due: none

Add support for IPv6 on Darwin
  ping/datadog_checks/ping/ping.py
Due: ping

Update zebrium/manifest.json
  zebrium/manifest.json
Due: none
