Repository DataDog/integrations-extras: changes, and which Codecov flags are due for each by the changed paths.
All: aqua, aws_pricing, bind9, cert_manager, cyral, eventstore, filebeat, gnatsd, gnatsd_streaming, kernelcare, lighthouse, logstash, neo4j, neutrona, nextcloud, nvml, php_apcu, php_opcache, pihole, ping, portworx, pulsar, puma, reboot_required, redis_sentinel, riak_repl, sendmail, snmpwalk, sortdb, speedtest, stardog, storm, traefik, unbound, upsc, vespa, zabbix

Path conditions:
  aqua: any of: aqua/datadog_checks/aqua, aqua/tests
  aws_pricing: any of: aws_pricing/datadog_checks/aws_pricing, aws_pricing/tests
  bind9: any of: bind9/datadog_checks/bind9, bind9/tests
  cert_manager: any of: cert_manager/datadog_checks/cert_manager, cert_manager/tests
  cyral: any of: cyral/datadog_checks/cyral, cyral/tests
  eventstore: any of: eventstore/datadog_checks/eventstore, eventstore/tests
  filebeat: any of: filebeat/datadog_checks/filebeat, filebeat/tests
  gnatsd: any of: gnatsd/datadog_checks/gnatsd, gnatsd/tests
  gnatsd_streaming: any of: gnatsd_streaming/datadog_checks/gnatsd_streaming, gnatsd_streaming/tests
  kernelcare: any of: kernelcare/datadog_checks/kernelcare, kernelcare/tests
  lighthouse: any of: lighthouse/datadog_checks/lighthouse, lighthouse/tests
  logstash: any of: logstash/datadog_checks/logstash, logstash/tests
  neo4j: any of: neo4j/datadog_checks/neo4j, neo4j/tests
  neutrona: any of: neutrona/datadog_checks/neutrona, neutrona/tests
  nextcloud: any of: nextcloud/datadog_checks/nextcloud, nextcloud/tests
  nvml: any of: nvml/datadog_checks/nvml, nvml/tests
  php_apcu: any of: php_apcu/datadog_checks/php_apcu, php_apcu/tests
  php_opcache: any of: php_opcache/datadog_checks/php_opcache, php_opcache/tests
  pihole: any of: pihole/datadog_checks/pihole, pihole/tests
  ping: any of: ping/datadog_checks/ping, ping/tests
  portworx: any of: portworx/datadog_checks/portworx, portworx/tests
  pulsar: any of: pulsar/datadog_checks/pulsar, pulsar/tests
  puma: any of: puma/datadog_checks/puma, puma/tests
  reboot_required: any of: reboot_required/datadog_checks/reboot_required, reboot_required/tests
  redis_sentinel: any of: redis_sentinel/datadog_checks/redis_sentinel, redis_sentinel/tests
  riak_repl: any of: riak_repl/datadog_checks/riak_repl, riak_repl/tests
  sendmail: any of: sendmail/datadog_checks/sendmail, sendmail/tests
  snmpwalk: any of: snmpwalk/datadog_checks/snmpwalk, snmpwalk/tests
  sortdb: any of: sortdb/datadog_checks/sortdb, sortdb/tests
  speedtest: any of: speedtest/datadog_checks/speedtest, speedtest/tests
  stardog: any of: stardog/datadog_checks/stardog, stardog/tests
  storm: any of: storm/datadog_checks/storm, storm/tests
  traefik: any of: traefik/datadog_checks/traefik, traefik/tests
  unbound: any of: unbound/datadog_checks/unbound, unbound/tests
  upsc: any of: upsc/datadog_checks/upsc, upsc/tests
  vespa: any of: vespa/datadog_checks/vespa, vespa/tests
  zabbix: any of: zabbix/datadog_checks/zabbix, zabbix/tests

change description
  cyral/datadog_checks/cyral/data/conf.yaml.example
  eventstore/datadog_checks/eventstore/data/conf.yaml.example
  filebeat/datadog_checks/filebeat/data/conf.yaml.example
  gatekeeper/datadog_checks/gatekeeper/data/auto_conf.yaml
  gatekeeper/datadog_checks/gatekeeper/data/conf.yaml.example
  gnatsd/datadog_checks/gnatsd/data/conf.yaml.example
  gnatsd_streaming/datadog_checks/gnatsd_streaming/data/conf.yaml.example
  jfrog_platform/datadog_checks/jfrog_platform/data/conf.yaml.example
  kernelcare/datadog_checks/kernelcare/data/conf.yaml.example
  logstash/datadog_checks/logstash/data/conf.yaml.example
  neo4j/datadog_checks/neo4j/data/conf.yaml.example
  open_policy_agent/datadog_checks/open_policy_agent/data/auto_conf.yaml
  open_policy_agent/datadog_checks/open_policy_agent/data/conf.yaml.example
  php_apcu/datadog_checks/php_apcu/data/conf.yaml.example
  php_opcache/datadog_checks/php_opcache/data/conf.yaml.example
  pihole/datadog_checks/pihole/data/conf.yaml.example
  pulsar/datadog_checks/pulsar/data/conf.yaml.example
  puma/datadog_checks/puma/data/conf.yaml.example
  redisenterprise/datadog_checks/redisenterprise/data/conf.yaml.example
  tidb/datadog_checks/tidb/data/auto_conf.yaml
  tidb/datadog_checks/tidb/data/conf.yaml.example
  zabbix/datadog_checks/zabbix/data/conf.yaml.example
Due: cyral, eventstore, filebeat, gnatsd, gnatsd_streaming, kernelcare, logstash, neo4j, php_apcu, php_opcache, pihole, pulsar, puma, zabbix

Change dashboard query to "location"
  rookout-ui/assets/dashboards/rookout_overview.json
Due: none

Update neo4j/datadog_checks/neo4j/data/conf.yaml.example
  neo4j/datadog_checks/neo4j/data/conf.yaml.example
Due: neo4j

Update neo4j/README.md
  neo4j/README.md
Due: none

added embrace
  .github/CODEOWNERS
  embrace_mobile/CHANGELOG.md
  embrace_mobile/README.md
  embrace_mobile/assets/dashboards/embrace_mobile_overview.json
  embrace_mobile/assets/logo.svg
  embrace_mobile/assets/service_checks.json
  embrace_mobile/images/.gitkeep
  embrace_mobile/manifest.json
  embrace_mobile/metadata.csv
Due: none

validate config files (#1001)
  cyral/datadog_checks/cyral/data/conf.yaml.example
  eventstore/datadog_checks/eventstore/data/conf.yaml.example
  filebeat/datadog_checks/filebeat/data/conf.yaml.example
  gatekeeper/datadog_checks/gatekeeper/data/auto_conf.yaml
  gatekeeper/datadog_checks/gatekeeper/data/conf.yaml.example
  gnatsd/datadog_checks/gnatsd/data/conf.yaml.example
  gnatsd_streaming/datadog_checks/gnatsd_streaming/data/conf.yaml.example
  jfrog_platform/datadog_checks/jfrog_platform/data/conf.yaml.example
  kernelcare/datadog_checks/kernelcare/data/conf.yaml.example
  logstash/datadog_checks/logstash/data/conf.yaml.example
  neo4j/datadog_checks/neo4j/data/conf.yaml.example
  open_policy_agent/datadog_checks/open_policy_agent/data/auto_conf.yaml
  open_policy_agent/datadog_checks/open_policy_agent/data/conf.yaml.example
  php_apcu/datadog_checks/php_apcu/data/conf.yaml.example
  php_opcache/datadog_checks/php_opcache/data/conf.yaml.example
  pihole/datadog_checks/pihole/data/conf.yaml.example
  pulsar/datadog_checks/pulsar/data/conf.yaml.example
  puma/datadog_checks/puma/data/conf.yaml.example
  redisenterprise/datadog_checks/redisenterprise/data/conf.yaml.example
  tidb/datadog_checks/tidb/data/auto_conf.yaml
  tidb/datadog_checks/tidb/data/conf.yaml.example
  zabbix/datadog_checks/zabbix/data/conf.yaml.example
Due: cyral, eventstore, filebeat, gnatsd, gnatsd_streaming, kernelcare, logstash, neo4j, php_apcu, php_opcache, pihole, pulsar, puma, zabbix

Create service_checks.json
  pulumi/assets/service_checks.json
Due: none

Create README.md
  pulumi/assets/logos/README.md
Due: none

Add files via upload
  pulumi/assets/logos/pulumi_logo.svg
Due: none

Delete pulumi_logo.svg
  pulumi/assets/pulumi_logo.svg
Due: none

Delete README.md
  pulumi/assets/logos/README.md
Due: none

Ping on Windows - Set codepage to English (#992)
  ping/datadog_checks/ping/ping.py
Due: ping

(DOCS-2514) Prepend install command with sudo
  pihole/README.md
Due: none

<contribution:calico> Update metrics name to follow Datadog naming metric convention. Also update monitors to follow recommended names
  calico/assets/dashboards/calico_overview.json
  calico/assets/monitors/dataplane_failures.json
  calico/assets/monitors/ipset_error.json
  calico/assets/monitors/iptables_restore_errors.json
  calico/assets/monitors/iptables_save_errors.json
  calico/datadog_checks/calico/metrics.py
  calico/manifest.json
  calico/metadata.csv
  calico/tests/common.py
  calico/tests/test_calico.py
Due: none

<contribution:calico> Update conf.yaml.example
  calico/datadog_checks/calico/data/conf.yaml.example
Due: none

Update manifest.json
  pulumi/manifest.json
Due: none

Remove message from OK service checks
  bind9/datadog_checks/bind9/bind9.py
  cloudsmith/datadog_checks/cloudsmith/check.py
  sendmail/datadog_checks/sendmail/sendmail.py
  sortdb/datadog_checks/sortdb/check.py
  storm/datadog_checks/storm/storm.py
  vespa/datadog_checks/vespa/vespa.py
Due: bind9, sendmail, sortdb, storm, vespa

Fix cloudsmith message
  cloudsmith/datadog_checks/cloudsmith/check.py
Due: none

Fix vespa test
  vespa/tests/test_vespa.py
Due: vespa

Link default dashboard for Vercel integration
  vercel/manifest.json
Due: none

Link default dashboard for Vercel integration (#1005)
  vercel/manifest.json
Due: none

Add codeowner and change links to ref
  .github/CODEOWNERS
  tyk/README.md
  tyk/manifest.json
Due: none

remove log collection category
  tyk/manifest.json
Due: none

Fix style
  eventstore/datadog_checks/eventstore/eventstore.py
  logstash/datadog_checks/logstash/logstash.py
  redisenterprise/datadog_checks/redisenterprise/check.py
Due: eventstore, logstash

(DOCS-2514) Prepend install command with sudo (#1003)
  pihole/README.md
Due: none

update namespace of metrics and the manifest
  tyk/manifest.json
  tyk/metadata.csv
Due: none

rebase and update .github/CODEOWNERS
  .github/CODEOWNERS
Due: none

changes to embrace integration
  embrace_mobile/README.md
  embrace_mobile/assets/dashboards/embrace_mobile_overview.json
  embrace_mobile/assets/logo.svg
  embrace_mobile/images/datadog_dashboard.jpeg
  embrace_mobile/images/datadog_network_panel.png
  embrace_mobile/images/datadog_side_panel.png
  embrace_mobile/images/embrace_app_performance.png
  embrace_mobile/images/embrace_dashboard.png
  embrace_mobile/images/embrace_session.png
  embrace_mobile/manifest.json
Due: none

Fix style (#1006)
  eventstore/datadog_checks/eventstore/eventstore.py
  logstash/datadog_checks/logstash/logstash.py
  redisenterprise/datadog_checks/redisenterprise/check.py
Due: eventstore, logstash

Update pulumi/manifest.json
  pulumi/manifest.json
Due: none

fix Readme per docs team comments
  tyk/README.md
Due: none

fix #2 Readme per docs team comments
  tyk/README.md
Due: none

Fix the issue where events were being duplicated by not passing the GET parameters
  redisenterprise/datadog_checks/redisenterprise/__about__.py
  redisenterprise/datadog_checks/redisenterprise/check.py
Due: none

fix code owners
  .github/CODEOWNERS
Due: none

update checks for CI validations
  bind9/datadog_checks/bind9/bind9.py
  cloudsmith/datadog_checks/cloudsmith/check.py
  cyral/datadog_checks/cyral/data/conf.yaml.example
  eventstore/datadog_checks/eventstore/data/conf.yaml.example
  filebeat/datadog_checks/filebeat/data/conf.yaml.example
  gatekeeper/datadog_checks/gatekeeper/data/auto_conf.yaml
  gatekeeper/datadog_checks/gatekeeper/data/conf.yaml.example
  gnatsd/datadog_checks/gnatsd/data/conf.yaml.example
  gnatsd_streaming/datadog_checks/gnatsd_streaming/data/conf.yaml.example
  jfrog_platform/datadog_checks/jfrog_platform/data/conf.yaml.example
  kernelcare/datadog_checks/kernelcare/data/conf.yaml.example
  logstash/datadog_checks/logstash/data/conf.yaml.example
  neo4j/datadog_checks/neo4j/data/conf.yaml.example
  open_policy_agent/datadog_checks/open_policy_agent/data/auto_conf.yaml
  open_policy_agent/datadog_checks/open_policy_agent/data/conf.yaml.example
  php_apcu/datadog_checks/php_apcu/data/conf.yaml.example
  php_opcache/datadog_checks/php_opcache/data/conf.yaml.example
  pihole/datadog_checks/pihole/data/conf.yaml.example
  pulsar/datadog_checks/pulsar/data/conf.yaml.example
  puma/datadog_checks/puma/data/conf.yaml.example
  redisenterprise/datadog_checks/redisenterprise/data/conf.yaml.example
  sendmail/datadog_checks/sendmail/sendmail.py
  sortdb/datadog_checks/sortdb/check.py
  storm/datadog_checks/storm/storm.py
  tidb/datadog_checks/tidb/data/auto_conf.yaml
  tidb/datadog_checks/tidb/data/conf.yaml.example
  vespa/datadog_checks/vespa/vespa.py
  zabbix/datadog_checks/zabbix/data/conf.yaml.example
Due: bind9, cyral, eventstore, filebeat, gnatsd, gnatsd_streaming, kernelcare, logstash, neo4j, php_apcu, php_opcache, pihole, pulsar, puma, sendmail, sortdb, storm, vespa, zabbix

revert service check changes
  bind9/datadog_checks/bind9/bind9.py
  cloudsmith/datadog_checks/cloudsmith/check.py
  sendmail/datadog_checks/sendmail/sendmail.py
  sortdb/datadog_checks/sortdb/check.py
  storm/datadog_checks/storm/storm.py
  vespa/datadog_checks/vespa/vespa.py
Due: bind9, sendmail, sortdb, storm, vespa

Remove message from OK service checks (#1004)
  bind9/datadog_checks/bind9/bind9.py
  cloudsmith/datadog_checks/cloudsmith/check.py
  sendmail/datadog_checks/sendmail/sendmail.py
  sortdb/datadog_checks/sortdb/check.py
  storm/datadog_checks/storm/storm.py
  vespa/datadog_checks/vespa/vespa.py
  vespa/tests/test_vespa.py
Due: bind9, sendmail, sortdb, storm, vespa

Created spec.yaml file
  neo4j/README.md
  neo4j/assets/configuration/spec.yaml
  neo4j/datadog_checks/neo4j/__about__.py
  neo4j/datadog_checks/neo4j/data/conf.yaml.example
Due: neo4j
