Repository DataDog/integrations-extras: changes, and which Codecov flags are due for each by the changed paths.
All: aqua, argo_cd, aws_pricing, bind9, calico, cert_manager, cloudsmith, cyral, eventstore, filebeat, gatekeeper, gnatsd, gnatsd_streaming, jfrog_platform, kernelcare, lighthouse, logstash, neo4j, neutrona, nextcloud, ns1, nvml, octoprint, open_policy_agent, php_apcu, php_opcache, pihole, ping, portworx, pulsar, puma, reboot_required, redis_sentinel, redisenterprise, riak_repl, sendmail, snmpwalk, sortdb, speedtest, stardog, storm, tidb, traefik, unbound, upsc, vespa, zabbix

Added CHANGELOG.md and import changes in check.py
  fiddler/CHANGELOG.md
  fiddler/datadog_checks/fiddler/check.py
Due: none

Apply suggestions from code review
  rum_ios/README.md
Due: none

Update react native readme
  rum_react_native/README.md
Due: none

Update readme
  rum_flutter/README.md
Due: none

Apply suggestions from code review
  rum_react/README.md
Due: none

Apply suggestions from code review
  rum_angular/README.md
Due: none

Apply suggestions from code review
  rum_javascript/README.md
Due: none

Apply suggestions from code review
  rum_cypress/README.md
Due: none

Firefly | Bring your cloud Up-to-Code (#1335)
  .github/CODEOWNERS
  firefly/CHANGELOG.md
  firefly/README.md
  firefly/assets/logos/firefly-horizontal-logo.svg
  firefly/assets/logos/firefly-vertical-logo.svg
  firefly/assets/service_checks.json
  firefly/images/FF-codification.png
  firefly/images/FF-fix-drifts.png
  firefly/images/FF-insights.png
  firefly/images/FF-inventory.png
  firefly/manifest.json
Due: none

Adding fiddler-client as a dependency
  .azure-pipelines/all.yml
  .codecov.yml
  fiddler/README.md
  fiddler/datadog_checks/__init__.py
  fiddler/datadog_checks/fiddler/__about__.py
  fiddler/datadog_checks/fiddler/__init__.py
  fiddler/datadog_checks/fiddler/check.py
  fiddler/datadog_checks/fiddler/config_models/__init__.py
  fiddler/datadog_checks/fiddler/config_models/defaults.py
  fiddler/datadog_checks/fiddler/config_models/instance.py
  fiddler/datadog_checks/fiddler/config_models/shared.py
  fiddler/datadog_checks/fiddler/config_models/validators.py
  fiddler/pyproject.toml
  fiddler/setup.py
  fiddler/tests/conftest.py
  fiddler/tests/test_fiddler.py
Due: none

Updated tox.ini to take out python 2.7
  fiddler/tox.ini
Due: none

docs: fix broken links in README files (#1364)
  apache-apisix/README.md
  cert_manager/README.md
  gatekeeper/README.md
  neutrona/README.md
  nvml/README.md
  open_policy_agent/README.md
  rigor/README.md
  superwise/README.md
  zscaler/README.md
Due: none

Update config files
  cyral/datadog_checks/cyral/data/conf.yaml.example
  gatekeeper/datadog_checks/gatekeeper/data/auto_conf.yaml
  gatekeeper/datadog_checks/gatekeeper/data/conf.yaml.example
  jfrog_platform/datadog_checks/jfrog_platform/data/conf.yaml.example
  open_policy_agent/datadog_checks/open_policy_agent/data/auto_conf.yaml
  open_policy_agent/datadog_checks/open_policy_agent/data/conf.yaml.example
  pulsar/datadog_checks/pulsar/data/conf.yaml.example
  purefa/datadog_checks/purefa/data/conf.yaml.example
  purefb/datadog_checks/purefb/data/conf.yaml.example
  redpanda/datadog_checks/redpanda/data/conf.yaml.example
  tidb/datadog_checks/tidb/data/conf.yaml.example
Due: cyral, gatekeeper, jfrog_platform, open_policy_agent, pulsar, tidb

Update purefb models
  purefb/datadog_checks/purefb/config_models/defaults.py
  purefb/datadog_checks/purefb/config_models/instance.py
Due: none

Update config files (#1367)
  cyral/datadog_checks/cyral/data/conf.yaml.example
  gatekeeper/datadog_checks/gatekeeper/data/auto_conf.yaml
  gatekeeper/datadog_checks/gatekeeper/data/conf.yaml.example
  jfrog_platform/datadog_checks/jfrog_platform/data/conf.yaml.example
  open_policy_agent/datadog_checks/open_policy_agent/data/auto_conf.yaml
  open_policy_agent/datadog_checks/open_policy_agent/data/conf.yaml.example
  pulsar/datadog_checks/pulsar/data/conf.yaml.example
  purefa/datadog_checks/purefa/data/conf.yaml.example
  purefb/datadog_checks/purefb/config_models/defaults.py
  purefb/datadog_checks/purefb/config_models/instance.py
  purefb/datadog_checks/purefb/data/conf.yaml.example
  redpanda/datadog_checks/redpanda/data/conf.yaml.example
  tidb/datadog_checks/tidb/data/conf.yaml.example
Due: cyral, gatekeeper, jfrog_platform, open_policy_agent, pulsar, tidb

feat: Add product images
  stormforge/images/sf_ui_01_application.png
  stormforge/images/sf_ui_02_configure.png
  stormforge/manifest.json
Due: none

feat: Add StormForge logos
  stormforge/assets/logos/stormforge-icon_black.svg
  stormforge/assets/logos/stormforge-icon_white.svg
  stormforge/assets/logos/stormforge-logo_black.svg
  stormforge/assets/logos/stormforge-logo_secondary_black.svg
  stormforge/assets/logos/stormforge-logo_secondary_white.svg
  stormforge/assets/logos/stormforge-logo_white.svg
Due: none

feat: Add README
  stormforge/README.md
Due: none

feat: Add `Offering:Integration` category
  stormforge/manifest.json
Due: none

fix: Updates from code review
  stormforge/CHANGELOG.md
  stormforge/README.md
  stormforge/manifest.json
  stormforge/metadata.csv
Due: none

feat: Update manifest to 2.0.0
  stormforge/README.md
  stormforge/manifest.json
Due: none

feat: Add StormForge codeowners
  .github/CODEOWNERS
Due: none

feat: Add support for StormForge integration
  stormforge/CHANGELOG.md
  stormforge/assets/dashboards/stormforge_overview.json
  stormforge/assets/service_checks.json
  stormforge/images/.gitkeep
  stormforge/manifest.json
  stormforge/metadata.csv
Due: none

fix: Use better wording
  stormforge/README.md
  stormforge/manifest.json
Due: none

Remove Datadog licenses from config_models files
  fluentbit/datadog_checks/fluentbit/config_models/__init__.py
  fluentbit/datadog_checks/fluentbit/config_models/defaults.py
  fluentbit/datadog_checks/fluentbit/config_models/instance.py
  fluentbit/datadog_checks/fluentbit/config_models/shared.py
  gitea/datadog_checks/gitea/config_models/__init__.py
  gitea/datadog_checks/gitea/config_models/defaults.py
  gitea/datadog_checks/gitea/config_models/instance.py
  gitea/datadog_checks/gitea/config_models/shared.py
  neo4j/datadog_checks/neo4j/config_models/__init__.py
  neo4j/datadog_checks/neo4j/config_models/defaults.py
  neo4j/datadog_checks/neo4j/config_models/instance.py
  nn_sdwan/datadog_checks/nn_sdwan/config_models/__init__.py
  nn_sdwan/datadog_checks/nn_sdwan/config_models/defaults.py
  nn_sdwan/datadog_checks/nn_sdwan/config_models/instance.py
  nn_sdwan/datadog_checks/nn_sdwan/config_models/shared.py
  nn_sdwan/datadog_checks/nn_sdwan/config_models/validators.py
  purefa/datadog_checks/purefa/config_models/__init__.py
  purefa/datadog_checks/purefa/config_models/defaults.py
  purefa/datadog_checks/purefa/config_models/instance.py
  purefa/datadog_checks/purefa/config_models/shared.py
  purefb/datadog_checks/purefb/config_models/__init__.py
  purefb/datadog_checks/purefb/config_models/defaults.py
  purefb/datadog_checks/purefb/config_models/instance.py
  purefb/datadog_checks/purefb/config_models/shared.py
  syncthing/datadog_checks/syncthing/config_models/__init__.py
  syncthing/datadog_checks/syncthing/config_models/defaults.py
  syncthing/datadog_checks/syncthing/config_models/instance.py
  syncthing/datadog_checks/syncthing/config_models/shared.py
  trino/datadog_checks/trino/config_models/__init__.py
  trino/datadog_checks/trino/config_models/defaults.py
  trino/datadog_checks/trino/config_models/instance.py
  trino/datadog_checks/trino/config_models/shared.py
  trino/datadog_checks/trino/config_models/validators.py
Due: neo4j

feat: Replace images
  stormforge/README.md
  stormforge/images/sf_ui_01_application.jpg
  stormforge/images/sf_ui_01_application.png
  stormforge/images/sf_ui_02_configure.jpg
  stormforge/images/sf_ui_02_configure.png
  stormforge/manifest.json
Due: none

Remove Datadog licenses from config_models files (#1366)
  fluentbit/datadog_checks/fluentbit/config_models/__init__.py
  fluentbit/datadog_checks/fluentbit/config_models/defaults.py
  fluentbit/datadog_checks/fluentbit/config_models/instance.py
  fluentbit/datadog_checks/fluentbit/config_models/shared.py
  gitea/datadog_checks/gitea/config_models/__init__.py
  gitea/datadog_checks/gitea/config_models/defaults.py
  gitea/datadog_checks/gitea/config_models/instance.py
  gitea/datadog_checks/gitea/config_models/shared.py
  neo4j/datadog_checks/neo4j/config_models/__init__.py
  neo4j/datadog_checks/neo4j/config_models/defaults.py
  neo4j/datadog_checks/neo4j/config_models/instance.py
  nn_sdwan/datadog_checks/nn_sdwan/config_models/__init__.py
  nn_sdwan/datadog_checks/nn_sdwan/config_models/defaults.py
  nn_sdwan/datadog_checks/nn_sdwan/config_models/instance.py
  nn_sdwan/datadog_checks/nn_sdwan/config_models/shared.py
  nn_sdwan/datadog_checks/nn_sdwan/config_models/validators.py
  purefa/datadog_checks/purefa/config_models/__init__.py
  purefa/datadog_checks/purefa/config_models/defaults.py
  purefa/datadog_checks/purefa/config_models/instance.py
  purefa/datadog_checks/purefa/config_models/shared.py
  purefb/datadog_checks/purefb/config_models/__init__.py
  purefb/datadog_checks/purefb/config_models/defaults.py
  purefb/datadog_checks/purefb/config_models/instance.py
  purefb/datadog_checks/purefb/config_models/shared.py
  syncthing/datadog_checks/syncthing/config_models/__init__.py
  syncthing/datadog_checks/syncthing/config_models/defaults.py
  syncthing/datadog_checks/syncthing/config_models/instance.py
  syncthing/datadog_checks/syncthing/config_models/shared.py
  trino/datadog_checks/trino/config_models/__init__.py
  trino/datadog_checks/trino/config_models/defaults.py
  trino/datadog_checks/trino/config_models/instance.py
  trino/datadog_checks/trino/config_models/shared.py
  trino/datadog_checks/trino/config_models/validators.py
Due: neo4j

Add GPU temperature
  nvml/CHANGELOG.md
  nvml/datadog_checks/nvml/nvml.py
  nvml/metadata.csv
  nvml/tests/test_nvml.py
Due: nvml

Including fiddler-client==1.0.6
  fiddler/pyproject.toml
Due: none

Creating requirements.in
  fiddler/pyproject.toml
  fiddler/requirements.in
Due: none

Add GPU temperature (#1368)
  nvml/CHANGELOG.md
  nvml/datadog_checks/nvml/nvml.py
  nvml/metadata.csv
  nvml/tests/test_nvml.py
Due: nvml

fix classifier tags
  stormforge/manifest.json
Due: none

Add support for StormForge (#1338)
  .github/CODEOWNERS
  stormforge/CHANGELOG.md
  stormforge/README.md
  stormforge/assets/dashboards/stormforge_overview.json
  stormforge/assets/logos/stormforge-icon_black.svg
  stormforge/assets/logos/stormforge-icon_white.svg
  stormforge/assets/logos/stormforge-logo_black.svg
  stormforge/assets/logos/stormforge-logo_secondary_black.svg
  stormforge/assets/logos/stormforge-logo_secondary_white.svg
  stormforge/assets/logos/stormforge-logo_white.svg
  stormforge/assets/service_checks.json
  stormforge/images/.gitkeep
  stormforge/images/sf_ui_01_application.jpg
  stormforge/images/sf_ui_02_configure.jpg
  stormforge/manifest.json
  stormforge/metadata.csv
Due: none

Update uuid
  rum_javascript/manifest.json
Due: none

Update uuid
  rum_react_native/manifest.json
Due: none

Update nvml integration version
  nvml/CHANGELOG.md
  nvml/datadog_checks/nvml/__about__.py
Due: nvml

Update nvml integration version (#1369)
  nvml/CHANGELOG.md
  nvml/datadog_checks/nvml/__about__.py
Due: nvml

[Release] Update metadata
  .in-toto/tag.9bb10b65.link
Due: none

Adding date to Firefly's changelog
  firefly/CHANGELOG.md
Due: none

Add kube pod tags to nvml
  nvml/datadog_checks/nvml/nvml.py
  nvml/requirements.in
Due: nvml

Path conditions:
  aqua: any of: aqua/datadog_checks/aqua, aqua/tests
  argo_cd: any of: argo_cd/datadog_checks/argo_cd, argo_cd/tests
  aws_pricing: any of: aws_pricing/datadog_checks/aws_pricing, aws_pricing/tests
  bind9: any of: bind9/datadog_checks/bind9, bind9/tests
  calico: any of: calico/datadog_checks/calico, calico/tests
  cert_manager: any of: cert_manager/datadog_checks/cert_manager, cert_manager/tests
  cloudsmith: any of: cloudsmith/datadog_checks/cloudsmith, cloudsmith/tests
  cyral: any of: cyral/datadog_checks/cyral, cyral/tests
  eventstore: any of: eventstore/datadog_checks/eventstore, eventstore/tests
  filebeat: any of: filebeat/datadog_checks/filebeat, filebeat/tests
  gatekeeper: any of: gatekeeper/datadog_checks/gatekeeper, gatekeeper/tests
  gnatsd: any of: gnatsd/datadog_checks/gnatsd, gnatsd/tests
  gnatsd_streaming: any of: gnatsd_streaming/datadog_checks/gnatsd_streaming, gnatsd_streaming/tests
  jfrog_platform: any of: jfrog_platform/datadog_checks/jfrog_platform, jfrog_platform/tests
  kernelcare: any of: kernelcare/datadog_checks/kernelcare, kernelcare/tests
  lighthouse: any of: lighthouse/datadog_checks/lighthouse, lighthouse/tests
  logstash: any of: logstash/datadog_checks/logstash, logstash/tests
  neo4j: any of: neo4j/datadog_checks/neo4j, neo4j/tests
  neutrona: any of: neutrona/datadog_checks/neutrona, neutrona/tests
  nextcloud: any of: nextcloud/datadog_checks/nextcloud, nextcloud/tests
  ns1: any of: ns1/datadog_checks/ns1, ns1/tests
  nvml: any of: nvml/datadog_checks/nvml, nvml/tests
  octoprint: any of: octoprint/datadog_checks/octoprint, octoprint/tests
  open_policy_agent: any of: open_policy_agent/datadog_checks/open_policy_agent, open_policy_agent/tests
  php_apcu: any of: php_apcu/datadog_checks/php_apcu, php_apcu/tests
  php_opcache: any of: php_opcache/datadog_checks/php_opcache, php_opcache/tests
  pihole: any of: pihole/datadog_checks/pihole, pihole/tests
  ping: any of: ping/datadog_checks/ping, ping/tests
  portworx: any of: portworx/datadog_checks/portworx, portworx/tests
  pulsar: any of: pulsar/datadog_checks/pulsar, pulsar/tests
  puma: any of: puma/datadog_checks/puma, puma/tests
  reboot_required: any of: reboot_required/datadog_checks/reboot_required, reboot_required/tests
  redis_sentinel: any of: redis_sentinel/datadog_checks/redis_sentinel, redis_sentinel/tests
  redisenterprise: any of: redisenterprise/datadog_checks/redisenterprise, redisenterprise/tests
  riak_repl: any of: riak_repl/datadog_checks/riak_repl, riak_repl/tests
  sendmail: any of: sendmail/datadog_checks/sendmail, sendmail/tests
  snmpwalk: any of: snmpwalk/datadog_checks/snmpwalk, snmpwalk/tests
  sortdb: any of: sortdb/datadog_checks/sortdb, sortdb/tests
  speedtest: any of: speedtest/datadog_checks/speedtest, speedtest/tests
  stardog: any of: stardog/datadog_checks/stardog, stardog/tests
  storm: any of: storm/datadog_checks/storm, storm/tests
  tidb: any of: tidb/datadog_checks/tidb, tidb/tests
  traefik: any of: traefik/datadog_checks/traefik, traefik/tests
  unbound: any of: unbound/datadog_checks/unbound, unbound/tests
  upsc: any of: upsc/datadog_checks/upsc, upsc/tests
  vespa: any of: vespa/datadog_checks/vespa, vespa/tests
  zabbix: any of: zabbix/datadog_checks/zabbix, zabbix/tests
