Repository DataDog/integrations-extras: changes, and which Codecov flags are due for each by the changed paths.
All: aqua, aws_pricing, bind9, cert_manager, cfssl, cloudsmith, cyral, eventstore, exim, filebeat, fluentbit, fluxcd, gatekeeper, gitea, gnatsd, gnatsd_streaming, grpc_check, jfrog_platform, kernelcare, lighthouse, logstash, neo4j, neutrona, nextcloud, nn_sdwan, ns1, nvml, octoprint, open_policy_agent, php_apcu, php_opcache, pihole, ping, portworx, puma, purefa, purefb, reboot_required, redis_sentinel, redisenterprise, redpanda, riak_repl, sendmail, snmpwalk, sortdb, speedtest, stardog, storm, syncthing, tidb, traefik, trino, unbound, unifi_console, upsc, vespa, zabbix

Removes agent log collection section (#1583)
  jfrog_platform/README.md
Due: none

[Release] Update metadata
  .in-toto/tag.16298ddf.link
Due: none

grpc_check: Fix timeout default value (#1601)
  grpc_check/CHANGELOG.md
  grpc_check/README.md
  grpc_check/datadog_checks/grpc_check/__about__.py
  grpc_check/datadog_checks/grpc_check/check.py
  grpc_check/datadog_checks/grpc_check/data/conf.yaml.example
  grpc_check/tests/test_grpc_check.py
Due: grpc_check

Add support for Filebeat file registry post version 7.x (#1550)
  filebeat/datadog_checks/filebeat/data/conf.yaml.example
  filebeat/datadog_checks/filebeat/filebeat.py
  filebeat/tests/fixtures/malformed_json_registry.json
  filebeat/tests/fixtures/new_style_json_registry.json
  filebeat/tests/test_filebeat.py
Due: filebeat

Orphan lighthouse integration (#1588)
  .github/CODEOWNERS
Due: none

Mark redis_sentinel as orphan (#1589)
  .github/CODEOWNERS
Due: none

change code fence (#1575)
  zenduty/README.md
Due: none

Update overview.json (#1591)
  tidb_cloud/assets/dashboards/overview.json
Due: none

Remove stale bot config (#1571)
  .github/stale.yml
Due: none

Validate the manifest file before the dashboards in the CI (#1602)
  .github/workflows/validations.yaml
Due: none

Updating uninstallation instructions for LambdaTest (#1599)
  lambdatest/README.md
Due: none

[Release] Bump zabbix version to 1.1.1 (#1593)
  zabbix/CHANGELOG.md
  zabbix/datadog_checks/zabbix/__about__.py
  zabbix/datadog_checks/zabbix/data/conf.yaml.example
Due: zabbix

Remove the integration (#1603)
  .github/CODEOWNERS
  cert_manager/CHANGELOG.md
  cert_manager/README.md
  cert_manager/datadog_checks/__init__.py
  cert_manager/datadog_checks/cert_manager/__about__.py
  cert_manager/datadog_checks/cert_manager/__init__.py
  cert_manager/datadog_checks/cert_manager/cert_manager.py
  cert_manager/datadog_checks/cert_manager/data/auto_conf.yaml
  cert_manager/datadog_checks/cert_manager/data/conf.yaml.example
  cert_manager/datadog_checks/cert_manager/metrics.py
  cert_manager/pyproject.toml
  cert_manager/setup.py
Due: cert_manager

[Release] Bump filebeat version to 1.3.0 (#1592)
  filebeat/CHANGELOG.md
  filebeat/datadog_checks/filebeat/__about__.py
  filebeat/datadog_checks/filebeat/data/conf.yaml.example
Due: filebeat

Updating uninstallation instructions for Vantage (#1600)
  vantage/README.md
Due: none

Fix `Comment PR on failure` job (#1573)
  .github/workflows/validations.yaml
Due: none

[nvml] add `compute_running_process` (processes running in gpu) (#1580)
  nvml/CHANGELOG.md
  nvml/datadog_checks/nvml/__about__.py
  nvml/datadog_checks/nvml/data/conf.yaml.example
  nvml/datadog_checks/nvml/nvml.py
  nvml/metadata.csv
  nvml/tests/test_nvml.py
Due: nvml

Improve gatekeeper dashboard (#1565)
  gatekeeper/assets/dashboards/gatekeeper_overview.json
  gatekeeper/datadog_checks/gatekeeper/data/auto_conf.yaml
  gatekeeper/datadog_checks/gatekeeper/data/conf.yaml.example
  gatekeeper/images/gatekeeper_dashboard.png
Due: gatekeeper

OAuth configuration steps updated (#1582)
  lambdatest/README.md
Due: none

add back link that was accidentally removed (#1584)
  lambdatest/README.md
Due: none

Add integration for collecting Go profiles (#1541)
  .azure-pipelines/all.yml
  .codecov.yml
  .github/CODEOWNERS
  go_pprof_scraper/CHANGELOG.md
  go_pprof_scraper/README.md
  go_pprof_scraper/assets/configuration/spec.yaml
  go_pprof_scraper/assets/dashboards/go_pprof_scraper_overview.json
  go_pprof_scraper/assets/service_checks.json
  go_pprof_scraper/datadog_checks/__init__.py
  go_pprof_scraper/datadog_checks/go_pprof_scraper/__about__.py
  go_pprof_scraper/datadog_checks/go_pprof_scraper/__init__.py
  go_pprof_scraper/datadog_checks/go_pprof_scraper/check.py
  go_pprof_scraper/datadog_checks/go_pprof_scraper/config_models/__init__.py
  go_pprof_scraper/datadog_checks/go_pprof_scraper/config_models/defaults.py
  go_pprof_scraper/datadog_checks/go_pprof_scraper/config_models/instance.py
  go_pprof_scraper/datadog_checks/go_pprof_scraper/config_models/shared.py
  go_pprof_scraper/datadog_checks/go_pprof_scraper/config_models/validators.py
  go_pprof_scraper/datadog_checks/go_pprof_scraper/data/conf.yaml.example
  go_pprof_scraper/images/.gitkeep
  go_pprof_scraper/manifest.json
  go_pprof_scraper/pyproject.toml
  go_pprof_scraper/requirements-dev.txt
  go_pprof_scraper/setup.py
  go_pprof_scraper/tests/__init__.py
  go_pprof_scraper/tests/conftest.py
  go_pprof_scraper/tests/docker/Dockerfile.mock-backend
  go_pprof_scraper/tests/docker/Dockerfile.pprof-server
  go_pprof_scraper/tests/docker/docker-compose.yml
  go_pprof_scraper/tests/docker/mock_backend.go
  go_pprof_scraper/tests/docker/pprof.go
  go_pprof_scraper/tests/test_go_pprof_scraper.py
  go_pprof_scraper/tox.ini
Due: none

Use Hatch to manage environments (#1688)
  zabbix/hatch.toml
  zabbix/pyproject.toml
  zabbix/requirements-dev.txt
  zabbix/tox.ini
Due: none

Update wording of Zenduty's readme (#1616)
  zenduty/README.md
Due: none

Update Fairwinds Insights directory name to be globally unique (#1621)
  .github/CODEOWNERS
  fairwinds_insights_ui/CHANGELOG.md
  fairwinds_insights_ui/README.md
  fairwinds_insights_ui/images/.gitkeep
  fairwinds_insights_ui/images/Datadog UI App.png
  fairwinds_insights_ui/manifest.json
Due: none

Scalr datadog integration (#1605)
  .azure-pipelines/all.yml
  .codecov.yml
  .github/CODEOWNERS
  scalr/CHANGELOG.md
  scalr/README.md
  scalr/assets/configuration/spec.yaml
  scalr/assets/dashboards/scalr_overview.json
  scalr/assets/logos/icon.svg
  scalr/assets/logos/logo.svg
  scalr/assets/service_checks.json
  scalr/datadog_checks/__init__.py
  scalr/datadog_checks/scalr/__about__.py
  scalr/datadog_checks/scalr/__init__.py
  scalr/datadog_checks/scalr/check.py
  scalr/datadog_checks/scalr/config_models/__init__.py
  scalr/datadog_checks/scalr/config_models/defaults.py
  scalr/datadog_checks/scalr/config_models/instance.py
  scalr/datadog_checks/scalr/config_models/shared.py
  scalr/datadog_checks/scalr/config_models/validators.py
  scalr/datadog_checks/scalr/data/conf.yaml.example
  scalr/images/scalr_dashboard.png
  scalr/manifest.json
  scalr/metadata.csv
  scalr/pyproject.toml
  scalr/requirements-dev.txt
  scalr/setup.py
  scalr/tests/__init__.py
  scalr/tests/conftest.py
  scalr/tests/test_scalr.py
  scalr/tox.ini
Due: none

Remove dashboards that aren't registered in manifest (#1617)
  alertnow/assets/dashboards/alertnow_overview.json
  backstage/assets/dashboards/backstage_overview.json
  cortex/assets/dashboards/cortex_overview.json
  docontrol/assets/dashboards/docontrol_overview.json
  exim/assets/dashboards/exim_overview.json
  fluentbit/assets/dashboards/fluent_bit_overview.json
  fluxcd/assets/dashboards/fluxcd_overview.json
  go_pprof_scraper/assets/dashboards/go_pprof_scraper_overview.json
  grpc_check/assets/dashboards/grpc_check_overview.json
  hikaricp/assets/dashboards/hikaricp_overview.json
  lightstep_incident_response/assets/dashboards/lightstep_incident_response_overview.json
  n2ws/assets/dashboards/N2WSBackup&Recovery-EntitiesSpecificDashboard.json
  n2ws/assets/dashboards/N2WSBackup&Recovery-Graphicalversion-areas.json
  n2ws/assets/dashboards/N2WSBackup&Recovery-Graphicalversion.json
  n2ws/assets/dashboards/N2WSBackup&RecoveryV4.0-BackupSuccessRates(ColumnGraphs).json
  n2ws/assets/dashboards/N2WSBackup&RecoveryV4.0-EntityTypesDetails.json
  unifi_console/assets/dashboards/unifi_console_overview.json
  zabbix/assets/dashboards/zabbix_overview.json
Due: none

fix non-ASCII characters in README.md (#1614)
  finout/README.md
Due: none

Update Hasura Cloud integration with traces (#1615)
  hasura_cloud/CHANGELOG.md
  hasura_cloud/README.md
Due: none

Release the integration (#1618)
  go_pprof_scraper/CHANGELOG.md
  go_pprof_scraper/datadog_checks/go_pprof_scraper/__about__.py
Due: none

Minor fixes (#1612)
  go_pprof_scraper/pyproject.toml
  go_pprof_scraper/requirements-dev.txt
Due: none

Update the paths to dashboards to be under the 'assets' folder (#1619)
  launchdarkly/assets/dashboards/launchdarkly.json
  launchdarkly/manifest.json
  purefa/assets/dashboards/purefa_overview.json
  purefa/manifest.json
  purefb/assets/dashboards/purefb_overview.json
  purefb/manifest.json
Due: none

Adaptive Shield integration init (#1578)
  .github/CODEOWNERS
  adaptive_shield/CHANGELOG.md
  adaptive_shield/README.md
  adaptive_shield/assets/adaptive_shield_logo_on_dark.svg
  adaptive_shield/assets/adaptive_shield_logo_on_light.svg
  adaptive_shield/assets/dashboards/adaptive_shield_overview.json
  adaptive_shield/assets/service_checks.json
  adaptive_shield/images/posture.png
  adaptive_shield/images/security_checks.png
  adaptive_shield/manifest.json
Due: none

Path conditions:
  aqua: any of: aqua/datadog_checks/aqua, aqua/tests
  aws_pricing: any of: aws_pricing/datadog_checks/aws_pricing, aws_pricing/tests
  bind9: any of: bind9/datadog_checks/bind9, bind9/tests
  cert_manager: any of: cert_manager/datadog_checks/cert_manager, cert_manager/tests
  cfssl: any of: cfssl/datadog_checks/cfssl, cfssl/tests
  cloudsmith: any of: cloudsmith/datadog_checks/cloudsmith, cloudsmith/tests
  cyral: any of: cyral/datadog_checks/cyral, cyral/tests
  eventstore: any of: eventstore/datadog_checks/eventstore, eventstore/tests
  exim: any of: exim/datadog_checks/exim, exim/tests
  filebeat: any of: filebeat/datadog_checks/filebeat, filebeat/tests
  fluentbit: any of: fluentbit/datadog_checks/fluentbit, fluentbit/tests
  fluxcd: any of: fluxcd/datadog_checks/fluxcd, fluxcd/tests
  gatekeeper: any of: gatekeeper/datadog_checks/gatekeeper, gatekeeper/tests
  gitea: any of: gitea/datadog_checks/gitea, gitea/tests
  gnatsd: any of: gnatsd/datadog_checks/gnatsd, gnatsd/tests
  gnatsd_streaming: any of: gnatsd_streaming/datadog_checks/gnatsd_streaming, gnatsd_streaming/tests
  grpc_check: any of: grpc_check/datadog_checks/grpc_check, grpc_check/tests
  jfrog_platform: any of: jfrog_platform/datadog_checks/jfrog_platform, jfrog_platform/tests
  kernelcare: any of: kernelcare/datadog_checks/kernelcare, kernelcare/tests
  lighthouse: any of: lighthouse/datadog_checks/lighthouse, lighthouse/tests
  logstash: any of: logstash/datadog_checks/logstash, logstash/tests
  neo4j: any of: neo4j/datadog_checks/neo4j, neo4j/tests
  neutrona: any of: neutrona/datadog_checks/neutrona, neutrona/tests
  nextcloud: any of: nextcloud/datadog_checks/nextcloud, nextcloud/tests
  nn_sdwan: any of: nn_sdwan/datadog_checks/nn_sdwan, nn_sdwan/tests
  ns1: any of: ns1/datadog_checks/ns1, ns1/tests
  nvml: any of: nvml/datadog_checks/nvml, nvml/tests
  octoprint: any of: octoprint/datadog_checks/octoprint, octoprint/tests
  open_policy_agent: any of: open_policy_agent/datadog_checks/open_policy_agent, open_policy_agent/tests
  php_apcu: any of: php_apcu/datadog_checks/php_apcu, php_apcu/tests
  php_opcache: any of: php_opcache/datadog_checks/php_opcache, php_opcache/tests
  pihole: any of: pihole/datadog_checks/pihole, pihole/tests
  ping: any of: ping/datadog_checks/ping, ping/tests
  portworx: any of: portworx/datadog_checks/portworx, portworx/tests
  puma: any of: puma/datadog_checks/puma, puma/tests
  purefa: any of: purefa/datadog_checks/purefa, purefa/tests
  purefb: any of: purefb/datadog_checks/purefb, purefb/tests
  reboot_required: any of: reboot_required/datadog_checks/reboot_required, reboot_required/tests
  redis_sentinel: any of: redis_sentinel/datadog_checks/redis_sentinel, redis_sentinel/tests
  redisenterprise: any of: redisenterprise/datadog_checks/redisenterprise, redisenterprise/tests
  redpanda: any of: redpanda/datadog_checks/redpanda, redpanda/tests
  riak_repl: any of: riak_repl/datadog_checks/riak_repl, riak_repl/tests
  sendmail: any of: sendmail/datadog_checks/sendmail, sendmail/tests
  snmpwalk: any of: snmpwalk/datadog_checks/snmpwalk, snmpwalk/tests
  sortdb: any of: sortdb/datadog_checks/sortdb, sortdb/tests
  speedtest: any of: speedtest/datadog_checks/speedtest, speedtest/tests
  stardog: any of: stardog/datadog_checks/stardog, stardog/tests
  storm: any of: storm/datadog_checks/storm, storm/tests
  syncthing: any of: syncthing/datadog_checks/syncthing, syncthing/tests
  tidb: any of: tidb/datadog_checks/tidb, tidb/tests
  traefik: any of: traefik/datadog_checks/traefik, traefik/tests
  trino: any of: trino/datadog_checks/trino, trino/tests
  unbound: any of: unbound/datadog_checks/unbound, unbound/tests
  unifi_console: any of: unifi_console/datadog_checks/unifi_console, unifi_console/tests
  upsc: any of: upsc/datadog_checks/upsc, upsc/tests
  vespa: any of: vespa/datadog_checks/vespa, vespa/tests
  zabbix: any of: zabbix/datadog_checks/zabbix, zabbix/tests
