Repository DataDog/integrations-extras: changes, and which Codecov flags are due for each by the changed paths.
All: aqua, aws_pricing, bind9, cert_manager, cfssl, cloudsmith, cyral, eventstore, exim, filebeat, fluentbit, fluxcd, gatekeeper, gitea, gnatsd, gnatsd_streaming, grpc_check, jfrog_platform, kernelcare, lighthouse, logstash, neo4j, neutrona, nextcloud, nn_sdwan, ns1, nvml, octoprint, open_policy_agent, php_apcu, php_opcache, pihole, ping, portworx, puma, purefa, purefb, reboot_required, redis_sentinel, redisenterprise, redpanda, riak_repl, sendmail, snmpwalk, sortdb, speedtest, stardog, storm, syncthing, tidb, traefik, trino, unbound, unifi_console, upsc, vespa, zabbix

Path conditions:
  aqua: any of: aqua/datadog_checks/aqua, aqua/tests
  aws_pricing: any of: aws_pricing/datadog_checks/aws_pricing, aws_pricing/tests
  bind9: any of: bind9/datadog_checks/bind9, bind9/tests
  cert_manager: any of: cert_manager/datadog_checks/cert_manager, cert_manager/tests
  cfssl: any of: cfssl/datadog_checks/cfssl, cfssl/tests
  cloudsmith: any of: cloudsmith/datadog_checks/cloudsmith, cloudsmith/tests
  cyral: any of: cyral/datadog_checks/cyral, cyral/tests
  eventstore: any of: eventstore/datadog_checks/eventstore, eventstore/tests
  exim: any of: exim/datadog_checks/exim, exim/tests
  filebeat: any of: filebeat/datadog_checks/filebeat, filebeat/tests
  fluentbit: any of: fluentbit/datadog_checks/fluentbit, fluentbit/tests
  fluxcd: any of: fluxcd/datadog_checks/fluxcd, fluxcd/tests
  gatekeeper: any of: gatekeeper/datadog_checks/gatekeeper, gatekeeper/tests
  gitea: any of: gitea/datadog_checks/gitea, gitea/tests
  gnatsd: any of: gnatsd/datadog_checks/gnatsd, gnatsd/tests
  gnatsd_streaming: any of: gnatsd_streaming/datadog_checks/gnatsd_streaming, gnatsd_streaming/tests
  grpc_check: any of: grpc_check/datadog_checks/grpc_check, grpc_check/tests
  jfrog_platform: any of: jfrog_platform/datadog_checks/jfrog_platform, jfrog_platform/tests
  kernelcare: any of: kernelcare/datadog_checks/kernelcare, kernelcare/tests
  lighthouse: any of: lighthouse/datadog_checks/lighthouse, lighthouse/tests
  logstash: any of: logstash/datadog_checks/logstash, logstash/tests
  neo4j: any of: neo4j/datadog_checks/neo4j, neo4j/tests
  neutrona: any of: neutrona/datadog_checks/neutrona, neutrona/tests
  nextcloud: any of: nextcloud/datadog_checks/nextcloud, nextcloud/tests
  nn_sdwan: any of: nn_sdwan/datadog_checks/nn_sdwan, nn_sdwan/tests
  ns1: any of: ns1/datadog_checks/ns1, ns1/tests
  nvml: any of: nvml/datadog_checks/nvml, nvml/tests
  octoprint: any of: octoprint/datadog_checks/octoprint, octoprint/tests
  open_policy_agent: any of: open_policy_agent/datadog_checks/open_policy_agent, open_policy_agent/tests
  php_apcu: any of: php_apcu/datadog_checks/php_apcu, php_apcu/tests
  php_opcache: any of: php_opcache/datadog_checks/php_opcache, php_opcache/tests
  pihole: any of: pihole/datadog_checks/pihole, pihole/tests
  ping: any of: ping/datadog_checks/ping, ping/tests
  portworx: any of: portworx/datadog_checks/portworx, portworx/tests
  puma: any of: puma/datadog_checks/puma, puma/tests
  purefa: any of: purefa/datadog_checks/purefa, purefa/tests
  purefb: any of: purefb/datadog_checks/purefb, purefb/tests
  reboot_required: any of: reboot_required/datadog_checks/reboot_required, reboot_required/tests
  redis_sentinel: any of: redis_sentinel/datadog_checks/redis_sentinel, redis_sentinel/tests
  redisenterprise: any of: redisenterprise/datadog_checks/redisenterprise, redisenterprise/tests
  redpanda: any of: redpanda/datadog_checks/redpanda, redpanda/tests
  riak_repl: any of: riak_repl/datadog_checks/riak_repl, riak_repl/tests
  sendmail: any of: sendmail/datadog_checks/sendmail, sendmail/tests
  snmpwalk: any of: snmpwalk/datadog_checks/snmpwalk, snmpwalk/tests
  sortdb: any of: sortdb/datadog_checks/sortdb, sortdb/tests
  speedtest: any of: speedtest/datadog_checks/speedtest, speedtest/tests
  stardog: any of: stardog/datadog_checks/stardog, stardog/tests
  storm: any of: storm/datadog_checks/storm, storm/tests
  syncthing: any of: syncthing/datadog_checks/syncthing, syncthing/tests
  tidb: any of: tidb/datadog_checks/tidb, tidb/tests
  traefik: any of: traefik/datadog_checks/traefik, traefik/tests
  trino: any of: trino/datadog_checks/trino, trino/tests
  unbound: any of: unbound/datadog_checks/unbound, unbound/tests
  unifi_console: any of: unifi_console/datadog_checks/unifi_console, unifi_console/tests
  upsc: any of: upsc/datadog_checks/upsc, upsc/tests
  vespa: any of: vespa/datadog_checks/vespa, vespa/tests
  zabbix: any of: zabbix/datadog_checks/zabbix, zabbix/tests

remove unused reference in readme
  twingate/README.md
Due: none

Update display names (#1844)
  .ddev/config.toml
  .github/workflows/test-all.yml
Due: none

Remove redundant instances
  neo4j/tests/conftest.py
  neo4j/tests/test_neo4j5.py
Due: neo4j

Remove tags from buoyant_cloud_overview integration dashboard
  buoyant_cloud/assets/dashboards/buoyant_cloud_overview.json
Due: none

[APW] Remove `tags` field from the `buoyant_cloud_overview` dashboard json (#1845)
  buoyant_cloud/assets/dashboards/buoyant_cloud_overview.json
Due: none

Update Mendix logo (#1838)
  mendix/assets/logos/mendix_dark.svg
  mendix/assets/logos/mendix_light.svg
Due: none

DOCS-5319
  convox/README.md
  convox/images/setting_environment_variables.png
Due: none

Remove Classifier Tag
  rum_roku/manifest.json
Due: none

Comma Nit
  rum_roku/manifest.json
Due: none

Manifest Cleanup
  rum_roku/manifest.json
Due: none

sofy integration change log
  sofy_sofy/CHANGELOG.md
Due: none

tags removed
  sofy_sofy/assets/dashboards/sofy_sofy_overview.json
Due: none

Update GDS metrics for 2.3.16+20
  neo4j/datadog_checks/neo4j/neo4j.py
Due: neo4j

Updates based on comments
  flagsmith/manifest.json
Due: none

Updates based on comments
  .github/CODEOWNERS
  flagsmith-rum/manifest.json
Due: none

RUMM-3242 add Roku integration tile (#1840)
  .github/CODEOWNERS
  rum_roku/CHANGELOG.md
  rum_roku/README.md
  rum_roku/assets/service_checks.json
  rum_roku/manifest.json
Due: none

Removed callout. Reordered footnotes
  flagsmith-rum/README.md
Due: none

Fixed Changelog Date
  neo4j/CHANGELOG.md
  neo4j/datadog_checks/neo4j/__about__.py
Due: neo4j

datdadog integration to sofy (#1797)
  .github/CODEOWNERS
  sofy_sofy/CHANGELOG.md
  sofy_sofy/README.md
  sofy_sofy/assets/dashboards/sofy_sofy_overview.json
  sofy_sofy/assets/logos/sofy-logo.svg
  sofy_sofy/assets/service_checks.json
  sofy_sofy/images/datadog_connect.png
  sofy_sofy/images/datadog_metrics.png
  sofy_sofy/images/datadog_monitoring.png
  sofy_sofy/images/datadog_testperform.png
  sofy_sofy/manifest.json
  sofy_sofy/metadata.csv
Due: none

Added Newline at end of file
  neo4j/datadog_checks/neo4j/__about__.py
Due: neo4j

cybersixgill actionable alerts
  cybersixgill_actionable_alerts/README.md
  cybersixgill_actionable_alerts/datadog_checks/cybersixgill_actionable_alerts/check.py
Due: none

Rework Neo4j Tests
  neo4j/hatch.toml
  neo4j/tests/common.py
  neo4j/tests/conftest.py
  neo4j/tests/docker/neo4j4/docker-compose.yaml
  neo4j/tests/docker/neo4j5/docker-compose.yaml
  neo4j/tests/test_neo4j.py
  neo4j/tests/test_neo4j5.py
Due: neo4j

adds a DevCycle tile
  .github/CODEOWNERS
  devcycle/CHANGELOG.md
  devcycle/README.md
  devcycle/images/IMAGES_README.md
  devcycle/manifest.json
Due: none

feat(mergify): Add time_to_merge and queue_checks_outcome metrics
  mergify/CHANGELOG.md
  mergify/datadog_checks/mergify/__about__.py
  mergify/datadog_checks/mergify/check.py
  mergify/metadata.csv
  mergify/tests/fixtures/queue_checks_outcome_main.json
  mergify/tests/fixtures/time_to_merge_main.json
  mergify/tests/test_mergify.py
Due: none

feat(mergify): Add time_to_merge and queue_checks_outcome metrics (#1847)
  mergify/CHANGELOG.md
  mergify/datadog_checks/mergify/__about__.py
  mergify/datadog_checks/mergify/check.py
  mergify/metadata.csv
  mergify/tests/fixtures/queue_checks_outcome_main.json
  mergify/tests/fixtures/time_to_merge_main.json
  mergify/tests/test_mergify.py
Due: none

[Release] Update metadata
  .in-toto/tag.637a8532.link
Due: none

(DOCS-5505) Replace broken developer tool links in READMEs
  fluentbit/README.md
  fluxcd/README.md
  gatekeeper/README.md
  grpc_check/README.md
  hikaricp/README.md
  octoprint/README.md
  open_policy_agent/README.md
  php_opcache/README.md
  unifi_console/README.md
Due: none

Fix conf files
  fluentbit/datadog_checks/fluentbit/data/conf.yaml.example
  hikaricp/datadog_checks/hikaricp/data/conf.yaml.example
Due: fluentbit

Doc Edit
  stardog/README.md
  stardog/metadata.csv
Due: none

Link Checker
  stardog/metadata.csv
Due: none

More Fixes
  stardog/metadata.csv
Due: none

initial commit
  statuscake/CHANGELOG.md
  statuscake/README.md
  statuscake/assets/configuration/spec.yaml
  statuscake/assets/dashboards/statuscake_overview.json
  statuscake/assets/service_checks.json
  statuscake/datadog_checks/__init__.py
  statuscake/datadog_checks/statuscake/__about__.py
  statuscake/datadog_checks/statuscake/__init__.py
  statuscake/datadog_checks/statuscake/check.py
  statuscake/datadog_checks/statuscake/config_models/__init__.py
  statuscake/datadog_checks/statuscake/config_models/defaults.py
  statuscake/datadog_checks/statuscake/config_models/instance.py
  statuscake/datadog_checks/statuscake/config_models/shared.py
  statuscake/datadog_checks/statuscake/config_models/validators.py
  statuscake/datadog_checks/statuscake/data/conf.yaml.example
  statuscake/hatch.toml
  statuscake/images/IMAGES_README.md
  statuscake/manifest.json
  statuscake/metadata.csv
  statuscake/pyproject.toml
  statuscake/setup.py
  statuscake/tests/__init__.py
  statuscake/tests/conftest.py
  statuscake/tests/test_statuscake.py
Due: none

Update README.md
  launchdarkly/README.md
Due: none

Instruction Nit
  convox/README.md
Due: none

Update CHANGELOG.md
  neo4j/CHANGELOG.md
Due: none

rename neo4j test to be more generic
  neo4j/tests/test_neo4j.py
Due: neo4j

Update conf.yaml.example
  neo4j/datadog_checks/neo4j/data/conf.yaml.example
Due: neo4j

Extra Line
  stardog/metadata.csv
Due: none

Stardog Integration Metric Edits (#1851)
  stardog/README.md
  stardog/metadata.csv
Due: none
