Repository DataDog/integrations-extras: changes, and which Codecov flags are due for each by the changed paths.
All: aqua, aws_pricing, bind9, cfssl, cloudnatix, cloudsmith, cybersixgill_actionable_alerts, cyral, emqx, eventstore, exim, fiddler, filebeat, filemage, fluentbit, gatekeeper, gitea, gnatsd, gnatsd_streaming, go_pprof_scraper, grpc_check, hikaricp, jfrog_platform_self_hosted, kernelcare, lighthouse, logstash, mergify, neo4j, neutrona, nextcloud, nn_sdwan, ns1, nvml, octoprint, open_policy_agent, php_apcu, php_opcache, pihole, ping, portworx, puma, purefa, purefb, radarr, reboot_required, redis_enterprise, redis_sentinel, redisenterprise, redpanda, riak_repl, robust_intelligence_ai_firewall, scalr, sendmail, snmpwalk, sonarr, sortdb, speedtest, stardog, storm, syncthing, tidb, traefik, trino, unbound, unifi_console, upbound_uxp, upsc, vespa, wayfinder, zabbix, zenoh_router

Path conditions:
  aqua: any of: aqua/datadog_checks/aqua, aqua/tests
  aws_pricing: any of: aws_pricing/datadog_checks/aws_pricing, aws_pricing/tests
  bind9: any of: bind9/datadog_checks/bind9, bind9/tests
  cfssl: any of: cfssl/datadog_checks/cfssl, cfssl/tests
  cloudnatix: any of: cloudnatix/datadog_checks/cloudnatix, cloudnatix/tests
  cloudsmith: any of: cloudsmith/datadog_checks/cloudsmith, cloudsmith/tests
  cybersixgill_actionable_alerts: any of: cybersixgill_actionable_alerts/datadog_checks/cybersixgill_actionable_alerts, cybersixgill_actionable_alerts/tests
  cyral: any of: cyral/datadog_checks/cyral, cyral/tests
  emqx: any of: emqx/datadog_checks/emqx, emqx/tests
  eventstore: any of: eventstore/datadog_checks/eventstore, eventstore/tests
  exim: any of: exim/datadog_checks/exim, exim/tests
  fiddler: any of: fiddler/datadog_checks/fiddler, fiddler/tests
  filebeat: any of: filebeat/datadog_checks/filebeat, filebeat/tests
  filemage: any of: filemage/datadog_checks/filemage, filemage/tests
  fluentbit: any of: fluentbit/datadog_checks/fluentbit, fluentbit/tests
  gatekeeper: any of: gatekeeper/datadog_checks/gatekeeper, gatekeeper/tests
  gitea: any of: gitea/datadog_checks/gitea, gitea/tests
  gnatsd: any of: gnatsd/datadog_checks/gnatsd, gnatsd/tests
  gnatsd_streaming: any of: gnatsd_streaming/datadog_checks/gnatsd_streaming, gnatsd_streaming/tests
  go_pprof_scraper: any of: go_pprof_scraper/datadog_checks/go_pprof_scraper, go_pprof_scraper/tests
  grpc_check: any of: grpc_check/datadog_checks/grpc_check, grpc_check/tests
  hikaricp: any of: hikaricp/datadog_checks/hikaricp, hikaricp/tests
  jfrog_platform_self_hosted: any of: jfrog_platform_self_hosted/datadog_checks/jfrog_platform_self_hosted, jfrog_platform_self_hosted/tests
  kernelcare: any of: kernelcare/datadog_checks/kernelcare, kernelcare/tests
  lighthouse: any of: lighthouse/datadog_checks/lighthouse, lighthouse/tests
  logstash: any of: logstash/datadog_checks/logstash, logstash/tests
  mergify: any of: mergify/datadog_checks/mergify, mergify/tests
  neo4j: any of: neo4j/datadog_checks/neo4j, neo4j/tests
  neutrona: any of: neutrona/datadog_checks/neutrona, neutrona/tests
  nextcloud: any of: nextcloud/datadog_checks/nextcloud, nextcloud/tests
  nn_sdwan: any of: nn_sdwan/datadog_checks/nn_sdwan, nn_sdwan/tests
  ns1: any of: ns1/datadog_checks/ns1, ns1/tests
  nvml: any of: nvml/datadog_checks/nvml, nvml/tests
  octoprint: any of: octoprint/datadog_checks/octoprint, octoprint/tests
  open_policy_agent: any of: open_policy_agent/datadog_checks/open_policy_agent, open_policy_agent/tests
  php_apcu: any of: php_apcu/datadog_checks/php_apcu, php_apcu/tests
  php_opcache: any of: php_opcache/datadog_checks/php_opcache, php_opcache/tests
  pihole: any of: pihole/datadog_checks/pihole, pihole/tests
  ping: any of: ping/datadog_checks/ping, ping/tests
  portworx: any of: portworx/datadog_checks/portworx, portworx/tests
  puma: any of: puma/datadog_checks/puma, puma/tests
  purefa: any of: purefa/datadog_checks/purefa, purefa/tests
  purefb: any of: purefb/datadog_checks/purefb, purefb/tests
  radarr: any of: radarr/datadog_checks/radarr, radarr/tests
  reboot_required: any of: reboot_required/datadog_checks/reboot_required, reboot_required/tests
  redis_enterprise: any of: redis_enterprise/datadog_checks/redis_enterprise, redis_enterprise/tests
  redis_sentinel: any of: redis_sentinel/datadog_checks/redis_sentinel, redis_sentinel/tests
  redisenterprise: any of: redisenterprise/datadog_checks/redisenterprise, redisenterprise/tests
  redpanda: any of: redpanda/datadog_checks/redpanda, redpanda/tests
  riak_repl: any of: riak_repl/datadog_checks/riak_repl, riak_repl/tests
  robust_intelligence_ai_firewall: any of: robust_intelligence_ai_firewall/datadog_checks/robust_intelligence_ai_firewall, robust_intelligence_ai_firewall/tests
  scalr: any of: scalr/datadog_checks/scalr, scalr/tests
  sendmail: any of: sendmail/datadog_checks/sendmail, sendmail/tests
  snmpwalk: any of: snmpwalk/datadog_checks/snmpwalk, snmpwalk/tests
  sonarr: any of: sonarr/datadog_checks/sonarr, sonarr/tests
  sortdb: any of: sortdb/datadog_checks/sortdb, sortdb/tests
  speedtest: any of: speedtest/datadog_checks/speedtest, speedtest/tests
  stardog: any of: stardog/datadog_checks/stardog, stardog/tests
  storm: any of: storm/datadog_checks/storm, storm/tests
  syncthing: any of: syncthing/datadog_checks/syncthing, syncthing/tests
  tidb: any of: tidb/datadog_checks/tidb, tidb/tests
  traefik: any of: traefik/datadog_checks/traefik, traefik/tests
  trino: any of: trino/datadog_checks/trino, trino/tests
  unbound: any of: unbound/datadog_checks/unbound, unbound/tests
  unifi_console: any of: unifi_console/datadog_checks/unifi_console, unifi_console/tests
  upbound_uxp: any of: upbound_uxp/datadog_checks/upbound_uxp, upbound_uxp/tests
  upsc: any of: upsc/datadog_checks/upsc, upsc/tests
  vespa: any of: vespa/datadog_checks/vespa, vespa/tests
  wayfinder: any of: wayfinder/datadog_checks/wayfinder, wayfinder/tests
  zabbix: any of: zabbix/datadog_checks/zabbix, zabbix/tests
  zenoh_router: any of: zenoh_router/datadog_checks/zenoh_router, zenoh_router/tests

ddev validate ci --sync
  .github/workflows/test-all.yml
Due: none

Release Zabbix (#2856)
  zabbix/CHANGELOG.md
  zabbix/datadog_checks/zabbix/__about__.py
Due: zabbix

[Release] Update metadata
  .in-toto/tag.8b238386.link
Due: none

ddev validate ci --sync (#2857)
  .github/workflows/test-all.yml
Due: none

Pin all actions for jobs in test-all.yml
  .github/workflows/test-all.yml
Due: none

Pin all actions for jobs in test-all.yml (#2843)
  .github/workflows/test-all.yml
Due: none

feat: New Qdrant metrics
  qdrant/CHANGELOG.md
  qdrant/README.md
  qdrant/datadog_checks/qdrant/__about__.py
  qdrant/datadog_checks/qdrant/config_models/instance.py
  qdrant/datadog_checks/qdrant/metrics.py
  qdrant/metadata.csv
  qdrant/tests/common.py
  qdrant/tests/data/metrics.txt
Due: none

docs: Fixed CHANGELOG.md
  qdrant/CHANGELOG.md
Due: none

Added requested changes
  pihole/CHANGELOG.md
  pihole/assets/configuration/spec.yaml
  pihole/datadog_checks/pihole/__about__.py
  pihole/datadog_checks/pihole/data/conf.yaml.example
  pihole/datadog_checks/pihole/pihole.py
Due: pihole

Update incorrect_ip_instance in conftest.py
  ping/tests/conftest.py
Due: ping

Update test_valid_check and test_valid_check_ipv6 to match new code
  ping/tests/test_ping.py
Due: ping

Update test_ping.py
  ping/tests/test_ping.py
Due: ping

Mark Exception case as Agent.UNKNOWN
  ping/datadog_checks/ping/ping.py
Due: ping

Update ping.py for Windows environment
  ping/datadog_checks/ping/ping.py
Due: ping

Update ping.py
  ping/datadog_checks/ping/ping.py
Due: ping

Adds two metrics to the warpstream integration.
  warpstream/metadata.csv
Due: none

Resolve formatting issues
  pihole/datadog_checks/pihole/pihole.py
Due: pihole

Bump version to 1.2.1 and add new Logstash flow metrics
  logstash/datadog_checks/logstash/__about__.py
  logstash/datadog_checks/logstash/logstash.py
Due: logstash

Remove unnecessary blank line in LogstashCheck class
  logstash/datadog_checks/logstash/logstash.py
Due: logstash

add logging based on PR feedback
  cloudsmith/README.md
  cloudsmith/datadog_checks/cloudsmith/check.py
Due: cloudsmith

Lint fix
  cloudsmith/datadog_checks/cloudsmith/check.py
Due: cloudsmith

requested changes made
  pihole/assets/configuration/spec.yaml
  pihole/datadog_checks/pihole/data/conf.yaml.example
Due: pihole

Update cockroachdb_dedicated/CHANGELOG.md
  cockroachdb_dedicated/CHANGELOG.md
Due: none

Fix example, add new query parameter to grab only succesful requests
  cloudsmith/assets/configuration/spec.yaml
  cloudsmith/datadog_checks/cloudsmith/check.py
  cloudsmith/datadog_checks/cloudsmith/data/conf.yaml.example
Due: cloudsmith

fix logs test file
  contrast_security_adr/assets/logs/contrast-security-adr_tests.yaml
Due: none

update partnerRuleId
  contrast_security_adr/assets/security/confirmed_dlp_event_received_from_contrast_adr.json
Due: none

update partnerRuleId
  contrast_security_adr/assets/security/confirmed_waf_alert_received_from_contrast_adr.json
Due: none

Update exploited_attack_event_received_from_contrast_adr_.json
  contrast_security_adr/assets/security/exploited_attack_event_received_from_contrast_adr_.json
Due: none

Update exploited_attack_event_received_from_contrast_adr_in_production.json
  contrast_security_adr/assets/security/exploited_attack_event_received_from_contrast_adr_in_production.json
Due: none

Update incident_event_received_from_contrast_adr.json
  contrast_security_adr/assets/security/incident_event_received_from_contrast_adr.json
Due: none

change mongodb atlas sysmem metrics to have Kb units
  mongodb_atlas/CHANGELOG.md
  mongodb_atlas/metadata.csv
Due: none

Ensure Legacy check is the default behaviour
  pihole/datadog_checks/pihole/pihole.py
  pihole/tests/conftest.py
Due: pihole

resolve format issues
  pihole/assets/configuration/spec.yaml
  pihole/datadog_checks/pihole/data/conf.yaml.example
  pihole/datadog_checks/pihole/pihole.py
  pihole/tests/conftest.py
Due: pihole

update sample configuration
  pihole/assets/configuration/spec.yaml
  pihole/datadog_checks/pihole/data/conf.yaml.example
Due: pihole

Update contrast-security-adr.yaml
  contrast_security_adr/assets/logs/contrast-security-adr.yaml
Due: none

Fix third-party dependency issues (#2855)
  cybersixgill_actionable_alerts/pyproject.toml
  upbound_uxp/pyproject.toml
Due: none

add a comment
  logstash/datadog_checks/logstash/logstash.py
Due: logstash

a new commit
  logstash/datadog_checks/logstash/logstash.py
Due: logstash

fix(upsc): correct units and metadata in metadata.csv
  upsc/metadata.csv
Due: none
