Repository DataDog/integrations-extras: changes, and which Codecov flags are due for each by the changed paths.
All: aqua, aws_pricing, bind9, cfssl, cloudnatix, cloudsmith, cybersixgill_actionable_alerts, cyral, emqx, eventstore, exim, fiddler, filebeat, filemage, fluentbit, gatekeeper, gitea, gnatsd, gnatsd_streaming, go_pprof_scraper, grpc_check, hikaricp, jfrog_platform_self_hosted, kernelcare, lighthouse, logstash, mergify, neo4j, neutrona, nextcloud, nn_sdwan, ns1, nvml, octoprint, open_policy_agent, php_apcu, php_opcache, pihole, ping, portworx, puma, purefa, purefb, radarr, reboot_required, redis_enterprise, redis_sentinel, redisenterprise, redpanda, riak_repl, robust_intelligence_ai_firewall, scalr, sendmail, snmpwalk, sonarr, sortdb, speedtest, stardog, storm, syncthing, tidb, traefik, trino, unbound, unifi_console, upbound_uxp, upsc, vespa, wayfinder, zabbix, zenoh_router

Path conditions:
  aqua: any of: aqua/datadog_checks/aqua, aqua/tests
  aws_pricing: any of: aws_pricing/datadog_checks/aws_pricing, aws_pricing/tests
  bind9: any of: bind9/datadog_checks/bind9, bind9/tests
  cfssl: any of: cfssl/datadog_checks/cfssl, cfssl/tests
  cloudnatix: any of: cloudnatix/datadog_checks/cloudnatix, cloudnatix/tests
  cloudsmith: any of: cloudsmith/datadog_checks/cloudsmith, cloudsmith/tests
  cybersixgill_actionable_alerts: any of: cybersixgill_actionable_alerts/datadog_checks/cybersixgill_actionable_alerts, cybersixgill_actionable_alerts/tests
  cyral: any of: cyral/datadog_checks/cyral, cyral/tests
  emqx: any of: emqx/datadog_checks/emqx, emqx/tests
  eventstore: any of: eventstore/datadog_checks/eventstore, eventstore/tests
  exim: any of: exim/datadog_checks/exim, exim/tests
  fiddler: any of: fiddler/datadog_checks/fiddler, fiddler/tests
  filebeat: any of: filebeat/datadog_checks/filebeat, filebeat/tests
  filemage: any of: filemage/datadog_checks/filemage, filemage/tests
  fluentbit: any of: fluentbit/datadog_checks/fluentbit, fluentbit/tests
  gatekeeper: any of: gatekeeper/datadog_checks/gatekeeper, gatekeeper/tests
  gitea: any of: gitea/datadog_checks/gitea, gitea/tests
  gnatsd: any of: gnatsd/datadog_checks/gnatsd, gnatsd/tests
  gnatsd_streaming: any of: gnatsd_streaming/datadog_checks/gnatsd_streaming, gnatsd_streaming/tests
  go_pprof_scraper: any of: go_pprof_scraper/datadog_checks/go_pprof_scraper, go_pprof_scraper/tests
  grpc_check: any of: grpc_check/datadog_checks/grpc_check, grpc_check/tests
  hikaricp: any of: hikaricp/datadog_checks/hikaricp, hikaricp/tests
  jfrog_platform_self_hosted: any of: jfrog_platform_self_hosted/datadog_checks/jfrog_platform_self_hosted, jfrog_platform_self_hosted/tests
  kernelcare: any of: kernelcare/datadog_checks/kernelcare, kernelcare/tests
  lighthouse: any of: lighthouse/datadog_checks/lighthouse, lighthouse/tests
  logstash: any of: logstash/datadog_checks/logstash, logstash/tests
  mergify: any of: mergify/datadog_checks/mergify, mergify/tests
  neo4j: any of: neo4j/datadog_checks/neo4j, neo4j/tests
  neutrona: any of: neutrona/datadog_checks/neutrona, neutrona/tests
  nextcloud: any of: nextcloud/datadog_checks/nextcloud, nextcloud/tests
  nn_sdwan: any of: nn_sdwan/datadog_checks/nn_sdwan, nn_sdwan/tests
  ns1: any of: ns1/datadog_checks/ns1, ns1/tests
  nvml: any of: nvml/datadog_checks/nvml, nvml/tests
  octoprint: any of: octoprint/datadog_checks/octoprint, octoprint/tests
  open_policy_agent: any of: open_policy_agent/datadog_checks/open_policy_agent, open_policy_agent/tests
  php_apcu: any of: php_apcu/datadog_checks/php_apcu, php_apcu/tests
  php_opcache: any of: php_opcache/datadog_checks/php_opcache, php_opcache/tests
  pihole: any of: pihole/datadog_checks/pihole, pihole/tests
  ping: any of: ping/datadog_checks/ping, ping/tests
  portworx: any of: portworx/datadog_checks/portworx, portworx/tests
  puma: any of: puma/datadog_checks/puma, puma/tests
  purefa: any of: purefa/datadog_checks/purefa, purefa/tests
  purefb: any of: purefb/datadog_checks/purefb, purefb/tests
  radarr: any of: radarr/datadog_checks/radarr, radarr/tests
  reboot_required: any of: reboot_required/datadog_checks/reboot_required, reboot_required/tests
  redis_enterprise: any of: redis_enterprise/datadog_checks/redis_enterprise, redis_enterprise/tests
  redis_sentinel: any of: redis_sentinel/datadog_checks/redis_sentinel, redis_sentinel/tests
  redisenterprise: any of: redisenterprise/datadog_checks/redisenterprise, redisenterprise/tests
  redpanda: any of: redpanda/datadog_checks/redpanda, redpanda/tests
  riak_repl: any of: riak_repl/datadog_checks/riak_repl, riak_repl/tests
  robust_intelligence_ai_firewall: any of: robust_intelligence_ai_firewall/datadog_checks/robust_intelligence_ai_firewall, robust_intelligence_ai_firewall/tests
  scalr: any of: scalr/datadog_checks/scalr, scalr/tests
  sendmail: any of: sendmail/datadog_checks/sendmail, sendmail/tests
  snmpwalk: any of: snmpwalk/datadog_checks/snmpwalk, snmpwalk/tests
  sonarr: any of: sonarr/datadog_checks/sonarr, sonarr/tests
  sortdb: any of: sortdb/datadog_checks/sortdb, sortdb/tests
  speedtest: any of: speedtest/datadog_checks/speedtest, speedtest/tests
  stardog: any of: stardog/datadog_checks/stardog, stardog/tests
  storm: any of: storm/datadog_checks/storm, storm/tests
  syncthing: any of: syncthing/datadog_checks/syncthing, syncthing/tests
  tidb: any of: tidb/datadog_checks/tidb, tidb/tests
  traefik: any of: traefik/datadog_checks/traefik, traefik/tests
  trino: any of: trino/datadog_checks/trino, trino/tests
  unbound: any of: unbound/datadog_checks/unbound, unbound/tests
  unifi_console: any of: unifi_console/datadog_checks/unifi_console, unifi_console/tests
  upbound_uxp: any of: upbound_uxp/datadog_checks/upbound_uxp, upbound_uxp/tests
  upsc: any of: upsc/datadog_checks/upsc, upsc/tests
  vespa: any of: vespa/datadog_checks/vespa, vespa/tests
  wayfinder: any of: wayfinder/datadog_checks/wayfinder, wayfinder/tests
  zabbix: any of: zabbix/datadog_checks/zabbix, zabbix/tests
  zenoh_router: any of: zenoh_router/datadog_checks/zenoh_router, zenoh_router/tests

fix capitalized unit Hour
  ocient/metadata.csv
Due: none

fix media list in manifest.json
  ocient/manifest.json
Due: none

fix json format
  ocient/manifest.json
Due: none

Add @DataDog/Logs-integrations-reviewers for codeowner on logs integration file (#2609)
  .github/CODEOWNERS
Due: none

👌 remove type annotations
  rum_react/README.md
Due: none

👌 rephrase 'setup'
  rum_react/README.md
Due: none

update integration
  perfectscale/CHANGELOG.md
  perfectscale/README.md
  perfectscale/assets/dashboards/perfectscale_alerts.json
  perfectscale/assets/logos/PerfectScale-by-doit-logo.svg
  perfectscale/assets/logos/perfectscale-logo-color.svg
  perfectscale/images/perfectscale-alerts.png
  perfectscale/images/perfectscale-datadog-dashboard.png
  perfectscale/manifest.json
Due: none

fix app id
  perfectscale/manifest.json
Due: none

Remove reduntant test code and push version to 2.0.0 for breaking change
  redis_enterprise/CHANGELOG.md
  redis_enterprise/datadog_checks/redis_enterprise/__about__.py
  redis_enterprise/tests/test_redis_enterprise.py
Due: redis_enterprise

Update fiddler agent to replace deprecated v2 APIs with faster v3 APIs (ECOINT-84) (#2592)
  .github/CODEOWNERS
  fiddler/CHANGELOG.md
  fiddler/README.md
  fiddler/assets/configuration/spec.yaml
  fiddler/assets/dashboards/fiddler_overview_3.0.0.json
  fiddler/assets/dashboards/fiddler_overview_4.0.0.json
  fiddler/datadog_checks/fiddler/__about__.py
  fiddler/datadog_checks/fiddler/check.py
  fiddler/datadog_checks/fiddler/config_models/defaults.py
  fiddler/datadog_checks/fiddler/config_models/instance.py
  fiddler/datadog_checks/fiddler/data/conf.yaml.example
  fiddler/manifest.json
  fiddler/metadata.csv
  fiddler/tests/conftest.py
  fiddler/tests/test_fiddler.py
Due: fiddler

[Release] Update metadata
  .in-toto/tag.97d0579e.link
Due: none

Update celerdata/datadog_checks/celerdata/__about__.py
  celerdata/datadog_checks/celerdata/__about__.py
Due: none

[Celerdata] Add a grok expression to parse the new log format of BE
  celerdata/CHANGELOG.md
  celerdata/README.md
  celerdata/assets/logs/celerdata.yaml
  celerdata/datadog_checks/celerdata/__about__.py
  celerdata/datadog_checks/celerdata/config_models/__init__.py
  celerdata/datadog_checks/celerdata/config_models/defaults.py
  celerdata/datadog_checks/celerdata/config_models/instance.py
Due: none

run command: ddev validate models celerdata -s
  celerdata/datadog_checks/celerdata/config_models/instance.py
Due: none

Update celerdata/README.md
  celerdata/README.md
Due: none

Update celerdata/CHANGELOG.md
  celerdata/CHANGELOG.md
Due: none

Update install instructions to v2.0.0
  redis_enterprise/README.md
Due: none

Apply suggestions from code review
  reflectiz/README.md
Due: none

Apply last code review changes
  reflectiz/README.md
  reflectiz/assets/dashboards/WebExposureAlertsDashboard.json
Due: none

Update README.md
  appkeeper/README.md
Due: none

Update syncthing_disconnected.json
  syncthing/assets/monitors/syncthing_disconnected.json
Due: none

Update syncthing_device_not_connected.json
  syncthing/assets/monitors/syncthing_device_not_connected.json
Due: none

Update zenoh_router_disconnected.json
  zenoh_router/assets/monitors/zenoh_router_disconnected.json
Due: none

Update tls_verify default handling, spec.yaml, and tests
  redis_enterprise/CHANGELOG.md
  redis_enterprise/assets/configuration/spec.yaml
  redis_enterprise/datadog_checks/redis_enterprise/check.py
  redis_enterprise/datadog_checks/redis_enterprise/config_models/defaults.py
  redis_enterprise/datadog_checks/redis_enterprise/data/conf.yaml.example
  redis_enterprise/tests/test_redis_enterprise.py
Due: redis_enterprise

Update README.md (#2612)
  appkeeper/README.md
Due: none

Khang.truong/change no data (#2613)
  syncthing/assets/monitors/syncthing_device_not_connected.json
  syncthing/assets/monitors/syncthing_disconnected.json
  zenoh_router/assets/monitors/zenoh_router_disconnected.json
Due: none

Update version to 1.1.2
  redis_enterprise/CHANGELOG.md
  redis_enterprise/README.md
  redis_enterprise/datadog_checks/redis_enterprise/__about__.py
Due: redis_enterprise

Change .get() to .setdefault(), sync ddev with latest for tls_cipher changes
  redis_enterprise/assets/configuration/spec.yaml
  redis_enterprise/datadog_checks/redis_enterprise/check.py
  redis_enterprise/datadog_checks/redis_enterprise/config_models/instance.py
  redis_enterprise/datadog_checks/redis_enterprise/data/conf.yaml.example
Due: redis_enterprise

removing log pipelines to test deployment
  reflectiz/assets/logs/reflectiz.yaml
  reflectiz/assets/logs/reflectiz_tests.yaml
  reflectiz/manifest.json
Due: none

v2 metrics - missing dashboards due to type issue
  redis_enterprise/CHANGELOG.md
  redis_enterprise/assets/configuration/spec.yaml
  redis_enterprise/datadog_checks/redis_enterprise/check.py
  redis_enterprise/datadog_checks/redis_enterprise/data/conf.yaml.example
  redis_enterprise/datadog_checks/redis_enterprise/metrics.py
  redis_enterprise/metadata.csv
  redis_enterprise/tests/data/metrics.txt
  redis_enterprise/tests/support.py
  redis_enterprise/tests/test_redis_enterprise.py
Due: redis_enterprise

remove duplicated header row
  redis_enterprise/metadata.csv
Due: none

adjust metric names for _total being stripped from count metrics by datadog's parser
  redis_enterprise/datadog_checks/redis_enterprise/metrics.py
  redis_enterprise/tests/data/metrics.txt
  redis_enterprise/tests/support.py
Due: redis_enterprise

add missing db_* metrics
  redis_enterprise/metadata.csv
Due: none

removed changelog comment
  perfectscale/CHANGELOG.md
Due: none

update datadog_checks/celerdata/config_models/instance.py
  celerdata/datadog_checks/celerdata/config_models/instance.py
Due: none

update datadog_checks/celerdata/data/conf.yaml.example
  celerdata/datadog_checks/celerdata/data/conf.yaml.example
Due: none

update screenhsot
  perfectscale/images/perfectscale-alerts.png
Due: none

metrics edits
  redis_enterprise/datadog_checks/redis_enterprise/metrics.py
  redis_enterprise/tests/data/metrics.txt
  redis_enterprise/tests/support.py
  redis_enterprise/tests/test_redis_enterprise.py
Due: redis_enterprise

Reflectiz integration release (ECOINT-23) (#2580)
  .github/CODEOWNERS
  reflectiz/Changelog.md
  reflectiz/README.md
  reflectiz/assets/dashboards/WebExposureAlertsDashboard.json
  reflectiz/assets/dashboards/WebExposureRatingDashboard.json
  reflectiz/assets/logos/reflectiz_logo.svg
  reflectiz/assets/logos/reflectiz_logo_dark_mode.svg
  reflectiz/assets/logos/service_checks.json
  reflectiz/assets/logs/reflectiz.yaml
  reflectiz/assets/logs/reflectiz_tests.yaml
  reflectiz/assets/oauth_clients.json
  reflectiz/assets/service_checks.json
  reflectiz/images/dashboard_1.png
  reflectiz/images/dashboard_2.png
  reflectiz/manifest.json
  reflectiz/metadata.csv
Due: none
