Repository DataDog/integrations-extras: changes, and which Codecov flags are due for each by the changed paths.
All: aqua, argo_cd, aws_pricing, bind9, calico, cert_manager, cloudsmith, cyral, eventstore, filebeat, gatekeeper, gnatsd, gnatsd_streaming, jfrog_platform, kernelcare, lighthouse, logstash, neo4j, neutrona, nextcloud, ns1, nvml, octoprint, open_policy_agent, php_apcu, php_opcache, pihole, ping, portworx, pulsar, puma, reboot_required, redis_sentinel, redisenterprise, riak_repl, sendmail, snmpwalk, sortdb, speedtest, stardog, storm, tidb, traefik, unbound, upsc, vespa, zabbix

Fix readme link
  hcp_vault/README.md
Due: none

PR feedback
  nobl9/README.md
  nobl9/assets/eula.pdf
  nobl9/manifest.json
Due: none

[HCPVault] Docs only integration tile (#1033)
  .github/CODEOWNERS
  hcp_vault/README.md
  hcp_vault/assets/dashboards/hcp_vault_overview.json
  hcp_vault/assets/service_checks.json
  hcp_vault/images/.gitkeep
  hcp_vault/images/choose-provider.png
  hcp_vault/images/metrics-streaming.png
  hcp_vault/manifest.json
  hcp_vault/metadata.csv
Due: none

Make public
  hcp_vault/manifest.json
Due: none

Make HCP Vault public (#1061)
  hcp_vault/manifest.json
Due: none

fix broken link
  contrastsecurity/README.md
Due: none

Update rookout/assets/dashboards/rookout_overview.json
  rookout/assets/dashboards/rookout_overview.json
Due: none

Add days to cert expiration widget
  cert_manager/assets/dashboards/certmanager_overview.json
  cert_manager/images/overview_dashboard.png
Due: none

corrected uuid
  rookout/assets/dashboards/rookout_overview.json
Due: none

Change cert_manager.clock_time type to gauge (#1055)
  cert_manager/datadog_checks/cert_manager/cert_manager.py
  cert_manager/datadog_checks/cert_manager/metrics.py
  cert_manager/metadata.csv
  cert_manager/tests/common.py
Due: cert_manager

add tests
  unbound/tests/test_unbound.py
Due: unbound

Rookout-dashboard-update (#1060)
  rookout/assets/dashboards/rookout_overview.json
Due: none

Update unbound/CHANGELOG.md
  unbound/CHANGELOG.md
Due: none

Add .kube folder and .python-version to .gitignore (#1058)
  .gitignore
Due: none

Allow the use of hostname for server address for unbound integration (#937)
  unbound/CHANGELOG.md
  unbound/datadog_checks/unbound/__about__.py
  unbound/datadog_checks/unbound/data/conf.yaml.example
  unbound/datadog_checks/unbound/unbound.py
  unbound/tests/test_unbound.py
Due: unbound

[Release] Update metadata
  .in-toto/tag.d1d0746a.link
Due: none

fix broken link (#1062)
  contrastsecurity/README.md
Due: none

Add days to certificate expiration widget to default dashboard (#1063)
  cert_manager/assets/dashboards/certmanager_overview.json
  cert_manager/images/overview_dashboard.png
  cert_manager/tests/kubernetes/acme.yaml
  cert_manager/tests/kubernetes/nginx.yaml
Due: cert_manager

Release cert_manager integration 2.2.0
  cert_manager/CHANGELOG.md
  cert_manager/datadog_checks/cert_manager/__about__.py
Due: cert_manager

Release cert_manager integration 2.2.0 (#1064)
  cert_manager/CHANGELOG.md
  cert_manager/datadog_checks/cert_manager/__about__.py
Due: cert_manager

Fix dashboard formula
  cert_manager/assets/dashboards/certmanager_overview.json
Due: none

Fix dashboard formula (#1065)
  cert_manager/assets/dashboards/certmanager_overview.json
Due: none

TiDB: reduced configuration complexity and fixed a bug that may cause instance metrics lost (#1027)
  tidb/CHANGELOG.md
  tidb/DEVELOPMENT.md
  tidb/README.md
  tidb/assets/configuration/spec.yaml
  tidb/assets/dashboards/overview.json
  tidb/assets/monitors/monitor_tidb_health.json
  tidb/assets/service_checks.json
  tidb/datadog_checks/tidb/__about__.py
  tidb/datadog_checks/tidb/check.py
  tidb/datadog_checks/tidb/data/auto_conf.yaml
  tidb/datadog_checks/tidb/data/conf.yaml.example
  tidb/datadog_checks/tidb/metrics.py
  tidb/datadog_checks/tidb/utils.py
  tidb/manifest.json
  tidb/metadata.csv
  tidb/tests/compose/docker-compose.yml
  tidb/tests/conftest.py
  tidb/tests/expected.py
  tidb/tests/fixtures/mock_pd_metrics.txt
  tidb/tests/fixtures/mock_tidb_metrics.txt
  tidb/tests/fixtures/mock_tikv_metrics.txt
  tidb/tests/fixtures/tidb-ddagent.dockerfile
  tidb/tests/test_tidb.py
Due: tidb

Update nobl9/README.md
  nobl9/README.md
Due: none

Readme updates
  nobl9/README.md
Due: none

Update README.md
  neo4j/README.md
Due: none

Update rookout/manifest.json
  rookout/manifest.json
Due: none

Rookout Integration Video (#1054)
  rookout/images/video_thumbnail.png
  rookout/manifest.json
  rookout/video_thumbnail.png
Due: none

Add Nobl9 tile to integration-extras (#1019)
  .github/CODEOWNERS
  nobl9/README.md
  nobl9/assets/nobl9_new_logo_pack_screen_black_color.svg
  nobl9/assets/nobl9_new_logo_pack_screen_white_color.svg
  nobl9/assets/service_checks.json
  nobl9/images/.gitkeep
  nobl9/images/grid_view.jpg
  nobl9/images/service_health.png
  nobl9/images/slo_detail.png
  nobl9/images/slo_report.png
  nobl9/manifest.json
  nobl9/metadata.csv
Due: none

Added tabs to the README and fixed a incorrect name reference
  redpanda/README.md
  redpanda/assets/configuration/spec.yaml
  redpanda/datadog_checks/redpanda/data/conf.yaml.example
Due: none

Requested Updates:
  redpanda/assets/configuration/spec.yaml
  redpanda/datadog_checks/redpanda/data/conf.yaml.example
  redpanda/datadog_checks/redpanda/redpanda.py
  redpanda/metadata.csv
Due: none

Adds Repanda Integration
  .azure-pipelines/all.yml
  .codecov.yml
  .github/CODEOWNERS
  redpanda/CHANGELOG.md
  redpanda/MANIFEST.in
  redpanda/README.md
  redpanda/assets/configuration/spec.yaml
  redpanda/assets/dashboards/overview.json
  redpanda/assets/service_checks.json
  redpanda/datadog_checks/__init__.py
  redpanda/datadog_checks/redpanda/__about__.py
  redpanda/datadog_checks/redpanda/__init__.py
  redpanda/datadog_checks/redpanda/data/conf.yaml.example
  redpanda/datadog_checks/redpanda/metrics.py
  redpanda/datadog_checks/redpanda/redpanda.py
  redpanda/manifest.json
  redpanda/metadata.csv
  redpanda/requirements-dev.txt
  redpanda/requirements.in
  redpanda/setup.py
  redpanda/tests/__init__.py
  redpanda/tests/common.py
  redpanda/tests/conftest.py
  redpanda/tests/docker/docker-compose.yaml
  redpanda/tests/fixtures/redpanda_metrics.txt
  redpanda/tests/test_redpanda.py
  redpanda/tox.ini
Due: none

Fix capitalization
  redpanda/assets/configuration/spec.yaml
  redpanda/datadog_checks/redpanda/data/conf.yaml.example
Due: none

Updated Readme with setup instructions.
  redpanda/README.md
Due: none

Path conditions:
  aqua: any of: aqua/datadog_checks/aqua, aqua/tests
  argo_cd: any of: argo_cd/datadog_checks/argo_cd, argo_cd/tests
  aws_pricing: any of: aws_pricing/datadog_checks/aws_pricing, aws_pricing/tests
  bind9: any of: bind9/datadog_checks/bind9, bind9/tests
  calico: any of: calico/datadog_checks/calico, calico/tests
  cert_manager: any of: cert_manager/datadog_checks/cert_manager, cert_manager/tests
  cloudsmith: any of: cloudsmith/datadog_checks/cloudsmith, cloudsmith/tests
  cyral: any of: cyral/datadog_checks/cyral, cyral/tests
  eventstore: any of: eventstore/datadog_checks/eventstore, eventstore/tests
  filebeat: any of: filebeat/datadog_checks/filebeat, filebeat/tests
  gatekeeper: any of: gatekeeper/datadog_checks/gatekeeper, gatekeeper/tests
  gnatsd: any of: gnatsd/datadog_checks/gnatsd, gnatsd/tests
  gnatsd_streaming: any of: gnatsd_streaming/datadog_checks/gnatsd_streaming, gnatsd_streaming/tests
  jfrog_platform: any of: jfrog_platform/datadog_checks/jfrog_platform, jfrog_platform/tests
  kernelcare: any of: kernelcare/datadog_checks/kernelcare, kernelcare/tests
  lighthouse: any of: lighthouse/datadog_checks/lighthouse, lighthouse/tests
  logstash: any of: logstash/datadog_checks/logstash, logstash/tests
  neo4j: any of: neo4j/datadog_checks/neo4j, neo4j/tests
  neutrona: any of: neutrona/datadog_checks/neutrona, neutrona/tests
  nextcloud: any of: nextcloud/datadog_checks/nextcloud, nextcloud/tests
  ns1: any of: ns1/datadog_checks/ns1, ns1/tests
  nvml: any of: nvml/datadog_checks/nvml, nvml/tests
  octoprint: any of: octoprint/datadog_checks/octoprint, octoprint/tests
  open_policy_agent: any of: open_policy_agent/datadog_checks/open_policy_agent, open_policy_agent/tests
  php_apcu: any of: php_apcu/datadog_checks/php_apcu, php_apcu/tests
  php_opcache: any of: php_opcache/datadog_checks/php_opcache, php_opcache/tests
  pihole: any of: pihole/datadog_checks/pihole, pihole/tests
  ping: any of: ping/datadog_checks/ping, ping/tests
  portworx: any of: portworx/datadog_checks/portworx, portworx/tests
  pulsar: any of: pulsar/datadog_checks/pulsar, pulsar/tests
  puma: any of: puma/datadog_checks/puma, puma/tests
  reboot_required: any of: reboot_required/datadog_checks/reboot_required, reboot_required/tests
  redis_sentinel: any of: redis_sentinel/datadog_checks/redis_sentinel, redis_sentinel/tests
  redisenterprise: any of: redisenterprise/datadog_checks/redisenterprise, redisenterprise/tests
  riak_repl: any of: riak_repl/datadog_checks/riak_repl, riak_repl/tests
  sendmail: any of: sendmail/datadog_checks/sendmail, sendmail/tests
  snmpwalk: any of: snmpwalk/datadog_checks/snmpwalk, snmpwalk/tests
  sortdb: any of: sortdb/datadog_checks/sortdb, sortdb/tests
  speedtest: any of: speedtest/datadog_checks/speedtest, speedtest/tests
  stardog: any of: stardog/datadog_checks/stardog, stardog/tests
  storm: any of: storm/datadog_checks/storm, storm/tests
  tidb: any of: tidb/datadog_checks/tidb, tidb/tests
  traefik: any of: traefik/datadog_checks/traefik, traefik/tests
  unbound: any of: unbound/datadog_checks/unbound, unbound/tests
  upsc: any of: upsc/datadog_checks/upsc, upsc/tests
  vespa: any of: vespa/datadog_checks/vespa, vespa/tests
  zabbix: any of: zabbix/datadog_checks/zabbix, zabbix/tests
