Repository DataDog/integrations-extras: changes, and which Codecov flags are due for each by the changed paths.
All: aqua, aws_pricing, bind9, cfssl, cloudnatix, cloudsmith, cybersixgill_actionable_alerts, cyral, emqx, eventstore, exim, fiddler, filebeat, filemage, fluentbit, gatekeeper, gitea, gnatsd, gnatsd_streaming, go_pprof_scraper, grpc_check, hikaricp, jfrog_platform_self_hosted, kernelcare, lighthouse, logstash, mergify, neo4j, neutrona, nextcloud, nn_sdwan, ns1, nvml, octoprint, open_policy_agent, php_apcu, php_opcache, pihole, ping, portworx, puma, purefa, purefb, radarr, reboot_required, redis_enterprise, redis_sentinel, redisenterprise, redpanda, riak_repl, robust_intelligence_ai_firewall, scalr, sendmail, snmpwalk, sonarr, sortdb, speedtest, stardog, storm, syncthing, tidb, traefik, trino, unbound, unifi_console, upbound_uxp, upsc, vespa, wayfinder, zabbix, zenoh_router

Path conditions:
  aqua: any of: aqua/datadog_checks/aqua, aqua/tests
  aws_pricing: any of: aws_pricing/datadog_checks/aws_pricing, aws_pricing/tests
  bind9: any of: bind9/datadog_checks/bind9, bind9/tests
  cfssl: any of: cfssl/datadog_checks/cfssl, cfssl/tests
  cloudnatix: any of: cloudnatix/datadog_checks/cloudnatix, cloudnatix/tests
  cloudsmith: any of: cloudsmith/datadog_checks/cloudsmith, cloudsmith/tests
  cybersixgill_actionable_alerts: any of: cybersixgill_actionable_alerts/datadog_checks/cybersixgill_actionable_alerts, cybersixgill_actionable_alerts/tests
  cyral: any of: cyral/datadog_checks/cyral, cyral/tests
  emqx: any of: emqx/datadog_checks/emqx, emqx/tests
  eventstore: any of: eventstore/datadog_checks/eventstore, eventstore/tests
  exim: any of: exim/datadog_checks/exim, exim/tests
  fiddler: any of: fiddler/datadog_checks/fiddler, fiddler/tests
  filebeat: any of: filebeat/datadog_checks/filebeat, filebeat/tests
  filemage: any of: filemage/datadog_checks/filemage, filemage/tests
  fluentbit: any of: fluentbit/datadog_checks/fluentbit, fluentbit/tests
  gatekeeper: any of: gatekeeper/datadog_checks/gatekeeper, gatekeeper/tests
  gitea: any of: gitea/datadog_checks/gitea, gitea/tests
  gnatsd: any of: gnatsd/datadog_checks/gnatsd, gnatsd/tests
  gnatsd_streaming: any of: gnatsd_streaming/datadog_checks/gnatsd_streaming, gnatsd_streaming/tests
  go_pprof_scraper: any of: go_pprof_scraper/datadog_checks/go_pprof_scraper, go_pprof_scraper/tests
  grpc_check: any of: grpc_check/datadog_checks/grpc_check, grpc_check/tests
  hikaricp: any of: hikaricp/datadog_checks/hikaricp, hikaricp/tests
  jfrog_platform_self_hosted: any of: jfrog_platform_self_hosted/datadog_checks/jfrog_platform_self_hosted, jfrog_platform_self_hosted/tests
  kernelcare: any of: kernelcare/datadog_checks/kernelcare, kernelcare/tests
  lighthouse: any of: lighthouse/datadog_checks/lighthouse, lighthouse/tests
  logstash: any of: logstash/datadog_checks/logstash, logstash/tests
  mergify: any of: mergify/datadog_checks/mergify, mergify/tests
  neo4j: any of: neo4j/datadog_checks/neo4j, neo4j/tests
  neutrona: any of: neutrona/datadog_checks/neutrona, neutrona/tests
  nextcloud: any of: nextcloud/datadog_checks/nextcloud, nextcloud/tests
  nn_sdwan: any of: nn_sdwan/datadog_checks/nn_sdwan, nn_sdwan/tests
  ns1: any of: ns1/datadog_checks/ns1, ns1/tests
  nvml: any of: nvml/datadog_checks/nvml, nvml/tests
  octoprint: any of: octoprint/datadog_checks/octoprint, octoprint/tests
  open_policy_agent: any of: open_policy_agent/datadog_checks/open_policy_agent, open_policy_agent/tests
  php_apcu: any of: php_apcu/datadog_checks/php_apcu, php_apcu/tests
  php_opcache: any of: php_opcache/datadog_checks/php_opcache, php_opcache/tests
  pihole: any of: pihole/datadog_checks/pihole, pihole/tests
  ping: any of: ping/datadog_checks/ping, ping/tests
  portworx: any of: portworx/datadog_checks/portworx, portworx/tests
  puma: any of: puma/datadog_checks/puma, puma/tests
  purefa: any of: purefa/datadog_checks/purefa, purefa/tests
  purefb: any of: purefb/datadog_checks/purefb, purefb/tests
  radarr: any of: radarr/datadog_checks/radarr, radarr/tests
  reboot_required: any of: reboot_required/datadog_checks/reboot_required, reboot_required/tests
  redis_enterprise: any of: redis_enterprise/datadog_checks/redis_enterprise, redis_enterprise/tests
  redis_sentinel: any of: redis_sentinel/datadog_checks/redis_sentinel, redis_sentinel/tests
  redisenterprise: any of: redisenterprise/datadog_checks/redisenterprise, redisenterprise/tests
  redpanda: any of: redpanda/datadog_checks/redpanda, redpanda/tests
  riak_repl: any of: riak_repl/datadog_checks/riak_repl, riak_repl/tests
  robust_intelligence_ai_firewall: any of: robust_intelligence_ai_firewall/datadog_checks/robust_intelligence_ai_firewall, robust_intelligence_ai_firewall/tests
  scalr: any of: scalr/datadog_checks/scalr, scalr/tests
  sendmail: any of: sendmail/datadog_checks/sendmail, sendmail/tests
  snmpwalk: any of: snmpwalk/datadog_checks/snmpwalk, snmpwalk/tests
  sonarr: any of: sonarr/datadog_checks/sonarr, sonarr/tests
  sortdb: any of: sortdb/datadog_checks/sortdb, sortdb/tests
  speedtest: any of: speedtest/datadog_checks/speedtest, speedtest/tests
  stardog: any of: stardog/datadog_checks/stardog, stardog/tests
  storm: any of: storm/datadog_checks/storm, storm/tests
  syncthing: any of: syncthing/datadog_checks/syncthing, syncthing/tests
  tidb: any of: tidb/datadog_checks/tidb, tidb/tests
  traefik: any of: traefik/datadog_checks/traefik, traefik/tests
  trino: any of: trino/datadog_checks/trino, trino/tests
  unbound: any of: unbound/datadog_checks/unbound, unbound/tests
  unifi_console: any of: unifi_console/datadog_checks/unifi_console, unifi_console/tests
  upbound_uxp: any of: upbound_uxp/datadog_checks/upbound_uxp, upbound_uxp/tests
  upsc: any of: upsc/datadog_checks/upsc, upsc/tests
  vespa: any of: vespa/datadog_checks/vespa, vespa/tests
  wayfinder: any of: wayfinder/datadog_checks/wayfinder, wayfinder/tests
  zabbix: any of: zabbix/datadog_checks/zabbix, zabbix/tests
  zenoh_router: any of: zenoh_router/datadog_checks/zenoh_router, zenoh_router/tests

Redpanda: Release 3.0.0
  redpanda/CHANGELOG.md
  redpanda/README.md
  redpanda/assets/configuration/spec.yaml
  redpanda/datadog_checks/redpanda/__about__.py
  redpanda/datadog_checks/redpanda/data/conf.yaml.example
  redpanda/datadog_checks/redpanda/metrics.py
  redpanda/tests/common.py
  redpanda/tests/test_redpanda.py
Due: redpanda

Redpanda: Release 2.1.0
  redpanda/CHANGELOG.md
  redpanda/README.md
  redpanda/datadog_checks/redpanda/__about__.py
Due: redpanda

Redpanda: Configure group_lag metrics
  redpanda/tests/docker/docker-compose.yaml
Due: redpanda

Redpanda: Add consumer group lag metrics
  redpanda/assets/configuration/spec.yaml
  redpanda/datadog_checks/redpanda/data/conf.yaml.example
  redpanda/datadog_checks/redpanda/metrics.py
  redpanda/metadata.csv
  redpanda/tests/common.py
  redpanda/tests/test_redpanda.py
Due: redpanda

Redpanda: Add demo dashboard for consumer_lag
  redpanda/assets/dashboards/consumer_lag.json
Due: none

validate models -> added tls_ciphers
  redis_cloud/datadog_checks/redis_cloud/config_models/instance.py
Due: none

Update Artie logo (ECOINT-136) (#2626)
  artie/assets/dashboards/artie_overview.json
  artie/assets/logos/logo_dark_mode.svg
  artie/assets/logos/logo_light_mode.svg
  artie/images/artie-overview-dashboard.png
Due: none

initial commit
  redis_enterprise_prometheus/CHANGELOG.md
  redis_enterprise_prometheus/README.md
  redis_enterprise_prometheus/assets/configuration/spec.yaml
  redis_enterprise_prometheus/assets/dashboards/redis_enterprise_active-active.json
  redis_enterprise_prometheus/assets/dashboards/redis_enterprise_database.json
  redis_enterprise_prometheus/assets/dashboards/redis_enterprise_node.json
  redis_enterprise_prometheus/assets/dashboards/redis_enterprise_overview.json
  redis_enterprise_prometheus/assets/dashboards/redis_enterprise_proxy-threads.json
  redis_enterprise_prometheus/assets/dashboards/redis_enterprise_shard.json
  redis_enterprise_prometheus/assets/logos/logo.svg
  redis_enterprise_prometheus/assets/service_checks.json
  redis_enterprise_prometheus/datadog_checks/__init__.py
  redis_enterprise_prometheus/datadog_checks/redis_enterprise_prometheus/__about__.py
  redis_enterprise_prometheus/datadog_checks/redis_enterprise_prometheus/__init__.py
  redis_enterprise_prometheus/datadog_checks/redis_enterprise_prometheus/check.py
  redis_enterprise_prometheus/datadog_checks/redis_enterprise_prometheus/config_models/__init__.py
  redis_enterprise_prometheus/datadog_checks/redis_enterprise_prometheus/config_models/defaults.py
  redis_enterprise_prometheus/datadog_checks/redis_enterprise_prometheus/config_models/instance.py
  redis_enterprise_prometheus/datadog_checks/redis_enterprise_prometheus/config_models/shared.py
  redis_enterprise_prometheus/datadog_checks/redis_enterprise_prometheus/config_models/validators.py
  redis_enterprise_prometheus/datadog_checks/redis_enterprise_prometheus/data/conf.yaml.example
  redis_enterprise_prometheus/datadog_checks/redis_enterprise_prometheus/metrics.py
  redis_enterprise_prometheus/hatch.toml
  redis_enterprise_prometheus/images/datadog-detail-node-cpu.png
  redis_enterprise_prometheus/images/datadog-detail-node-memory.png
  redis_enterprise_prometheus/images/datadog-detail-requests.png
  redis_enterprise_prometheus/manifest.json
  redis_enterprise_prometheus/metadata.csv
  redis_enterprise_prometheus/pyproject.toml
  redis_enterprise_prometheus/tests/__init__.py
  redis_enterprise_prometheus/tests/conftest.py
  redis_enterprise_prometheus/tests/data/metrics.txt
  redis_enterprise_prometheus/tests/support.py
  redis_enterprise_prometheus/tests/test_redis_enterprise_prometheus.py
Due: none

Rename Changelog.md to CHANGELOG.md
  reflectiz/CHANGELOG.md
Due: none

fix metrics data, names for testing
  redis_enterprise_prometheus/datadog_checks/redis_enterprise_prometheus/metrics.py
  redis_enterprise_prometheus/hatch.toml
  redis_enterprise_prometheus/tests/data/metrics.txt
  redis_enterprise_prometheus/tests/support.py
Due: none

add a spec and re-sync example configuration
  nextcloud/assets/configuration/spec.yaml
  nextcloud/datadog_checks/nextcloud/data/conf.yaml.example
  nextcloud/manifest.json
Due: nextcloud

add flag to provide optional metrics
  nextcloud/assets/configuration/spec.yaml
  nextcloud/datadog_checks/nextcloud/data/conf.yaml.example
Due: nextcloud

enforce url param format=json in code
  nextcloud/datadog_checks/nextcloud/nextcloud.py
  nextcloud/tests/common.py
Due: nextcloud

[Celerdata] Add a grok expression to parse the new log format of BE (ECOINT-101) (#2603)
  celerdata/CHANGELOG.md
  celerdata/README.md
  celerdata/assets/logs/celerdata.yaml
  celerdata/assets/logs/celerdata_tests.yaml
  celerdata/datadog_checks/celerdata/__about__.py
  celerdata/datadog_checks/celerdata/config_models/instance.py
  celerdata/datadog_checks/celerdata/data/conf.yaml.example
Due: none

[Release] Update metadata
  .in-toto/tag.97d0579e.link
Due: none

initial commit: redis_enterprise_prometheus
  redis_enterprise_prometheus/CHANGELOG.md
  redis_enterprise_prometheus/assets/configuration/spec.yaml
  redis_enterprise_prometheus/assets/service_checks.json
  redis_enterprise_prometheus/datadog_checks/__init__.py
  redis_enterprise_prometheus/datadog_checks/redis_enterprise_prometheus/__about__.py
  redis_enterprise_prometheus/datadog_checks/redis_enterprise_prometheus/__init__.py
  redis_enterprise_prometheus/datadog_checks/redis_enterprise_prometheus/config_models/__init__.py
  redis_enterprise_prometheus/datadog_checks/redis_enterprise_prometheus/config_models/defaults.py
  redis_enterprise_prometheus/datadog_checks/redis_enterprise_prometheus/config_models/instance.py
  redis_enterprise_prometheus/datadog_checks/redis_enterprise_prometheus/config_models/shared.py
  redis_enterprise_prometheus/datadog_checks/redis_enterprise_prometheus/config_models/validators.py
  redis_enterprise_prometheus/datadog_checks/redis_enterprise_prometheus/metrics.py
  redis_enterprise_prometheus/hatch.toml
  redis_enterprise_prometheus/manifest.json
  redis_enterprise_prometheus/pyproject.toml
  redis_enterprise_prometheus/tests/data/metrics.txt
  redis_enterprise_prometheus/tests/support.py
  redis_enterprise_prometheus/tests/test_redis_enterprise_prometheus.py
Due: none

Add configuration object to manifest.json
  downdetector/manifest.json
Due: none

Add 'creates_events' field to manifest.json
  downdetector/manifest.json
Due: none

validation edits
  .github/CODEOWNERS
  redis_enterprise_prometheus/assets/configuration/spec.yaml
  redis_enterprise_prometheus/datadog_checks/redis_enterprise_prometheus/config_models/__init__.py
  redis_enterprise_prometheus/datadog_checks/redis_enterprise_prometheus/config_models/defaults.py
  redis_enterprise_prometheus/datadog_checks/redis_enterprise_prometheus/config_models/instance.py
  redis_enterprise_prometheus/datadog_checks/redis_enterprise_prometheus/config_models/shared.py
  redis_enterprise_prometheus/datadog_checks/redis_enterprise_prometheus/data/conf.yaml.example
  redis_enterprise_prometheus/manifest.json
Due: none

ddev validate ci --sync
  .codecov.yml
  .github/workflows/test-all.yml
Due: none

quote values containing commas in manifest
  redis_enterprise_prometheus/metadata.csv
Due: none

Rename Changelog.md to CHANGELOG.md (#2647)
  reflectiz/CHANGELOG.md
Due: none

lint here and in the other
  redis_enterprise/datadog_checks/redis_enterprise/metrics.py
  redis_enterprise_prometheus/datadog_checks/__init__.py
  redis_enterprise_prometheus/datadog_checks/redis_enterprise_prometheus/__about__.py
  redis_enterprise_prometheus/datadog_checks/redis_enterprise_prometheus/__init__.py
  redis_enterprise_prometheus/datadog_checks/redis_enterprise_prometheus/config_models/validators.py
  redis_enterprise_prometheus/datadog_checks/redis_enterprise_prometheus/metrics.py
  redis_enterprise_prometheus/tests/support.py
  redis_enterprise_prometheus/tests/test_redis_enterprise_prometheus.py
Due: redis_enterprise

unpin nextcloud version
  nextcloud/tests/compose/nextcloud-standalone
Due: nextcloud

set default value to false
  nextcloud/assets/configuration/spec.yaml
  nextcloud/datadog_checks/nextcloud/data/conf.yaml.example
Due: nextcloud

lint
  redis_enterprise_prometheus/tests/support.py
Due: none

overlay reset of redis_enterprise files - diff against master shows only redis_enterprise_prometheus
  redis_enterprise/assets/configuration/spec.yaml
  redis_enterprise/datadog_checks/redis_enterprise/check.py
  redis_enterprise/datadog_checks/redis_enterprise/data/conf.yaml.example
  redis_enterprise/datadog_checks/redis_enterprise/metrics.py
  redis_enterprise/manifest.json
  redis_enterprise/metadata.csv
  redis_enterprise/tests/data/metrics.txt
  redis_enterprise/tests/support.py
  redis_enterprise/tests/test_redis_enterprise.py
  redis_enterprise_prometheus/assets/dashboards/redis_enterprise_database.json
Due: redis_enterprise

re-add redis_enterprise_proxy dashboard
  redis_enterprise/assets/dashboards/redis_enterprise_proxy.json
Due: none

fix redis_enterprise_database dashboard
  redis_enterprise_prometheus/assets/dashboards/redis_enterprise_database.json
Due: none

linted array
  redis_enterprise_prometheus/tests/support.py
Due: none

metrics errors
  redis_enterprise_prometheus/datadog_checks/redis_enterprise_prometheus/metrics.py
Due: none

line too long
  redis_enterprise_prometheus/datadog_checks/redis_enterprise_prometheus/metrics.py
Due: none

Adding new Dagster+ Integration
  .github/CODEOWNERS
  dagster_plus/CHANGELOG.md
  dagster_plus/README.md
  dagster_plus/assets/dashboards/dagster_plus_overview.json
  dagster_plus/assets/logos/dagster-primary-vertical.svg
  dagster_plus/assets/oauth_clients.json
  dagster_plus/assets/service_checks.json
  dagster_plus/manifest.json
  dagster_plus/metadata.csv
Due: none

update manifests following wizard instructions
  dagster_plus/assets/oauth_clients.json
  dagster_plus/manifest.json
Due: none

remove duplicate entries
  portworx/metadata.csv
Due: none

remove duplicate entries (#2652)
  portworx/metadata.csv
Due: none

Adding the Metadata for the TTL Deleted Op Counter (ECOINT-120) (#2537)
  .github/CODEOWNERS
  mongodb_atlas/CHANGELOG.md
  mongodb_atlas/assets/dashboards/MongoDB-Atlas-Overview_dashboard.json
  mongodb_atlas/metadata.csv
Due: none

apply patch for long line
  redis_enterprise_prometheus/datadog_checks/redis_enterprise_prometheus/metrics.py
Due: none

remove duplicate line in metadata
  redis_enterprise_prometheus/metadata.csv
Due: none
