Repository DataDog/integrations-extras: changes, and which Codecov flags are due for each by the changed paths.
All: aqua, aws_pricing, bind9, cert_manager, cfssl, cloudsmith, cyral, eventstore, exim, filebeat, fluentbit, fluxcd, gatekeeper, gitea, gnatsd, gnatsd_streaming, grpc_check, jfrog_platform, kernelcare, lighthouse, logstash, neo4j, neutrona, nextcloud, nn_sdwan, ns1, nvml, octoprint, open_policy_agent, php_apcu, php_opcache, pihole, ping, portworx, puma, purefa, purefb, reboot_required, redis_sentinel, redisenterprise, redpanda, riak_repl, sendmail, snmpwalk, sortdb, speedtest, stardog, storm, syncthing, tidb, traefik, trino, unbound, unifi_console, upsc, vespa, zabbix

Path conditions:
  aqua: any of: aqua/datadog_checks/aqua, aqua/tests
  aws_pricing: any of: aws_pricing/datadog_checks/aws_pricing, aws_pricing/tests
  bind9: any of: bind9/datadog_checks/bind9, bind9/tests
  cert_manager: any of: cert_manager/datadog_checks/cert_manager, cert_manager/tests
  cfssl: any of: cfssl/datadog_checks/cfssl, cfssl/tests
  cloudsmith: any of: cloudsmith/datadog_checks/cloudsmith, cloudsmith/tests
  cyral: any of: cyral/datadog_checks/cyral, cyral/tests
  eventstore: any of: eventstore/datadog_checks/eventstore, eventstore/tests
  exim: any of: exim/datadog_checks/exim, exim/tests
  filebeat: any of: filebeat/datadog_checks/filebeat, filebeat/tests
  fluentbit: any of: fluentbit/datadog_checks/fluentbit, fluentbit/tests
  fluxcd: any of: fluxcd/datadog_checks/fluxcd, fluxcd/tests
  gatekeeper: any of: gatekeeper/datadog_checks/gatekeeper, gatekeeper/tests
  gitea: any of: gitea/datadog_checks/gitea, gitea/tests
  gnatsd: any of: gnatsd/datadog_checks/gnatsd, gnatsd/tests
  gnatsd_streaming: any of: gnatsd_streaming/datadog_checks/gnatsd_streaming, gnatsd_streaming/tests
  grpc_check: any of: grpc_check/datadog_checks/grpc_check, grpc_check/tests
  jfrog_platform: any of: jfrog_platform/datadog_checks/jfrog_platform, jfrog_platform/tests
  kernelcare: any of: kernelcare/datadog_checks/kernelcare, kernelcare/tests
  lighthouse: any of: lighthouse/datadog_checks/lighthouse, lighthouse/tests
  logstash: any of: logstash/datadog_checks/logstash, logstash/tests
  neo4j: any of: neo4j/datadog_checks/neo4j, neo4j/tests
  neutrona: any of: neutrona/datadog_checks/neutrona, neutrona/tests
  nextcloud: any of: nextcloud/datadog_checks/nextcloud, nextcloud/tests
  nn_sdwan: any of: nn_sdwan/datadog_checks/nn_sdwan, nn_sdwan/tests
  ns1: any of: ns1/datadog_checks/ns1, ns1/tests
  nvml: any of: nvml/datadog_checks/nvml, nvml/tests
  octoprint: any of: octoprint/datadog_checks/octoprint, octoprint/tests
  open_policy_agent: any of: open_policy_agent/datadog_checks/open_policy_agent, open_policy_agent/tests
  php_apcu: any of: php_apcu/datadog_checks/php_apcu, php_apcu/tests
  php_opcache: any of: php_opcache/datadog_checks/php_opcache, php_opcache/tests
  pihole: any of: pihole/datadog_checks/pihole, pihole/tests
  ping: any of: ping/datadog_checks/ping, ping/tests
  portworx: any of: portworx/datadog_checks/portworx, portworx/tests
  puma: any of: puma/datadog_checks/puma, puma/tests
  purefa: any of: purefa/datadog_checks/purefa, purefa/tests
  purefb: any of: purefb/datadog_checks/purefb, purefb/tests
  reboot_required: any of: reboot_required/datadog_checks/reboot_required, reboot_required/tests
  redis_sentinel: any of: redis_sentinel/datadog_checks/redis_sentinel, redis_sentinel/tests
  redisenterprise: any of: redisenterprise/datadog_checks/redisenterprise, redisenterprise/tests
  redpanda: any of: redpanda/datadog_checks/redpanda, redpanda/tests
  riak_repl: any of: riak_repl/datadog_checks/riak_repl, riak_repl/tests
  sendmail: any of: sendmail/datadog_checks/sendmail, sendmail/tests
  snmpwalk: any of: snmpwalk/datadog_checks/snmpwalk, snmpwalk/tests
  sortdb: any of: sortdb/datadog_checks/sortdb, sortdb/tests
  speedtest: any of: speedtest/datadog_checks/speedtest, speedtest/tests
  stardog: any of: stardog/datadog_checks/stardog, stardog/tests
  storm: any of: storm/datadog_checks/storm, storm/tests
  syncthing: any of: syncthing/datadog_checks/syncthing, syncthing/tests
  tidb: any of: tidb/datadog_checks/tidb, tidb/tests
  traefik: any of: traefik/datadog_checks/traefik, traefik/tests
  trino: any of: trino/datadog_checks/trino, trino/tests
  unbound: any of: unbound/datadog_checks/unbound, unbound/tests
  unifi_console: any of: unifi_console/datadog_checks/unifi_console, unifi_console/tests
  upsc: any of: upsc/datadog_checks/upsc, upsc/tests
  vespa: any of: vespa/datadog_checks/vespa, vespa/tests
  zabbix: any of: zabbix/datadog_checks/zabbix, zabbix/tests

Remove dashboard id from json
  cybersixgill_actionable_alerts/assets/dashboards/cybersixgill_actionable_alerts_overview.json
Due: none

[APW] Remove dashboard id from another integration dashboard JSON (#1832)
  cybersixgill_actionable_alerts/assets/dashboards/cybersixgill_actionable_alerts_overview.json
Due: none

Update README file for F5 Distributed cloud integration (#1800)
  f5-distributed-cloud/README.md
  f5-distributed-cloud/assets/saved_views/all.json
Due: none

Remove Azure Pipelines (#1834)
  .azure-pipelines/all.yml
  .azure-pipelines/changes.yml
Due: none

Set the author name to `Community` (#1830)
  mergify/manifest.json
Due: none

Remove `use_latest_spec` from the config file
  fluentbit/datadog_checks/fluentbit/data/conf.yaml.example
  gitea/datadog_checks/gitea/data/auto_conf.yaml
  gitea/datadog_checks/gitea/data/conf.yaml.example
  hikaricp/datadog_checks/hikaricp/data/conf.yaml.example
  neo4j/datadog_checks/neo4j/data/conf.yaml.example
  purefa/datadog_checks/purefa/data/conf.yaml.example
  purefb/datadog_checks/purefb/data/conf.yaml.example
  redpanda/datadog_checks/redpanda/data/conf.yaml.example
Due: fluentbit, gitea, neo4j, purefa, purefb, redpanda

release the integrations
  fluentbit/CHANGELOG.md
  fluentbit/datadog_checks/fluentbit/__about__.py
  gitea/CHANGELOG.md
  gitea/datadog_checks/gitea/__about__.py
  hikaricp/CHANGELOG.md
  hikaricp/datadog_checks/hikaricp/__about__.py
  neo4j/CHANGELOG.md
  neo4j/datadog_checks/neo4j/__about__.py
  purefa/CHANGELOG.md
  purefa/datadog_checks/purefa/__about__.py
  purefb/CHANGELOG.md
  purefb/datadog_checks/purefb/__about__.py
  redpanda/CHANGELOG.md
  redpanda/datadog_checks/redpanda/__about__.py
Due: fluentbit, gitea, neo4j, purefa, purefb, redpanda

adds first version of celery-check
  celery/CHANGELOG.md
  celery/DEVELOPMENT.md
  celery/README.md
  celery/assets/configuration/spec.yaml
  celery/assets/dashboards/celery_overview.json
  celery/assets/service_checks.json
  celery/datadog_checks/__init__.py
  celery/datadog_checks/celery/__about__.py
  celery/datadog_checks/celery/__init__.py
  celery/datadog_checks/celery/check.py
  celery/datadog_checks/celery/config_models/__init__.py
  celery/datadog_checks/celery/config_models/defaults.py
  celery/datadog_checks/celery/config_models/instance.py
  celery/datadog_checks/celery/config_models/shared.py
  celery/datadog_checks/celery/config_models/validators.py
  celery/datadog_checks/celery/data/conf.yaml.example
  celery/hatch.toml
  celery/images/IMAGES_README.md
  celery/manifest.json
  celery/metadata.csv
  celery/pyproject.toml
  celery/requirements.in
  celery/setup.py
  celery/tests/__init__.py
  celery/tests/common.py
  celery/tests/compose/celery/Dockerfile
  celery/tests/compose/celery/tasks.py
  celery/tests/compose/docker-compose.yml
  celery/tests/conftest.py
  celery/tests/test_celery.py
  celery/tests/test_default.py
Due: none

adds metadata
  celery/DEVELOPMENT.md
  celery/assets/service_checks.json
  celery/metadata.csv
Due: none

adds dashboard
  celery/assets/dashboards/celery_overview.json
Due: none

fixes code-formatting issues
  celery/datadog_checks/celery/check.py
  celery/datadog_checks/celery/config_models/instance.py
  celery/tests/conftest.py
  celery/tests/test_celery.py
  celery/tests/test_default.py
Due: none

improves tag-handling
  celery/datadog_checks/celery/check.py
  celery/tests/test_celery.py
  celery/tests/test_default.py
Due: none

adds metadata about configuration
  celery/assets/configuration/spec.yaml
  celery/datadog_checks/celery/data/conf.yaml.example
Due: none

Update common.py
  neo4j/tests/common.py
Due: neo4j

Update conf.yaml.example
  neo4j/datadog_checks/neo4j/data/conf.yaml.example
Due: neo4j

Formatted JSON Files
  neo4j/assets/dashboards/Neo4j4.xDefaultDashboard.json
  neo4j/assets/dashboards/Neo4j5ClusterDashboard.json
  neo4j/assets/dashboards/Neo4j5DefaultDashboard.json
Due: none

Add metrics to Buoyant Cloud integration
  buoyant_cloud/CHANGELOG.md
  buoyant_cloud/README.md
  buoyant_cloud/assets/dashboards/buoyant_cloud_overview.json
  buoyant_cloud/images/bcloud_datadog_dashboard.png
  buoyant_cloud/manifest.json
  buoyant_cloud/metadata.csv
Due: none

Remove the `use_latest_spec` option from the config file (#1835)
  fluentbit/CHANGELOG.md
  fluentbit/datadog_checks/fluentbit/__about__.py
  fluentbit/datadog_checks/fluentbit/data/conf.yaml.example
  gitea/CHANGELOG.md
  gitea/datadog_checks/gitea/__about__.py
  gitea/datadog_checks/gitea/data/auto_conf.yaml
  gitea/datadog_checks/gitea/data/conf.yaml.example
  hikaricp/CHANGELOG.md
  hikaricp/datadog_checks/hikaricp/__about__.py
  hikaricp/datadog_checks/hikaricp/data/conf.yaml.example
  neo4j/CHANGELOG.md
  neo4j/datadog_checks/neo4j/__about__.py
  neo4j/datadog_checks/neo4j/data/conf.yaml.example
  purefa/CHANGELOG.md
  purefa/datadog_checks/purefa/__about__.py
  purefa/datadog_checks/purefa/data/conf.yaml.example
  purefb/CHANGELOG.md
  purefb/datadog_checks/purefb/__about__.py
  purefb/datadog_checks/purefb/data/conf.yaml.example
  redpanda/CHANGELOG.md
  redpanda/datadog_checks/redpanda/__about__.py
  redpanda/datadog_checks/redpanda/data/conf.yaml.example
Due: fluentbit, gitea, neo4j, purefa, purefb, redpanda

[Release] Update metadata
  .in-toto/tag.637a8532.link
Due: none

Parse metadata_info metric from Neo4j and add meta to other metrics
  neo4j/datadog_checks/neo4j/neo4j.py
Due: neo4j

Some speed optimisations
  neo4j/datadog_checks/neo4j/neo4j.py
Due: neo4j

Update Mendix logo
  mendix/assets/logos/mendix_dark.svg
  mendix/assets/logos/mendix_light.svg
Due: none

Updated metadata and addressed comments
  neo4j/CHANGELOG.md
  neo4j/datadog_checks/neo4j/__about__.py
  neo4j/datadog_checks/neo4j/__init__.py
  neo4j/datadog_checks/neo4j/data/neo4j.yaml.example
  neo4j/metadata.csv
Due: neo4j

textual changes
  sofy_sofy/README.md
  sofy_sofy/assets/dashboards/sofy_sofy_overview.json
  sofy_sofy/manifest.json
Due: none

strings that use records now using raw string to allow wildcard records
  ns1/datadog_checks/ns1/ns1_api_url.py
  ns1/datadog_checks/ns1/ns1_url_utils.py
Due: ns1

Add mapping for GDS metric (#26)
  neo4j/datadog_checks/neo4j/neo4j.py
Due: neo4j

Update README to remove neo4j.yaml reference
  neo4j/README.md
Due: none

RUMM-3242 add Roku integration tile
  rum_roku/CHANGELOG.md
  rum_roku/README.md
  rum_roku/assets/service_checks.json
  rum_roku/manifest.json
Due: none

RUMM-3242 add the codeowners for mobile integrations
  .github/CODEOWNERS
Due: none

Fix integration URL (#1827)
  vercel/README.md
Due: none

Update neo4j/README.md
  neo4j/README.md
Due: none

replaced images with correct sizes
  neo4j/images/Neo4j_5_Dashboard.png
  neo4j/images/neo4j_graph.png
Due: none

resize neo4j_graph
  neo4j/images/neo4j_graph.png
Due: none

remove unnecessary test parameter
  lighthouse/tests/test_lighthouse.py
Due: lighthouse
