Repository DataDog/integrations-extras: changes, and which Codecov flags are due for each by the changed paths.
All: aqua, aws_pricing, bind9, cert_manager, cfssl, cloudsmith, cyral, eventstore, exim, filebeat, fluentbit, fluxcd, gatekeeper, gitea, gnatsd, gnatsd_streaming, grpc_check, jfrog_platform, kernelcare, lighthouse, logstash, neo4j, neutrona, nextcloud, nn_sdwan, ns1, nvml, octoprint, open_policy_agent, php_apcu, php_opcache, pihole, ping, portworx, puma, purefa, purefb, reboot_required, redis_sentinel, redisenterprise, redpanda, riak_repl, sendmail, snmpwalk, sortdb, speedtest, stardog, storm, syncthing, tidb, traefik, trino, unbound, unifi_console, upsc, vespa, zabbix

Path conditions:
  aqua: any of: aqua/datadog_checks/aqua, aqua/tests
  aws_pricing: any of: aws_pricing/datadog_checks/aws_pricing, aws_pricing/tests
  bind9: any of: bind9/datadog_checks/bind9, bind9/tests
  cert_manager: any of: cert_manager/datadog_checks/cert_manager, cert_manager/tests
  cfssl: any of: cfssl/datadog_checks/cfssl, cfssl/tests
  cloudsmith: any of: cloudsmith/datadog_checks/cloudsmith, cloudsmith/tests
  cyral: any of: cyral/datadog_checks/cyral, cyral/tests
  eventstore: any of: eventstore/datadog_checks/eventstore, eventstore/tests
  exim: any of: exim/datadog_checks/exim, exim/tests
  filebeat: any of: filebeat/datadog_checks/filebeat, filebeat/tests
  fluentbit: any of: fluentbit/datadog_checks/fluentbit, fluentbit/tests
  fluxcd: any of: fluxcd/datadog_checks/fluxcd, fluxcd/tests
  gatekeeper: any of: gatekeeper/datadog_checks/gatekeeper, gatekeeper/tests
  gitea: any of: gitea/datadog_checks/gitea, gitea/tests
  gnatsd: any of: gnatsd/datadog_checks/gnatsd, gnatsd/tests
  gnatsd_streaming: any of: gnatsd_streaming/datadog_checks/gnatsd_streaming, gnatsd_streaming/tests
  grpc_check: any of: grpc_check/datadog_checks/grpc_check, grpc_check/tests
  jfrog_platform: any of: jfrog_platform/datadog_checks/jfrog_platform, jfrog_platform/tests
  kernelcare: any of: kernelcare/datadog_checks/kernelcare, kernelcare/tests
  lighthouse: any of: lighthouse/datadog_checks/lighthouse, lighthouse/tests
  logstash: any of: logstash/datadog_checks/logstash, logstash/tests
  neo4j: any of: neo4j/datadog_checks/neo4j, neo4j/tests
  neutrona: any of: neutrona/datadog_checks/neutrona, neutrona/tests
  nextcloud: any of: nextcloud/datadog_checks/nextcloud, nextcloud/tests
  nn_sdwan: any of: nn_sdwan/datadog_checks/nn_sdwan, nn_sdwan/tests
  ns1: any of: ns1/datadog_checks/ns1, ns1/tests
  nvml: any of: nvml/datadog_checks/nvml, nvml/tests
  octoprint: any of: octoprint/datadog_checks/octoprint, octoprint/tests
  open_policy_agent: any of: open_policy_agent/datadog_checks/open_policy_agent, open_policy_agent/tests
  php_apcu: any of: php_apcu/datadog_checks/php_apcu, php_apcu/tests
  php_opcache: any of: php_opcache/datadog_checks/php_opcache, php_opcache/tests
  pihole: any of: pihole/datadog_checks/pihole, pihole/tests
  ping: any of: ping/datadog_checks/ping, ping/tests
  portworx: any of: portworx/datadog_checks/portworx, portworx/tests
  puma: any of: puma/datadog_checks/puma, puma/tests
  purefa: any of: purefa/datadog_checks/purefa, purefa/tests
  purefb: any of: purefb/datadog_checks/purefb, purefb/tests
  reboot_required: any of: reboot_required/datadog_checks/reboot_required, reboot_required/tests
  redis_sentinel: any of: redis_sentinel/datadog_checks/redis_sentinel, redis_sentinel/tests
  redisenterprise: any of: redisenterprise/datadog_checks/redisenterprise, redisenterprise/tests
  redpanda: any of: redpanda/datadog_checks/redpanda, redpanda/tests
  riak_repl: any of: riak_repl/datadog_checks/riak_repl, riak_repl/tests
  sendmail: any of: sendmail/datadog_checks/sendmail, sendmail/tests
  snmpwalk: any of: snmpwalk/datadog_checks/snmpwalk, snmpwalk/tests
  sortdb: any of: sortdb/datadog_checks/sortdb, sortdb/tests
  speedtest: any of: speedtest/datadog_checks/speedtest, speedtest/tests
  stardog: any of: stardog/datadog_checks/stardog, stardog/tests
  storm: any of: storm/datadog_checks/storm, storm/tests
  syncthing: any of: syncthing/datadog_checks/syncthing, syncthing/tests
  tidb: any of: tidb/datadog_checks/tidb, tidb/tests
  traefik: any of: traefik/datadog_checks/traefik, traefik/tests
  trino: any of: trino/datadog_checks/trino, trino/tests
  unbound: any of: unbound/datadog_checks/unbound, unbound/tests
  unifi_console: any of: unifi_console/datadog_checks/unifi_console, unifi_console/tests
  upsc: any of: upsc/datadog_checks/upsc, upsc/tests
  vespa: any of: vespa/datadog_checks/vespa, vespa/tests
  zabbix: any of: zabbix/datadog_checks/zabbix, zabbix/tests

Add YugabyteDB Managed Integration
  .github/CODEOWNERS
  yugabytedb_managed/CHANGELOG.md
  yugabytedb_managed/README.md
  yugabytedb_managed/assets/dashboards/yugabytedb_managed_overview.json
  yugabytedb_managed/assets/logos/logo-dark.svg
  yugabytedb_managed/assets/logos/logo.svg
  yugabytedb_managed/assets/service_checks.json
  yugabytedb_managed/manifest.json
  yugabytedb_managed/metadata.csv
Due: none

Respond to feedback
  .github/CODEOWNERS
  yugabytedb_managed/CHANGELOG.md
Due: none

Update README, simplify dashboard queries
  yugabytedb_managed/README.md
  yugabytedb_managed/assets/dashboards/yugabytedb_managed_overview.json
  yugabytedb_managed/assets/logos/yugabytedb_managed_logo.svg
  yugabytedb_managed/assets/logos/yugabytedb_managed_logo_dark.svg
Due: none

Update with feedback
  yugabytedb_managed/README.md
Due: none

Apply suggestions from code review
  yugabytedb_managed/README.md
Due: none

Update yugabytedb_managed/README.md and yugabytedb_managed/assets/dashboards/yugabytedb_managed_overview.json
  yugabytedb_managed/README.md
  yugabytedb_managed/assets/dashboards/yugabytedb_managed_overview.json
Due: none

Apply suggestions from code review
  yugabytedb_managed/README.md
  yugabytedb_managed/assets/dashboards/yugabytedb_managed_overview.json
Due: none

Update yugabytedb_managed/README.md
  yugabytedb_managed/README.md
Due: none

small updates
  tailscale/README.md
Due: none

format changes
  tailscale/README.md
Due: none

format changes (#2157)
  tailscale/README.md
Due: none

Fixed TTL dashboard
  ns1/assets/dashboards/overview.json
Due: none

metric unit name got fixed
  upstash/metadata.csv
Due: none

unused properties got removed
  upstash/manifest.json
Due: none

YugabyteDB Managed Integration (#2118)
  .github/CODEOWNERS
  yugabytedb_managed/CHANGELOG.md
  yugabytedb_managed/README.md
  yugabytedb_managed/assets/dashboards/yugabytedb_managed_overview.json
  yugabytedb_managed/assets/logos/yugabytedb_managed_logo.svg
  yugabytedb_managed/assets/logos/yugabytedb_managed_logo_dark.svg
  yugabytedb_managed/assets/service_checks.json
  yugabytedb_managed/images/infrastructure.png
  yugabytedb_managed/images/master.png
  yugabytedb_managed/images/overview.png
  yugabytedb_managed/images/tserver.png
  yugabytedb_managed/images/ycql.png
  yugabytedb_managed/images/ysql.png
  yugabytedb_managed/manifest.json
  yugabytedb_managed/metadata.csv
Due: none

Update NVML API call version.
  nvml/CHANGELOG.md
  nvml/datadog_checks/nvml/__about__.py
  nvml/datadog_checks/nvml/nvml.py
  nvml/pyproject.toml
  nvml/requirements.in
  nvml/tests/Dockerfile
  nvml/tests/test_nvml.py
Due: nvml

Update manifest.json
  ilert/manifest.json
Due: none

added new picture for media
  ilert/images/ilert-alert-list.png
Due: none

Update CHANGELOG.md
  nvml/CHANGELOG.md
Due: none

fix: correct dylibso integration image url
  dylibso-webassembly/manifest.json
Due: none

[Release] Bumped neo4j version to 3.0.2
  neo4j/CHANGELOG.md
  neo4j/datadog_checks/neo4j/__about__.py
Due: neo4j

[Release] Bumped hikaricp version to 1.1.1
  hikaricp/CHANGELOG.md
  hikaricp/datadog_checks/hikaricp/__about__.py
Due: none

release
  hikaricp/CHANGELOG.md
  neo4j/CHANGELOG.md
Due: none

add new metric purefb.nfs.export_rule
  purefb/CHANGELOG.md
  purefb/README.md
  purefb/datadog_checks/purefb/__about__.py
  purefb/datadog_checks/purefb/data/conf.yaml.example
  purefb/datadog_checks/purefb/metrics.py
  purefb/metadata.csv
Due: purefb

update broken link
  1e/README.md
Due: none

update models
  purefb/datadog_checks/purefb/config_models/defaults.py
  purefb/datadog_checks/purefb/config_models/instance.py
  purefb/datadog_checks/purefb/config_models/shared.py
Due: purefb

update models with ddev6.0
  purefb/datadog_checks/purefb/config_models/defaults.py
  purefb/datadog_checks/purefb/config_models/instance.py
  purefb/datadog_checks/purefb/config_models/shared.py
Due: purefb

unping ddev
  .github/workflows/validate.yml
Due: none

update models with pip ddev
  purefb/datadog_checks/purefb/config_models/defaults.py
  purefb/datadog_checks/purefb/config_models/instance.py
  purefb/datadog_checks/purefb/config_models/shared.py
Due: purefb

unping ddev (#2164)
  .github/workflows/validate.yml
Due: none

update models again with ddev 6.0
  purefb/datadog_checks/purefb/config_models/defaults.py
  purefb/datadog_checks/purefb/config_models/instance.py
  purefb/datadog_checks/purefb/config_models/shared.py
Due: purefb

Update neo4j/CHANGELOG.md
  neo4j/CHANGELOG.md
Due: none

Update hikaricp/CHANGELOG.md
  hikaricp/CHANGELOG.md
Due: none

Release Hikari and Neo4J (#2161)
  hikaricp/CHANGELOG.md
  hikaricp/datadog_checks/hikaricp/__about__.py
  neo4j/CHANGELOG.md
  neo4j/datadog_checks/neo4j/__about__.py
Due: neo4j

[Release] Update metadata
  .in-toto/tag.ffc9ac90.link
Due: none

(DOCS-6582) Use shortcode for region site
  akamai_datastream_2/README.md
Due: none

Create Tailscale Overview Dashboard (#2155)
  tailscale/assets/dashboards/tailscale_overview.json
  tailscale/manifest.json
Due: none
