Repository DataDog/integrations-extras: changes, and which Codecov flags are due for each by the changed paths.
All: aqua, aws_pricing, bind9, cert_manager, cyral, eventstore, filebeat, gnatsd, gnatsd_streaming, kernelcare, lighthouse, logstash, neo4j, neutrona, nextcloud, nvml, php_apcu, php_opcache, pihole, ping, portworx, pulsar, puma, reboot_required, redis_sentinel, riak_repl, sendmail, snmpwalk, sortdb, speedtest, stardog, storm, traefik, unbound, upsc, vespa, zabbix

Path conditions:
  aqua: any of: aqua/datadog_checks/aqua, aqua/tests
  aws_pricing: any of: aws_pricing/datadog_checks/aws_pricing, aws_pricing/tests
  bind9: any of: bind9/datadog_checks/bind9, bind9/tests
  cert_manager: any of: cert_manager/datadog_checks/cert_manager, cert_manager/tests
  cyral: any of: cyral/datadog_checks/cyral, cyral/tests
  eventstore: any of: eventstore/datadog_checks/eventstore, eventstore/tests
  filebeat: any of: filebeat/datadog_checks/filebeat, filebeat/tests
  gnatsd: any of: gnatsd/datadog_checks/gnatsd, gnatsd/tests
  gnatsd_streaming: any of: gnatsd_streaming/datadog_checks/gnatsd_streaming, gnatsd_streaming/tests
  kernelcare: any of: kernelcare/datadog_checks/kernelcare, kernelcare/tests
  lighthouse: any of: lighthouse/datadog_checks/lighthouse, lighthouse/tests
  logstash: any of: logstash/datadog_checks/logstash, logstash/tests
  neo4j: any of: neo4j/datadog_checks/neo4j, neo4j/tests
  neutrona: any of: neutrona/datadog_checks/neutrona, neutrona/tests
  nextcloud: any of: nextcloud/datadog_checks/nextcloud, nextcloud/tests
  nvml: any of: nvml/datadog_checks/nvml, nvml/tests
  php_apcu: any of: php_apcu/datadog_checks/php_apcu, php_apcu/tests
  php_opcache: any of: php_opcache/datadog_checks/php_opcache, php_opcache/tests
  pihole: any of: pihole/datadog_checks/pihole, pihole/tests
  ping: any of: ping/datadog_checks/ping, ping/tests
  portworx: any of: portworx/datadog_checks/portworx, portworx/tests
  pulsar: any of: pulsar/datadog_checks/pulsar, pulsar/tests
  puma: any of: puma/datadog_checks/puma, puma/tests
  reboot_required: any of: reboot_required/datadog_checks/reboot_required, reboot_required/tests
  redis_sentinel: any of: redis_sentinel/datadog_checks/redis_sentinel, redis_sentinel/tests
  riak_repl: any of: riak_repl/datadog_checks/riak_repl, riak_repl/tests
  sendmail: any of: sendmail/datadog_checks/sendmail, sendmail/tests
  snmpwalk: any of: snmpwalk/datadog_checks/snmpwalk, snmpwalk/tests
  sortdb: any of: sortdb/datadog_checks/sortdb, sortdb/tests
  speedtest: any of: speedtest/datadog_checks/speedtest, speedtest/tests
  stardog: any of: stardog/datadog_checks/stardog, stardog/tests
  storm: any of: storm/datadog_checks/storm, storm/tests
  traefik: any of: traefik/datadog_checks/traefik, traefik/tests
  unbound: any of: unbound/datadog_checks/unbound, unbound/tests
  upsc: any of: upsc/datadog_checks/upsc, upsc/tests
  vespa: any of: vespa/datadog_checks/vespa, vespa/tests
  zabbix: any of: zabbix/datadog_checks/zabbix, zabbix/tests

Improve installation instructions for the Gatekeeper integration (#955)
  gatekeeper/README.md
  gatekeeper/manifest.json
Due: none

add instructions to get filebeat integration versions
  filebeat/CHANGELOG.md
  filebeat/README.md
Due: none

bump version to 1.0.0
  redisenterprise/CHANGELOG.md
  redisenterprise/datadog_checks/redisenterprise/__about__.py
Due: none

remove uncessary comment
  redisenterprise/datadog_checks/redisenterprise/check.py
Due: none

DVR-489: Add Cloudsmith Integration
  .azure-pipelines/all.yml
  .codecov.yml
  .in-toto/tag.d1d0746a.link
  cloudsmith/CHANGELOG.md
  cloudsmith/MANIFEST.in
  cloudsmith/README.md
  cloudsmith/assets/configuration/spec.yaml
  cloudsmith/assets/dashboards/cloudsmith_overview.json
  cloudsmith/assets/service_checks.json
  cloudsmith/datadog_checks/__init__.py
  cloudsmith/datadog_checks/cloudsmith/__about__.py
  cloudsmith/datadog_checks/cloudsmith/__init__.py
  cloudsmith/datadog_checks/cloudsmith/check.py
  cloudsmith/datadog_checks/cloudsmith/data/conf.yaml.example
  cloudsmith/images/.gitkeep
  cloudsmith/manifest.json
  cloudsmith/metadata.csv
  cloudsmith/requirements-dev.txt
  cloudsmith/requirements.in
  cloudsmith/setup.py
  cloudsmith/tests/__init__.py
  cloudsmith/tests/conftest.py
  cloudsmith/tests/test_cloudsmith.py
  cloudsmith/tox.ini
Due: none

add instructions to get filebeat integration versions (#953)
  filebeat/CHANGELOG.md
  filebeat/README.md
Due: none

Handle 307s from cluster followers (#954)
  redisenterprise/CHANGELOG.md
  redisenterprise/datadog_checks/redisenterprise/__about__.py
  redisenterprise/datadog_checks/redisenterprise/check.py
Due: none

[Release] Update metadata
  .in-toto/tag.d1d0746a.link
Due: none

NS1 - Fix header levels
  ns1/README.md
Due: none

NS1 - Fix header levels (#956)
  ns1/README.md
Due: none

Fix typos
  amixr/README.md
  bonsai/README.md
  eventstore/datadog_checks/eventstore/eventstore.py
  flume/metadata.csv
  gnatsd_streaming/metadata.csv
  hasura_cloud/assets/dashboards/hasura_cloud.json
  hbase_regionserver/_gen.rb
  jfrog_platform/CHANGELOG.md
  logstash/metadata.csv
  n2ws/metadata.csv
  neo4j/metadata.csv
  ns1/assets/service_checks.json
  ns1/datadog_checks/ns1/check.py
  pihole/datadog_checks/pihole/pihole.py
  pihole/metadata.csv
  pihole/tests/docker-compose.yaml
  pliant/README.md
  redisenterprise/datadog_checks/redisenterprise/check.py
  resin/tests/test_resin.py
  snmpwalk/datadog_checks/snmpwalk/snmpwalk.py
  snmpwalk/tests/test_snmpwalk.py
  stardog/metadata.csv
  storm/datadog_checks/storm/storm.py
  traefik/assets/service_checks.json
Due: eventstore, pihole, snmpwalk, storm

Fix typos (#957)
  amixr/README.md
  bonsai/README.md
  eventstore/datadog_checks/eventstore/eventstore.py
  flume/metadata.csv
  gnatsd_streaming/metadata.csv
  hasura_cloud/assets/dashboards/hasura_cloud.json
  hbase_regionserver/_gen.rb
  jfrog_platform/CHANGELOG.md
  logstash/metadata.csv
  n2ws/metadata.csv
  neo4j/metadata.csv
  ns1/assets/service_checks.json
  ns1/datadog_checks/ns1/check.py
  pihole/datadog_checks/pihole/pihole.py
  pihole/metadata.csv
  pihole/tests/docker-compose.yaml
  pliant/README.md
  redisenterprise/datadog_checks/redisenterprise/check.py
  resin/tests/test_resin.py
  snmpwalk/datadog_checks/snmpwalk/snmpwalk.py
  snmpwalk/tests/test_snmpwalk.py
  stardog/metadata.csv
  storm/datadog_checks/storm/storm.py
  traefik/assets/service_checks.json
Due: eventstore, pihole, snmpwalk, storm

Add Cloudsmith Integration
  .azure-pipelines/all.yml
  .codecov.yml
  cloudsmith/CHANGELOG.md
  cloudsmith/MANIFEST.in
  cloudsmith/README.md
  cloudsmith/assets/configuration/spec.yaml
  cloudsmith/assets/dashboards/cloudsmith_overview.json
  cloudsmith/assets/service_checks.json
  cloudsmith/datadog_checks/__init__.py
  cloudsmith/datadog_checks/cloudsmith/__about__.py
  cloudsmith/datadog_checks/cloudsmith/__init__.py
  cloudsmith/datadog_checks/cloudsmith/check.py
  cloudsmith/datadog_checks/cloudsmith/data/conf.yaml.example
  cloudsmith/images/.gitkeep
  cloudsmith/manifest.json
  cloudsmith/metadata.csv
  cloudsmith/requirements-dev.txt
  cloudsmith/requirements.in
  cloudsmith/setup.py
  cloudsmith/tests/__init__.py
  cloudsmith/tests/conftest.py
  cloudsmith/tests/test_cloudsmith.py
  cloudsmith/tox.ini
Due: none

Add Cloudsmith Integration
  .azure-pipelines/all.yml
  .codecov.yml
  .github/CODEOWNERS
  cloudsmith/CHANGELOG.md
  cloudsmith/MANIFEST.in
  cloudsmith/README.md
  cloudsmith/assets/configuration/spec.yaml
  cloudsmith/assets/dashboards/cloudsmith_overview.json
  cloudsmith/assets/service_checks.json
  cloudsmith/datadog_checks/__init__.py
  cloudsmith/datadog_checks/cloudsmith/__about__.py
  cloudsmith/datadog_checks/cloudsmith/__init__.py
  cloudsmith/datadog_checks/cloudsmith/check.py
  cloudsmith/datadog_checks/cloudsmith/data/conf.yaml.example
  cloudsmith/images/.gitkeep
  cloudsmith/manifest.json
  cloudsmith/metadata.csv
  cloudsmith/requirements-dev.txt
  cloudsmith/requirements.in
  cloudsmith/setup.py
  cloudsmith/tests/__init__.py
  cloudsmith/tests/conftest.py
  cloudsmith/tests/test_cloudsmith.py
  cloudsmith/tox.ini
Due: none

add option to ignore filebeat registry file check
  filebeat/CHANGELOG.md
  filebeat/assets/configuration/spec.yaml
  filebeat/datadog_checks/filebeat/__about__.py
  filebeat/datadog_checks/filebeat/data/conf.yaml.example
  filebeat/datadog_checks/filebeat/filebeat.py
  filebeat/tests/fixtures/malformed_json_registry.json
  filebeat/tests/test_filebeat.py
Due: filebeat

Expand logstash checks with queue data (#949)
  logstash/CHANGELOG.md
  logstash/datadog_checks/logstash/__about__.py
  logstash/datadog_checks/logstash/logstash.py
  logstash/metadata.csv
  logstash/tests/docker/logstash6/test_multi_pipelines.yml
  logstash/tests/docker/logstash7/docker-compose.yml
  logstash/tests/docker/logstash7/test_multi_pipelines.yml
  logstash/tests/test_logstash.py
Due: logstash

test
  logstash/datadog_checks/logstash/logstash.py
Due: logstash

Go back to 7.0.0
  logstash/tests/docker/logstash7/docker-compose.yml
Due: logstash

Style
  logstash/datadog_checks/logstash/logstash.py
Due: logstash

Fix logstash CI (#963)
  logstash/tests/docker/logstash7/docker-compose.yml
Due: logstash

[CI] Remove size:large from gitlab jobs
  .gitlab-ci.yml
Due: none

DOCS-1135 Update integration install instructions (part 1)
  altostra/manifest.json
  aqua/README.md
  aws_pricing/README.md
  bind9/README.md
Due: none

DOCS-1135 Update integration install instructions (part 1) (#966)
  altostra/manifest.json
  aqua/README.md
  aws_pricing/README.md
  bind9/README.md
Due: none

DOCS-1135 Update integration install instructions (part 2)
  cyral/README.md
  eventstore/README.md
  filebeat/README.md
Due: none

<contribution/calico> update metadata.csv
  calico/metadata.csv
Due: none

<contribution:calico> update of calico_overview.json
  calico/assets/dashboards/calico_overview.json
Due: none

<contribution:calico> Removed config_models folder as it generates error when testing, and it is not used in the integration.
  calico/datadog_checks/calico/config_models/__init__.py
  calico/datadog_checks/calico/config_models/defaults.py
  calico/datadog_checks/calico/config_models/instance.py
  calico/datadog_checks/calico/config_models/shared.py
  calico/datadog_checks/calico/config_models/validators.py
Due: none

<contribution/calico> update conftest.py
  calico/tests/conftest.py
Due: none

<contribution/calico> removed calico.yaml file (left only .yaml.example as it should be) and updated README.md
  calico/README.md
  calico/datadog_checks/calico/data/calico.yaml
Due: none

<contribution/calico> updates spec.yaml file to implement default instance template
  calico/assets/configuration/spec.yaml
  calico/datadog_checks/calico/data/conf.yaml.example
Due: none

<contribution:calico> minor cleaning of code
  calico/datadog_checks/calico/check.py
  calico/tests/conftest.py
  calico/tests/test_calico.py
Due: none

<contribution/calico> set dashboard json file
  calico/assets/dashboards/calico_overview.json
Due: none

<contribution/calico> Calico first basic integration
  calico/CHANGELOG.md
  calico/MANIFEST.in
  calico/README.md
  calico/assets/configuration/spec.yaml
  calico/assets/dashboards/calico_overview.json
  calico/assets/service_checks.json
  calico/datadog_checks/__init__.py
  calico/datadog_checks/calico/__about__.py
  calico/datadog_checks/calico/__init__.py
  calico/datadog_checks/calico/check.py
  calico/datadog_checks/calico/config_models/__init__.py
  calico/datadog_checks/calico/config_models/defaults.py
  calico/datadog_checks/calico/config_models/instance.py
  calico/datadog_checks/calico/config_models/shared.py
  calico/datadog_checks/calico/config_models/validators.py
  calico/datadog_checks/calico/data/calico.yaml
  calico/datadog_checks/calico/data/conf.yaml.example
  calico/images/.gitkeep
  calico/manifest.json
  calico/metadata.csv
  calico/requirements-dev.txt
  calico/requirements.in
  calico/setup.py
  calico/tests/__init__.py
  calico/tests/conftest.py
  calico/tests/test_calico.py
  calico/tox.ini
Due: none

<contribution:calico> Update README
  calico/README.md
Due: none

<contribution/calico> update test module and metadata
  calico/metadata.csv
  calico/tests/conftest.py
  calico/tests/test_calico.py
  calico/tox.ini
Due: none

<contribution/calico> update manifest.json
  calico/manifest.json
Due: none

<contribution/calico> setup ipset errors monitor json
  calico/assets/monitors/ipset_error.json
Due: none

<contribution/calico> update conf.yaml.example generated by spec.yaml file
  calico/datadog_checks/calico/data/conf.yaml.example
Due: none

<contribution/calico> update spec.yaml
  calico/assets/configuration/spec.yaml
Due: none
