Repository DataDog/integrations-extras: changes, and which Codecov flags are due for each by the changed paths.
All: aqua, aws_pricing, bind9, cfssl, cloudnatix, cloudsmith, cybersixgill_actionable_alerts, cyral, emqx, eventstore, exim, fiddler, filebeat, filemage, fluentbit, gatekeeper, gitea, gnatsd, gnatsd_streaming, go_pprof_scraper, grpc_check, hikaricp, jfrog_platform_self_hosted, kernelcare, lighthouse, logstash, mergify, neo4j, neutrona, nextcloud, nn_sdwan, ns1, nvml, octoprint, open_policy_agent, php_apcu, php_opcache, pihole, ping, portworx, puma, purefa, purefb, radarr, reboot_required, redis_enterprise, redis_sentinel, redisenterprise, redpanda, riak_repl, robust_intelligence_ai_firewall, scalr, sendmail, snmpwalk, sonarr, sortdb, speedtest, stardog, storm, syncthing, tidb, traefik, trino, unbound, unifi_console, upbound_uxp, upsc, vespa, wayfinder, zabbix, zenoh_router

Add RavenDB integration
  .github/CODEOWNERS
  .github/workflows/test-all.yml
  code-coverage.datadog.yml
  ravendb/CHANGELOG.md
  ravendb/LICENSE
  ravendb/README.md
  ravendb/assets/configuration/spec.yaml
  ravendb/assets/dashboards/ravendb_overview.json
  ravendb/assets/service_checks.json
  ravendb/datadog_checks/ravendb/__about__.py
  ravendb/datadog_checks/ravendb/__init__.py
  ravendb/datadog_checks/ravendb/check.py
  ravendb/datadog_checks/ravendb/config_models/__init__.py
  ravendb/datadog_checks/ravendb/config_models/defaults.py
  ravendb/datadog_checks/ravendb/config_models/instance.py
  ravendb/datadog_checks/ravendb/config_models/shared.py
  ravendb/datadog_checks/ravendb/config_models/validators.py
  ravendb/datadog_checks/ravendb/data/conf.yaml.example
  ravendb/datadog_checks/ravendb/metrics.py
  ravendb/hatch.toml
  ravendb/images/ravendb_overview.png
  ravendb/manifest.json
  ravendb/metadata.csv
  ravendb/pyproject.toml
  ravendb/tests/__init__.py
  ravendb/tests/common.py
  ravendb/tests/common_no_db.py
  ravendb/tests/common_no_db_no_idx.py
  ravendb/tests/common_no_db_no_idx_no_collec.py
  ravendb/tests/common_no_db_no_idx_no_collec_no_gc.py
  ravendb/tests/conftest.py
  ravendb/tests/docker/docker-compose.yaml
  ravendb/tests/fixtures/ravendb_metrics.txt
  ravendb/tests/fixtures/ravendb_metrics_no_db_idx_collec_gc_metrics.txt
  ravendb/tests/fixtures/ravendb_metrics_no_db_idx_collec_metrics.txt
  ravendb/tests/fixtures/ravendb_metrics_no_db_idx_metrics.txt
  ravendb/tests/fixtures/ravendb_metrics_no_db_metrics.txt
  ravendb/tests/test_e2e.py
  ravendb/tests/test_unit.py
  ravendb/tests/test_utils.py
Due: none

Define dataflows for saas-integrations-owned integrations (#3103)
  yugabytedb_managed/assets/dataflows.yaml
Due: none

Fix gitlab ddci
  .gitlab-ci.yml
Due: none

Define dataflows for container-integrations-owned integrations (#3102)
  aqua/assets/dataflows.yaml
Due: none

Add RUM Shopify integration docs (#3076)
  .github/CODEOWNERS
  rum_shopify/CHANGELOG.md
  rum_shopify/README.md
  rum_shopify/manifest.json
Due: none

Sync generated config models and example config with current ddev
  celerdata/datadog_checks/celerdata/config_models/defaults.py
  celerdata/datadog_checks/celerdata/config_models/instance.py
  celerdata/datadog_checks/celerdata/data/conf.yaml.example
  emqx/datadog_checks/emqx/config_models/defaults.py
  emqx/datadog_checks/emqx/config_models/instance.py
  emqx/datadog_checks/emqx/data/conf.yaml.example
  jfrog_platform_self_hosted/datadog_checks/jfrog_platform_self_hosted/data/conf.yaml.example
  neo4j/datadog_checks/neo4j/config_models/defaults.py
  neo4j/datadog_checks/neo4j/config_models/instance.py
  neo4j/datadog_checks/neo4j/data/conf.yaml.example
  nn_sdwan/datadog_checks/nn_sdwan/config_models/defaults.py
  nn_sdwan/datadog_checks/nn_sdwan/config_models/instance.py
  purefb/datadog_checks/purefb/config_models/defaults.py
  purefb/datadog_checks/purefb/config_models/instance.py
  purefb/datadog_checks/purefb/data/conf.yaml.example
  scaphandre/datadog_checks/scaphandre/config_models/defaults.py
  scaphandre/datadog_checks/scaphandre/config_models/instance.py
  scaphandre/datadog_checks/scaphandre/data/conf.yaml.example
  upbound_uxp/datadog_checks/upbound_uxp/config_models/defaults.py
  upbound_uxp/datadog_checks/upbound_uxp/config_models/instance.py
Due: emqx, jfrog_platform_self_hosted, neo4j, nn_sdwan, purefb, upbound_uxp

Correct misplaced fields in fiddler, purefa, and scalr config specs
  fiddler/assets/configuration/spec.yaml
  fiddler/datadog_checks/fiddler/config_models/defaults.py
  fiddler/datadog_checks/fiddler/config_models/instance.py
  fiddler/datadog_checks/fiddler/data/conf.yaml.example
  purefa/assets/configuration/spec.yaml
  purefa/datadog_checks/purefa/config_models/defaults.py
  purefa/datadog_checks/purefa/config_models/instance.py
  purefa/datadog_checks/purefa/data/conf.yaml.example
  scalr/assets/configuration/spec.yaml
  scalr/datadog_checks/scalr/config_models/defaults.py
  scalr/datadog_checks/scalr/config_models/instance.py
Due: fiddler, purefa, scalr

Raise datadog-checks-base floors so the minimum-base job can install
  celerdata/pyproject.toml
  fiddler/pyproject.toml
  nn_sdwan/pyproject.toml
  purefa/pyproject.toml
  scalr/pyproject.toml
  upbound_uxp/pyproject.toml
Due: none

Fix Ping check on non-English Windows by decoding with the OEM code page (#3092)
  ping/CHANGELOG.md
  ping/README.md
  ping/datadog_checks/ping/ping.py
  ping/tests/test_ping.py
Due: ping

redis_sentinel: Address second round of review feedback
  redis_sentinel/CHANGELOG.md
  redis_sentinel/tests/test_redis_sentinel.py
Due: redis_sentinel

Fix gitlab ddci (#3105)
  .gitlab-ci.yml
Due: none

Delete starburst_galaxy directory now that it is migrated to pub plat direct
  starburst_galaxy/CHANGELOG.md
  starburst_galaxy/README.md
  starburst_galaxy/assets/dashboards/starburst_galaxy.json
  starburst_galaxy/assets/logo.svg
  starburst_galaxy/assets/service_checks.json
  starburst_galaxy/images/Screenshot 2026-02-06 at 10.10.20 AM.png
  starburst_galaxy/images/Screenshot 2026-02-06 at 10.11.38 AM.png
  starburst_galaxy/images/Screenshot 2026-02-06 at 10.12.08 AM.png
  starburst_galaxy/images/Screenshot 2026-02-06 at 10.15.13 AM.png
  starburst_galaxy/images/Screenshot 2026-02-06 at 10.15.39 AM.png
  starburst_galaxy/manifest.json
  starburst_galaxy/metadata.csv
Due: none

Bump ping version to 1.0.4 (#3098)
  ping/datadog_checks/ping/__about__.py
Due: ping

[Release] Update metadata
  .in-toto/tag.4912ca73.link
Due: none

Remove accidentally tracked worktree
  .gitignore
Due: none

Remove accidentally tracked worktree (#3111)
  .gitignore
Due: none

Update external_secrets/datadog_checks/external_secrets/metrics.py
  external_secrets/datadog_checks/external_secrets/metrics.py
Due: none

fix(external-secrets): fix syntax error in controller_runtime metric map keys
  external_secrets/datadog_checks/external_secrets/metrics.py
Due: none

fix: exclude moved fluxcd and traefik stubs from codeowners validation
  .ddev/config.toml
Due: none

[cloudsmith] Fix Overview dashboard spelling typos
  cloudsmith/CHANGELOG.md
  cloudsmith/assets/dashboards/cloudsmith_overview.json
Due: none

[cloudsmith] Link changelog entry to PR #3119
  cloudsmith/CHANGELOG.md
Due: none

Document the Redis Sentinel failover event
  redis_sentinel/README.md
  redis_sentinel/manifest.json
Due: none

Define dataflows for community-owned integrations (batch 2b)
  ambassador/assets/dataflows.yaml
  bonsai/assets/dataflows.yaml
  emnify/assets/dataflows.yaml
  gnatsd/assets/dataflows.yaml
  gnatsd_streaming/assets/dataflows.yaml
  k6/assets/dataflows.yaml
  launchdarkly/assets/dataflows.yaml
  mergify/assets/dataflows.yaml
  mergify_oauth/assets/dataflows.yaml
  modal/assets/dataflows.yaml
  ocient/assets/dataflows.yaml
  perimeterx/assets/dataflows.yaml
  qdrant/assets/dataflows.yaml
  redis_cloud/assets/dataflows.yaml
  redis_enterprise/assets/dataflows.yaml
  redis_enterprise_prometheus/assets/dataflows.yaml
  redpanda/assets/dataflows.yaml
  reflectiz/assets/dataflows.yaml
  rigor/assets/dataflows.yaml
  rundeck/assets/dataflows.yaml
  sigsci/assets/dataflows.yaml
  stardog/assets/dataflows.yaml
  sym/assets/dataflows.yaml
  vespa/assets/dataflows.yaml
Due: none

Define dataflows for community-owned integrations (batch 2d)
  apache-apisix/assets/dataflows.yaml
  apollo/assets/dataflows.yaml
  artie/assets/dataflows.yaml
  contrastsecurity/assets/dataflows.yaml
  federatorai/assets/dataflows.yaml
  gigamon/assets/dataflows.yaml
  loadrunner_professional/assets/dataflows.yaml
  mongodb_atlas/assets/dataflows.yaml
  nomad/assets/dataflows.yaml
  tyk/assets/dataflows.yaml
Due: none

Add missing CODEOWNERS entries for fluxcd and traefik
  .github/CODEOWNERS
Due: none

Update Log Pipeline, add Facets
  vercel/assets/logs/vercel.yaml
Due: none

Update cloudsmith/CHANGELOG.md
  cloudsmith/CHANGELOG.md
Due: none

Add missing CODEOWNERS entries for fluxcd and traefik (#3120)
  .github/CODEOWNERS
Due: none

Declare event, log, and trace dataflows from manifest signals
  anecdote/assets/dataflows.yaml
  buoyant_cloud/assets/dataflows.yaml
  census/assets/dataflows.yaml
  cloudsmith/assets/dataflows.yaml
  gatling_enterprise/assets/dataflows.yaml
  gravitee/assets/dataflows.yaml
  neoload/assets/dataflows.yaml
  postman/assets/dataflows.yaml
  redisenterprise/assets/dataflows.yaml
  scalr/assets/dataflows.yaml
  sosivio/assets/dataflows.yaml
  statsig/assets/dataflows.yaml
  tidb/assets/dataflows.yaml
  twingate/assets/dataflows.yaml
  typingdna_activelock/assets/dataflows.yaml
  watchtower_ziris/assets/dataflows.yaml
Due: none

Fix config spec errors and regenerate config models for 11 integrations
  celerdata/datadog_checks/celerdata/config_models/defaults.py
  celerdata/datadog_checks/celerdata/config_models/instance.py
  celerdata/datadog_checks/celerdata/data/conf.yaml.example
  emqx/datadog_checks/emqx/config_models/defaults.py
  emqx/datadog_checks/emqx/config_models/instance.py
  emqx/datadog_checks/emqx/data/conf.yaml.example
  fiddler/assets/configuration/spec.yaml
  fiddler/datadog_checks/fiddler/config_models/defaults.py
  fiddler/datadog_checks/fiddler/data/conf.yaml.example
  jfrog_platform_self_hosted/datadog_checks/jfrog_platform_self_hosted/config_models/__init__.py
  jfrog_platform_self_hosted/datadog_checks/jfrog_platform_self_hosted/config_models/defaults.py
  jfrog_platform_self_hosted/datadog_checks/jfrog_platform_self_hosted/config_models/instance.py
  jfrog_platform_self_hosted/datadog_checks/jfrog_platform_self_hosted/config_models/shared.py
  jfrog_platform_self_hosted/datadog_checks/jfrog_platform_self_hosted/config_models/validators.py
  jfrog_platform_self_hosted/datadog_checks/jfrog_platform_self_hosted/data/conf.yaml.example
  neo4j/datadog_checks/neo4j/config_models/defaults.py
  neo4j/datadog_checks/neo4j/data/conf.yaml.example
  nn_sdwan/datadog_checks/nn_sdwan/config_models/defaults.py
  nn_sdwan/datadog_checks/nn_sdwan/config_models/instance.py
  purefa/assets/configuration/spec.yaml
  purefa/datadog_checks/purefa/config_models/defaults.py
  purefa/datadog_checks/purefa/config_models/instance.py
  purefa/datadog_checks/purefa/data/conf.yaml.example
  purefb/datadog_checks/purefb/config_models/instance.py
  purefb/datadog_checks/purefb/data/conf.yaml.example
  scalr/assets/configuration/spec.yaml
  scalr/datadog_checks/scalr/config_models/defaults.py
  scalr/datadog_checks/scalr/config_models/instance.py
  scaphandre/datadog_checks/scaphandre/config_models/defaults.py
  scaphandre/datadog_checks/scaphandre/config_models/instance.py
  scaphandre/datadog_checks/scaphandre/data/conf.yaml.example
  upbound_uxp/datadog_checks/upbound_uxp/config_models/defaults.py
  upbound_uxp/datadog_checks/upbound_uxp/config_models/instance.py
Due: emqx, fiddler, jfrog_platform_self_hosted, neo4j, nn_sdwan, purefa, purefb, scalr, upbound_uxp

Bump minimum datadog-checks-base pin to fix test-minimum-base-package CI
  celerdata/pyproject.toml
  nn_sdwan/pyproject.toml
  purefa/pyproject.toml
Due: none

Fix config spec errors and regenerate config models for 11 integrations (#3121)
  celerdata/datadog_checks/celerdata/config_models/defaults.py
  celerdata/datadog_checks/celerdata/config_models/instance.py
  celerdata/datadog_checks/celerdata/data/conf.yaml.example
  celerdata/pyproject.toml
  emqx/datadog_checks/emqx/config_models/defaults.py
  emqx/datadog_checks/emqx/config_models/instance.py
  emqx/datadog_checks/emqx/data/conf.yaml.example
  fiddler/assets/configuration/spec.yaml
  fiddler/datadog_checks/fiddler/config_models/defaults.py
  fiddler/datadog_checks/fiddler/data/conf.yaml.example
  jfrog_platform_self_hosted/datadog_checks/jfrog_platform_self_hosted/config_models/__init__.py
  jfrog_platform_self_hosted/datadog_checks/jfrog_platform_self_hosted/config_models/defaults.py
  jfrog_platform_self_hosted/datadog_checks/jfrog_platform_self_hosted/config_models/instance.py
  jfrog_platform_self_hosted/datadog_checks/jfrog_platform_self_hosted/config_models/shared.py
  jfrog_platform_self_hosted/datadog_checks/jfrog_platform_self_hosted/config_models/validators.py
  jfrog_platform_self_hosted/datadog_checks/jfrog_platform_self_hosted/data/conf.yaml.example
  neo4j/datadog_checks/neo4j/config_models/defaults.py
  neo4j/datadog_checks/neo4j/data/conf.yaml.example
  nn_sdwan/datadog_checks/nn_sdwan/config_models/defaults.py
  nn_sdwan/datadog_checks/nn_sdwan/config_models/instance.py
  nn_sdwan/pyproject.toml
  purefa/assets/configuration/spec.yaml
  purefa/datadog_checks/purefa/config_models/defaults.py
  purefa/datadog_checks/purefa/config_models/instance.py
  purefa/datadog_checks/purefa/data/conf.yaml.example
  purefa/pyproject.toml
  purefb/datadog_checks/purefb/config_models/instance.py
  purefb/datadog_checks/purefb/data/conf.yaml.example
  scalr/assets/configuration/spec.yaml
  scalr/datadog_checks/scalr/config_models/defaults.py
  scalr/datadog_checks/scalr/config_models/instance.py
  scaphandre/datadog_checks/scaphandre/config_models/defaults.py
  scaphandre/datadog_checks/scaphandre/config_models/instance.py
  scaphandre/datadog_checks/scaphandre/data/conf.yaml.example
  upbound_uxp/datadog_checks/upbound_uxp/config_models/defaults.py
  upbound_uxp/datadog_checks/upbound_uxp/config_models/instance.py
Due: emqx, fiddler, jfrog_platform_self_hosted, neo4j, nn_sdwan, purefa, purefb, scalr, upbound_uxp

Bump minimum datadog-checks-base pin for fiddler, scalr, upbound_uxp
  fiddler/pyproject.toml
  scalr/pyproject.toml
  upbound_uxp/pyproject.toml
Due: none

Correct status remapper definition
  vercel/assets/logs/vercel.yaml
Due: none

Restore missing `type` for `:string` facets
  vercel/assets/logs/vercel.yaml
Due: none

Path conditions:
  aqua: any of: aqua/datadog_checks/aqua, aqua/tests
  aws_pricing: any of: aws_pricing/datadog_checks/aws_pricing, aws_pricing/tests
  bind9: any of: bind9/datadog_checks/bind9, bind9/tests
  cfssl: any of: cfssl/datadog_checks/cfssl, cfssl/tests
  cloudnatix: any of: cloudnatix/datadog_checks/cloudnatix, cloudnatix/tests
  cloudsmith: any of: cloudsmith/datadog_checks/cloudsmith, cloudsmith/tests
  cybersixgill_actionable_alerts: any of: cybersixgill_actionable_alerts/datadog_checks/cybersixgill_actionable_alerts, cybersixgill_actionable_alerts/tests
  cyral: any of: cyral/datadog_checks/cyral, cyral/tests
  emqx: any of: emqx/datadog_checks/emqx, emqx/tests
  eventstore: any of: eventstore/datadog_checks/eventstore, eventstore/tests
  exim: any of: exim/datadog_checks/exim, exim/tests
  fiddler: any of: fiddler/datadog_checks/fiddler, fiddler/tests
  filebeat: any of: filebeat/datadog_checks/filebeat, filebeat/tests
  filemage: any of: filemage/datadog_checks/filemage, filemage/tests
  fluentbit: any of: fluentbit/datadog_checks/fluentbit, fluentbit/tests
  gatekeeper: any of: gatekeeper/datadog_checks/gatekeeper, gatekeeper/tests
  gitea: any of: gitea/datadog_checks/gitea, gitea/tests
  gnatsd: any of: gnatsd/datadog_checks/gnatsd, gnatsd/tests
  gnatsd_streaming: any of: gnatsd_streaming/datadog_checks/gnatsd_streaming, gnatsd_streaming/tests
  go_pprof_scraper: any of: go_pprof_scraper/datadog_checks/go_pprof_scraper, go_pprof_scraper/tests
  grpc_check: any of: grpc_check/datadog_checks/grpc_check, grpc_check/tests
  hikaricp: any of: hikaricp/datadog_checks/hikaricp, hikaricp/tests
  jfrog_platform_self_hosted: any of: jfrog_platform_self_hosted/datadog_checks/jfrog_platform_self_hosted, jfrog_platform_self_hosted/tests
  kernelcare: any of: kernelcare/datadog_checks/kernelcare, kernelcare/tests
  lighthouse: any of: lighthouse/datadog_checks/lighthouse, lighthouse/tests
  logstash: any of: logstash/datadog_checks/logstash, logstash/tests
  mergify: any of: mergify/datadog_checks/mergify, mergify/tests
  neo4j: any of: neo4j/datadog_checks/neo4j, neo4j/tests
  neutrona: any of: neutrona/datadog_checks/neutrona, neutrona/tests
  nextcloud: any of: nextcloud/datadog_checks/nextcloud, nextcloud/tests
  nn_sdwan: any of: nn_sdwan/datadog_checks/nn_sdwan, nn_sdwan/tests
  ns1: any of: ns1/datadog_checks/ns1, ns1/tests
  nvml: any of: nvml/datadog_checks/nvml, nvml/tests
  octoprint: any of: octoprint/datadog_checks/octoprint, octoprint/tests
  open_policy_agent: any of: open_policy_agent/datadog_checks/open_policy_agent, open_policy_agent/tests
  php_apcu: any of: php_apcu/datadog_checks/php_apcu, php_apcu/tests
  php_opcache: any of: php_opcache/datadog_checks/php_opcache, php_opcache/tests
  pihole: any of: pihole/datadog_checks/pihole, pihole/tests
  ping: any of: ping/datadog_checks/ping, ping/tests
  portworx: any of: portworx/datadog_checks/portworx, portworx/tests
  puma: any of: puma/datadog_checks/puma, puma/tests
  purefa: any of: purefa/datadog_checks/purefa, purefa/tests
  purefb: any of: purefb/datadog_checks/purefb, purefb/tests
  radarr: any of: radarr/datadog_checks/radarr, radarr/tests
  reboot_required: any of: reboot_required/datadog_checks/reboot_required, reboot_required/tests
  redis_enterprise: any of: redis_enterprise/datadog_checks/redis_enterprise, redis_enterprise/tests
  redis_sentinel: any of: redis_sentinel/datadog_checks/redis_sentinel, redis_sentinel/tests
  redisenterprise: any of: redisenterprise/datadog_checks/redisenterprise, redisenterprise/tests
  redpanda: any of: redpanda/datadog_checks/redpanda, redpanda/tests
  riak_repl: any of: riak_repl/datadog_checks/riak_repl, riak_repl/tests
  robust_intelligence_ai_firewall: any of: robust_intelligence_ai_firewall/datadog_checks/robust_intelligence_ai_firewall, robust_intelligence_ai_firewall/tests
  scalr: any of: scalr/datadog_checks/scalr, scalr/tests
  sendmail: any of: sendmail/datadog_checks/sendmail, sendmail/tests
  snmpwalk: any of: snmpwalk/datadog_checks/snmpwalk, snmpwalk/tests
  sonarr: any of: sonarr/datadog_checks/sonarr, sonarr/tests
  sortdb: any of: sortdb/datadog_checks/sortdb, sortdb/tests
  speedtest: any of: speedtest/datadog_checks/speedtest, speedtest/tests
  stardog: any of: stardog/datadog_checks/stardog, stardog/tests
  storm: any of: storm/datadog_checks/storm, storm/tests
  syncthing: any of: syncthing/datadog_checks/syncthing, syncthing/tests
  tidb: any of: tidb/datadog_checks/tidb, tidb/tests
  traefik: any of: traefik/datadog_checks/traefik, traefik/tests
  trino: any of: trino/datadog_checks/trino, trino/tests
  unbound: any of: unbound/datadog_checks/unbound, unbound/tests
  unifi_console: any of: unifi_console/datadog_checks/unifi_console, unifi_console/tests
  upbound_uxp: any of: upbound_uxp/datadog_checks/upbound_uxp, upbound_uxp/tests
  upsc: any of: upsc/datadog_checks/upsc, upsc/tests
  vespa: any of: vespa/datadog_checks/vespa, vespa/tests
  wayfinder: any of: wayfinder/datadog_checks/wayfinder, wayfinder/tests
  zabbix: any of: zabbix/datadog_checks/zabbix, zabbix/tests
  zenoh_router: any of: zenoh_router/datadog_checks/zenoh_router, zenoh_router/tests
