Repository DataDog/integrations-extras: changes, and which Codecov flags are due for each by the changed paths.
All: aqua, aws_pricing, bind9, cfssl, cloudnatix, cloudsmith, cybersixgill_actionable_alerts, cyral, emqx, eventstore, exim, fiddler, filebeat, filemage, fluentbit, gatekeeper, gitea, gnatsd, gnatsd_streaming, go_pprof_scraper, grpc_check, hikaricp, jfrog_platform_self_hosted, kernelcare, lighthouse, logstash, mergify, neo4j, neutrona, nextcloud, nn_sdwan, ns1, nvml, octoprint, open_policy_agent, php_apcu, php_opcache, pihole, ping, portworx, puma, purefa, purefb, radarr, reboot_required, redis_enterprise, redis_sentinel, redisenterprise, redpanda, riak_repl, robust_intelligence_ai_firewall, scalr, sendmail, snmpwalk, sonarr, sortdb, speedtest, stardog, storm, syncthing, tidb, traefik, trino, unbound, unifi_console, upbound_uxp, upsc, vespa, wayfinder, zabbix, zenoh_router

Add CockroachDB storage metrics
  cockroachdb_dedicated/metadata.csv
Due: none

update CHANGELOG.md
  celerdata/CHANGELOG.md
Due: none

Update celerdata/CHANGELOG.md
  celerdata/CHANGELOG.md
Due: none

chore: update CHANGELOG for version 2.1.0, reflecting rebranding from Instabug to Luciq and consolidating company information
  instabug/CHANGELOG.md
Due: none

Changing long lines to a more compact format.
  redpanda/datadog_checks/redpanda/metrics.py
Due: redpanda

fix: update the change log version to 3.1.0
  instabug/CHANGELOG.md
Due: none

Hide PerimeterX (#2819)
  perimeterx/manifest.json
Due: none

This is a commit
  .gitlab/release/build-packages.sh
  .gitlab/release/git-auth.sh
  .gitlab/release/sign-release.sh
  .gitlab/release/tag-release.sh
  alertnow/README.md
  alertnow/images/alertnow_overview.png
  alertnow/images/create_integration_datadog_en.png
  alertnow/images/datadog_integration_detail.png
  alertnow/images/datadog_webhook.png
  alertnow/images/integration_card_datadog.png
  bonsai/assets/logos/avatars-bot.png
  bonsai/assets/logos/saas_logos-bot.png
  bonsai/assets/logos/saas_logos-small.png
  discord/assets/icon_clyde_blurple_RGB.png
  federatorai/assets/logos/avatars-bot.png
  federatorai/assets/logos/prophetstor_logos-bot.png
  federatorai/assets/logos/prophetstor_logos-small.png
  federatorai/images/prophetstor_logos-bot-for-dashboard.png
  finout/assets/logos/finout-dark-mode-logo.svg
  finout/assets/logos/finout-light-mode-logo.svg
  hbase_regionserver/_gen.rb
  jfrog_platform_cloud/assets/logos/jfrog-platform-cloud.png
  jfrog_platform_self_hosted/assets/logos/JFrog+Logo.png
  jfrog_platform_self_hosted/images/JFrog+Logo.png
  jfrog_platform_self_hosted/manifest.json
  k6/assets/logos/avatars-bot.png
  k6/assets/logos/saas_logos-bot.png
  k6/assets/logos/saas_logos-small.png
  launchdarkly/assets/logos/LaunchDarkly.svg
  launchdarkly/assets/logos/avatars-bot.png
  launchdarkly/assets/logos/saas_logos-bot.png
  launchdarkly/assets/logos/saas_logos-small.png
  sigsci/CHANGELOG.md
  snmpwalk/tests/script.sh
  zebrium/assets/logos/Zebrium.svg
Due: snmpwalk

updated Stonebranch branch for master and changed Stonebranch README
  stonebranch/README.md
Due: none

Removing six.moves library.
  redpanda/datadog_checks/redpanda/redpanda.py
Due: redpanda

Fixes for go_pprof_scraper
  go_pprof_scraper/datadog_checks/go_pprof_scraper/check.py
  go_pprof_scraper/tests/conftest.py
  go_pprof_scraper/tests/test_go_pprof_scraper.py
Due: go_pprof_scraper

bump base check version
  emqx/pyproject.toml
Due: none

bump base check versions
  cloudnatix/pyproject.toml
  fluentbit/pyproject.toml
  gatekeeper/pyproject.toml
  gitea/pyproject.toml
  go_pprof_scraper/pyproject.toml
  hikaricp/pyproject.toml
  kepler/pyproject.toml
  neo4j/pyproject.toml
  purefb/pyproject.toml
  redis_cloud/pyproject.toml
  scaphandre/pyproject.toml
  zenoh_router/pyproject.toml
Due: none

Bump version and add changelog
  go_pprof_scraper/CHANGELOG.md
  go_pprof_scraper/datadog_checks/go_pprof_scraper/__about__.py
Due: go_pprof_scraper

Validation fixes
  go_pprof_scraper/datadog_checks/go_pprof_scraper/config_models/instance.py
  go_pprof_scraper/datadog_checks/go_pprof_scraper/data/conf.yaml.example
Due: go_pprof_scraper

fix kepler names
  kepler/CHANGELOG.md
  kepler/datadog_checks/kepler/__about__.py
  kepler/datadog_checks/kepler/metrics.py
Due: none

update the version information
  celerdata/CHANGELOG.md
  celerdata/README.md
  celerdata/datadog_checks/celerdata/__about__.py
Due: none

Update celerdata/datadog_checks/celerdata/__about__.py
  celerdata/datadog_checks/celerdata/__about__.py
Due: none

Use the fixed version in docker-compose.yaml
  celerdata/tests/docker/docker-compose.yaml
Due: none

Update celerdata/README.md
  celerdata/README.md
Due: none

fix lint errors again
  celerdata/datadog_checks/celerdata/data/conf.yaml.example
Due: none

fix lint errors
  celerdata/tests/test_celerdata.py
Due: none

BugFix: add test_celerdata_fe for testing FE metrics
  celerdata/tests/test_celerdata.py
Due: none

update the version of datadog-checks-base
  celerdata/pyproject.toml
Due: none

fix kepler names (#2821)
  kepler/CHANGELOG.md
  kepler/datadog_checks/kepler/__about__.py
  kepler/datadog_checks/kepler/metrics.py
Due: none

[Release] Update metadata
  .in-toto/tag.8b238386.link
Due: none

Simplify code
  go_pprof_scraper/datadog_checks/go_pprof_scraper/check.py
Due: go_pprof_scraper

Fix tests
  go_pprof_scraper/tests/test_go_pprof_scraper.py
Due: go_pprof_scraper

Finalize
  go_pprof_scraper/datadog_checks/go_pprof_scraper/check.py
  go_pprof_scraper/tests/test_go_pprof_scraper.py
Due: go_pprof_scraper

Fix `go_pprof_scraper` Unix socket fallback when default socket path doesn't exist (#2820)
  go_pprof_scraper/CHANGELOG.md
  go_pprof_scraper/datadog_checks/go_pprof_scraper/__about__.py
  go_pprof_scraper/datadog_checks/go_pprof_scraper/check.py
  go_pprof_scraper/datadog_checks/go_pprof_scraper/config_models/instance.py
  go_pprof_scraper/datadog_checks/go_pprof_scraper/data/conf.yaml.example
  go_pprof_scraper/tests/conftest.py
  go_pprof_scraper/tests/test_go_pprof_scraper.py
Due: go_pprof_scraper

[ECOINT-289][Bugfix] Add back test cases with fixed sr (#2818)
  celerdata/CHANGELOG.md
  celerdata/README.md
  celerdata/datadog_checks/celerdata/__about__.py
  celerdata/datadog_checks/celerdata/data/conf.yaml.example
  celerdata/pyproject.toml
  celerdata/tests/docker/docker-compose.yaml
  celerdata/tests/test_celerdata.py
Due: none

Update dashboard images
  bind9/images/bind9_details.png
  bind9/images/bind9_details_1.png
  bind9/images/bind9_details_2.png
  bind9/images/bind9_overview.png
  bind9/manifest.json
Due: none

Update dashboard screenshots for f5-distributed-cloud integration
  f5-distributed-cloud/images/defense_events_overview.png
  f5-distributed-cloud/images/waf_events_overview.png
Due: none

Updating datadog-checks-base
  redpanda/pyproject.toml
Due: none

Path conditions:
  aqua: any of: aqua/datadog_checks/aqua, aqua/tests
  aws_pricing: any of: aws_pricing/datadog_checks/aws_pricing, aws_pricing/tests
  bind9: any of: bind9/datadog_checks/bind9, bind9/tests
  cfssl: any of: cfssl/datadog_checks/cfssl, cfssl/tests
  cloudnatix: any of: cloudnatix/datadog_checks/cloudnatix, cloudnatix/tests
  cloudsmith: any of: cloudsmith/datadog_checks/cloudsmith, cloudsmith/tests
  cybersixgill_actionable_alerts: any of: cybersixgill_actionable_alerts/datadog_checks/cybersixgill_actionable_alerts, cybersixgill_actionable_alerts/tests
  cyral: any of: cyral/datadog_checks/cyral, cyral/tests
  emqx: any of: emqx/datadog_checks/emqx, emqx/tests
  eventstore: any of: eventstore/datadog_checks/eventstore, eventstore/tests
  exim: any of: exim/datadog_checks/exim, exim/tests
  fiddler: any of: fiddler/datadog_checks/fiddler, fiddler/tests
  filebeat: any of: filebeat/datadog_checks/filebeat, filebeat/tests
  filemage: any of: filemage/datadog_checks/filemage, filemage/tests
  fluentbit: any of: fluentbit/datadog_checks/fluentbit, fluentbit/tests
  gatekeeper: any of: gatekeeper/datadog_checks/gatekeeper, gatekeeper/tests
  gitea: any of: gitea/datadog_checks/gitea, gitea/tests
  gnatsd: any of: gnatsd/datadog_checks/gnatsd, gnatsd/tests
  gnatsd_streaming: any of: gnatsd_streaming/datadog_checks/gnatsd_streaming, gnatsd_streaming/tests
  go_pprof_scraper: any of: go_pprof_scraper/datadog_checks/go_pprof_scraper, go_pprof_scraper/tests
  grpc_check: any of: grpc_check/datadog_checks/grpc_check, grpc_check/tests
  hikaricp: any of: hikaricp/datadog_checks/hikaricp, hikaricp/tests
  jfrog_platform_self_hosted: any of: jfrog_platform_self_hosted/datadog_checks/jfrog_platform_self_hosted, jfrog_platform_self_hosted/tests
  kernelcare: any of: kernelcare/datadog_checks/kernelcare, kernelcare/tests
  lighthouse: any of: lighthouse/datadog_checks/lighthouse, lighthouse/tests
  logstash: any of: logstash/datadog_checks/logstash, logstash/tests
  mergify: any of: mergify/datadog_checks/mergify, mergify/tests
  neo4j: any of: neo4j/datadog_checks/neo4j, neo4j/tests
  neutrona: any of: neutrona/datadog_checks/neutrona, neutrona/tests
  nextcloud: any of: nextcloud/datadog_checks/nextcloud, nextcloud/tests
  nn_sdwan: any of: nn_sdwan/datadog_checks/nn_sdwan, nn_sdwan/tests
  ns1: any of: ns1/datadog_checks/ns1, ns1/tests
  nvml: any of: nvml/datadog_checks/nvml, nvml/tests
  octoprint: any of: octoprint/datadog_checks/octoprint, octoprint/tests
  open_policy_agent: any of: open_policy_agent/datadog_checks/open_policy_agent, open_policy_agent/tests
  php_apcu: any of: php_apcu/datadog_checks/php_apcu, php_apcu/tests
  php_opcache: any of: php_opcache/datadog_checks/php_opcache, php_opcache/tests
  pihole: any of: pihole/datadog_checks/pihole, pihole/tests
  ping: any of: ping/datadog_checks/ping, ping/tests
  portworx: any of: portworx/datadog_checks/portworx, portworx/tests
  puma: any of: puma/datadog_checks/puma, puma/tests
  purefa: any of: purefa/datadog_checks/purefa, purefa/tests
  purefb: any of: purefb/datadog_checks/purefb, purefb/tests
  radarr: any of: radarr/datadog_checks/radarr, radarr/tests
  reboot_required: any of: reboot_required/datadog_checks/reboot_required, reboot_required/tests
  redis_enterprise: any of: redis_enterprise/datadog_checks/redis_enterprise, redis_enterprise/tests
  redis_sentinel: any of: redis_sentinel/datadog_checks/redis_sentinel, redis_sentinel/tests
  redisenterprise: any of: redisenterprise/datadog_checks/redisenterprise, redisenterprise/tests
  redpanda: any of: redpanda/datadog_checks/redpanda, redpanda/tests
  riak_repl: any of: riak_repl/datadog_checks/riak_repl, riak_repl/tests
  robust_intelligence_ai_firewall: any of: robust_intelligence_ai_firewall/datadog_checks/robust_intelligence_ai_firewall, robust_intelligence_ai_firewall/tests
  scalr: any of: scalr/datadog_checks/scalr, scalr/tests
  sendmail: any of: sendmail/datadog_checks/sendmail, sendmail/tests
  snmpwalk: any of: snmpwalk/datadog_checks/snmpwalk, snmpwalk/tests
  sonarr: any of: sonarr/datadog_checks/sonarr, sonarr/tests
  sortdb: any of: sortdb/datadog_checks/sortdb, sortdb/tests
  speedtest: any of: speedtest/datadog_checks/speedtest, speedtest/tests
  stardog: any of: stardog/datadog_checks/stardog, stardog/tests
  storm: any of: storm/datadog_checks/storm, storm/tests
  syncthing: any of: syncthing/datadog_checks/syncthing, syncthing/tests
  tidb: any of: tidb/datadog_checks/tidb, tidb/tests
  traefik: any of: traefik/datadog_checks/traefik, traefik/tests
  trino: any of: trino/datadog_checks/trino, trino/tests
  unbound: any of: unbound/datadog_checks/unbound, unbound/tests
  unifi_console: any of: unifi_console/datadog_checks/unifi_console, unifi_console/tests
  upbound_uxp: any of: upbound_uxp/datadog_checks/upbound_uxp, upbound_uxp/tests
  upsc: any of: upsc/datadog_checks/upsc, upsc/tests
  vespa: any of: vespa/datadog_checks/vespa, vespa/tests
  wayfinder: any of: wayfinder/datadog_checks/wayfinder, wayfinder/tests
  zabbix: any of: zabbix/datadog_checks/zabbix, zabbix/tests
  zenoh_router: any of: zenoh_router/datadog_checks/zenoh_router, zenoh_router/tests
