Repository DataDog/integrations-extras: changes, and which Codecov flags are due for each by the changed paths.
All: aqua, aws_pricing, bind9, cert_manager, cyral, eventstore, filebeat, gnatsd, gnatsd_streaming, kernelcare, lighthouse, logstash, neo4j, neutrona, nextcloud, nvml, php_apcu, php_opcache, pihole, ping, portworx, pulsar, puma, reboot_required, redis_sentinel, riak_repl, sendmail, snmpwalk, sortdb, speedtest, stardog, storm, traefik, unbound, upsc, vespa, zabbix

Update redisenterprise/tests/conftest.py
  redisenterprise/tests/conftest.py
Due: none

Update redisenterprise/tests/test_redisenterprise.py
  redisenterprise/tests/test_redisenterprise.py
Due: none

Update redisenterprise/datadog_checks/redisenterprise/check.py
  redisenterprise/datadog_checks/redisenterprise/check.py
Due: none

DOCS-2167 Service checks automation (#933)
  aqua/README.md
  aws_pricing/README.md
  bind9/README.md
  cert_manager/README.md
  filebeat/README.md
  flume/README.md
  gatekeeper/README.md
  gnatsd/README.md
  gnatsd_streaming/README.md
  kernelcare/README.md
  logstash/README.md
  neo4j/README.md
  nextcloud/README.md
  ns1/README.md
  nvml/README.md
  octoprint/README.md
  open_policy_agent/README.md
  php_apcu/README.md
  php_opcache/README.md
  pihole/README.md
  ping/README.md
  ping/service_checks.json
  puma/README.md
  reboot_required/README.md
  redis_sentinel/README.md
  resin/README.md
  sendmail/README.md
  snmpwalk/README.md
  sortdb/README.md
  speedtest/README.md
  storm/README.md
  traefik/README.md
  unbound/README.md
  vespa/README.md
  zabbix/README.md
Due: none

update README.md
  federatorai/README.md
Due: none

Update Federator.ai README.md.
  federatorai/README.md
  federatorai/images/add_cluster_window.png
  federatorai/images/plus_icon.png
Due: none

Update federatorai integration (#935)
  federatorai/README.md
  federatorai/images/add_cluster_window.png
  federatorai/images/plus_icon.png
Due: none

fixed lint errors & moved hostname resolving lower
  unbound/datadog_checks/unbound/unbound.py
Due: unbound

still breaks the actual test but now formatting is clear
  redisenterprise/datadog_checks/redisenterprise/check.py
Due: none

show broken connections
  redisenterprise/datadog_checks/redisenterprise/check.py
Due: none

update checks to match new configs
  redisenterprise/datadog_checks/redisenterprise/__about__.py
  redisenterprise/datadog_checks/redisenterprise/check.py
  redisenterprise/tests/test_redisenterprise.py
Due: none

Use https for downloading
  resin/tests/docker/Dockerfile
Due: none

Use https for downloading (#938)
  resin/tests/docker/Dockerfile
Due: none

Add integration for Redislabs Enterprise Redis product (#849)
  .azure-pipelines/all.yml
  .codecov.yml
  .github/CODEOWNERS
  redisenterprise/CHANGELOG.md
  redisenterprise/MANIFEST.in
  redisenterprise/README.md
  redisenterprise/assets/configuration/spec.yaml
  redisenterprise/assets/dashboards/redisenterprise_cluster_top_view.json
  redisenterprise/assets/dashboards/redisenterprise_overview.json
  redisenterprise/assets/dashboards/redisenterprise_rof.json
  redisenterprise/assets/service_checks.json
  redisenterprise/datadog_checks/__init__.py
  redisenterprise/datadog_checks/redisenterprise/__about__.py
  redisenterprise/datadog_checks/redisenterprise/__init__.py
  redisenterprise/datadog_checks/redisenterprise/check.py
  redisenterprise/datadog_checks/redisenterprise/data/conf.yaml.example
  redisenterprise/images/.gitkeep
  redisenterprise/images/ROF_dashboard.png
  redisenterprise/images/dashboard.png
  redisenterprise/images/datadog_cluster_top_view.png
  redisenterprise/images/events.png
  redisenterprise/images/redis-enterprise.jpg
  redisenterprise/images/redislabs-logo.png
  redisenterprise/manifest.json
  redisenterprise/metadata.csv
  redisenterprise/requirements-dev.txt
  redisenterprise/requirements.in
  redisenterprise/setup.py
  redisenterprise/tests/__init__.py
  redisenterprise/tests/conftest.py
  redisenterprise/tests/docker-compose.yml
  redisenterprise/tests/test_redisenterprise.py
  redisenterprise/tox.ini
Due: none

[Release] Update metadata
  .in-toto/tag.d1d0746a.link
Due: none

[Statsig] Add further reading section
  statsig/README.md
Due: none

Fix flaky resin
  resin/tests/conftest.py
  resin/tests/test_resin.py
Due: none

Update config files
  cyral/datadog_checks/cyral/data/conf.yaml.example
  gatekeeper/datadog_checks/gatekeeper/data/auto_conf.yaml
  gatekeeper/datadog_checks/gatekeeper/data/conf.yaml.example
  jfrog_platform/datadog_checks/jfrog_platform/data/conf.yaml.example
  open_policy_agent/datadog_checks/open_policy_agent/data/auto_conf.yaml
  open_policy_agent/datadog_checks/open_policy_agent/data/conf.yaml.example
  pulsar/datadog_checks/pulsar/data/conf.yaml.example
Due: cyral, pulsar

Validate changes only
  .azure-pipelines/changes.yml
Due: none

Update config files (#941)
  cyral/datadog_checks/cyral/data/conf.yaml.example
  gatekeeper/datadog_checks/gatekeeper/data/auto_conf.yaml
  gatekeeper/datadog_checks/gatekeeper/data/conf.yaml.example
  jfrog_platform/datadog_checks/jfrog_platform/data/conf.yaml.example
  open_policy_agent/datadog_checks/open_policy_agent/data/auto_conf.yaml
  open_policy_agent/datadog_checks/open_policy_agent/data/conf.yaml.example
  pulsar/datadog_checks/pulsar/data/conf.yaml.example
Due: cyral, pulsar

Validate changes only (#942)
  .azure-pipelines/changes.yml
Due: none

Fix flaky resin (#940)
  resin/tests/conftest.py
  resin/tests/test_resin.py
Due: none

Removed check that won’t pass in 3.2.3
  neo4j/CHANGELOG.md
  neo4j/README.md
  neo4j/assets/configuration/spec.yaml
  neo4j/assets/service_checks.json
  neo4j/bin/generate-metadata-content
  neo4j/conf.yaml.example
  neo4j/datadog_checks/__init__.py
  neo4j/datadog_checks/neo4j/__about__.py
  neo4j/datadog_checks/neo4j/__init__.py
  neo4j/datadog_checks/neo4j/data/conf.yaml.example
  neo4j/datadog_checks/neo4j/neo4j.py
  neo4j/manifest.json
  neo4j/metadata.csv
  neo4j/pyvenv.cfg
  neo4j/setup.py
  neo4j/tests/common.py
  neo4j/tests/conftest.py
  neo4j/tests/docker/docker-compose.yaml
  neo4j/tests/test_neo4j.py
  neo4j/tox.ini
Due: neo4j

Update Neo4j Integration for 4.x
  neo4j/CHANGELOG.md
Due: none

Apply suggestions
  statsig/README.md
Due: none

adding the info that this requires a paid postman plan
  postman/README.md
Due: none

[Statsig] Add further reading section (#939)
  statsig/README.md
Due: none

adding the info that this requires a paid postman plan (#945)
  postman/README.md
Due: none

test
  test.txt
Due: none

Updated files per PR
  neo4j/README.md
  neo4j/assets/service_checks.json
  neo4j/datadog_checks/neo4j/data/conf.yaml.example
  neo4j/manifest.json
  neo4j/tests/test_neo4j.py
  neo4j/tox.ini
Due: neo4j

Release neo4j
  neo4j/CHANGELOG.md
  neo4j/datadog_checks/neo4j/__about__.py
Due: neo4j

Release neo4j (#946)
  neo4j/CHANGELOG.md
  neo4j/datadog_checks/neo4j/__about__.py
Due: neo4j

Changes to config to handle zone records without specifying each record
  ns1/datadog_checks/ns1/check.py
  ns1/datadog_checks/ns1/data/conf.yaml.example
  ns1/datadog_checks/ns1/ns1_url_utils.py
  ns1/tests/conftest.py
  ns1/tests/test_ns1.py
Due: none

Added https ability and fixed conf.yaml.example file
  neo4j/datadog_checks/neo4j/data/conf.yaml.example
  neo4j/datadog_checks/neo4j/neo4j.py
Due: neo4j

Path conditions:
  aqua: any of: aqua/datadog_checks/aqua, aqua/tests
  aws_pricing: any of: aws_pricing/datadog_checks/aws_pricing, aws_pricing/tests
  bind9: any of: bind9/datadog_checks/bind9, bind9/tests
  cert_manager: any of: cert_manager/datadog_checks/cert_manager, cert_manager/tests
  cyral: any of: cyral/datadog_checks/cyral, cyral/tests
  eventstore: any of: eventstore/datadog_checks/eventstore, eventstore/tests
  filebeat: any of: filebeat/datadog_checks/filebeat, filebeat/tests
  gnatsd: any of: gnatsd/datadog_checks/gnatsd, gnatsd/tests
  gnatsd_streaming: any of: gnatsd_streaming/datadog_checks/gnatsd_streaming, gnatsd_streaming/tests
  kernelcare: any of: kernelcare/datadog_checks/kernelcare, kernelcare/tests
  lighthouse: any of: lighthouse/datadog_checks/lighthouse, lighthouse/tests
  logstash: any of: logstash/datadog_checks/logstash, logstash/tests
  neo4j: any of: neo4j/datadog_checks/neo4j, neo4j/tests
  neutrona: any of: neutrona/datadog_checks/neutrona, neutrona/tests
  nextcloud: any of: nextcloud/datadog_checks/nextcloud, nextcloud/tests
  nvml: any of: nvml/datadog_checks/nvml, nvml/tests
  php_apcu: any of: php_apcu/datadog_checks/php_apcu, php_apcu/tests
  php_opcache: any of: php_opcache/datadog_checks/php_opcache, php_opcache/tests
  pihole: any of: pihole/datadog_checks/pihole, pihole/tests
  ping: any of: ping/datadog_checks/ping, ping/tests
  portworx: any of: portworx/datadog_checks/portworx, portworx/tests
  pulsar: any of: pulsar/datadog_checks/pulsar, pulsar/tests
  puma: any of: puma/datadog_checks/puma, puma/tests
  reboot_required: any of: reboot_required/datadog_checks/reboot_required, reboot_required/tests
  redis_sentinel: any of: redis_sentinel/datadog_checks/redis_sentinel, redis_sentinel/tests
  riak_repl: any of: riak_repl/datadog_checks/riak_repl, riak_repl/tests
  sendmail: any of: sendmail/datadog_checks/sendmail, sendmail/tests
  snmpwalk: any of: snmpwalk/datadog_checks/snmpwalk, snmpwalk/tests
  sortdb: any of: sortdb/datadog_checks/sortdb, sortdb/tests
  speedtest: any of: speedtest/datadog_checks/speedtest, speedtest/tests
  stardog: any of: stardog/datadog_checks/stardog, stardog/tests
  storm: any of: storm/datadog_checks/storm, storm/tests
  traefik: any of: traefik/datadog_checks/traefik, traefik/tests
  unbound: any of: unbound/datadog_checks/unbound, unbound/tests
  upsc: any of: upsc/datadog_checks/upsc, upsc/tests
  vespa: any of: vespa/datadog_checks/vespa, vespa/tests
  zabbix: any of: zabbix/datadog_checks/zabbix, zabbix/tests
