Repository DataDog/integrations-extras: changes, and which Codecov flags are due for each by the changed paths.
All: aqua, argo_cd, aws_pricing, bind9, calico, cert_manager, cloudsmith, cyral, eventstore, filebeat, gatekeeper, gnatsd, gnatsd_streaming, jfrog_platform, kernelcare, lighthouse, logstash, neo4j, neutrona, nextcloud, ns1, nvml, octoprint, open_policy_agent, php_apcu, php_opcache, pihole, ping, portworx, pulsar, puma, reboot_required, redis_sentinel, redisenterprise, riak_repl, sendmail, snmpwalk, sortdb, speedtest, stardog, storm, tidb, traefik, unbound, upsc, vespa, zabbix

Apply suggestions from code review
  redpanda/README.md
  redpanda/manifest.json
Due: none

Updated to use OpenMetricsBaseCheckV2
  redpanda/assets/configuration/spec.yaml
  redpanda/assets/dashboards/overview.json
  redpanda/assets/service_checks.json
  redpanda/datadog_checks/redpanda/data/conf.yaml.example
  redpanda/datadog_checks/redpanda/metrics.py
  redpanda/datadog_checks/redpanda/redpanda.py
  redpanda/tests/common.py
  redpanda/tests/conftest.py
  redpanda/tests/fixtures/redpanda_metrics.txt
  redpanda/tests/test_redpanda.py
  redpanda/tox.ini
Due: none

style + review change
  argo_cd/assets/configuration/spec.yaml
  argo_cd/datadog_checks/__init__.py
  argo_cd/datadog_checks/argo_cd/__about__.py
  argo_cd/datadog_checks/argo_cd/__init__.py
  argo_cd/datadog_checks/argo_cd/check.py
  argo_cd/datadog_checks/argo_cd/config_models/validators.py
  argo_cd/setup.py
  argo_cd/tests/conftest.py
  argo_cd/tests/test_argo_cd.py
Due: argo_cd

ddev validate models argo_cd -s
  argo_cd/datadog_checks/argo_cd/config_models/instance.py
Due: argo_cd

add metric to check to manifest.json
  argo_cd/manifest.json
Due: none

add short description to manifest.json
  argo_cd/manifest.json
Due: none

fix metadata csv file
  argo_cd/metadata.csv
Due: none

update manifest.json
  argo_cd/manifest.json
Due: none

remove duplicated metric
  argo_cd/metadata.csv
Due: none

remove python2 from test
  argo_cd/tests/test_argo_cd.py
  argo_cd/tox.ini
Due: argo_cd

change instance to openmetrics_endpoint
  argo_cd/assets/configuration/spec.yaml
  argo_cd/datadog_checks/argo_cd/check.py
  argo_cd/datadog_checks/argo_cd/data/conf.yaml.example
  argo_cd/tests/test_argo_cd.py
Due: argo_cd

ddev validate models argo_cd -s
  argo_cd/datadog_checks/argo_cd/config_models/defaults.py
  argo_cd/datadog_checks/argo_cd/config_models/instance.py
Due: argo_cd

Fix incorrect username for myself
  .github/CODEOWNERS
Due: none

Fix incorrect username for myself (#1067)
  .github/CODEOWNERS
Due: none

collect and label our stats for active/active
  redisenterprise/datadog_checks/redisenterprise/__about__.py
  redisenterprise/datadog_checks/redisenterprise/check.py
  redisenterprise/metadata.csv
Due: redisenterprise

updated doc for squadcast integration
  squadcast/README.md
Due: none

screenshot which needs to be updated in doc
  squadcast/images/datadog-webhook.png
Due: none

Update README.md
  squadcast/README.md
Due: none

update with new corporate information
  redisenterprise/README.md
  redisenterprise/images/logo-redis.png
  redisenterprise/images/redislabs-logo.png
Due: none

add in new A/A dashboard
  redisenterprise/README.md
  redisenterprise/assets/dashboards/redis_enterprise_active_active.json
  redisenterprise/images/active_active_dashboard.png
Due: none

better dashboard and tag all crd_stats properly
  redisenterprise/assets/dashboards/redis_enterprise_active_active.json
  redisenterprise/datadog_checks/redisenterprise/__about__.py
  redisenterprise/datadog_checks/redisenterprise/check.py
  redisenterprise/images/active_active_dashboard.png
Due: redisenterprise

fix issues
  redisenterprise/datadog_checks/redisenterprise/__about__.py
  redisenterprise/datadog_checks/redisenterprise/check.py
Due: redisenterprise

Minor Changes:
  redpanda/assets/configuration/spec.yaml
  redpanda/datadog_checks/redpanda/data/conf.yaml.example
  redpanda/manifest.json
Due: none

Add the Torq integration to replace the StackPulse integration
  .github/CODEOWNERS
  torq/CHANGELOG.md
  torq/README.md
  torq/assets/dashboards/torq_overview.json
  torq/assets/logos/torq-black-horizontal.png
  torq/assets/logos/torq-white-horizontal.png
  torq/assets/logos/torq_logo.svg
  torq/assets/service_checks.json
  torq/images/datadog_api_key.png
  torq/images/datadog_app_key.png
  torq/images/datadog_webhook.png
  torq/images/datadog_webhook_2.png
  torq/manifest.json
  torq/metadata.csv
Due: none

bump version
  redisenterprise/datadog_checks/redisenterprise/__about__.py
Due: redisenterprise

update changelog
  redisenterprise/CHANGELOG.md
Due: none

update my email in codeowners
  .github/CODEOWNERS
Due: none

Redpanda (#1020)
  .azure-pipelines/all.yml
  .codecov.yml
  .github/CODEOWNERS
  redpanda/CHANGELOG.md
  redpanda/MANIFEST.in
  redpanda/README.md
  redpanda/assets/configuration/spec.yaml
  redpanda/assets/dashboards/overview.json
  redpanda/assets/service_checks.json
  redpanda/datadog_checks/__init__.py
  redpanda/datadog_checks/redpanda/__about__.py
  redpanda/datadog_checks/redpanda/__init__.py
  redpanda/datadog_checks/redpanda/data/conf.yaml.example
  redpanda/datadog_checks/redpanda/metrics.py
  redpanda/datadog_checks/redpanda/redpanda.py
  redpanda/manifest.json
  redpanda/metadata.csv
  redpanda/requirements-dev.txt
  redpanda/requirements.in
  redpanda/setup.py
  redpanda/tests/__init__.py
  redpanda/tests/common.py
  redpanda/tests/conftest.py
  redpanda/tests/docker/docker-compose.yaml
  redpanda/tests/fixtures/redpanda_metrics.txt
  redpanda/tests/test_redpanda.py
  redpanda/tox.ini
Due: none

[Release] Update metadata
  .in-toto/tag.d1d0746a.link
Due: none

fix tab comment
  redpanda/README.md
Due: none

fix tab comment (#1070)
  redpanda/README.md
Due: none

remove stackpulse dashboard
  stackpulse/assets/dashboards/stackpulse_overview.json
  stackpulse/manifest.json
Due: none

disable is_public
  stackpulse/manifest.json
Due: none

fix formatting
  stackpulse/manifest.json
Due: none

update integration name
  stackpulse/manifest.json
Due: none

Update redisenterprise/README.md
  redisenterprise/README.md
Due: none

Update redisenterprise/metadata.csv
  redisenterprise/metadata.csv
Due: none

Path conditions:
  aqua: any of: aqua/datadog_checks/aqua, aqua/tests
  argo_cd: any of: argo_cd/datadog_checks/argo_cd, argo_cd/tests
  aws_pricing: any of: aws_pricing/datadog_checks/aws_pricing, aws_pricing/tests
  bind9: any of: bind9/datadog_checks/bind9, bind9/tests
  calico: any of: calico/datadog_checks/calico, calico/tests
  cert_manager: any of: cert_manager/datadog_checks/cert_manager, cert_manager/tests
  cloudsmith: any of: cloudsmith/datadog_checks/cloudsmith, cloudsmith/tests
  cyral: any of: cyral/datadog_checks/cyral, cyral/tests
  eventstore: any of: eventstore/datadog_checks/eventstore, eventstore/tests
  filebeat: any of: filebeat/datadog_checks/filebeat, filebeat/tests
  gatekeeper: any of: gatekeeper/datadog_checks/gatekeeper, gatekeeper/tests
  gnatsd: any of: gnatsd/datadog_checks/gnatsd, gnatsd/tests
  gnatsd_streaming: any of: gnatsd_streaming/datadog_checks/gnatsd_streaming, gnatsd_streaming/tests
  jfrog_platform: any of: jfrog_platform/datadog_checks/jfrog_platform, jfrog_platform/tests
  kernelcare: any of: kernelcare/datadog_checks/kernelcare, kernelcare/tests
  lighthouse: any of: lighthouse/datadog_checks/lighthouse, lighthouse/tests
  logstash: any of: logstash/datadog_checks/logstash, logstash/tests
  neo4j: any of: neo4j/datadog_checks/neo4j, neo4j/tests
  neutrona: any of: neutrona/datadog_checks/neutrona, neutrona/tests
  nextcloud: any of: nextcloud/datadog_checks/nextcloud, nextcloud/tests
  ns1: any of: ns1/datadog_checks/ns1, ns1/tests
  nvml: any of: nvml/datadog_checks/nvml, nvml/tests
  octoprint: any of: octoprint/datadog_checks/octoprint, octoprint/tests
  open_policy_agent: any of: open_policy_agent/datadog_checks/open_policy_agent, open_policy_agent/tests
  php_apcu: any of: php_apcu/datadog_checks/php_apcu, php_apcu/tests
  php_opcache: any of: php_opcache/datadog_checks/php_opcache, php_opcache/tests
  pihole: any of: pihole/datadog_checks/pihole, pihole/tests
  ping: any of: ping/datadog_checks/ping, ping/tests
  portworx: any of: portworx/datadog_checks/portworx, portworx/tests
  pulsar: any of: pulsar/datadog_checks/pulsar, pulsar/tests
  puma: any of: puma/datadog_checks/puma, puma/tests
  reboot_required: any of: reboot_required/datadog_checks/reboot_required, reboot_required/tests
  redis_sentinel: any of: redis_sentinel/datadog_checks/redis_sentinel, redis_sentinel/tests
  redisenterprise: any of: redisenterprise/datadog_checks/redisenterprise, redisenterprise/tests
  riak_repl: any of: riak_repl/datadog_checks/riak_repl, riak_repl/tests
  sendmail: any of: sendmail/datadog_checks/sendmail, sendmail/tests
  snmpwalk: any of: snmpwalk/datadog_checks/snmpwalk, snmpwalk/tests
  sortdb: any of: sortdb/datadog_checks/sortdb, sortdb/tests
  speedtest: any of: speedtest/datadog_checks/speedtest, speedtest/tests
  stardog: any of: stardog/datadog_checks/stardog, stardog/tests
  storm: any of: storm/datadog_checks/storm, storm/tests
  tidb: any of: tidb/datadog_checks/tidb, tidb/tests
  traefik: any of: traefik/datadog_checks/traefik, traefik/tests
  unbound: any of: unbound/datadog_checks/unbound, unbound/tests
  upsc: any of: upsc/datadog_checks/upsc, upsc/tests
  vespa: any of: vespa/datadog_checks/vespa, vespa/tests
  zabbix: any of: zabbix/datadog_checks/zabbix, zabbix/tests
