Repository DataDog/integrations-extras: changes, and which Codecov flags are due for each by the changed paths.
All: aqua, argo_cd, aws_pricing, bind9, calico, cert_manager, cloudsmith, cyral, eventstore, filebeat, gatekeeper, gnatsd, gnatsd_streaming, jfrog_platform, kernelcare, lighthouse, logstash, neo4j, neutrona, nextcloud, ns1, nvml, octoprint, open_policy_agent, php_apcu, php_opcache, pihole, ping, portworx, pulsar, puma, reboot_required, redis_sentinel, redisenterprise, riak_repl, sendmail, snmpwalk, sortdb, speedtest, stardog, storm, tidb, traefik, unbound, upsc, vespa, zabbix

Path conditions:
  aqua: any of: aqua/datadog_checks/aqua, aqua/tests
  argo_cd: any of: argo_cd/datadog_checks/argo_cd, argo_cd/tests
  aws_pricing: any of: aws_pricing/datadog_checks/aws_pricing, aws_pricing/tests
  bind9: any of: bind9/datadog_checks/bind9, bind9/tests
  calico: any of: calico/datadog_checks/calico, calico/tests
  cert_manager: any of: cert_manager/datadog_checks/cert_manager, cert_manager/tests
  cloudsmith: any of: cloudsmith/datadog_checks/cloudsmith, cloudsmith/tests
  cyral: any of: cyral/datadog_checks/cyral, cyral/tests
  eventstore: any of: eventstore/datadog_checks/eventstore, eventstore/tests
  filebeat: any of: filebeat/datadog_checks/filebeat, filebeat/tests
  gatekeeper: any of: gatekeeper/datadog_checks/gatekeeper, gatekeeper/tests
  gnatsd: any of: gnatsd/datadog_checks/gnatsd, gnatsd/tests
  gnatsd_streaming: any of: gnatsd_streaming/datadog_checks/gnatsd_streaming, gnatsd_streaming/tests
  jfrog_platform: any of: jfrog_platform/datadog_checks/jfrog_platform, jfrog_platform/tests
  kernelcare: any of: kernelcare/datadog_checks/kernelcare, kernelcare/tests
  lighthouse: any of: lighthouse/datadog_checks/lighthouse, lighthouse/tests
  logstash: any of: logstash/datadog_checks/logstash, logstash/tests
  neo4j: any of: neo4j/datadog_checks/neo4j, neo4j/tests
  neutrona: any of: neutrona/datadog_checks/neutrona, neutrona/tests
  nextcloud: any of: nextcloud/datadog_checks/nextcloud, nextcloud/tests
  ns1: any of: ns1/datadog_checks/ns1, ns1/tests
  nvml: any of: nvml/datadog_checks/nvml, nvml/tests
  octoprint: any of: octoprint/datadog_checks/octoprint, octoprint/tests
  open_policy_agent: any of: open_policy_agent/datadog_checks/open_policy_agent, open_policy_agent/tests
  php_apcu: any of: php_apcu/datadog_checks/php_apcu, php_apcu/tests
  php_opcache: any of: php_opcache/datadog_checks/php_opcache, php_opcache/tests
  pihole: any of: pihole/datadog_checks/pihole, pihole/tests
  ping: any of: ping/datadog_checks/ping, ping/tests
  portworx: any of: portworx/datadog_checks/portworx, portworx/tests
  pulsar: any of: pulsar/datadog_checks/pulsar, pulsar/tests
  puma: any of: puma/datadog_checks/puma, puma/tests
  reboot_required: any of: reboot_required/datadog_checks/reboot_required, reboot_required/tests
  redis_sentinel: any of: redis_sentinel/datadog_checks/redis_sentinel, redis_sentinel/tests
  redisenterprise: any of: redisenterprise/datadog_checks/redisenterprise, redisenterprise/tests
  riak_repl: any of: riak_repl/datadog_checks/riak_repl, riak_repl/tests
  sendmail: any of: sendmail/datadog_checks/sendmail, sendmail/tests
  snmpwalk: any of: snmpwalk/datadog_checks/snmpwalk, snmpwalk/tests
  sortdb: any of: sortdb/datadog_checks/sortdb, sortdb/tests
  speedtest: any of: speedtest/datadog_checks/speedtest, speedtest/tests
  stardog: any of: stardog/datadog_checks/stardog, stardog/tests
  storm: any of: storm/datadog_checks/storm, storm/tests
  tidb: any of: tidb/datadog_checks/tidb, tidb/tests
  traefik: any of: traefik/datadog_checks/traefik, traefik/tests
  unbound: any of: unbound/datadog_checks/unbound, unbound/tests
  upsc: any of: upsc/datadog_checks/upsc, upsc/tests
  vespa: any of: vespa/datadog_checks/vespa, vespa/tests
  zabbix: any of: zabbix/datadog_checks/zabbix, zabbix/tests

break lines
  zabbix/datadog_checks/zabbix/check.py
Due: zabbix

fix style
  zabbix/datadog_checks/zabbix/check.py
Due: zabbix

avoid sending non-numeric values as gauge
  zabbix/datadog_checks/zabbix/check.py
  zabbix/datadog_checks/zabbix/metrics.py
  zabbix/metadata.csv
Due: zabbix

go_pprof_scraper: add env, runtime-id tags, fix timestamps
  go_pprof_scraper/assets/configuration/spec.yaml
  go_pprof_scraper/datadog_checks/go_pprof_scraper/check.py
Due: none

go_pprof_scraper: make time format work for py 2 and 3
  go_pprof_scraper/datadog_checks/go_pprof_scraper/check.py
  go_pprof_scraper/tests/docker/mock_backend.go
Due: none

(Docs) Add github action to check PRs for invalid partials
  .github/workflows/check_partials.py
  .github/workflows/check_partials.yml
Due: none

fix yaml syntax
  .github/workflows/check_partials.yml
Due: none

go_pprof_scraper: post to UDS
  go_pprof_scraper/datadog_checks/go_pprof_scraper/check.py
Due: none

Add dummy files to test action output
  dummy1/README.md
  dummy2/README.md
Due: none

go_pprof_scraper: make cumulative true by default
  go_pprof_scraper/assets/configuration/spec.yaml
  go_pprof_scraper/datadog_checks/go_pprof_scraper/check.py
  go_pprof_scraper/datadog_checks/go_pprof_scraper/config_models/defaults.py
  go_pprof_scraper/datadog_checks/go_pprof_scraper/config_models/instance.py
  go_pprof_scraper/datadog_checks/go_pprof_scraper/data/conf.yaml.example
  go_pprof_scraper/tests/docker/mock_backend.go
Due: none

collapse into one job
  .github/workflows/check_partials.yml
Due: none

Update metrics.py
  neo4j/datadog_checks/neo4j/metrics.py
Due: neo4j

noqa E501 for url in comment
  zabbix/datadog_checks/zabbix/check.py
Due: zabbix

Fix workflow and check dummy file
  .github/workflows/check_partials.py
  .github/workflows/check_partials.yml
  dummy1/README.md
Due: none

Remove test files
  dummy1/README.md
  dummy2/README.md
Due: none

zabbix: avoid sending non-numeric values as gauge (#1519)
  zabbix/datadog_checks/zabbix/check.py
  zabbix/datadog_checks/zabbix/metrics.py
  zabbix/metadata.csv
Due: zabbix

zabbix: Improve error handling when login (#1518)
  zabbix/datadog_checks/zabbix/check.py
Due: zabbix

Add fluxcd integration (#1515)
  .azure-pipelines/all.yml
  .codecov.yml
  .github/CODEOWNERS
  fluxcd/CHANGELOG.md
  fluxcd/README.md
  fluxcd/assets/configuration/spec.yaml
  fluxcd/assets/dashboards/fluxcd_overview.json
  fluxcd/assets/service_checks.json
  fluxcd/datadog_checks/__init__.py
  fluxcd/datadog_checks/fluxcd/__about__.py
  fluxcd/datadog_checks/fluxcd/__init__.py
  fluxcd/datadog_checks/fluxcd/check.py
  fluxcd/datadog_checks/fluxcd/config_models/__init__.py
  fluxcd/datadog_checks/fluxcd/config_models/defaults.py
  fluxcd/datadog_checks/fluxcd/config_models/instance.py
  fluxcd/datadog_checks/fluxcd/config_models/shared.py
  fluxcd/datadog_checks/fluxcd/config_models/validators.py
  fluxcd/datadog_checks/fluxcd/data/conf.yaml.example
  fluxcd/datadog_checks/fluxcd/metrics.py
  fluxcd/images/.gitkeep
  fluxcd/manifest.json
  fluxcd/metadata.csv
  fluxcd/pyproject.toml
  fluxcd/requirements-dev.txt
  fluxcd/setup.py
  fluxcd/tests/__init__.py
  fluxcd/tests/conftest.py
  fluxcd/tests/fixtures/metrics.txt
  fluxcd/tests/test_fluxcd.py
  fluxcd/tox.ini
Due: none

[Release] Update metadata
  .in-toto/tag.9bb10b65.link
Due: none

TiDB Cloud Integration: Add metrics and update the dashboard (#1508)
  tidb_cloud/assets/dashboards/overview.json
  tidb_cloud/metadata.csv
Due: none

feat(k6): ✨ add p99 metadata (#1514)
  k6/metadata.csv
Due: none

Update to version 2.0.1 (#1509)
  neo4j/CHANGELOG.md
  neo4j/datadog_checks/neo4j/__about__.py
  neo4j/datadog_checks/neo4j/metrics.py
  neo4j/manifest.json
  neo4j/metadata.csv
Due: neo4j

remove auto_conf.yaml
  grpc_check/assets/configuration/spec.yaml
  grpc_check/datadog_checks/grpc_check/data/auto_conf.yaml
Due: none

making public, update dashboard with correct source
  sosivio/assets/dashboards/sosivio_overview.json
  sosivio/manifest.json
Due: none

fix: add support for OL 0.3.0 recs
  stormforge/assets/dashboards/stormforge_overview.json
Due: none

Update README.md
  rum_angular/README.md
Due: none

Update CHANGELOG.md
  stormforge/CHANGELOG.md
Due: none

add description
  alertnow/manifest.json
Due: none

add description (#1524)
  alertnow/manifest.json
Due: none

making public, update dashboard with correct source (#1521)
  sosivio/assets/dashboards/sosivio_overview.json
  sosivio/manifest.json
Due: none

Initial Fiddler-DD agent integration checkin
  Users/rajeev/dd/integrations-extras/fiddler/pyproject.toml
  fiddler/CHANGELOG.md
  fiddler/assets/configuration/spec.yaml
  fiddler/assets/dashboards/fiddler_overview.json
  fiddler/assets/service_checks.json
  fiddler/datadog_checks/__init__.py
  fiddler/datadog_checks/fiddler/__about__.py
  fiddler/datadog_checks/fiddler/__init__.py
  fiddler/datadog_checks/fiddler/check.py
  fiddler/datadog_checks/fiddler/config_models/__init__.py
  fiddler/datadog_checks/fiddler/config_models/defaults.py
  fiddler/datadog_checks/fiddler/config_models/instance.py
  fiddler/datadog_checks/fiddler/config_models/shared.py
  fiddler/datadog_checks/fiddler/config_models/validators.py
  fiddler/datadog_checks/fiddler/data/conf.yaml.example
  fiddler/images/.gitkeep
  fiddler/manifest.json
  fiddler/metadata.csv
  fiddler/pyproject.toml
  fiddler/requirements-dev.txt
  fiddler/setup.py
  fiddler/tests/__init__.py
  fiddler/tests/conftest.py
  fiddler/tests/test_fiddler.py
  fiddler/tox.ini
Due: none

Update check.py
  fiddler/datadog_checks/fiddler/check.py
Due: none

Creating a README.md
  fiddler/README.md
  fiddler/datadog_checks/fiddler/check.py
  fiddler/metadata.csv
Due: none

Added CHANGELOG.md and import changes in check.py
  fiddler/CHANGELOG.md
  fiddler/datadog_checks/fiddler/check.py
Due: none
