Repository DataDog/integrations-extras: changes, and which Codecov flags are due for each by the changed paths.
All: aqua, aws_pricing, bind9, cert_manager, cfssl, cloudsmith, cyral, eventstore, exim, filebeat, fluentbit, fluxcd, gatekeeper, gitea, gnatsd, gnatsd_streaming, grpc_check, jfrog_platform, kernelcare, lighthouse, logstash, neo4j, neutrona, nextcloud, nn_sdwan, ns1, nvml, octoprint, open_policy_agent, php_apcu, php_opcache, pihole, ping, portworx, puma, purefa, purefb, reboot_required, redis_sentinel, redisenterprise, redpanda, riak_repl, sendmail, snmpwalk, sortdb, speedtest, stardog, storm, syncthing, tidb, traefik, trino, unbound, unifi_console, upsc, vespa, zabbix

clarify expected tags
  lighthouse/tests/test_lighthouse.py
Due: lighthouse

more text fixed
  .github/CODEOWNERS
  sofy_sofy/README.md
  sofy_sofy/manifest.json
Due: none

adding example configuration/commands to readme
  twingate/README.md
Due: none

typo
  twingate/README.md
Due: none

adding Docker integration in reame
  twingate/README.md
Due: none

Added docs for new network metrics (#1829)
  mongodb_atlas/metadata.csv
Due: none

step up step 4 fixed
  sofy_sofy/README.md
Due: none

Add DEFAULT_METRIC_LIMIT = 0 for OpenMetrics-based integrations
  cyral/datadog_checks/cyral/cyral.py
  fluentbit/datadog_checks/fluentbit/check.py
  fluxcd/datadog_checks/fluxcd/check.py
  gitea/datadog_checks/gitea/gitea.py
  hikaricp/datadog_checks/hikaricp/check.py
  jfrog_platform/datadog_checks/jfrog_platform/check.py
  neo4j/datadog_checks/neo4j/neo4j.py
  purefa/datadog_checks/purefa/purefa.py
  purefb/datadog_checks/purefb/purefb.py
  tidb/datadog_checks/tidb/check.py
Due: cyral, fluentbit, fluxcd, gitea, jfrog_platform, neo4j, purefa, purefb, tidb

Optimise the parsing of metrics and metadata
  neo4j/datadog_checks/neo4j/neo4j.py
Due: neo4j

imagename changed
  sofy_sofy/README.md
  sofy_sofy/images/datadog_testperform.png
  sofy_sofy/manifest.json
Due: none

Add metrics to Buoyant Cloud integration (#1837)
  buoyant_cloud/CHANGELOG.md
  buoyant_cloud/README.md
  buoyant_cloud/assets/dashboards/buoyant_cloud_overview.json
  buoyant_cloud/images/bcloud_datadog_dashboard.png
  buoyant_cloud/manifest.json
  buoyant_cloud/metadata.csv
Due: none

Add DEFAULT_METRIC_LIMIT = 0 for OpenMetrics-based integrations (#1843)
  cyral/datadog_checks/cyral/cyral.py
  fluentbit/datadog_checks/fluentbit/check.py
  fluxcd/datadog_checks/fluxcd/check.py
  gitea/datadog_checks/gitea/gitea.py
  hikaricp/datadog_checks/hikaricp/check.py
  jfrog_platform/datadog_checks/jfrog_platform/check.py
  neo4j/datadog_checks/neo4j/neo4j.py
  purefa/datadog_checks/purefa/purefa.py
  purefb/datadog_checks/purefb/purefb.py
  tidb/datadog_checks/tidb/check.py
Due: cyral, fluentbit, fluxcd, gitea, jfrog_platform, neo4j, purefa, purefb, tidb

refactored tests to run both Neo4j 4 and Neo4j 5 tests
  neo4j/metadata.csv
  neo4j/tests/common.py
  neo4j/tests/conftest.py
  neo4j/tests/docker/docker-compose_v4.yaml
  neo4j/tests/docker/docker-compose_v5.yaml
  neo4j/tests/test_neo4j.py
  neo4j/tests/test_neo4j4.py
  neo4j/tests/test_neo4j5.py
Due: neo4j

Update conf.yaml.example
  neo4j/datadog_checks/neo4j/data/conf.yaml.example
Due: neo4j

Update .github/CODEOWNERS
  .github/CODEOWNERS
Due: none

Changes following Github PR feedback. Just waiting for images
  .github/CODEOWNERS
  flagsmith-rum/CHANGELOG.md
  flagsmith-rum/README.md
  flagsmith-rum/assets/service_checks.json
  flagsmith-rum/images/.gitkeep
  flagsmith-rum/manifest.json
  flagsmith-rum/metadata.csv
  flagsmith/manifest.json
Due: none

Updated docs link
  flagsmith-rum/README.md
Due: none

changes to readme based on pull request feedback
  twingate/README.md
Due: none

adding addtional steps for Set up Datadog Docker integration
  twingate/README.md
Due: none

Update display names
  .ddev/config.toml
  .github/workflows/test-all.yml
Due: none

Update twingate/README.md
  twingate/README.md
Due: none

Path conditions:
  aqua: any of: aqua/datadog_checks/aqua, aqua/tests
  aws_pricing: any of: aws_pricing/datadog_checks/aws_pricing, aws_pricing/tests
  bind9: any of: bind9/datadog_checks/bind9, bind9/tests
  cert_manager: any of: cert_manager/datadog_checks/cert_manager, cert_manager/tests
  cfssl: any of: cfssl/datadog_checks/cfssl, cfssl/tests
  cloudsmith: any of: cloudsmith/datadog_checks/cloudsmith, cloudsmith/tests
  cyral: any of: cyral/datadog_checks/cyral, cyral/tests
  eventstore: any of: eventstore/datadog_checks/eventstore, eventstore/tests
  exim: any of: exim/datadog_checks/exim, exim/tests
  filebeat: any of: filebeat/datadog_checks/filebeat, filebeat/tests
  fluentbit: any of: fluentbit/datadog_checks/fluentbit, fluentbit/tests
  fluxcd: any of: fluxcd/datadog_checks/fluxcd, fluxcd/tests
  gatekeeper: any of: gatekeeper/datadog_checks/gatekeeper, gatekeeper/tests
  gitea: any of: gitea/datadog_checks/gitea, gitea/tests
  gnatsd: any of: gnatsd/datadog_checks/gnatsd, gnatsd/tests
  gnatsd_streaming: any of: gnatsd_streaming/datadog_checks/gnatsd_streaming, gnatsd_streaming/tests
  grpc_check: any of: grpc_check/datadog_checks/grpc_check, grpc_check/tests
  jfrog_platform: any of: jfrog_platform/datadog_checks/jfrog_platform, jfrog_platform/tests
  kernelcare: any of: kernelcare/datadog_checks/kernelcare, kernelcare/tests
  lighthouse: any of: lighthouse/datadog_checks/lighthouse, lighthouse/tests
  logstash: any of: logstash/datadog_checks/logstash, logstash/tests
  neo4j: any of: neo4j/datadog_checks/neo4j, neo4j/tests
  neutrona: any of: neutrona/datadog_checks/neutrona, neutrona/tests
  nextcloud: any of: nextcloud/datadog_checks/nextcloud, nextcloud/tests
  nn_sdwan: any of: nn_sdwan/datadog_checks/nn_sdwan, nn_sdwan/tests
  ns1: any of: ns1/datadog_checks/ns1, ns1/tests
  nvml: any of: nvml/datadog_checks/nvml, nvml/tests
  octoprint: any of: octoprint/datadog_checks/octoprint, octoprint/tests
  open_policy_agent: any of: open_policy_agent/datadog_checks/open_policy_agent, open_policy_agent/tests
  php_apcu: any of: php_apcu/datadog_checks/php_apcu, php_apcu/tests
  php_opcache: any of: php_opcache/datadog_checks/php_opcache, php_opcache/tests
  pihole: any of: pihole/datadog_checks/pihole, pihole/tests
  ping: any of: ping/datadog_checks/ping, ping/tests
  portworx: any of: portworx/datadog_checks/portworx, portworx/tests
  puma: any of: puma/datadog_checks/puma, puma/tests
  purefa: any of: purefa/datadog_checks/purefa, purefa/tests
  purefb: any of: purefb/datadog_checks/purefb, purefb/tests
  reboot_required: any of: reboot_required/datadog_checks/reboot_required, reboot_required/tests
  redis_sentinel: any of: redis_sentinel/datadog_checks/redis_sentinel, redis_sentinel/tests
  redisenterprise: any of: redisenterprise/datadog_checks/redisenterprise, redisenterprise/tests
  redpanda: any of: redpanda/datadog_checks/redpanda, redpanda/tests
  riak_repl: any of: riak_repl/datadog_checks/riak_repl, riak_repl/tests
  sendmail: any of: sendmail/datadog_checks/sendmail, sendmail/tests
  snmpwalk: any of: snmpwalk/datadog_checks/snmpwalk, snmpwalk/tests
  sortdb: any of: sortdb/datadog_checks/sortdb, sortdb/tests
  speedtest: any of: speedtest/datadog_checks/speedtest, speedtest/tests
  stardog: any of: stardog/datadog_checks/stardog, stardog/tests
  storm: any of: storm/datadog_checks/storm, storm/tests
  syncthing: any of: syncthing/datadog_checks/syncthing, syncthing/tests
  tidb: any of: tidb/datadog_checks/tidb, tidb/tests
  traefik: any of: traefik/datadog_checks/traefik, traefik/tests
  trino: any of: trino/datadog_checks/trino, trino/tests
  unbound: any of: unbound/datadog_checks/unbound, unbound/tests
  unifi_console: any of: unifi_console/datadog_checks/unifi_console, unifi_console/tests
  upsc: any of: upsc/datadog_checks/upsc, upsc/tests
  vespa: any of: vespa/datadog_checks/vespa, vespa/tests
  zabbix: any of: zabbix/datadog_checks/zabbix, zabbix/tests
