Repository DataDog/integrations-extras: changes, and which Codecov flags are due for each by the changed paths.
All: aqua, argo_cd, aws_pricing, bind9, calico, cert_manager, cloudsmith, cyral, eventstore, filebeat, gatekeeper, gnatsd, gnatsd_streaming, jfrog_platform, kernelcare, lighthouse, logstash, neo4j, neutrona, nextcloud, ns1, nvml, octoprint, open_policy_agent, php_apcu, php_opcache, pihole, ping, portworx, pulsar, puma, reboot_required, redis_sentinel, redisenterprise, riak_repl, sendmail, snmpwalk, sortdb, speedtest, stardog, storm, tidb, traefik, unbound, upsc, vespa, zabbix

Update Pagerduty landing page and widget images (#1136)
  pagerduty/CHANGELOG.md
  pagerduty/images/incidents.jpg
  pagerduty/images/landing_page.png
  pagerduty/manifest.json
Due: none

feb 8 1st try
  composer/CHANGELOG.md
  composer/MANIFEST.in
  composer/README.md
  composer/assets/configuration/spec.yaml
  composer/assets/dashboards/composer_overview.json
  composer/assets/service_checks.json
  composer/datadog_checks/__init__.py
  composer/datadog_checks/composer/__about__.py
  composer/datadog_checks/composer/__init__.py
  composer/datadog_checks/composer/check.py
  composer/datadog_checks/composer/config_models/__init__.py
  composer/datadog_checks/composer/config_models/defaults.py
  composer/datadog_checks/composer/config_models/instance.py
  composer/datadog_checks/composer/config_models/shared.py
  composer/datadog_checks/composer/config_models/validators.py
  composer/datadog_checks/composer/data/conf.yaml.example
  composer/images/Composer-logo.png
  composer/manifest.json
  composer/metadata.csv
  composer/requirements-dev.txt
  composer/requirements.in
  composer/setup.py
  composer/tests/__init__.py
  composer/tests/conftest.py
  composer/tests/test_composer.py
  composer/tox.ini
Due: none

2nd try
  .azure-pipelines/all.yml
  .codecov.yml
Due: none

Update example config
  gnatsd/assets/configuration/spec.yaml
  gnatsd/datadog_checks/gnatsd/data/conf.yaml.example
Due: gnatsd

Update example config (#1143)
  gnatsd/assets/configuration/spec.yaml
  gnatsd/datadog_checks/gnatsd/data/conf.yaml.example
Due: gnatsd

Revert "Updated README.md comments for Neo4j"
  calico/datadog_checks/calico/data/conf.yaml.example
  cyral/datadog_checks/cyral/data/conf.yaml.example
  eventstore/datadog_checks/eventstore/data/conf.yaml.example
  filebeat/datadog_checks/filebeat/data/conf.yaml.example
  gatekeeper/datadog_checks/gatekeeper/data/auto_conf.yaml
  gatekeeper/datadog_checks/gatekeeper/data/conf.yaml.example
  gnatsd/datadog_checks/gnatsd/data/conf.yaml.example
  gnatsd_streaming/datadog_checks/gnatsd_streaming/data/conf.yaml.example
  hbase_master/datadog_checks/hbase_master/data/conf.yaml.example
  hbase_regionserver/datadog_checks/hbase_regionserver/data/conf.yaml.example
  jfrog_platform/datadog_checks/jfrog_platform/data/conf.yaml.example
  kernelcare/datadog_checks/kernelcare/data/conf.yaml.example
  logstash/datadog_checks/logstash/data/conf.yaml.example
  neo4j/README.md
  octoprint/datadog_checks/octoprint/data/conf.yaml.example
  open_policy_agent/datadog_checks/open_policy_agent/data/auto_conf.yaml
  open_policy_agent/datadog_checks/open_policy_agent/data/conf.yaml.example
  php_apcu/datadog_checks/php_apcu/data/conf.yaml.example
  php_opcache/datadog_checks/php_opcache/data/conf.yaml.example
  pihole/datadog_checks/pihole/data/conf.yaml.example
  pulsar/datadog_checks/pulsar/data/conf.yaml.example
  puma/datadog_checks/puma/data/conf.yaml.example
  redisenterprise/datadog_checks/redisenterprise/data/conf.yaml.example
  redpanda/datadog_checks/redpanda/data/conf.yaml.example
  resin/datadog_checks/resin/data/conf.yaml.example
  tidb/datadog_checks/tidb/data/conf.yaml.example
  zabbix/datadog_checks/zabbix/data/conf.yaml.example
Due: calico, cyral, eventstore, filebeat, gatekeeper, gnatsd, gnatsd_streaming, jfrog_platform, kernelcare, logstash, octoprint, open_policy_agent, php_apcu, php_opcache, pihole, pulsar, puma, redisenterprise, tidb, zabbix

update dashboard; update metrics
  tidb_cloud/assets/dashboards/overview.json
  tidb_cloud/metadata.csv
Due: none

Update README.md
  neo4j/README.md
Due: none

update metric_to_check
  tidb_cloud/manifest.json
Due: none

N2WS 4.0 version fixes
  n2ws/assets/dashboards/N2WSBackup&Recovery-EntitiesSpecificDashboard.json
  n2ws/assets/dashboards/N2WSBackup&Recovery-Graphicalversion-areas.json
  n2ws/assets/dashboards/N2WSBackup&Recovery-Graphicalversion.json
Due: none

Updated N2WS version to 4.1.0 version, added Only AMI count support
  n2ws/README.md
  n2ws/assets/dashboards/N2WSBackup&Recoveryv4.1-BackupSuccessRates(ColumnGraphs).json
  n2ws/assets/dashboards/N2WSBackup&Recoveryv4.1-EntityTypesDetails.json
  n2ws/manifest.json
  n2ws/metadata.csv
Due: none

Update sourcegraph/README.md
  sourcegraph/README.md
Due: none

update dashboard
  tidb_cloud/assets/dashboards/overview.json
Due: none

update
  neo4j/assets/configuration/spec.yaml
  neo4j/datadog_checks/neo4j/__init__.py
  neo4j/datadog_checks/neo4j/config_models/__init__.py
  neo4j/datadog_checks/neo4j/config_models/defaults.py
  neo4j/datadog_checks/neo4j/config_models/instance.py
  neo4j/datadog_checks/neo4j/config_models/validators.py
  neo4j/datadog_checks/neo4j/data/conf.yaml.example
  neo4j/datadog_checks/neo4j/metrics.py
  neo4j/datadog_checks/neo4j/neo4j.py
  neo4j/pyvenv.cfg
  neo4j/tests/common.py
  neo4j/tests/conftest.py
  neo4j/tests/test_neo4j.py
  neo4j/tox.ini
Due: neo4j

Update CHANGELOG.md
  neo4j/CHANGELOG.md
Due: none

Update setup.py
  neo4j/setup.py
Due: none

Updated N2WS version to 4.1.0 version, added Only AMI count support - Documentation code review fix
  n2ws/README.md
Due: none

Updated N2WS version to 4.1.0 version, added Only AMI count support - Documentation code review fix
  n2ws/README.md
  n2ws/assets/dashboards/N2WSBackup&Recovery-BackupSuccessRates(AreasGraphs).json
  n2ws/assets/dashboards/N2WSBackup&RecoveryV4.0-BackupSuccessRates(ColumnGraphs).json
  n2ws/assets/dashboards/N2WSBackup&RecoveryV4.0-EntityTypesDetails.json
  n2ws/assets/dashboards/N2WSBackup&Recoveryv4.1-BackupSuccessRates(ColumnGraphs).json
  n2ws/assets/dashboards/N2WSBackup&Recoveryv4.1-EntityTypesDetails.json
  n2ws/metadata.csv
Due: none

Updated N2WS version to 4.1.0 version, added Only AMI count support - Documentation code review fix2
  n2ws/metadata.csv
Due: none

Update .github/workflows/codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: none

Setting up codescanning for integrations-extras (#1115)
  .github/workflows/codeql-analysis.yml
Due: none

update outdated conf.yaml.example files
  calico/datadog_checks/calico/data/conf.yaml.example
  cyral/datadog_checks/cyral/data/conf.yaml.example
  eventstore/datadog_checks/eventstore/data/conf.yaml.example
  filebeat/datadog_checks/filebeat/data/conf.yaml.example
  flume/datadog_checks/flume/data/conf.yaml.example
  gatekeeper/datadog_checks/gatekeeper/data/auto_conf.yaml
  gatekeeper/datadog_checks/gatekeeper/data/conf.yaml.example
  gnatsd_streaming/datadog_checks/gnatsd_streaming/data/conf.yaml.example
  hbase_master/datadog_checks/hbase_master/data/conf.yaml.example
  hbase_regionserver/datadog_checks/hbase_regionserver/data/conf.yaml.example
  jfrog_platform/datadog_checks/jfrog_platform/data/conf.yaml.example
  kernelcare/datadog_checks/kernelcare/data/conf.yaml.example
  logstash/datadog_checks/logstash/data/conf.yaml.example
  neo4j/datadog_checks/neo4j/data/conf.yaml.example
  open_policy_agent/datadog_checks/open_policy_agent/data/auto_conf.yaml
  open_policy_agent/datadog_checks/open_policy_agent/data/conf.yaml.example
  php_apcu/datadog_checks/php_apcu/data/conf.yaml.example
  php_opcache/datadog_checks/php_opcache/data/conf.yaml.example
  pihole/datadog_checks/pihole/data/conf.yaml.example
  pulsar/datadog_checks/pulsar/data/conf.yaml.example
  puma/datadog_checks/puma/data/conf.yaml.example
  redisenterprise/datadog_checks/redisenterprise/data/conf.yaml.example
  redpanda/datadog_checks/redpanda/data/conf.yaml.example
  resin/datadog_checks/resin/data/conf.yaml.example
  tidb/datadog_checks/tidb/data/conf.yaml.example
  zabbix/datadog_checks/zabbix/data/conf.yaml.example
Due: calico, cyral, eventstore, filebeat, gatekeeper, gnatsd_streaming, jfrog_platform, kernelcare, logstash, neo4j, open_policy_agent, php_apcu, php_opcache, pihole, pulsar, puma, redisenterprise, tidb, zabbix

Update Neo4j Integration to Support Neo4j 4.x (#944)
  neo4j/CHANGELOG.md
  neo4j/README.md
  neo4j/assets/configuration/spec.yaml
  neo4j/assets/service_checks.json
  neo4j/conf.yaml.example
  neo4j/datadog_checks/__init__.py
  neo4j/datadog_checks/neo4j/__about__.py
  neo4j/datadog_checks/neo4j/config_models/__init__.py
  neo4j/datadog_checks/neo4j/config_models/defaults.py
  neo4j/datadog_checks/neo4j/config_models/instance.py
  neo4j/datadog_checks/neo4j/config_models/validators.py
  neo4j/datadog_checks/neo4j/data/conf.yaml.example
  neo4j/datadog_checks/neo4j/metrics.py
  neo4j/datadog_checks/neo4j/neo4j.py
  neo4j/manifest.json
  neo4j/metadata.csv
  neo4j/setup.py
  neo4j/tests/common.py
  neo4j/tests/conftest.py
  neo4j/tests/docker/docker-compose.yaml
  neo4j/tests/test_neo4j.py
  neo4j/tox.ini
Due: neo4j

[Release] Update metadata
  .in-toto/tag.d1d0746a.link
Due: none

update outdated conf.yaml.example files (#1147)
  calico/datadog_checks/calico/data/conf.yaml.example
  cyral/datadog_checks/cyral/data/conf.yaml.example
  eventstore/datadog_checks/eventstore/data/conf.yaml.example
  filebeat/datadog_checks/filebeat/data/conf.yaml.example
  flume/datadog_checks/flume/data/conf.yaml.example
  gatekeeper/datadog_checks/gatekeeper/data/auto_conf.yaml
  gatekeeper/datadog_checks/gatekeeper/data/conf.yaml.example
  gnatsd_streaming/datadog_checks/gnatsd_streaming/data/conf.yaml.example
  hbase_master/datadog_checks/hbase_master/data/conf.yaml.example
  hbase_regionserver/datadog_checks/hbase_regionserver/data/conf.yaml.example
  jfrog_platform/datadog_checks/jfrog_platform/data/conf.yaml.example
  kernelcare/datadog_checks/kernelcare/data/conf.yaml.example
  logstash/datadog_checks/logstash/data/conf.yaml.example
  open_policy_agent/datadog_checks/open_policy_agent/data/auto_conf.yaml
  open_policy_agent/datadog_checks/open_policy_agent/data/conf.yaml.example
  php_apcu/datadog_checks/php_apcu/data/conf.yaml.example
  php_opcache/datadog_checks/php_opcache/data/conf.yaml.example
  pihole/datadog_checks/pihole/data/conf.yaml.example
  pulsar/datadog_checks/pulsar/data/conf.yaml.example
  puma/datadog_checks/puma/data/conf.yaml.example
  redisenterprise/datadog_checks/redisenterprise/data/conf.yaml.example
  redpanda/datadog_checks/redpanda/data/conf.yaml.example
  resin/datadog_checks/resin/data/conf.yaml.example
  tidb/datadog_checks/tidb/data/conf.yaml.example
  zabbix/datadog_checks/zabbix/data/conf.yaml.example
Due: calico, cyral, eventstore, filebeat, gatekeeper, gnatsd_streaming, jfrog_platform, kernelcare, logstash, open_policy_agent, php_apcu, php_opcache, pihole, pulsar, puma, redisenterprise, tidb, zabbix

Add `pyproject.toml` file
  nextcloud/MANIFEST.in
  nextcloud/pyproject.toml
  nextcloud/requirements.in
  nextcloud/setup.py
  nextcloud/tox.ini
Due: none

Add `pyproject.toml` file
  speedtest/MANIFEST.in
  speedtest/pyproject.toml
  speedtest/requirements.in
  speedtest/setup.py
  speedtest/tox.ini
Due: none

Add `pyproject.toml` file
  storm/MANIFEST.in
  storm/pyproject.toml
  storm/requirements.in
  storm/setup.py
  storm/tox.ini
Due: none

Add `pyproject.toml` file
  upsc/MANIFEST.in
  upsc/pyproject.toml
  upsc/requirements.in
  upsc/setup.py
  upsc/tox.ini
Due: none

Add `pyproject.toml` file (#1191)
  speedtest/MANIFEST.in
  speedtest/pyproject.toml
  speedtest/requirements.in
  speedtest/setup.py
  speedtest/tox.ini
Due: none

Add `pyproject.toml` file (#1197)
  upsc/MANIFEST.in
  upsc/pyproject.toml
  upsc/requirements.in
  upsc/setup.py
  upsc/tox.ini
Due: none

Fix non-ASCII characters in README files
  calico/README.md
  embrace_mobile/README.md
  lambdatest/README.md
  n2ws/README.md
  pagerduty/README.md
  retool/README.md
  rookout/README.md
  sedai/README.md
  superwise/README.md
  vercel/README.md
Due: none

fix length
  rookout/manifest.json
Due: none

add back metadata csv
  sourcegraph/metadata.csv
Due: none

Add `pyproject.toml` file (#1170)
  nextcloud/MANIFEST.in
  nextcloud/pyproject.toml
  nextcloud/requirements.in
  nextcloud/setup.py
  nextcloud/tox.ini
Due: none

Fix non-ASCII characters in README files (#1200)
  calico/README.md
  embrace_mobile/README.md
  lambdatest/README.md
  n2ws/README.md
  pagerduty/README.md
  retool/README.md
  rookout/README.md
  rookout/manifest.json
  sedai/README.md
  superwise/README.md
  vercel/README.md
Due: none

Add `pyproject.toml` file (#1193)
  storm/MANIFEST.in
  storm/pyproject.toml
  storm/requirements.in
  storm/setup.py
  storm/tox.ini
Due: none

Push requests_count metric for Puma running in single mode (#1135)
  puma/datadog_checks/puma/puma.py
  puma/tests/test_puma.py
Due: puma

bump puma dependency
  puma/tests/docker/Gemfile.lock
Due: puma

Path conditions:
  aqua: any of: aqua/datadog_checks/aqua, aqua/tests
  argo_cd: any of: argo_cd/datadog_checks/argo_cd, argo_cd/tests
  aws_pricing: any of: aws_pricing/datadog_checks/aws_pricing, aws_pricing/tests
  bind9: any of: bind9/datadog_checks/bind9, bind9/tests
  calico: any of: calico/datadog_checks/calico, calico/tests
  cert_manager: any of: cert_manager/datadog_checks/cert_manager, cert_manager/tests
  cloudsmith: any of: cloudsmith/datadog_checks/cloudsmith, cloudsmith/tests
  cyral: any of: cyral/datadog_checks/cyral, cyral/tests
  eventstore: any of: eventstore/datadog_checks/eventstore, eventstore/tests
  filebeat: any of: filebeat/datadog_checks/filebeat, filebeat/tests
  gatekeeper: any of: gatekeeper/datadog_checks/gatekeeper, gatekeeper/tests
  gnatsd: any of: gnatsd/datadog_checks/gnatsd, gnatsd/tests
  gnatsd_streaming: any of: gnatsd_streaming/datadog_checks/gnatsd_streaming, gnatsd_streaming/tests
  jfrog_platform: any of: jfrog_platform/datadog_checks/jfrog_platform, jfrog_platform/tests
  kernelcare: any of: kernelcare/datadog_checks/kernelcare, kernelcare/tests
  lighthouse: any of: lighthouse/datadog_checks/lighthouse, lighthouse/tests
  logstash: any of: logstash/datadog_checks/logstash, logstash/tests
  neo4j: any of: neo4j/datadog_checks/neo4j, neo4j/tests
  neutrona: any of: neutrona/datadog_checks/neutrona, neutrona/tests
  nextcloud: any of: nextcloud/datadog_checks/nextcloud, nextcloud/tests
  ns1: any of: ns1/datadog_checks/ns1, ns1/tests
  nvml: any of: nvml/datadog_checks/nvml, nvml/tests
  octoprint: any of: octoprint/datadog_checks/octoprint, octoprint/tests
  open_policy_agent: any of: open_policy_agent/datadog_checks/open_policy_agent, open_policy_agent/tests
  php_apcu: any of: php_apcu/datadog_checks/php_apcu, php_apcu/tests
  php_opcache: any of: php_opcache/datadog_checks/php_opcache, php_opcache/tests
  pihole: any of: pihole/datadog_checks/pihole, pihole/tests
  ping: any of: ping/datadog_checks/ping, ping/tests
  portworx: any of: portworx/datadog_checks/portworx, portworx/tests
  pulsar: any of: pulsar/datadog_checks/pulsar, pulsar/tests
  puma: any of: puma/datadog_checks/puma, puma/tests
  reboot_required: any of: reboot_required/datadog_checks/reboot_required, reboot_required/tests
  redis_sentinel: any of: redis_sentinel/datadog_checks/redis_sentinel, redis_sentinel/tests
  redisenterprise: any of: redisenterprise/datadog_checks/redisenterprise, redisenterprise/tests
  riak_repl: any of: riak_repl/datadog_checks/riak_repl, riak_repl/tests
  sendmail: any of: sendmail/datadog_checks/sendmail, sendmail/tests
  snmpwalk: any of: snmpwalk/datadog_checks/snmpwalk, snmpwalk/tests
  sortdb: any of: sortdb/datadog_checks/sortdb, sortdb/tests
  speedtest: any of: speedtest/datadog_checks/speedtest, speedtest/tests
  stardog: any of: stardog/datadog_checks/stardog, stardog/tests
  storm: any of: storm/datadog_checks/storm, storm/tests
  tidb: any of: tidb/datadog_checks/tidb, tidb/tests
  traefik: any of: traefik/datadog_checks/traefik, traefik/tests
  unbound: any of: unbound/datadog_checks/unbound, unbound/tests
  upsc: any of: upsc/datadog_checks/upsc, upsc/tests
  vespa: any of: vespa/datadog_checks/vespa, vespa/tests
  zabbix: any of: zabbix/datadog_checks/zabbix, zabbix/tests
