Repository DataDog/integrations-extras: changes, and which Codecov flags are due for each by the changed paths.
All: aqua, aws_pricing, bind9, cfssl, cloudnatix, cloudsmith, cybersixgill_actionable_alerts, cyral, emqx, eventstore, exim, fiddler, filebeat, filemage, fluentbit, gatekeeper, gitea, gnatsd, gnatsd_streaming, go_pprof_scraper, grpc_check, hikaricp, jfrog_platform_self_hosted, kernelcare, lighthouse, logstash, mergify, neo4j, neutrona, nextcloud, nn_sdwan, ns1, nvml, octoprint, open_policy_agent, php_apcu, php_opcache, pihole, ping, portworx, puma, purefa, purefb, radarr, reboot_required, redis_enterprise, redis_sentinel, redisenterprise, redpanda, riak_repl, robust_intelligence_ai_firewall, scalr, sendmail, snmpwalk, sonarr, sortdb, speedtest, stardog, storm, syncthing, tidb, traefik, trino, unbound, unifi_console, upbound_uxp, upsc, vespa, wayfinder, zabbix, zenoh_router

Initial Commit
  scamalytics/CHANGELOG.md
  scamalytics/README.md
  scamalytics/assets/configuration/spec.yaml
  scamalytics/assets/dashboards/scamalytics_overview.json
  scamalytics/datadog_checks/scamalytics/__about__.py
  scamalytics/datadog_checks/scamalytics/__init__.py
  scamalytics/datadog_checks/scamalytics/check.py
  scamalytics/datadog_checks/scamalytics/config_models/__init__.py
  scamalytics/datadog_checks/scamalytics/config_models/defaults.py
  scamalytics/datadog_checks/scamalytics/config_models/instance.py
  scamalytics/datadog_checks/scamalytics/config_models/shared.py
  scamalytics/datadog_checks/scamalytics/config_models/validators.py
  scamalytics/datadog_checks/scamalytics/data/conf.yaml
  scamalytics/datadog_checks/scamalytics/data/conf.yaml.example
  scamalytics/hatch.toml
  scamalytics/images/IMAGES_README.md
  scamalytics/manifest.json
  scamalytics/metadata.csv
  scamalytics/pyproject.toml
  scamalytics/tests/__init__.py
  scamalytics/tests/conftest.py
  scamalytics/tests/test_scamalytics.py
  scamalytics/tests/test_scamalytics_working.py_old
Due: none

Delete scamalytics/tests/test_scamalytics_working.py_old
  scamalytics/tests/test_scamalytics_working.py_old
Due: none

Making `histogram_buckets_as_distributions` default to true.
  redpanda/CHANGELOG.md
  redpanda/datadog_checks/redpanda/redpanda.py
  redpanda/tests/common.py
  redpanda/tests/test_redpanda.py
Due: redpanda

Changelog section reordering.
  redpanda/CHANGELOG.md
Due: none

update Readme
  stonebranch/README.md
Due: none

Update redpanda/CHANGELOG.md
  redpanda/CHANGELOG.md
Due: none

Remove duplicate assets and manifest from aerospike
  aerospike_enterprise/README.md
  aerospike_enterprise/assets/dashboards/alerts_view.json
  aerospike_enterprise/assets/dashboards/cluster_view.json
  aerospike_enterprise/assets/dashboards/latency_view.json
  aerospike_enterprise/assets/dashboards/namespace_view.json
  aerospike_enterprise/assets/dashboards/node_view.json
  aerospike_enterprise/assets/dashboards/secondary_index_view.json
  aerospike_enterprise/assets/dashboards/set_view.json
  aerospike_enterprise/assets/dashboards/usecases/all_flash.json
  aerospike_enterprise/assets/dashboards/usecases/batch_transactions_view.json
  aerospike_enterprise/assets/dashboards/usecases/lru_cache_view.json
  aerospike_enterprise/assets/dashboards/usecases/rolling_restarts.json
  aerospike_enterprise/assets/dashboards/usecases/secondary_index_summary.json
  aerospike_enterprise/assets/dashboards/users_view.json
  aerospike_enterprise/assets/dashboards/xdr_view.json
  aerospike_enterprise/images/cluster_view.png
  aerospike_enterprise/images/namespace_defrag_reads.png
  aerospike_enterprise/images/namespace_view.png
  aerospike_enterprise/manifest.json
Due: none

Remove duplicate assets and manifest from aerospike (#2833)
  aerospike_enterprise/README.md
  aerospike_enterprise/assets/dashboards/alerts_view.json
  aerospike_enterprise/assets/dashboards/cluster_view.json
  aerospike_enterprise/assets/dashboards/latency_view.json
  aerospike_enterprise/assets/dashboards/namespace_view.json
  aerospike_enterprise/assets/dashboards/node_view.json
  aerospike_enterprise/assets/dashboards/secondary_index_view.json
  aerospike_enterprise/assets/dashboards/set_view.json
  aerospike_enterprise/assets/dashboards/usecases/all_flash.json
  aerospike_enterprise/assets/dashboards/usecases/batch_transactions_view.json
  aerospike_enterprise/assets/dashboards/usecases/lru_cache_view.json
  aerospike_enterprise/assets/dashboards/usecases/rolling_restarts.json
  aerospike_enterprise/assets/dashboards/usecases/secondary_index_summary.json
  aerospike_enterprise/assets/dashboards/users_view.json
  aerospike_enterprise/assets/dashboards/xdr_view.json
  aerospike_enterprise/images/cluster_view.png
  aerospike_enterprise/images/namespace_defrag_reads.png
  aerospike_enterprise/images/namespace_view.png
  aerospike_enterprise/manifest.json
Due: none

Remove instabug OAuth client config
  instabug/assets/oauth_clients.json
  instabug/manifest.json
Due: none

Remove finout OAuth client config
  finout/assets/oauth_clients.json
  finout/manifest.json
Due: none

Remove UI Extension OAuth client configs (#2830)
  finout/assets/oauth_clients.json
  finout/manifest.json
  instabug/assets/oauth_clients.json
  instabug/manifest.json
Due: none

Add source:appomni to Cloud SIEM Appomni rules
  appomni/assets/security/__message____on____related_services_type______appomni_alert_pass_through.json
Due: none

Remove useless fields from Appomni rule
  appomni/assets/security/__message____on____related_services_type______appomni_alert_pass_through.json
Due: none

Update AppOmni Changelog
  appomni/CHANGELOG.md
Due: none

Add source:bottomline to Cloud SIEM Bottomline rules
  bottomline_recordandreplay/CHANGELOG.md
  bottomline_recordandreplay/assets/security/rule-Bottomline__Customer_Maintenance_on_VIP.json
  bottomline_recordandreplay/assets/security/rule-Bottomline__Login_from_two_IPs_with_impossible_travel_time.json
  bottomline_recordandreplay/assets/security/rule-Bottomline__Unusual_login_from_different_IPs.json
  bottomline_recordandreplay/assets/security/rule-Bottomline__Unusually_high_volume_of_customer_maintenance_.json
  bottomline_recordandreplay/assets/security/rule-Bottomline__User_behavior_anomaly_detected.json
Due: none

Fixing controller metrics.
  redpanda/datadog_checks/redpanda/metrics.py
  redpanda/metadata.csv
  redpanda/tests/common.py
Due: redpanda

Re-adding non-existing metric for DD metadata.csv requirement.
  redpanda/metadata.csv
  redpanda/tests/fixtures/redpanda_metrics.txt
Due: redpanda

Add source:bottomline to Cloud SIEM Bottomline rules (#2834)
  bottomline_recordandreplay/CHANGELOG.md
  bottomline_recordandreplay/assets/security/rule-Bottomline__Customer_Maintenance_on_VIP.json
  bottomline_recordandreplay/assets/security/rule-Bottomline__Login_from_two_IPs_with_impossible_travel_time.json
  bottomline_recordandreplay/assets/security/rule-Bottomline__Unusual_login_from_different_IPs.json
  bottomline_recordandreplay/assets/security/rule-Bottomline__Unusually_high_volume_of_customer_maintenance_.json
  bottomline_recordandreplay/assets/security/rule-Bottomline__User_behavior_anomaly_detected.json
Due: none

Add source:appomni to Cloud SIEM Appomni rules (#2835)
  appomni/CHANGELOG.md
  appomni/assets/security/__message____on____related_services_type______appomni_alert_pass_through.json
Due: none

Refactor ping check for clarity and error handling
  ping/datadog_checks/ping/ping.py
Due: ping

conflicts
  contrast_security_adr/assets/dashboards/contrast_security_adr.json
  contrast_security_adr/assets/security/incident_event_received_from_contrast_adr.json
Due: none

tags
  contrast_security_adr/assets/security/contrast_adr__confirmed_attack_event_alert.json
  contrast_security_adr/assets/security/contrast_adr__confirmed_attack_event_in_production_alert.json
  contrast_security_adr/assets/security/contrast_adr_dlp__confirmed_alert.json
  contrast_security_adr/assets/security/contrast_adr_incident_alert.json
  contrast_security_adr/assets/security/contrast_adr_waf__confirmed_alert.json
Due: none

Update contrast_security_adr/CHANGELOG.md
  contrast_security_adr/CHANGELOG.md
Due: none

Clearing up controller metrics.
  redpanda/datadog_checks/redpanda/metrics.py
  redpanda/metadata.csv
  redpanda/tests/common.py
Due: redpanda

Removing redpanda_cluster_replicas (non-existent metric) from test fixture.
  redpanda/tests/fixtures/redpanda_metrics.txt
Due: redpanda

Add live bandwidth metric and update dashboard layout
  cloudsmith/CHANGELOG.md
  cloudsmith/README.md
  cloudsmith/assets/configuration/spec.yaml
  cloudsmith/assets/dashboards/cloudsmith_overview.json
  cloudsmith/datadog_checks/cloudsmith/__about__.py
  cloudsmith/datadog_checks/cloudsmith/check.py
  cloudsmith/metadata.csv
  cloudsmith/tests/test_cloudsmith.py
Due: cloudsmith

[DOCS-12377] Remove Open Policy Agent integration
  open_policy_agent/manifest.json
Due: none

fix test
  contrast_security_adr/assets/logs/contrast-security-adr_tests.yaml
Due: none

[DOCS-12377] Remove Open Policy Agent integration (#2841)
  open_policy_agent/manifest.json
Due: none

add date field
  contrast_security_adr/assets/logs/contrast-security-adr_tests.yaml
Due: none

ceng-584-mismatch-in-package-delivery-artifact-storage-data-between
  cloudsmith/CHANGELOG.md
  cloudsmith/README.md
  cloudsmith/assets/dashboards/cloudsmith_overview.json
  cloudsmith/datadog_checks/cloudsmith/__about__.py
  cloudsmith/datadog_checks/cloudsmith/check.py
  cloudsmith/datadog_checks/cloudsmith/data/conf.yaml.example
  cloudsmith/metadata.csv
  cloudsmith/tests/test_cloudsmith.py
Due: cloudsmith

fix lint
  cloudsmith/datadog_checks/cloudsmith/check.py
  cloudsmith/tests/test_cloudsmith.py
Due: cloudsmith

Update cloudsmith/CHANGELOG.md
  cloudsmith/CHANGELOG.md
Due: none

Update cloudsmith/assets/dashboards/cloudsmith_overview.json
  cloudsmith/assets/dashboards/cloudsmith_overview.json
Due: none

PR review, changelog and dashboard style
  cloudsmith/CHANGELOG.md
  cloudsmith/assets/dashboards/cloudsmith_overview.json
Due: none

Path conditions:
  aqua: any of: aqua/datadog_checks/aqua, aqua/tests
  aws_pricing: any of: aws_pricing/datadog_checks/aws_pricing, aws_pricing/tests
  bind9: any of: bind9/datadog_checks/bind9, bind9/tests
  cfssl: any of: cfssl/datadog_checks/cfssl, cfssl/tests
  cloudnatix: any of: cloudnatix/datadog_checks/cloudnatix, cloudnatix/tests
  cloudsmith: any of: cloudsmith/datadog_checks/cloudsmith, cloudsmith/tests
  cybersixgill_actionable_alerts: any of: cybersixgill_actionable_alerts/datadog_checks/cybersixgill_actionable_alerts, cybersixgill_actionable_alerts/tests
  cyral: any of: cyral/datadog_checks/cyral, cyral/tests
  emqx: any of: emqx/datadog_checks/emqx, emqx/tests
  eventstore: any of: eventstore/datadog_checks/eventstore, eventstore/tests
  exim: any of: exim/datadog_checks/exim, exim/tests
  fiddler: any of: fiddler/datadog_checks/fiddler, fiddler/tests
  filebeat: any of: filebeat/datadog_checks/filebeat, filebeat/tests
  filemage: any of: filemage/datadog_checks/filemage, filemage/tests
  fluentbit: any of: fluentbit/datadog_checks/fluentbit, fluentbit/tests
  gatekeeper: any of: gatekeeper/datadog_checks/gatekeeper, gatekeeper/tests
  gitea: any of: gitea/datadog_checks/gitea, gitea/tests
  gnatsd: any of: gnatsd/datadog_checks/gnatsd, gnatsd/tests
  gnatsd_streaming: any of: gnatsd_streaming/datadog_checks/gnatsd_streaming, gnatsd_streaming/tests
  go_pprof_scraper: any of: go_pprof_scraper/datadog_checks/go_pprof_scraper, go_pprof_scraper/tests
  grpc_check: any of: grpc_check/datadog_checks/grpc_check, grpc_check/tests
  hikaricp: any of: hikaricp/datadog_checks/hikaricp, hikaricp/tests
  jfrog_platform_self_hosted: any of: jfrog_platform_self_hosted/datadog_checks/jfrog_platform_self_hosted, jfrog_platform_self_hosted/tests
  kernelcare: any of: kernelcare/datadog_checks/kernelcare, kernelcare/tests
  lighthouse: any of: lighthouse/datadog_checks/lighthouse, lighthouse/tests
  logstash: any of: logstash/datadog_checks/logstash, logstash/tests
  mergify: any of: mergify/datadog_checks/mergify, mergify/tests
  neo4j: any of: neo4j/datadog_checks/neo4j, neo4j/tests
  neutrona: any of: neutrona/datadog_checks/neutrona, neutrona/tests
  nextcloud: any of: nextcloud/datadog_checks/nextcloud, nextcloud/tests
  nn_sdwan: any of: nn_sdwan/datadog_checks/nn_sdwan, nn_sdwan/tests
  ns1: any of: ns1/datadog_checks/ns1, ns1/tests
  nvml: any of: nvml/datadog_checks/nvml, nvml/tests
  octoprint: any of: octoprint/datadog_checks/octoprint, octoprint/tests
  open_policy_agent: any of: open_policy_agent/datadog_checks/open_policy_agent, open_policy_agent/tests
  php_apcu: any of: php_apcu/datadog_checks/php_apcu, php_apcu/tests
  php_opcache: any of: php_opcache/datadog_checks/php_opcache, php_opcache/tests
  pihole: any of: pihole/datadog_checks/pihole, pihole/tests
  ping: any of: ping/datadog_checks/ping, ping/tests
  portworx: any of: portworx/datadog_checks/portworx, portworx/tests
  puma: any of: puma/datadog_checks/puma, puma/tests
  purefa: any of: purefa/datadog_checks/purefa, purefa/tests
  purefb: any of: purefb/datadog_checks/purefb, purefb/tests
  radarr: any of: radarr/datadog_checks/radarr, radarr/tests
  reboot_required: any of: reboot_required/datadog_checks/reboot_required, reboot_required/tests
  redis_enterprise: any of: redis_enterprise/datadog_checks/redis_enterprise, redis_enterprise/tests
  redis_sentinel: any of: redis_sentinel/datadog_checks/redis_sentinel, redis_sentinel/tests
  redisenterprise: any of: redisenterprise/datadog_checks/redisenterprise, redisenterprise/tests
  redpanda: any of: redpanda/datadog_checks/redpanda, redpanda/tests
  riak_repl: any of: riak_repl/datadog_checks/riak_repl, riak_repl/tests
  robust_intelligence_ai_firewall: any of: robust_intelligence_ai_firewall/datadog_checks/robust_intelligence_ai_firewall, robust_intelligence_ai_firewall/tests
  scalr: any of: scalr/datadog_checks/scalr, scalr/tests
  sendmail: any of: sendmail/datadog_checks/sendmail, sendmail/tests
  snmpwalk: any of: snmpwalk/datadog_checks/snmpwalk, snmpwalk/tests
  sonarr: any of: sonarr/datadog_checks/sonarr, sonarr/tests
  sortdb: any of: sortdb/datadog_checks/sortdb, sortdb/tests
  speedtest: any of: speedtest/datadog_checks/speedtest, speedtest/tests
  stardog: any of: stardog/datadog_checks/stardog, stardog/tests
  storm: any of: storm/datadog_checks/storm, storm/tests
  syncthing: any of: syncthing/datadog_checks/syncthing, syncthing/tests
  tidb: any of: tidb/datadog_checks/tidb, tidb/tests
  traefik: any of: traefik/datadog_checks/traefik, traefik/tests
  trino: any of: trino/datadog_checks/trino, trino/tests
  unbound: any of: unbound/datadog_checks/unbound, unbound/tests
  unifi_console: any of: unifi_console/datadog_checks/unifi_console, unifi_console/tests
  upbound_uxp: any of: upbound_uxp/datadog_checks/upbound_uxp, upbound_uxp/tests
  upsc: any of: upsc/datadog_checks/upsc, upsc/tests
  vespa: any of: vespa/datadog_checks/vespa, vespa/tests
  wayfinder: any of: wayfinder/datadog_checks/wayfinder, wayfinder/tests
  zabbix: any of: zabbix/datadog_checks/zabbix, zabbix/tests
  zenoh_router: any of: zenoh_router/datadog_checks/zenoh_router, zenoh_router/tests
