Repository DataDog/integrations-extras: changes, and which Codecov flags are due for each by the changed paths.
All: aqua, argo_cd, aws_pricing, bind9, calico, cert_manager, cloudsmith, cyral, eventstore, filebeat, gatekeeper, gnatsd, gnatsd_streaming, jfrog_platform, kernelcare, lighthouse, logstash, neo4j, neutrona, nextcloud, ns1, nvml, octoprint, open_policy_agent, php_apcu, php_opcache, pihole, ping, portworx, pulsar, puma, reboot_required, redis_sentinel, redisenterprise, riak_repl, sendmail, snmpwalk, sortdb, speedtest, stardog, storm, tidb, traefik, unbound, upsc, vespa, zabbix

Path conditions:
  aqua: any of: aqua/datadog_checks/aqua, aqua/tests
  argo_cd: any of: argo_cd/datadog_checks/argo_cd, argo_cd/tests
  aws_pricing: any of: aws_pricing/datadog_checks/aws_pricing, aws_pricing/tests
  bind9: any of: bind9/datadog_checks/bind9, bind9/tests
  calico: any of: calico/datadog_checks/calico, calico/tests
  cert_manager: any of: cert_manager/datadog_checks/cert_manager, cert_manager/tests
  cloudsmith: any of: cloudsmith/datadog_checks/cloudsmith, cloudsmith/tests
  cyral: any of: cyral/datadog_checks/cyral, cyral/tests
  eventstore: any of: eventstore/datadog_checks/eventstore, eventstore/tests
  filebeat: any of: filebeat/datadog_checks/filebeat, filebeat/tests
  gatekeeper: any of: gatekeeper/datadog_checks/gatekeeper, gatekeeper/tests
  gnatsd: any of: gnatsd/datadog_checks/gnatsd, gnatsd/tests
  gnatsd_streaming: any of: gnatsd_streaming/datadog_checks/gnatsd_streaming, gnatsd_streaming/tests
  jfrog_platform: any of: jfrog_platform/datadog_checks/jfrog_platform, jfrog_platform/tests
  kernelcare: any of: kernelcare/datadog_checks/kernelcare, kernelcare/tests
  lighthouse: any of: lighthouse/datadog_checks/lighthouse, lighthouse/tests
  logstash: any of: logstash/datadog_checks/logstash, logstash/tests
  neo4j: any of: neo4j/datadog_checks/neo4j, neo4j/tests
  neutrona: any of: neutrona/datadog_checks/neutrona, neutrona/tests
  nextcloud: any of: nextcloud/datadog_checks/nextcloud, nextcloud/tests
  ns1: any of: ns1/datadog_checks/ns1, ns1/tests
  nvml: any of: nvml/datadog_checks/nvml, nvml/tests
  octoprint: any of: octoprint/datadog_checks/octoprint, octoprint/tests
  open_policy_agent: any of: open_policy_agent/datadog_checks/open_policy_agent, open_policy_agent/tests
  php_apcu: any of: php_apcu/datadog_checks/php_apcu, php_apcu/tests
  php_opcache: any of: php_opcache/datadog_checks/php_opcache, php_opcache/tests
  pihole: any of: pihole/datadog_checks/pihole, pihole/tests
  ping: any of: ping/datadog_checks/ping, ping/tests
  portworx: any of: portworx/datadog_checks/portworx, portworx/tests
  pulsar: any of: pulsar/datadog_checks/pulsar, pulsar/tests
  puma: any of: puma/datadog_checks/puma, puma/tests
  reboot_required: any of: reboot_required/datadog_checks/reboot_required, reboot_required/tests
  redis_sentinel: any of: redis_sentinel/datadog_checks/redis_sentinel, redis_sentinel/tests
  redisenterprise: any of: redisenterprise/datadog_checks/redisenterprise, redisenterprise/tests
  riak_repl: any of: riak_repl/datadog_checks/riak_repl, riak_repl/tests
  sendmail: any of: sendmail/datadog_checks/sendmail, sendmail/tests
  snmpwalk: any of: snmpwalk/datadog_checks/snmpwalk, snmpwalk/tests
  sortdb: any of: sortdb/datadog_checks/sortdb, sortdb/tests
  speedtest: any of: speedtest/datadog_checks/speedtest, speedtest/tests
  stardog: any of: stardog/datadog_checks/stardog, stardog/tests
  storm: any of: storm/datadog_checks/storm, storm/tests
  tidb: any of: tidb/datadog_checks/tidb, tidb/tests
  traefik: any of: traefik/datadog_checks/traefik, traefik/tests
  unbound: any of: unbound/datadog_checks/unbound, unbound/tests
  upsc: any of: upsc/datadog_checks/upsc, upsc/tests
  vespa: any of: vespa/datadog_checks/vespa, vespa/tests
  zabbix: any of: zabbix/datadog_checks/zabbix, zabbix/tests

Update redisenterprise/metadata.csv
  redisenterprise/metadata.csv
Due: none

fix guid
  stackpulse/manifest.json
Due: none

Update squadcast/README.md
  squadcast/README.md
Due: none

Use requests wrapper
  neutrona/datadog_checks/neutrona/neutrona.py
Due: neutrona

Use requests wrapper
  nextcloud/datadog_checks/nextcloud/nextcloud.py
Due: nextcloud

Add the Torq integration to replace the StackPulse integration (#1052)
  .github/CODEOWNERS
  torq/CHANGELOG.md
  torq/README.md
  torq/assets/dashboards/torq_overview.json
  torq/assets/logos/torq-black-horizontal.png
  torq/assets/logos/torq-white-horizontal.png
  torq/assets/logos/torq_logo.svg
  torq/assets/service_checks.json
  torq/images/datadog_api_key.png
  torq/images/datadog_app_key.png
  torq/images/datadog_webhook.png
  torq/images/datadog_webhook_2.png
  torq/manifest.json
  torq/metadata.csv
Due: none

Update Tyk
  tyk/manifest.json
Due: none

RedisEnterprise - Enable collection of Active/Active metrics (#1069)
  .github/CODEOWNERS
  redisenterprise/CHANGELOG.md
  redisenterprise/README.md
  redisenterprise/assets/dashboards/redis_enterprise_active_active.json
  redisenterprise/datadog_checks/redisenterprise/__about__.py
  redisenterprise/datadog_checks/redisenterprise/check.py
  redisenterprise/images/active_active_dashboard.png
  redisenterprise/images/logo-redis.png
  redisenterprise/images/redislabs-logo.png
  redisenterprise/metadata.csv
Due: redisenterprise

[Release] Update metadata
  .in-toto/tag.d1d0746a.link
Due: none

Add to manifest.json
  redisenterprise/manifest.json
Due: none

Release integration
  zabbix/CHANGELOG.md
  zabbix/datadog_checks/zabbix/__about__.py
Due: zabbix

Release integration (#1077)
  zabbix/CHANGELOG.md
  zabbix/datadog_checks/zabbix/__about__.py
Due: zabbix

Addressing Comments
  neo4j/CHANGELOG.md
  neo4j/README.md
  neo4j/assets/configuration/spec.yaml
  neo4j/datadog_checks/neo4j/data/conf.yaml.example
Due: neo4j

Add CI app to extras
  .azure-pipelines/all.yml
  .azure-pipelines/changes.yml
Due: none

Use ddtrace flag
  .azure-pipelines/all.yml
  .azure-pipelines/changes.yml
Due: none

Test commit
  ping/datadog_checks/ping/ping.py
Due: ping

Fix tests
  nextcloud/datadog_checks/nextcloud/nextcloud.py
  nextcloud/tests/test_nextcloud.py
Due: nextcloud

Add CI app to extras (#1078)
  .azure-pipelines/all.yml
  .azure-pipelines/changes.yml
Due: none

trying to test every metrics
  argo_cd/manifest.json
  argo_cd/tests/conftest.py
  argo_cd/tests/fixtures/metrics.txt
  argo_cd/tests/test_argo_cd.py
Due: argo_cd

Use requests wrapper (#1073)
  nextcloud/datadog_checks/nextcloud/nextcloud.py
  nextcloud/tests/test_nextcloud.py
Due: nextcloud

Fix tyk manifest
  tyk/manifest.json
Due: none

lambdatest integration tile initial commit
  lambdatest/CHANGELOG.md
  lambdatest/README.md
  lambdatest/assets/dashboards/lambdatest_overview.json
  lambdatest/assets/logos/lambdatest.svg
  lambdatest/assets/logos/lambdatest_white.png
  lambdatest/assets/service_checks.json
  lambdatest/images/.gitkeep
  lambdatest/manifest.json
  lambdatest/metadata.csv
Due: none

Update CODEOWNERS
  .github/CODEOWNERS
Due: none

Update CODEOWNERS for lambdatest integration tile
  .github/CODEOWNERS
Due: none

Update codeowners details
  .github/CODEOWNERS
Due: none

Update codeowners details with prateek's account
  .github/CODEOWNERS
Due: none

Updating codeowners details to the registered email
  .github/CODEOWNERS
Due: none

disable on prod
  calico/manifest.json
Due: none
