Repository DataDog/integrations-extras: changes, and which Codecov flags are due for each by the changed paths.
All: aqua, aws_pricing, bind9, cfssl, cloudnatix, cloudsmith, cybersixgill_actionable_alerts, cyral, emqx, eventstore, exim, fiddler, filebeat, filemage, fluentbit, gatekeeper, gitea, gnatsd, gnatsd_streaming, go_pprof_scraper, grpc_check, hikaricp, jfrog_platform_self_hosted, kernelcare, lighthouse, logstash, mergify, neo4j, neutrona, nextcloud, nn_sdwan, ns1, nvml, octoprint, open_policy_agent, php_apcu, php_opcache, pihole, ping, portworx, puma, purefa, purefb, radarr, reboot_required, redis_enterprise, redis_sentinel, redisenterprise, redpanda, riak_repl, robust_intelligence_ai_firewall, scalr, sendmail, snmpwalk, sonarr, sortdb, speedtest, stardog, storm, syncthing, tidb, traefik, trino, unbound, unifi_console, upbound_uxp, upsc, vespa, wayfinder, zabbix, zenoh_router

correct some metrics and change a dashboard key
  redis_enterprise/manifest.json
  redis_enterprise/metadata.csv
Due: none

fix remaining
  redis_enterprise/hatch.toml
  redis_enterprise/metadata.csv
  redis_enterprise/tests/docker-compose.yaml
Due: redis_enterprise

logo placement adjustment
  redis_enterprise/assets/logos/logo.svg
Due: none

use new redis logo and replace three images with new ones
  redis_enterprise/assets/images/datadog-detail-node-cpu.png
  redis_enterprise/assets/images/datadog-detail-node-memory.png
  redis_enterprise/assets/images/datadog-detail-requests.png
  redis_enterprise/assets/images/dd-cpu_usage.png
  redis_enterprise/assets/images/dd-memory_usage.png
  redis_enterprise/assets/images/dd-operations_connections.png
  redis_enterprise/assets/logos/logo.svg
Due: none

fixed manifest, validate all passes
  redis_enterprise/manifest.json
Due: none

re-sync after manifest edit
  .github/workflows/test-all.yml
  redis_enterprise/CHANGELOG.md
  redis_enterprise/assets/service_checks.json
  redis_enterprise/manifest.json
Due: none

one tiny linter fix
  redis_enterprise/tests/support.py
Due: redis_enterprise

Array of Dictionaries
  redis_enterprise/manifest.json
Due: none

addressed comments, fixed lint errors
  redis_enterprise/README.md
  redis_enterprise/datadog_checks/__init__.py
  redis_enterprise/datadog_checks/redis_enterprise/__about__.py
  redis_enterprise/datadog_checks/redis_enterprise/__init__.py
  redis_enterprise/datadog_checks/redis_enterprise/config_models/validators.py
  redis_enterprise/datadog_checks/redis_enterprise/data/conf.yaml.example
  redis_enterprise/images/IMAGES_README.md
  redis_enterprise/tests/conftest.py
  redis_enterprise/tests/test_redis_enterprise.py
Due: redis_enterprise

last lint fixes
  redis_enterprise/datadog_checks/redis_enterprise/redis_enterprise.py
  redis_enterprise/tests/test_redis_enterprise.py
Due: redis_enterprise

initial add of enterprise tile
  redis_enterprise/README.md
  redis_enterprise/assets/dashboards/redis-enterprise-cluster-dashboard-v2.json
  redis_enterprise/assets/dashboards/redis-enterprise-cluster-dashboard.json
  redis_enterprise/assets/dashboards/redis-enterprise-database-dashboard-JS.json
  redis_enterprise/assets/dashboards/redis-enterprise-database-dashboard-v2.json
  redis_enterprise/assets/dashboards/redis-enterprise-database-dashboard.json
  redis_enterprise/assets/dashboards/redis_enterprise_overview.json
  redis_enterprise/assets/logos/logo.png
  redis_enterprise/assets/service_checks.json
  redis_enterprise/datadog_checks/redis_enterprise/__init__.py
  redis_enterprise/datadog_checks/redis_enterprise/data/conf.yaml.example
  redis_enterprise/datadog_checks/redis_enterprise/data/redis_enterprise.yaml
  redis_enterprise/datadog_checks/redis_enterprise/redis_enterprise.py
  redis_enterprise/manifest.json
  redis_enterprise/metadata.csv
  redis_enterprise/tests/test_redis_enterprise.py
Due: redis_enterprise

README tailored for enterprise with more explicit usage guidelines
  redis_enterprise/README.md
Due: none

linter, again (missing commas)
  redis_enterprise/datadog_checks/redis_enterprise/metrics.py
Due: redis_enterprise

added svg logo
  redis_enterprise/assets/logos/redis.svg
Due: none

empty e2e test
  redis_enterprise/tests/test_redis_enterprise.py
Due: redis_enterprise

fix comment for linter
  redis_enterprise/tests/test_redis_enterprise.py
Due: redis_enterprise

remove unused dashboard, add description
  redis_enterprise/assets/dashboards/overview.json
  redis_enterprise/assets/dashboards/redis-enterprise-cluster-dashboard-v2.json
  redis_enterprise/assets/dashboards/redis-enterprise-database-dashboard-v2.json
  redis_enterprise/assets/dashboards/redis_enterprise_overview.json
Due: none

unit & integration tests, corrected metrics, etc.
  .gitignore
  redis_enterprise/datadog_checks/redis_enterprise/__init__.py
  redis_enterprise/datadog_checks/redis_enterprise/check.py
  redis_enterprise/datadog_checks/redis_enterprise/metrics.py
  redis_enterprise/hatch.toml
  redis_enterprise/metadata.csv
  redis_enterprise/tests/conftest.py
  redis_enterprise/tests/data/metrics.txt
  redis_enterprise/tests/docker-compose.yaml
  redis_enterprise/tests/docker/docker-compose.yaml
  redis_enterprise/tests/metrics
  redis_enterprise/tests/setup.sh
  redis_enterprise/tests/support.py
  redis_enterprise/tests/test_redis_enterprise.py
Due: redis_enterprise

linter says add a space
  redis_enterprise/tests/test_redis_enterprise.py
Due: redis_enterprise

fixed description, remove non-v2 dashboards, minor edits
  redis_enterprise/README.md
  redis_enterprise/assets/dashboards/redis-enterprise-cluster-dashboard-v2.json
  redis_enterprise/assets/dashboards/redis-enterprise-cluster-dashboard.json
  redis_enterprise/assets/dashboards/redis-enterprise-database-dashboard-JS.json
  redis_enterprise/assets/dashboards/redis-enterprise-database-dashboard-v2.json
  redis_enterprise/assets/dashboards/redis-enterprise-database-dashboard.json
  redis_enterprise/assets/dashboards/redis_enterprise_overview.json
  redis_enterprise/datadog_checks/redis_enterprise/data/conf.yaml.example
  redis_enterprise/datadog_checks/redis_enterprise/data/redis_enterprise.yaml
  redis_enterprise/datadog_checks/redis_enterprise/metrics.py
  redis_enterprise/datadog_checks/redis_enterprise/redis_enterprise.py
Due: redis_enterprise

return instances from dd_environment but do not run setup
  redis_enterprise/tests/conftest.py
Due: redis_enterprise

initial create of redis enterprise agent check
  redis_enterprise/CHANGELOG.md
  redis_enterprise/README.md
  redis_enterprise/assets/configuration/spec.yaml
  redis_enterprise/assets/dashboards/redis_enterprise_overview.json
  redis_enterprise/assets/service_checks.json
  redis_enterprise/datadog_checks/__init__.py
  redis_enterprise/datadog_checks/redis_enterprise/__about__.py
  redis_enterprise/datadog_checks/redis_enterprise/__init__.py
  redis_enterprise/datadog_checks/redis_enterprise/check.py
  redis_enterprise/datadog_checks/redis_enterprise/config_models/__init__.py
  redis_enterprise/datadog_checks/redis_enterprise/config_models/defaults.py
  redis_enterprise/datadog_checks/redis_enterprise/config_models/instance.py
  redis_enterprise/datadog_checks/redis_enterprise/config_models/shared.py
  redis_enterprise/datadog_checks/redis_enterprise/config_models/validators.py
  redis_enterprise/datadog_checks/redis_enterprise/data/conf.yaml.example
  redis_enterprise/hatch.toml
  redis_enterprise/images/IMAGES_README.md
  redis_enterprise/manifest.json
  redis_enterprise/metadata.csv
  redis_enterprise/pyproject.toml
  redis_enterprise/tests/__init__.py
  redis_enterprise/tests/conftest.py
  redis_enterprise/tests/test_unit.py
Due: redis_enterprise

add another image
  redis_enterprise/assets/images/dd-operations_connections.png
Due: none

linter, again (delete empty line)
  redis_enterprise/datadog_checks/redis_enterprise/metrics.py
Due: redis_enterprise

comment unused method import used by integration
  redis_enterprise/tests/test_redis_enterprise.py
Due: redis_enterprise

name identifier can't be changed at this time
  redis_enterprise/assets/configuration/spec.yaml
Due: none

rename dashboards so they will be unique
  redis_enterprise/manifest.json
Due: none

reset source type name to include V2
  redis_enterprise/manifest.json
Due: none

sync
  .codecov.yml
  .github/workflows/test-all.yml
Due: none

change service name, too
  redis_enterprise/assets/service_checks.json
Due: none

Update .github/CODEOWNERS
  .github/CODEOWNERS
Due: none

Update celerdata/README.md
  celerdata/README.md
Due: none

review fixes
  perfectscale/CHANGELOG.md
Due: none

moovingon.ai | Missing events_read scope (#2369)
  moovingon_ai/README.md
  moovingon_ai/assets/oauth_clients.json
  moovingon_ai/images/moovingon_ai-events.png
  moovingon_ai/manifest.json
Due: none

replace deprecated endpoint with account/summary for billing
  ns1/CHANGELOG.md
  ns1/datadog_checks/ns1/__about__.py
  ns1/datadog_checks/ns1/check.py
  ns1/datadog_checks/ns1/ns1_api_url.py
  ns1/tests/test_ns1.py
Due: ns1

Update anecdote/README.md
  anecdote/README.md
Due: none

Path conditions:
  aqua: any of: aqua/datadog_checks/aqua, aqua/tests
  aws_pricing: any of: aws_pricing/datadog_checks/aws_pricing, aws_pricing/tests
  bind9: any of: bind9/datadog_checks/bind9, bind9/tests
  cfssl: any of: cfssl/datadog_checks/cfssl, cfssl/tests
  cloudnatix: any of: cloudnatix/datadog_checks/cloudnatix, cloudnatix/tests
  cloudsmith: any of: cloudsmith/datadog_checks/cloudsmith, cloudsmith/tests
  cybersixgill_actionable_alerts: any of: cybersixgill_actionable_alerts/datadog_checks/cybersixgill_actionable_alerts, cybersixgill_actionable_alerts/tests
  cyral: any of: cyral/datadog_checks/cyral, cyral/tests
  emqx: any of: emqx/datadog_checks/emqx, emqx/tests
  eventstore: any of: eventstore/datadog_checks/eventstore, eventstore/tests
  exim: any of: exim/datadog_checks/exim, exim/tests
  fiddler: any of: fiddler/datadog_checks/fiddler, fiddler/tests
  filebeat: any of: filebeat/datadog_checks/filebeat, filebeat/tests
  filemage: any of: filemage/datadog_checks/filemage, filemage/tests
  fluentbit: any of: fluentbit/datadog_checks/fluentbit, fluentbit/tests
  gatekeeper: any of: gatekeeper/datadog_checks/gatekeeper, gatekeeper/tests
  gitea: any of: gitea/datadog_checks/gitea, gitea/tests
  gnatsd: any of: gnatsd/datadog_checks/gnatsd, gnatsd/tests
  gnatsd_streaming: any of: gnatsd_streaming/datadog_checks/gnatsd_streaming, gnatsd_streaming/tests
  go_pprof_scraper: any of: go_pprof_scraper/datadog_checks/go_pprof_scraper, go_pprof_scraper/tests
  grpc_check: any of: grpc_check/datadog_checks/grpc_check, grpc_check/tests
  hikaricp: any of: hikaricp/datadog_checks/hikaricp, hikaricp/tests
  jfrog_platform_self_hosted: any of: jfrog_platform_self_hosted/datadog_checks/jfrog_platform_self_hosted, jfrog_platform_self_hosted/tests
  kernelcare: any of: kernelcare/datadog_checks/kernelcare, kernelcare/tests
  lighthouse: any of: lighthouse/datadog_checks/lighthouse, lighthouse/tests
  logstash: any of: logstash/datadog_checks/logstash, logstash/tests
  mergify: any of: mergify/datadog_checks/mergify, mergify/tests
  neo4j: any of: neo4j/datadog_checks/neo4j, neo4j/tests
  neutrona: any of: neutrona/datadog_checks/neutrona, neutrona/tests
  nextcloud: any of: nextcloud/datadog_checks/nextcloud, nextcloud/tests
  nn_sdwan: any of: nn_sdwan/datadog_checks/nn_sdwan, nn_sdwan/tests
  ns1: any of: ns1/datadog_checks/ns1, ns1/tests
  nvml: any of: nvml/datadog_checks/nvml, nvml/tests
  octoprint: any of: octoprint/datadog_checks/octoprint, octoprint/tests
  open_policy_agent: any of: open_policy_agent/datadog_checks/open_policy_agent, open_policy_agent/tests
  php_apcu: any of: php_apcu/datadog_checks/php_apcu, php_apcu/tests
  php_opcache: any of: php_opcache/datadog_checks/php_opcache, php_opcache/tests
  pihole: any of: pihole/datadog_checks/pihole, pihole/tests
  ping: any of: ping/datadog_checks/ping, ping/tests
  portworx: any of: portworx/datadog_checks/portworx, portworx/tests
  puma: any of: puma/datadog_checks/puma, puma/tests
  purefa: any of: purefa/datadog_checks/purefa, purefa/tests
  purefb: any of: purefb/datadog_checks/purefb, purefb/tests
  radarr: any of: radarr/datadog_checks/radarr, radarr/tests
  reboot_required: any of: reboot_required/datadog_checks/reboot_required, reboot_required/tests
  redis_enterprise: any of: redis_enterprise/datadog_checks/redis_enterprise, redis_enterprise/tests
  redis_sentinel: any of: redis_sentinel/datadog_checks/redis_sentinel, redis_sentinel/tests
  redisenterprise: any of: redisenterprise/datadog_checks/redisenterprise, redisenterprise/tests
  redpanda: any of: redpanda/datadog_checks/redpanda, redpanda/tests
  riak_repl: any of: riak_repl/datadog_checks/riak_repl, riak_repl/tests
  robust_intelligence_ai_firewall: any of: robust_intelligence_ai_firewall/datadog_checks/robust_intelligence_ai_firewall, robust_intelligence_ai_firewall/tests
  scalr: any of: scalr/datadog_checks/scalr, scalr/tests
  sendmail: any of: sendmail/datadog_checks/sendmail, sendmail/tests
  snmpwalk: any of: snmpwalk/datadog_checks/snmpwalk, snmpwalk/tests
  sonarr: any of: sonarr/datadog_checks/sonarr, sonarr/tests
  sortdb: any of: sortdb/datadog_checks/sortdb, sortdb/tests
  speedtest: any of: speedtest/datadog_checks/speedtest, speedtest/tests
  stardog: any of: stardog/datadog_checks/stardog, stardog/tests
  storm: any of: storm/datadog_checks/storm, storm/tests
  syncthing: any of: syncthing/datadog_checks/syncthing, syncthing/tests
  tidb: any of: tidb/datadog_checks/tidb, tidb/tests
  traefik: any of: traefik/datadog_checks/traefik, traefik/tests
  trino: any of: trino/datadog_checks/trino, trino/tests
  unbound: any of: unbound/datadog_checks/unbound, unbound/tests
  unifi_console: any of: unifi_console/datadog_checks/unifi_console, unifi_console/tests
  upbound_uxp: any of: upbound_uxp/datadog_checks/upbound_uxp, upbound_uxp/tests
  upsc: any of: upsc/datadog_checks/upsc, upsc/tests
  vespa: any of: vespa/datadog_checks/vespa, vespa/tests
  wayfinder: any of: wayfinder/datadog_checks/wayfinder, wayfinder/tests
  zabbix: any of: zabbix/datadog_checks/zabbix, zabbix/tests
  zenoh_router: any of: zenoh_router/datadog_checks/zenoh_router, zenoh_router/tests
