Repository DataDog/integrations-extras: changes, and which Codecov flags are due for each by the changed paths.
All: aqua, aws_pricing, bind9, cert_manager, cfssl, cloudsmith, cyral, eventstore, exim, filebeat, fluentbit, fluxcd, gatekeeper, gitea, gnatsd, gnatsd_streaming, grpc_check, jfrog_platform, kernelcare, lighthouse, logstash, neo4j, neutrona, nextcloud, nn_sdwan, ns1, nvml, octoprint, open_policy_agent, php_apcu, php_opcache, pihole, ping, portworx, puma, purefa, purefb, reboot_required, redis_sentinel, redisenterprise, redpanda, riak_repl, sendmail, snmpwalk, sortdb, speedtest, stardog, storm, syncthing, tidb, traefik, trino, unbound, unifi_console, upsc, vespa, zabbix

Path conditions:
  aqua: any of: aqua/datadog_checks/aqua, aqua/tests
  aws_pricing: any of: aws_pricing/datadog_checks/aws_pricing, aws_pricing/tests
  bind9: any of: bind9/datadog_checks/bind9, bind9/tests
  cert_manager: any of: cert_manager/datadog_checks/cert_manager, cert_manager/tests
  cfssl: any of: cfssl/datadog_checks/cfssl, cfssl/tests
  cloudsmith: any of: cloudsmith/datadog_checks/cloudsmith, cloudsmith/tests
  cyral: any of: cyral/datadog_checks/cyral, cyral/tests
  eventstore: any of: eventstore/datadog_checks/eventstore, eventstore/tests
  exim: any of: exim/datadog_checks/exim, exim/tests
  filebeat: any of: filebeat/datadog_checks/filebeat, filebeat/tests
  fluentbit: any of: fluentbit/datadog_checks/fluentbit, fluentbit/tests
  fluxcd: any of: fluxcd/datadog_checks/fluxcd, fluxcd/tests
  gatekeeper: any of: gatekeeper/datadog_checks/gatekeeper, gatekeeper/tests
  gitea: any of: gitea/datadog_checks/gitea, gitea/tests
  gnatsd: any of: gnatsd/datadog_checks/gnatsd, gnatsd/tests
  gnatsd_streaming: any of: gnatsd_streaming/datadog_checks/gnatsd_streaming, gnatsd_streaming/tests
  grpc_check: any of: grpc_check/datadog_checks/grpc_check, grpc_check/tests
  jfrog_platform: any of: jfrog_platform/datadog_checks/jfrog_platform, jfrog_platform/tests
  kernelcare: any of: kernelcare/datadog_checks/kernelcare, kernelcare/tests
  lighthouse: any of: lighthouse/datadog_checks/lighthouse, lighthouse/tests
  logstash: any of: logstash/datadog_checks/logstash, logstash/tests
  neo4j: any of: neo4j/datadog_checks/neo4j, neo4j/tests
  neutrona: any of: neutrona/datadog_checks/neutrona, neutrona/tests
  nextcloud: any of: nextcloud/datadog_checks/nextcloud, nextcloud/tests
  nn_sdwan: any of: nn_sdwan/datadog_checks/nn_sdwan, nn_sdwan/tests
  ns1: any of: ns1/datadog_checks/ns1, ns1/tests
  nvml: any of: nvml/datadog_checks/nvml, nvml/tests
  octoprint: any of: octoprint/datadog_checks/octoprint, octoprint/tests
  open_policy_agent: any of: open_policy_agent/datadog_checks/open_policy_agent, open_policy_agent/tests
  php_apcu: any of: php_apcu/datadog_checks/php_apcu, php_apcu/tests
  php_opcache: any of: php_opcache/datadog_checks/php_opcache, php_opcache/tests
  pihole: any of: pihole/datadog_checks/pihole, pihole/tests
  ping: any of: ping/datadog_checks/ping, ping/tests
  portworx: any of: portworx/datadog_checks/portworx, portworx/tests
  puma: any of: puma/datadog_checks/puma, puma/tests
  purefa: any of: purefa/datadog_checks/purefa, purefa/tests
  purefb: any of: purefb/datadog_checks/purefb, purefb/tests
  reboot_required: any of: reboot_required/datadog_checks/reboot_required, reboot_required/tests
  redis_sentinel: any of: redis_sentinel/datadog_checks/redis_sentinel, redis_sentinel/tests
  redisenterprise: any of: redisenterprise/datadog_checks/redisenterprise, redisenterprise/tests
  redpanda: any of: redpanda/datadog_checks/redpanda, redpanda/tests
  riak_repl: any of: riak_repl/datadog_checks/riak_repl, riak_repl/tests
  sendmail: any of: sendmail/datadog_checks/sendmail, sendmail/tests
  snmpwalk: any of: snmpwalk/datadog_checks/snmpwalk, snmpwalk/tests
  sortdb: any of: sortdb/datadog_checks/sortdb, sortdb/tests
  speedtest: any of: speedtest/datadog_checks/speedtest, speedtest/tests
  stardog: any of: stardog/datadog_checks/stardog, stardog/tests
  storm: any of: storm/datadog_checks/storm, storm/tests
  syncthing: any of: syncthing/datadog_checks/syncthing, syncthing/tests
  tidb: any of: tidb/datadog_checks/tidb, tidb/tests
  traefik: any of: traefik/datadog_checks/traefik, traefik/tests
  trino: any of: trino/datadog_checks/trino, trino/tests
  unbound: any of: unbound/datadog_checks/unbound, unbound/tests
  unifi_console: any of: unifi_console/datadog_checks/unifi_console, unifi_console/tests
  upsc: any of: upsc/datadog_checks/upsc, upsc/tests
  vespa: any of: vespa/datadog_checks/vespa, vespa/tests
  zabbix: any of: zabbix/datadog_checks/zabbix, zabbix/tests

[NS1] Update Top10 usage query in overview.json
  ns1/assets/dashboards/overview.json
Due: none

Update SD-WAN support troubleshooting
  nn_sdwan/README.md
Due: none

[NS1] Update Top10 usage query in overview.json (#1804)
  ns1/assets/dashboards/overview.json
Due: none

Add missing Data Collected sections (#1802)
  ably/README.md
Due: none

Add integration tile for Mendix
  .github/CODEOWNERS
  mendix/CHANGELOG.md
  mendix/README.md
  mendix/assets/logos/mendix_dark.svg
  mendix/assets/logos/mendix_light.svg
  mendix/assets/service_checks.json
  mendix/images/cloud_resource_pack_overview.png
  mendix/images/cp_deployment_app_running.png
  mendix/images/cp_environments_popup.png
  mendix/images/domain-model-with-data-hub.png
  mendix/images/mx9_splash_screen.png
  mendix/images/page-editor.png
  mendix/manifest.json
Due: none

Add metadata file to list available metrics
  mendix/manifest.json
  mendix/metadata.csv
Due: none

Remove images not relevant to the integration
  mendix/README.md
  mendix/images/cp_environments_popup.png
  mendix/images/mx9_splash_screen.png
  mendix/manifest.json
Due: none

Address review comments
  .github/CODEOWNERS
  mendix/CHANGELOG.md
  mendix/README.md
  mendix/manifest.json
Due: none

Add Mendix application overview dashboard
  mendix/assets/dashboards/MendixApplicationOverview.json
  mendix/images/mendix_dashboard.png
  mendix/manifest.json
Due: none

Fix typo (#1790)
  rum_ios/README.md
Due: none

Add new Choreo integration
  .azure-pipelines/all.yml
  .codecov.yml
  .github/CODEOWNERS
  choreo/CHANGELOG.md
  choreo/README.md
  choreo/assets/configuration/spec.yaml
  choreo/assets/dashboards/choreo.json
  choreo/assets/service_checks.json
  choreo/datadog_checks/__init__.py
  choreo/datadog_checks/choreo/__about__.py
  choreo/datadog_checks/choreo/__init__.py
  choreo/datadog_checks/choreo/check.py
  choreo/datadog_checks/choreo/config_models/__init__.py
  choreo/datadog_checks/choreo/config_models/defaults.py
  choreo/datadog_checks/choreo/config_models/instance.py
  choreo/datadog_checks/choreo/config_models/shared.py
  choreo/datadog_checks/choreo/config_models/validators.py
  choreo/datadog_checks/choreo/data/conf.yaml.example
  choreo/datadog_checks/choreo/metrics.py
  choreo/hatch.toml
  choreo/images/choreo_dashboard.png
  choreo/manifest.json
  choreo/metadata.csv
  choreo/pyproject.toml
  choreo/setup.py
  choreo/tests/Docker/Dockerfile
  choreo/tests/Docker/app.py
  choreo/tests/Docker/docker-compose.yaml
  choreo/tests/Docker/metrics.txt
  choreo/tests/Docker/requirements.txt
  choreo/tests/__init__.py
  choreo/tests/conftest.py
  choreo/tests/test_choreo.py
Due: none

Add missing newlines in Docker test files
  choreo/tests/Docker/Dockerfile
  choreo/tests/Docker/docker-compose.yaml
Due: none

Add integration tile for Mendix (#1767)
  .github/CODEOWNERS
  mendix/CHANGELOG.md
  mendix/README.md
  mendix/assets/dashboards/MendixApplicationOverview.json
  mendix/assets/logos/mendix_dark.svg
  mendix/assets/logos/mendix_light.svg
  mendix/assets/service_checks.json
  mendix/images/cloud_resource_pack_overview.png
  mendix/images/cp_deployment_app_running.png
  mendix/images/domain-model-with-data-hub.png
  mendix/images/mendix_dashboard.png
  mendix/images/page-editor.png
  mendix/manifest.json
  mendix/metadata.csv
Due: none

Add suggested changes to the Overview section of the README
  choreo/README.md
Due: none

Add changes suggested by the code review to the README
  choreo/README.md
Due: none

addressed review comments
  .github/CODEOWNERS
  cybersixgill_actionable_alerts/assets/configuration/spec.yaml
  cybersixgill_actionable_alerts/manifest.json
Due: none

review comments are addressed
  cybersixgill_actionable_alerts/assets/configuration/spec.yaml
Due: none

review comments addressed
  cybersixgill_actionable_alerts/assets/configuration/spec.yaml
Due: none

review comments are reverted
  .github/CODEOWNERS
  cybersixgill_actionable_alerts/assets/configuration/spec.yaml
  cybersixgill_actionable_alerts/manifest.json
Due: none

review comments are addressed
  .github/CODEOWNERS
  cybersixgill_actionable_alerts/assets/configuration/spec.yaml
  cybersixgill_actionable_alerts/manifest.json
Due: none

Cybersixgill Actionable Alerts
  cybersixgill_actionable_alerts/assets/configuration/spec.yaml
Due: none

cybersixgill actionable alerts
  .github/workflows/test-all.yml
  cybersixgill_actionable_alerts/assets/configuration/spec.yaml
Due: none

conflicts resolved
  .github/workflows/test-all.yml
Due: none

Revert changes to tests and add if for token Signed-off-by: Troy Fontaine <tfontaine@troyfontaine.com>
  pihole/datadog_checks/pihole/pihole.py
  pihole/tests/conftest.py
  pihole/tests/test_pihole.py
Due: pihole

Make token optional in config
  pihole/assets/configuration/spec.yaml
  pihole/datadog_checks/pihole/data/conf.yaml.example
Due: pihole

Simplify string to float handling
  pihole/datadog_checks/pihole/pihole.py
Due: pihole

Add-back try and keep float
  pihole/datadog_checks/pihole/pihole.py
Due: pihole

Fix typos
  pihole/datadog_checks/pihole/pihole.py
Due: pihole

Update documentation to reflect optional token
  pihole/README.md
Due: none

Update codeowners tech partner integrations
  .github/CODEOWNERS
Due: none

Update codeowners tech partner integrations (#1807)
  .github/CODEOWNERS
Due: none

Fix metric collection parsing error
  nn_sdwan/CHANGELOG.md
  nn_sdwan/README.md
  nn_sdwan/datadog_checks/nn_sdwan/__about__.py
  nn_sdwan/datadog_checks/nn_sdwan/check.py
Due: nn_sdwan

Don't allow errors to make the entire check fail
  nn_sdwan/datadog_checks/nn_sdwan/check.py
Due: nn_sdwan

Sync logs assets.
  bottomline_recordandreplay/assets/logs/test.yaml
Due: none

Update f5-distributed-cloud/README.md
  f5-distributed-cloud/README.md
Due: none

created sub-dir for shipyard
  shipyard/CHANGELOG.md
  shipyard/README.md
  shipyard/assets/dashboards/shipyard_overview.json
  shipyard/assets/service_checks.json
  shipyard/images/IMAGES_README.md
  shipyard/manifest.json
  shipyard/metadata.csv
Due: none

Add logging for each metric
  nn_sdwan/datadog_checks/nn_sdwan/check.py
Due: nn_sdwan

Update CHANGELOG.md
  nn_sdwan/CHANGELOG.md
Due: none

pyproject for ruff
  .flake8
  pyproject.toml
Due: none
