Repository DataDog/integrations-extras: changes, and which Codecov flags are due for each by the changed paths.
All: aqua, aws_pricing, bind9, cfssl, cloudnatix, cloudsmith, cybersixgill_actionable_alerts, cyral, emqx, eventstore, exim, fiddler, filebeat, filemage, fluentbit, gatekeeper, gitea, gnatsd, gnatsd_streaming, go_pprof_scraper, grpc_check, hikaricp, jfrog_platform_self_hosted, kernelcare, lighthouse, logstash, mergify, neo4j, neutrona, nextcloud, nn_sdwan, ns1, nvml, octoprint, open_policy_agent, php_apcu, php_opcache, pihole, ping, portworx, puma, purefa, purefb, radarr, reboot_required, redis_enterprise, redis_sentinel, redisenterprise, redpanda, riak_repl, robust_intelligence_ai_firewall, scalr, sendmail, snmpwalk, sonarr, sortdb, speedtest, stardog, storm, syncthing, tidb, traefik, trino, unbound, unifi_console, upbound_uxp, upsc, vespa, wayfinder, zabbix, zenoh_router

Path conditions:
  aqua: any of: aqua/datadog_checks/aqua, aqua/tests
  aws_pricing: any of: aws_pricing/datadog_checks/aws_pricing, aws_pricing/tests
  bind9: any of: bind9/datadog_checks/bind9, bind9/tests
  cfssl: any of: cfssl/datadog_checks/cfssl, cfssl/tests
  cloudnatix: any of: cloudnatix/datadog_checks/cloudnatix, cloudnatix/tests
  cloudsmith: any of: cloudsmith/datadog_checks/cloudsmith, cloudsmith/tests
  cybersixgill_actionable_alerts: any of: cybersixgill_actionable_alerts/datadog_checks/cybersixgill_actionable_alerts, cybersixgill_actionable_alerts/tests
  cyral: any of: cyral/datadog_checks/cyral, cyral/tests
  emqx: any of: emqx/datadog_checks/emqx, emqx/tests
  eventstore: any of: eventstore/datadog_checks/eventstore, eventstore/tests
  exim: any of: exim/datadog_checks/exim, exim/tests
  fiddler: any of: fiddler/datadog_checks/fiddler, fiddler/tests
  filebeat: any of: filebeat/datadog_checks/filebeat, filebeat/tests
  filemage: any of: filemage/datadog_checks/filemage, filemage/tests
  fluentbit: any of: fluentbit/datadog_checks/fluentbit, fluentbit/tests
  gatekeeper: any of: gatekeeper/datadog_checks/gatekeeper, gatekeeper/tests
  gitea: any of: gitea/datadog_checks/gitea, gitea/tests
  gnatsd: any of: gnatsd/datadog_checks/gnatsd, gnatsd/tests
  gnatsd_streaming: any of: gnatsd_streaming/datadog_checks/gnatsd_streaming, gnatsd_streaming/tests
  go_pprof_scraper: any of: go_pprof_scraper/datadog_checks/go_pprof_scraper, go_pprof_scraper/tests
  grpc_check: any of: grpc_check/datadog_checks/grpc_check, grpc_check/tests
  hikaricp: any of: hikaricp/datadog_checks/hikaricp, hikaricp/tests
  jfrog_platform_self_hosted: any of: jfrog_platform_self_hosted/datadog_checks/jfrog_platform_self_hosted, jfrog_platform_self_hosted/tests
  kernelcare: any of: kernelcare/datadog_checks/kernelcare, kernelcare/tests
  lighthouse: any of: lighthouse/datadog_checks/lighthouse, lighthouse/tests
  logstash: any of: logstash/datadog_checks/logstash, logstash/tests
  mergify: any of: mergify/datadog_checks/mergify, mergify/tests
  neo4j: any of: neo4j/datadog_checks/neo4j, neo4j/tests
  neutrona: any of: neutrona/datadog_checks/neutrona, neutrona/tests
  nextcloud: any of: nextcloud/datadog_checks/nextcloud, nextcloud/tests
  nn_sdwan: any of: nn_sdwan/datadog_checks/nn_sdwan, nn_sdwan/tests
  ns1: any of: ns1/datadog_checks/ns1, ns1/tests
  nvml: any of: nvml/datadog_checks/nvml, nvml/tests
  octoprint: any of: octoprint/datadog_checks/octoprint, octoprint/tests
  open_policy_agent: any of: open_policy_agent/datadog_checks/open_policy_agent, open_policy_agent/tests
  php_apcu: any of: php_apcu/datadog_checks/php_apcu, php_apcu/tests
  php_opcache: any of: php_opcache/datadog_checks/php_opcache, php_opcache/tests
  pihole: any of: pihole/datadog_checks/pihole, pihole/tests
  ping: any of: ping/datadog_checks/ping, ping/tests
  portworx: any of: portworx/datadog_checks/portworx, portworx/tests
  puma: any of: puma/datadog_checks/puma, puma/tests
  purefa: any of: purefa/datadog_checks/purefa, purefa/tests
  purefb: any of: purefb/datadog_checks/purefb, purefb/tests
  radarr: any of: radarr/datadog_checks/radarr, radarr/tests
  reboot_required: any of: reboot_required/datadog_checks/reboot_required, reboot_required/tests
  redis_enterprise: any of: redis_enterprise/datadog_checks/redis_enterprise, redis_enterprise/tests
  redis_sentinel: any of: redis_sentinel/datadog_checks/redis_sentinel, redis_sentinel/tests
  redisenterprise: any of: redisenterprise/datadog_checks/redisenterprise, redisenterprise/tests
  redpanda: any of: redpanda/datadog_checks/redpanda, redpanda/tests
  riak_repl: any of: riak_repl/datadog_checks/riak_repl, riak_repl/tests
  robust_intelligence_ai_firewall: any of: robust_intelligence_ai_firewall/datadog_checks/robust_intelligence_ai_firewall, robust_intelligence_ai_firewall/tests
  scalr: any of: scalr/datadog_checks/scalr, scalr/tests
  sendmail: any of: sendmail/datadog_checks/sendmail, sendmail/tests
  snmpwalk: any of: snmpwalk/datadog_checks/snmpwalk, snmpwalk/tests
  sonarr: any of: sonarr/datadog_checks/sonarr, sonarr/tests
  sortdb: any of: sortdb/datadog_checks/sortdb, sortdb/tests
  speedtest: any of: speedtest/datadog_checks/speedtest, speedtest/tests
  stardog: any of: stardog/datadog_checks/stardog, stardog/tests
  storm: any of: storm/datadog_checks/storm, storm/tests
  syncthing: any of: syncthing/datadog_checks/syncthing, syncthing/tests
  tidb: any of: tidb/datadog_checks/tidb, tidb/tests
  traefik: any of: traefik/datadog_checks/traefik, traefik/tests
  trino: any of: trino/datadog_checks/trino, trino/tests
  unbound: any of: unbound/datadog_checks/unbound, unbound/tests
  unifi_console: any of: unifi_console/datadog_checks/unifi_console, unifi_console/tests
  upbound_uxp: any of: upbound_uxp/datadog_checks/upbound_uxp, upbound_uxp/tests
  upsc: any of: upsc/datadog_checks/upsc, upsc/tests
  vespa: any of: vespa/datadog_checks/vespa, vespa/tests
  wayfinder: any of: wayfinder/datadog_checks/wayfinder, wayfinder/tests
  zabbix: any of: zabbix/datadog_checks/zabbix, zabbix/tests
  zenoh_router: any of: zenoh_router/datadog_checks/zenoh_router, zenoh_router/tests

Updated the manifest to add the title and description.
  stonebranch_universal_controller/manifest.json
Due: none

Remove calls to service check
  warpstream/datadog_checks/warpstream/check.py
  warpstream/tests/test_integration.py
  warpstream/tests/test_unit.py
Due: none

Update CHANGELOG.md for version 2.0.0, correcting the date and refining integration details with Datadog App Builder.
  instabug/CHANGELOG.md
Due: none

updating streaming URL
  gnatsd_streaming/datadog_checks/gnatsd_streaming/gnatsd_streaming.py
Due: gnatsd_streaming

add windows support
  speedtest/datadog_checks/speedtest/speedtest.py
Due: speedtest

reorganize sorts to resolve check in github
  speedtest/datadog_checks/speedtest/speedtest.py
Due: speedtest

Add Windows support to the speedtest integration (#2717)
  speedtest/datadog_checks/speedtest/speedtest.py
Due: speedtest

aerospike-agent-and-dashboards
  aerospike_enterprise/CHANGELOG.md
Due: none

aerospike-agent-and-dashboards
  aerospike_enterprise/tests/common.py
Due: none

aerospike-agent-and-dashboards
  .codecov.yml
  .github/workflows/test-all.yml
  aerospike_enterprise/manifest.json
  aerospike_enterprise/metadata.csv
  aerospike_enterprise/pyproject.toml
Due: none

aerospike-agent-and-dashboards
  aerospike_enterprise/datadog_checks/aerospike_enterprise/data/conf.yaml.example
Due: none

aerospike-agent-and-dashboards
  aerospike_enterprise/datadog_checks/aerospike_enterprise/check.py
  aerospike_enterprise/datadog_checks/aerospike_enterprise/config_models/__init__.py
  aerospike_enterprise/datadog_checks/aerospike_enterprise/config_models/defaults.py
  aerospike_enterprise/datadog_checks/aerospike_enterprise/config_models/instance.py
  aerospike_enterprise/datadog_checks/aerospike_enterprise/config_models/shared.py
  aerospike_enterprise/manifest.json
Due: none

aerospike-agent-and-dashboards
  .github/CODEOWNERS
  aerospike_enterprise/assets/dashboards/overview.json
Due: none

aerospike-agent-and-dashboards
  aerospike_enterprise/datadog_checks/aerospike_enterprise/check.py
  aerospike_enterprise/images/cluster_view.png
  aerospike_enterprise/manifest.json
Due: none

aerospike-agent-and-dashboard
  aerospike_enterprise/manifest.json
Due: none

aerospike-agent-and-dashboards
  aerospike_enterprise/tests/test_unit.py
Due: none

aerospike-agent-and-dashboard
  aerospike_enterprise/tests/test_unit.py
Due: none

aerospike-agent-and-dashboard
  aerospike_enterprise/assets/service_checks.json
  aerospike_enterprise/tests/test_e2e.py
  aerospike_enterprise/tests/test_unit.py
Due: none

aerospike-agent-and-dashboard
  aerospike_enterprise/tests/test_e2e.py
  aerospike_enterprise/tox.ini
Due: none

[ECOINT-196] Update Instabug Integration: App Builder Support, Improved Setup Guide, and Changelog (#2702)
  instabug/CHANGELOG.md
  instabug/README.md
  instabug/images/instabug-ai-smart-resolve.png
  instabug/images/instabug-app-health.png
  instabug/images/instabug-app-overview.png
  instabug/images/instabug-bugs.png
  instabug/images/instabug-crash-details.png
  instabug/images/instabug-crashes-list.png
  instabug/images/instabug-datadog-app-builder.png
  instabug/images/instabug-datadog-widget.png
  instabug/images/instabug-issues-list.png
  instabug/images/instabug-releases-page.png
  instabug/images/instabug-session-replay-details.png
  instabug/manifest.json
Due: none

aerospike-agent-and-dashboard
  aerospike_enterprise/README.md
Due: none

Updated README.md
  aerospike_enterprise/README.md
Due: none

update pipeline
  auth0/assets/logs/auth0.yaml
Due: none

updated pipeline and tests
  auth0/assets/logs/auth0.yaml
  auth0/assets/logs/auth0_tests.yaml
Due: none

remove filter
  auth0/assets/logs/auth0.yaml
Due: none

Update README.md: fix stale URLs (#2668)
  komodor/README.md
Due: none

linter fix
  auth0/assets/logs/auth0_tests.yaml
Due: none

Redpanda: Fix docker repository and sync conf
  redpanda/datadog_checks/redpanda/data/conf.yaml.example
  redpanda/tests/docker/docker-compose.yaml
Due: redpanda

Redpanda: Refactor consumer group metrics
  redpanda/datadog_checks/redpanda/metrics.py
  redpanda/tests/common.py
Due: redpanda

Redpanda: Bump to v25.1.1
  redpanda/hatch.toml
Due: none

Redpanda: Configure group_lag metrics
  redpanda/tests/docker/docker-compose.yaml
Due: redpanda

Redpanda: Add consumer group lag metrics as default metrics, without deprecating the older offset metrics
  redpanda/datadog_checks/redpanda/metrics.py
  redpanda/metadata.csv
  redpanda/tests/common.py
  redpanda/tests/test_redpanda.py
Due: redpanda

Redpanda: Release 2.1.0
  redpanda/CHANGELOG.md
  redpanda/README.md
  redpanda/datadog_checks/redpanda/__about__.py
Due: redpanda

Redpanda: Add demo dashboard for consumer_lag
  redpanda/assets/dashboards/consumer_lag.json
Due: none

Redpanda: Updates to README.md and CHANGELOG for v2.1.0
  redpanda/CHANGELOG.md
  redpanda/README.md
Due: none

Updating manifest.json in line with review.
  redpanda/assets/dashboards/consumer_lag.json
  redpanda/manifest.json
Due: none

Auth0 OCSF transformations (#2683)
  auth0/assets/logs/auth0.yaml
  auth0/assets/logs/auth0_tests.yaml
Due: none

Enhance instabug manifest by adding new queried data types: Metrics and Events.
  instabug/manifest.json
Due: none
