Repository DataDog/integrations-extras: changes, and which Codecov flags are due for each by the changed paths.
All: aqua, aws_pricing, bind9, cfssl, cloudnatix, cloudsmith, cybersixgill_actionable_alerts, cyral, emqx, eventstore, exim, fiddler, filebeat, filemage, fluentbit, gatekeeper, gitea, gnatsd, gnatsd_streaming, go_pprof_scraper, grpc_check, hikaricp, jfrog_platform_self_hosted, kernelcare, lighthouse, logstash, mergify, neo4j, neutrona, nextcloud, nn_sdwan, ns1, nvml, octoprint, open_policy_agent, php_apcu, php_opcache, pihole, ping, portworx, puma, purefa, purefb, radarr, reboot_required, redis_enterprise, redis_sentinel, redisenterprise, redpanda, riak_repl, robust_intelligence_ai_firewall, scalr, sendmail, snmpwalk, sonarr, sortdb, speedtest, stardog, storm, syncthing, tidb, traefik, trino, unbound, unifi_console, upbound_uxp, upsc, vespa, wayfinder, zabbix, zenoh_router

Path conditions:
  aqua: any of: aqua/datadog_checks/aqua, aqua/tests
  aws_pricing: any of: aws_pricing/datadog_checks/aws_pricing, aws_pricing/tests
  bind9: any of: bind9/datadog_checks/bind9, bind9/tests
  cfssl: any of: cfssl/datadog_checks/cfssl, cfssl/tests
  cloudnatix: any of: cloudnatix/datadog_checks/cloudnatix, cloudnatix/tests
  cloudsmith: any of: cloudsmith/datadog_checks/cloudsmith, cloudsmith/tests
  cybersixgill_actionable_alerts: any of: cybersixgill_actionable_alerts/datadog_checks/cybersixgill_actionable_alerts, cybersixgill_actionable_alerts/tests
  cyral: any of: cyral/datadog_checks/cyral, cyral/tests
  emqx: any of: emqx/datadog_checks/emqx, emqx/tests
  eventstore: any of: eventstore/datadog_checks/eventstore, eventstore/tests
  exim: any of: exim/datadog_checks/exim, exim/tests
  fiddler: any of: fiddler/datadog_checks/fiddler, fiddler/tests
  filebeat: any of: filebeat/datadog_checks/filebeat, filebeat/tests
  filemage: any of: filemage/datadog_checks/filemage, filemage/tests
  fluentbit: any of: fluentbit/datadog_checks/fluentbit, fluentbit/tests
  gatekeeper: any of: gatekeeper/datadog_checks/gatekeeper, gatekeeper/tests
  gitea: any of: gitea/datadog_checks/gitea, gitea/tests
  gnatsd: any of: gnatsd/datadog_checks/gnatsd, gnatsd/tests
  gnatsd_streaming: any of: gnatsd_streaming/datadog_checks/gnatsd_streaming, gnatsd_streaming/tests
  go_pprof_scraper: any of: go_pprof_scraper/datadog_checks/go_pprof_scraper, go_pprof_scraper/tests
  grpc_check: any of: grpc_check/datadog_checks/grpc_check, grpc_check/tests
  hikaricp: any of: hikaricp/datadog_checks/hikaricp, hikaricp/tests
  jfrog_platform_self_hosted: any of: jfrog_platform_self_hosted/datadog_checks/jfrog_platform_self_hosted, jfrog_platform_self_hosted/tests
  kernelcare: any of: kernelcare/datadog_checks/kernelcare, kernelcare/tests
  lighthouse: any of: lighthouse/datadog_checks/lighthouse, lighthouse/tests
  logstash: any of: logstash/datadog_checks/logstash, logstash/tests
  mergify: any of: mergify/datadog_checks/mergify, mergify/tests
  neo4j: any of: neo4j/datadog_checks/neo4j, neo4j/tests
  neutrona: any of: neutrona/datadog_checks/neutrona, neutrona/tests
  nextcloud: any of: nextcloud/datadog_checks/nextcloud, nextcloud/tests
  nn_sdwan: any of: nn_sdwan/datadog_checks/nn_sdwan, nn_sdwan/tests
  ns1: any of: ns1/datadog_checks/ns1, ns1/tests
  nvml: any of: nvml/datadog_checks/nvml, nvml/tests
  octoprint: any of: octoprint/datadog_checks/octoprint, octoprint/tests
  open_policy_agent: any of: open_policy_agent/datadog_checks/open_policy_agent, open_policy_agent/tests
  php_apcu: any of: php_apcu/datadog_checks/php_apcu, php_apcu/tests
  php_opcache: any of: php_opcache/datadog_checks/php_opcache, php_opcache/tests
  pihole: any of: pihole/datadog_checks/pihole, pihole/tests
  ping: any of: ping/datadog_checks/ping, ping/tests
  portworx: any of: portworx/datadog_checks/portworx, portworx/tests
  puma: any of: puma/datadog_checks/puma, puma/tests
  purefa: any of: purefa/datadog_checks/purefa, purefa/tests
  purefb: any of: purefb/datadog_checks/purefb, purefb/tests
  radarr: any of: radarr/datadog_checks/radarr, radarr/tests
  reboot_required: any of: reboot_required/datadog_checks/reboot_required, reboot_required/tests
  redis_enterprise: any of: redis_enterprise/datadog_checks/redis_enterprise, redis_enterprise/tests
  redis_sentinel: any of: redis_sentinel/datadog_checks/redis_sentinel, redis_sentinel/tests
  redisenterprise: any of: redisenterprise/datadog_checks/redisenterprise, redisenterprise/tests
  redpanda: any of: redpanda/datadog_checks/redpanda, redpanda/tests
  riak_repl: any of: riak_repl/datadog_checks/riak_repl, riak_repl/tests
  robust_intelligence_ai_firewall: any of: robust_intelligence_ai_firewall/datadog_checks/robust_intelligence_ai_firewall, robust_intelligence_ai_firewall/tests
  scalr: any of: scalr/datadog_checks/scalr, scalr/tests
  sendmail: any of: sendmail/datadog_checks/sendmail, sendmail/tests
  snmpwalk: any of: snmpwalk/datadog_checks/snmpwalk, snmpwalk/tests
  sonarr: any of: sonarr/datadog_checks/sonarr, sonarr/tests
  sortdb: any of: sortdb/datadog_checks/sortdb, sortdb/tests
  speedtest: any of: speedtest/datadog_checks/speedtest, speedtest/tests
  stardog: any of: stardog/datadog_checks/stardog, stardog/tests
  storm: any of: storm/datadog_checks/storm, storm/tests
  syncthing: any of: syncthing/datadog_checks/syncthing, syncthing/tests
  tidb: any of: tidb/datadog_checks/tidb, tidb/tests
  traefik: any of: traefik/datadog_checks/traefik, traefik/tests
  trino: any of: trino/datadog_checks/trino, trino/tests
  unbound: any of: unbound/datadog_checks/unbound, unbound/tests
  unifi_console: any of: unifi_console/datadog_checks/unifi_console, unifi_console/tests
  upbound_uxp: any of: upbound_uxp/datadog_checks/upbound_uxp, upbound_uxp/tests
  upsc: any of: upsc/datadog_checks/upsc, upsc/tests
  vespa: any of: vespa/datadog_checks/vespa, vespa/tests
  wayfinder: any of: wayfinder/datadog_checks/wayfinder, wayfinder/tests
  zabbix: any of: zabbix/datadog_checks/zabbix, zabbix/tests
  zenoh_router: any of: zenoh_router/datadog_checks/zenoh_router, zenoh_router/tests

add cluster_shard_limit
  redis_enterprise/datadog_checks/redis_enterprise/metrics.py
  redis_enterprise/metadata.csv
  redis_enterprise/tests/support.py
Due: redis_enterprise

line-break lint
  redis_enterprise/datadog_checks/redis_enterprise/metrics.py
Due: redis_enterprise

Create scaffolding for artie datadog integration
  artie/CHANGELOG.md
  artie/README.md
  artie/assets/dashboards/artie_overview.json
  artie/assets/service_checks.json
  artie/images/IMAGES_README.md
  artie/manifest.json
  artie/metadata.csv
Due: none

Fill out readme
  artie/README.md
Due: none

Fill out metrics metadata
  artie/manifest.json
  artie/metadata.csv
Due: none

Start filling out manifest
  artie/manifest.json
Due: none

Add images
  artie/images/artie-overview-dashboard.png
  artie/images/replication-slot-chart.png
  artie/images/rows-processed-chart.png
  artie/manifest.json
Due: none

Add dashboard json
  artie/assets/dashboards/artie_overview.json
Due: none

Dashboard info in manifest
  artie/manifest.json
Due: none

fix: updated metadata.csv
  anecdote/metadata.csv
Due: none

fix: confict
  .github/CODEOWNERS
Due: none

added descriptions
  embrace_mobile/metadata.csv
Due: none

Move dashboards outside integrations in manifest
  cloudaeye/manifest.json
Due: none

Make source_type_id an integer
  cloudaeye/manifest.json
Due: none

Update Agora Analytics dashboard to add widgets for chat metrics
  agora_analytics/CHANGELOG.md
  agora_analytics/README.md
  agora_analytics/assets/dashboards/agora_analytics_overview.json
  agora_analytics/images/agora_analytics_dashboard.png
  agora_analytics/metadata.csv
Due: none

test codeowners change
  .github/CODEOWNERS
Due: none

Update validate.yml
  .github/workflows/validate.yml
Due: none

Update validate.yml (#2510)
  .github/workflows/validate.yml
Due: none

added missing descriptiions for new dashboards
  redis_enterprise/assets/dashboards/redis_enterprise_active-active.json
  redis_enterprise/assets/dashboards/redis_enterprise_proxy-threads.json
  redis_enterprise/assets/dashboards/redis_enterprise_proxy.json
  redis_enterprise/assets/dashboards/redis_enterprise_shard.json
Due: none

Update metadata.csv
  emqx/metadata.csv
Due: none

Update metadata.csv
  robust_intelligence_ai_firewall/metadata.csv
Due: none

Update metadata.csv (#2511)
  robust_intelligence_ai_firewall/metadata.csv
Due: none

Add logos
  artie/assets/logos/logo_dark_mode.svg
  artie/assets/logos/logo_light_mode.svg
Due: none

Synchronize configuration files with the spec changes (#2483)
  celerdata/datadog_checks/celerdata/data/conf.yaml.example
  cloudnatix/datadog_checks/cloudnatix/data/conf.yaml.example
  cyral/datadog_checks/cyral/data/conf.yaml.example
  emqx/datadog_checks/emqx/data/conf.yaml.example
  eventstore/datadog_checks/eventstore/data/conf.yaml.example
  filebeat/datadog_checks/filebeat/data/conf.yaml.example
  fluentbit/datadog_checks/fluentbit/data/conf.yaml.example
  gatekeeper/datadog_checks/gatekeeper/data/auto_conf.yaml
  gatekeeper/datadog_checks/gatekeeper/data/conf.yaml.example
  gitea/datadog_checks/gitea/data/auto_conf.yaml
  gitea/datadog_checks/gitea/data/conf.yaml.example
  gnatsd/datadog_checks/gnatsd/data/conf.yaml.example
  gnatsd_streaming/datadog_checks/gnatsd_streaming/data/conf.yaml.example
  hikaricp/datadog_checks/hikaricp/data/conf.yaml.example
  kernelcare/datadog_checks/kernelcare/data/conf.yaml.example
  logstash/datadog_checks/logstash/data/conf.yaml.example
  neo4j/datadog_checks/neo4j/data/conf.yaml.example
  open_policy_agent/datadog_checks/open_policy_agent/data/auto_conf.yaml
  open_policy_agent/datadog_checks/open_policy_agent/data/conf.yaml.example
  php_apcu/datadog_checks/php_apcu/data/conf.yaml.example
  php_opcache/datadog_checks/php_opcache/data/conf.yaml.example
  pihole/datadog_checks/pihole/data/conf.yaml.example
  puma/datadog_checks/puma/data/conf.yaml.example
  purefa/datadog_checks/purefa/data/conf.yaml.example
  redpanda/datadog_checks/redpanda/data/conf.yaml.example
  robust_intelligence_ai_firewall/datadog_checks/robust_intelligence_ai_firewall/data/conf.yaml.example
  tidb/datadog_checks/tidb/data/conf.yaml.example
  unifi_console/datadog_checks/unifi_console/data/conf.yaml.example
  zenoh_router/datadog_checks/zenoh_router/data/conf.yaml.example
Due: cloudnatix, cyral, emqx, eventstore, filebeat, fluentbit, gatekeeper, gitea, gnatsd, gnatsd_streaming, hikaricp, kernelcare, logstash, neo4j, open_policy_agent, php_apcu, php_opcache, pihole, puma, purefa, redpanda, robust_intelligence_ai_firewall, tidb, unifi_console, zenoh_router

other fixes
  emqx/datadog_checks/emqx/config_models/instance.py
Due: emqx

Lint Cyral
  cyral/datadog_checks/cyral/cyral.py
Due: cyral

Published oauth client
  artie/assets/oauth_clients.json
  artie/manifest.json
Due: none

Lint Lighthouse
  lighthouse/datadog_checks/lighthouse/lighthouse.py
Due: lighthouse

Lint NVML
  nvml/datadog_checks/nvml/api_pb2.py
Due: nvml

Lint Puma
  puma/datadog_checks/puma/puma.py
Due: puma

Lint riak_repl
  riak_repl/datadog_checks/riak_repl/riak_repl.py
Due: riak_repl

Lint Scalr
  scalr/datadog_checks/scalr/check.py
Due: scalr

Lint Stardog
  stardog/datadog_checks/stardog/stardog.py
  stardog/tests/test_stardog.py
Due: stardog

Update metadata.csv (validation failed)
  artie/metadata.csv
Due: none

Lint Storm
  storm/tests/common.py
Due: storm

Move oauth to the right place in manifest.json
  artie/manifest.json
Due: none

Remove empty dicts
  artie/manifest.json
Due: none

Remove whitespace
  portworx/setup.py
  upbound_uxp/setup.py
Due: none

Steveny91 fixes (#2512)
  emqx/datadog_checks/emqx/config_models/instance.py
  emqx/metadata.csv
  robust_intelligence_ai_firewall/metadata.csv
Due: emqx
