Repository DataDog/integrations-extras: changes, and which Codecov flags are due for each by the changed paths.
All: aqua, aws_pricing, bind9, cert_manager, cyral, eventstore, filebeat, gnatsd, gnatsd_streaming, kernelcare, lighthouse, logstash, neo4j, neutrona, nextcloud, nvml, php_apcu, php_opcache, pihole, ping, portworx, pulsar, puma, reboot_required, redis_sentinel, riak_repl, sendmail, snmpwalk, sortdb, speedtest, stardog, storm, traefik, unbound, upsc, vespa, zabbix

Readme and confign example changes due to changes in configuration
  ns1/datadog_checks/ns1/data/conf.yaml.example
Due: none

Readme changes
  ns1/README.md
  ns1/datadog_checks/ns1/__about__.py
  ns1/datadog_checks/ns1/check.py
Due: none

Make all manifest versions 1.0.0
  apollo/manifest.json
  buddy/manifest.json
  convox/manifest.json
  eventstore/manifest.json
  jfrog_platform/manifest.json
  launchdarkly/manifest.json
  lighthouse/manifest.json
  logzio/manifest.json
  nvml/manifest.json
  rbltracker/manifest.json
  redis_sentinel/manifest.json
  split/manifest.json
  traefik/manifest.json
  vns3/manifest.json
Due: none

Make all manifest versions 1.0.0 (#948)
  apollo/manifest.json
  buddy/manifest.json
  convox/manifest.json
  eventstore/manifest.json
  jfrog_platform/manifest.json
  launchdarkly/manifest.json
  lighthouse/manifest.json
  logzio/manifest.json
  nvml/manifest.json
  rbltracker/manifest.json
  redis_sentinel/manifest.json
  split/manifest.json
  traefik/manifest.json
  vns3/manifest.json
Due: none

Update ns1/datadog_checks/ns1/data/conf.yaml.example
  ns1/datadog_checks/ns1/data/conf.yaml.example
Due: none

Expand Logstash integration stats
  logstash/datadog_checks/logstash/logstash.py
  logstash/tests/test_logstash.py
Due: logstash

Set up testing environment for persistent queues
  logstash/tests/docker/logstash6/test_multi_pipelines.yml
  logstash/tests/docker/logstash7/docker-compose.yml
  logstash/tests/docker/logstash7/test_multi_pipelines.yml
  logstash/tests/test_logstash.py
Due: logstash

Document recent changes to queue metrics
  logstash/CHANGELOG.md
  logstash/metadata.csv
Due: none

Remove duplicate reloads
  logstash/datadog_checks/logstash/logstash.py
  logstash/metadata.csv
  logstash/tests/test_logstash.py
Due: logstash

Ns1 config improvements (#947)
  ns1/README.md
  ns1/datadog_checks/ns1/__about__.py
  ns1/datadog_checks/ns1/check.py
  ns1/datadog_checks/ns1/data/conf.yaml.example
  ns1/datadog_checks/ns1/ns1_url_utils.py
  ns1/tests/conftest.py
  ns1/tests/test_ns1.py
Due: none

[Release] Update metadata
  .in-toto/tag.d1d0746a.link
Due: none

rebase and update .github/CODEOWNERS
  .github/CODEOWNERS
Due: none

update the README to include the port
  redisenterprise/README.md
Due: none

blur names of clusters
  redisenterprise/images/ROF_dashboard.png
  redisenterprise/images/dashboard.png
  redisenterprise/images/datadog_cluster_top_view.png
  redisenterprise/images/events.png
Due: none

fix case where no databases are created and we get a 404
  redisenterprise/datadog_checks/redisenterprise/check.py
Due: none

bump version with new fixes
  redisenterprise/datadog_checks/redisenterprise/__about__.py
Due: none

added check for when theres no port, updated docs & version
  unbound/CHANGELOG.md
  unbound/datadog_checks/unbound/__about__.py
  unbound/datadog_checks/unbound/data/conf.yaml.example
  unbound/datadog_checks/unbound/unbound.py
Due: unbound

Add integration installation instructions
  redisenterprise/README.md
Due: none

Increment Logstash integration version
  logstash/CHANGELOG.md
  logstash/datadog_checks/logstash/__about__.py
Due: logstash

Update .github/CODEOWNERS
  .github/CODEOWNERS
Due: none

Add integration installation instructions with corrected links
  redisenterprise/README.md
Due: none

Correct queue metrics variable name
  logstash/datadog_checks/logstash/logstash.py
Due: logstash

Update tests to account for non-queue and queue metrics
  logstash/tests/docker/logstash6/test_multi_pipelines.yml
  logstash/tests/docker/logstash7/test_multi_pipelines.yml
  logstash/tests/test_logstash.py
Due: logstash

Bump minor version
  logstash/CHANGELOG.md
  logstash/datadog_checks/logstash/__about__.py
Due: logstash

update changelog to reflect version bump
  redisenterprise/CHANGELOG.md
Due: none

Add integration installation instructions (#952)
  redisenterprise/README.md
Due: none

Handle the use case where no databases have been created (#951)
  redisenterprise/CHANGELOG.md
  redisenterprise/README.md
  redisenterprise/datadog_checks/redisenterprise/__about__.py
  redisenterprise/datadog_checks/redisenterprise/check.py
  redisenterprise/images/ROF_dashboard.png
  redisenterprise/images/dashboard.png
  redisenterprise/images/datadog_cluster_top_view.png
  redisenterprise/images/events.png
Due: none

handle the lack of ability to ignore HTTP redirects
  redisenterprise/CHANGELOG.md
  redisenterprise/datadog_checks/redisenterprise/__about__.py
  redisenterprise/datadog_checks/redisenterprise/check.py
Due: none

pass style checks
  redisenterprise/datadog_checks/redisenterprise/check.py
Due: none

remove duplicate code owners
  .github/CODEOWNERS
Due: none

Remove unused variable
  logstash/tests/test_logstash.py
Due: logstash

Update metric description
  logstash/metadata.csv
Due: none

Improve gatekeeper installation documentation
  gatekeeper/README.md
Due: none

Add Gatekeeper integration public to ease discoverability
  gatekeeper/manifest.json
Due: none

move most recent to top in the changelog
  redisenterprise/CHANGELOG.md
Due: none

handle suggestions by the dd team
  redisenterprise/CHANGELOG.md
  redisenterprise/datadog_checks/redisenterprise/__about__.py
  redisenterprise/datadog_checks/redisenterprise/check.py
Due: none

Path conditions:
  aqua: any of: aqua/datadog_checks/aqua, aqua/tests
  aws_pricing: any of: aws_pricing/datadog_checks/aws_pricing, aws_pricing/tests
  bind9: any of: bind9/datadog_checks/bind9, bind9/tests
  cert_manager: any of: cert_manager/datadog_checks/cert_manager, cert_manager/tests
  cyral: any of: cyral/datadog_checks/cyral, cyral/tests
  eventstore: any of: eventstore/datadog_checks/eventstore, eventstore/tests
  filebeat: any of: filebeat/datadog_checks/filebeat, filebeat/tests
  gnatsd: any of: gnatsd/datadog_checks/gnatsd, gnatsd/tests
  gnatsd_streaming: any of: gnatsd_streaming/datadog_checks/gnatsd_streaming, gnatsd_streaming/tests
  kernelcare: any of: kernelcare/datadog_checks/kernelcare, kernelcare/tests
  lighthouse: any of: lighthouse/datadog_checks/lighthouse, lighthouse/tests
  logstash: any of: logstash/datadog_checks/logstash, logstash/tests
  neo4j: any of: neo4j/datadog_checks/neo4j, neo4j/tests
  neutrona: any of: neutrona/datadog_checks/neutrona, neutrona/tests
  nextcloud: any of: nextcloud/datadog_checks/nextcloud, nextcloud/tests
  nvml: any of: nvml/datadog_checks/nvml, nvml/tests
  php_apcu: any of: php_apcu/datadog_checks/php_apcu, php_apcu/tests
  php_opcache: any of: php_opcache/datadog_checks/php_opcache, php_opcache/tests
  pihole: any of: pihole/datadog_checks/pihole, pihole/tests
  ping: any of: ping/datadog_checks/ping, ping/tests
  portworx: any of: portworx/datadog_checks/portworx, portworx/tests
  pulsar: any of: pulsar/datadog_checks/pulsar, pulsar/tests
  puma: any of: puma/datadog_checks/puma, puma/tests
  reboot_required: any of: reboot_required/datadog_checks/reboot_required, reboot_required/tests
  redis_sentinel: any of: redis_sentinel/datadog_checks/redis_sentinel, redis_sentinel/tests
  riak_repl: any of: riak_repl/datadog_checks/riak_repl, riak_repl/tests
  sendmail: any of: sendmail/datadog_checks/sendmail, sendmail/tests
  snmpwalk: any of: snmpwalk/datadog_checks/snmpwalk, snmpwalk/tests
  sortdb: any of: sortdb/datadog_checks/sortdb, sortdb/tests
  speedtest: any of: speedtest/datadog_checks/speedtest, speedtest/tests
  stardog: any of: stardog/datadog_checks/stardog, stardog/tests
  storm: any of: storm/datadog_checks/storm, storm/tests
  traefik: any of: traefik/datadog_checks/traefik, traefik/tests
  unbound: any of: unbound/datadog_checks/unbound, unbound/tests
  upsc: any of: upsc/datadog_checks/upsc, upsc/tests
  vespa: any of: vespa/datadog_checks/vespa, vespa/tests
  zabbix: any of: zabbix/datadog_checks/zabbix, zabbix/tests
