Repository DataDog/integrations-extras: changes, and which Codecov flags are due for each by the changed paths.
All: aqua, aws_pricing, bind9, cfssl, cloudnatix, cloudsmith, cybersixgill_actionable_alerts, cyral, emqx, eventstore, exim, fiddler, filebeat, filemage, fluentbit, gatekeeper, gitea, gnatsd, gnatsd_streaming, go_pprof_scraper, grpc_check, hikaricp, jfrog_platform_self_hosted, kernelcare, lighthouse, logstash, mergify, neo4j, neutrona, nextcloud, nn_sdwan, ns1, nvml, octoprint, open_policy_agent, php_apcu, php_opcache, pihole, ping, portworx, puma, purefa, purefb, radarr, reboot_required, redis_enterprise, redis_sentinel, redisenterprise, redpanda, riak_repl, robust_intelligence_ai_firewall, scalr, sendmail, snmpwalk, sonarr, sortdb, speedtest, stardog, storm, syncthing, tidb, traefik, trino, unbound, unifi_console, upbound_uxp, upsc, vespa, wayfinder, zabbix, zenoh_router

Path conditions:
  aqua: any of: aqua/datadog_checks/aqua, aqua/tests
  aws_pricing: any of: aws_pricing/datadog_checks/aws_pricing, aws_pricing/tests
  bind9: any of: bind9/datadog_checks/bind9, bind9/tests
  cfssl: any of: cfssl/datadog_checks/cfssl, cfssl/tests
  cloudnatix: any of: cloudnatix/datadog_checks/cloudnatix, cloudnatix/tests
  cloudsmith: any of: cloudsmith/datadog_checks/cloudsmith, cloudsmith/tests
  cybersixgill_actionable_alerts: any of: cybersixgill_actionable_alerts/datadog_checks/cybersixgill_actionable_alerts, cybersixgill_actionable_alerts/tests
  cyral: any of: cyral/datadog_checks/cyral, cyral/tests
  emqx: any of: emqx/datadog_checks/emqx, emqx/tests
  eventstore: any of: eventstore/datadog_checks/eventstore, eventstore/tests
  exim: any of: exim/datadog_checks/exim, exim/tests
  fiddler: any of: fiddler/datadog_checks/fiddler, fiddler/tests
  filebeat: any of: filebeat/datadog_checks/filebeat, filebeat/tests
  filemage: any of: filemage/datadog_checks/filemage, filemage/tests
  fluentbit: any of: fluentbit/datadog_checks/fluentbit, fluentbit/tests
  gatekeeper: any of: gatekeeper/datadog_checks/gatekeeper, gatekeeper/tests
  gitea: any of: gitea/datadog_checks/gitea, gitea/tests
  gnatsd: any of: gnatsd/datadog_checks/gnatsd, gnatsd/tests
  gnatsd_streaming: any of: gnatsd_streaming/datadog_checks/gnatsd_streaming, gnatsd_streaming/tests
  go_pprof_scraper: any of: go_pprof_scraper/datadog_checks/go_pprof_scraper, go_pprof_scraper/tests
  grpc_check: any of: grpc_check/datadog_checks/grpc_check, grpc_check/tests
  hikaricp: any of: hikaricp/datadog_checks/hikaricp, hikaricp/tests
  jfrog_platform_self_hosted: any of: jfrog_platform_self_hosted/datadog_checks/jfrog_platform_self_hosted, jfrog_platform_self_hosted/tests
  kernelcare: any of: kernelcare/datadog_checks/kernelcare, kernelcare/tests
  lighthouse: any of: lighthouse/datadog_checks/lighthouse, lighthouse/tests
  logstash: any of: logstash/datadog_checks/logstash, logstash/tests
  mergify: any of: mergify/datadog_checks/mergify, mergify/tests
  neo4j: any of: neo4j/datadog_checks/neo4j, neo4j/tests
  neutrona: any of: neutrona/datadog_checks/neutrona, neutrona/tests
  nextcloud: any of: nextcloud/datadog_checks/nextcloud, nextcloud/tests
  nn_sdwan: any of: nn_sdwan/datadog_checks/nn_sdwan, nn_sdwan/tests
  ns1: any of: ns1/datadog_checks/ns1, ns1/tests
  nvml: any of: nvml/datadog_checks/nvml, nvml/tests
  octoprint: any of: octoprint/datadog_checks/octoprint, octoprint/tests
  open_policy_agent: any of: open_policy_agent/datadog_checks/open_policy_agent, open_policy_agent/tests
  php_apcu: any of: php_apcu/datadog_checks/php_apcu, php_apcu/tests
  php_opcache: any of: php_opcache/datadog_checks/php_opcache, php_opcache/tests
  pihole: any of: pihole/datadog_checks/pihole, pihole/tests
  ping: any of: ping/datadog_checks/ping, ping/tests
  portworx: any of: portworx/datadog_checks/portworx, portworx/tests
  puma: any of: puma/datadog_checks/puma, puma/tests
  purefa: any of: purefa/datadog_checks/purefa, purefa/tests
  purefb: any of: purefb/datadog_checks/purefb, purefb/tests
  radarr: any of: radarr/datadog_checks/radarr, radarr/tests
  reboot_required: any of: reboot_required/datadog_checks/reboot_required, reboot_required/tests
  redis_enterprise: any of: redis_enterprise/datadog_checks/redis_enterprise, redis_enterprise/tests
  redis_sentinel: any of: redis_sentinel/datadog_checks/redis_sentinel, redis_sentinel/tests
  redisenterprise: any of: redisenterprise/datadog_checks/redisenterprise, redisenterprise/tests
  redpanda: any of: redpanda/datadog_checks/redpanda, redpanda/tests
  riak_repl: any of: riak_repl/datadog_checks/riak_repl, riak_repl/tests
  robust_intelligence_ai_firewall: any of: robust_intelligence_ai_firewall/datadog_checks/robust_intelligence_ai_firewall, robust_intelligence_ai_firewall/tests
  scalr: any of: scalr/datadog_checks/scalr, scalr/tests
  sendmail: any of: sendmail/datadog_checks/sendmail, sendmail/tests
  snmpwalk: any of: snmpwalk/datadog_checks/snmpwalk, snmpwalk/tests
  sonarr: any of: sonarr/datadog_checks/sonarr, sonarr/tests
  sortdb: any of: sortdb/datadog_checks/sortdb, sortdb/tests
  speedtest: any of: speedtest/datadog_checks/speedtest, speedtest/tests
  stardog: any of: stardog/datadog_checks/stardog, stardog/tests
  storm: any of: storm/datadog_checks/storm, storm/tests
  syncthing: any of: syncthing/datadog_checks/syncthing, syncthing/tests
  tidb: any of: tidb/datadog_checks/tidb, tidb/tests
  traefik: any of: traefik/datadog_checks/traefik, traefik/tests
  trino: any of: trino/datadog_checks/trino, trino/tests
  unbound: any of: unbound/datadog_checks/unbound, unbound/tests
  unifi_console: any of: unifi_console/datadog_checks/unifi_console, unifi_console/tests
  upbound_uxp: any of: upbound_uxp/datadog_checks/upbound_uxp, upbound_uxp/tests
  upsc: any of: upsc/datadog_checks/upsc, upsc/tests
  vespa: any of: vespa/datadog_checks/vespa, vespa/tests
  wayfinder: any of: wayfinder/datadog_checks/wayfinder, wayfinder/tests
  zabbix: any of: zabbix/datadog_checks/zabbix, zabbix/tests
  zenoh_router: any of: zenoh_router/datadog_checks/zenoh_router, zenoh_router/tests

Enable event creation in Zabbix manifest
  zabbix/manifest.json
Due: none

Add documentation for the TanStack Router integration (#2986)
  rum_react/CHANGELOG.md
  rum_react/README.md
Due: none

Enable event creation in Zabbix manifest (#2990)
  zabbix/manifest.json
Due: none

unnest pipelines
  zscaler/assets/logs/zscaler.yaml
Due: none

Update tests file
  zscaler/assets/logs/zscaler.yaml
  zscaler/assets/logs/zscaler_tests.yaml
Due: none

Fix last pipeline and ocsf flag
  zscaler/assets/logs/zscaler.yaml
Due: none

Update Changelog
  zscaler/CHANGELOG.md
Due: none

csv and readme update
  portworx/README.md
  portworx/manifest.json
  portworx/metadata.csv
Due: none

Fix tag growth between check runs
  grpc_check/CHANGELOG.md
  grpc_check/datadog_checks/grpc_check/__about__.py
  grpc_check/datadog_checks/grpc_check/check.py
  grpc_check/tests/test_grpc_check.py
Due: grpc_check

sync models
  grpc_check/datadog_checks/grpc_check/config_models/defaults.py
  grpc_check/datadog_checks/grpc_check/config_models/instance.py
Due: grpc_check

Add US2-FED (gov2) region to LaunchDarkly integration docs
  launchdarkly/README.md
Due: none

[zscaler] Add OCSF normalization to all NSS log pipelines (#2972)
  zscaler/CHANGELOG.md
  zscaler/assets/logs/zscaler.yaml
  zscaler/assets/logs/zscaler_tests.yaml
Due: none

Address feedback from the review feedback
  grpc_check/CHANGELOG.md
  grpc_check/datadog_checks/grpc_check/check.py
  grpc_check/tests/test_grpc_check.py
Due: grpc_check

Fix templates
  algorithmia/assets/monitors/algorithm_duration.json
  emnify/assets/monitors/emnify_data_usage_forecast.json
  emnify/assets/monitors/emnify_data_usage_high_rx.json
  emnify/assets/monitors/emnify_data_usage_high_tx.json
  emnify/assets/monitors/emnify_data_usage_host_stopped.json
  federatorai/assets/monitors/federatorai_node_cpu_prediction.json
  federatorai/assets/monitors/federatorai_node_mem_prediction.json
  mongodb_atlas/assets/monitors/high_cpu.json
  mongodb_atlas/assets/monitors/memory.json
  mongodb_atlas/assets/monitors/query_efficiency.json
  mongodb_atlas/assets/monitors/read_latency.json
  mongodb_atlas/assets/monitors/write_latency.json
  nn_sdwan/assets/monitors/high-latency-monitor.json
  nn_sdwan/assets/monitors/packet-loss-monitor.json
  nomad/assets/monitors/nomad_excessive_leadership_losses.json
  nomad/assets/monitors/nomad_heartbeats_received.json
  nomad/assets/monitors/nomad_job_is_failing.json
  nomad/assets/monitors/nomad_no_jobs_running.json
  nomad/assets/monitors/nomad_pending_jobs.json
  php_apcu/assets/monitors/php-apcu_expunges.json
  php_apcu/assets/monitors/php-apcu_high_usage.json
  php_opcache/assets/monitors/php-opcache_expunges.json
  sigsci/assets/monitors/excessiveblockedHTTP.json
  syncthing/assets/monitors/syncthing_folder_error.json
  syncthing/assets/monitors/syncthing_out_of_sync.json
  syncthing/assets/monitors/syncthing_system_error.json
  upbound_uxp/assets/monitors/controller_runtime_reconcile_error.json
Due: none

Fix formatting
  grpc_check/tests/test_grpc_check.py
Due: grpc_check

Refactor latency metrics in Redpanda overview dashboard
  redpanda/assets/dashboards/overview.json
Due: none

Parametrize tests, fix changelog, use fstring
  grpc_check/CHANGELOG.md
  grpc_check/datadog_checks/grpc_check/check.py
  grpc_check/tests/test_grpc_check.py
Due: grpc_check

Update conf.yaml.example
  redpanda/datadog_checks/redpanda/data/conf.yaml.example
Due: redpanda

More fstrings
  grpc_check/datadog_checks/grpc_check/check.py
Due: grpc_check

Fix tag growth between check runs in grpc_check (#2991)
  grpc_check/CHANGELOG.md
  grpc_check/datadog_checks/grpc_check/__about__.py
  grpc_check/datadog_checks/grpc_check/check.py
  grpc_check/datadog_checks/grpc_check/config_models/defaults.py
  grpc_check/datadog_checks/grpc_check/config_models/instance.py
  grpc_check/tests/test_grpc_check.py
Due: grpc_check

[Release] Update metadata
  .in-toto/tag.4912ca73.link
Due: none

Add Eden integration
  .codecov.yml
  .github/CODEOWNERS
  .github/workflows/test-all.yml
  eden/CHANGELOG.md
  eden/README.md
  eden/assets/configuration/spec.yaml
  eden/assets/dashboards/eden_interlay.json
  eden/assets/dashboards/eden_migration.json
  eden/assets/service_checks.json
  eden/datadog_checks/eden/__about__.py
  eden/datadog_checks/eden/__init__.py
  eden/datadog_checks/eden/check.py
  eden/datadog_checks/eden/data/conf.yaml.example
  eden/hatch.toml
  eden/images/logo.png
  eden/images/saas_logo.png
  eden/manifest.json
  eden/metadata.csv
  eden/pyproject.toml
  eden/tests/__init__.py
  eden/tests/conftest.py
  eden/tests/run_local.py
  eden/tests/test_eden.py
Due: none

Eden: regenerate saas_logo with proper aspect ratio
  eden/images/saas_logo.png
Due: none

Eden: emit histograms as Datadog histogram buckets
  eden/datadog_checks/eden/check.py
  eden/tests/test_eden.py
Due: none

Eden: fix distributions
  eden/datadog_checks/eden/check.py
  eden/tests/test_eden.py
Due: none

ci(release): gate release-trigger on the release environment
  .github/workflows/release-trigger.yml
Due: none

ci(release): gate release-trigger via intermediate approve job
  .github/workflows/release-trigger.yml
Due: none

[SCMGMT-794] test: trigger external-org team CODEOWNERS rule
  cloudquery/README.md
Due: none

ci(release): gate release-trigger on the release environment (#3003)
  .github/workflows/release-trigger.yml
Due: none

Addressed PR comments
  rum_nuxt/README.md
  rum_nuxt/manifest.json
Due: none

review comments
  portworx/README.md
  portworx/metadata.csv
Due: none

Sync grpc_check's changelog version
  grpc_check/CHANGELOG.md
Due: none

[SEC-27721]: Add SIEM category to integrations
  auth0/manifest.json
  bind9/manifest.json
  f5-distributed-cloud/manifest.json
  jamf_protect/manifest.json
  sigsci/manifest.json
  tailscale/manifest.json
  zscaler/manifest.json
Due: none

Sync grpc_check's changelog version (#3005)
  grpc_check/CHANGELOG.md
Due: none

Remove site-support banner from LaunchDarkly README
  launchdarkly/README.md
Due: none

Apply suggestions from code review
  portworx/README.md
  portworx/metadata.csv
Due: none

remove auth0, rundeck, pulumi
  auth0/manifest.json
  pulumi/manifest.json
  rundeck/manifest.json
Due: none

[DOCS-14086] Remove site support notice from LaunchDarkly integration docs (#2992)
  launchdarkly/README.md
Due: none
