Repository DataDog/integrations-extras: changes, and which Codecov flags are due for each by the changed paths.
All: aqua, argo_cd, aws_pricing, bind9, calico, cert_manager, cloudsmith, cyral, eventstore, filebeat, gatekeeper, gnatsd, gnatsd_streaming, jfrog_platform, kernelcare, lighthouse, logstash, neo4j, neutrona, nextcloud, ns1, nvml, octoprint, open_policy_agent, php_apcu, php_opcache, pihole, ping, portworx, pulsar, puma, reboot_required, redis_sentinel, redisenterprise, riak_repl, sendmail, snmpwalk, sortdb, speedtest, stardog, storm, tidb, traefik, unbound, upsc, vespa, zabbix

not enforce "tidb_cluster" namespace
  tidb/DEVELOPMENT.md
  tidb/datadog_checks/tidb/check.py
  tidb/datadog_checks/tidb/utils.py
  tidb/tests/test_tidb.py
Due: tidb

fix link in README.md
  tidb/README.md
Due: none

disable docs
  calico/manifest.json
Due: none

sync config
  calico/datadog_checks/calico/data/conf.yaml.example
Due: calico

Disable docs (#1093)
  calico/datadog_checks/calico/data/conf.yaml.example
  calico/manifest.json
Due: calico

fix: Check that rt_sink_connected_to is a dict
  riak_repl/CHANGELOG.md
  riak_repl/datadog_checks/riak_repl/__about__.py
  riak_repl/datadog_checks/riak_repl/riak_repl.py
Due: riak_repl

remote the service check
  tidb/CHANGELOG.md
  tidb/README.md
  tidb/assets/dashboards/one-screen-overview.json
  tidb/assets/service_checks.json
  tidb/manifest.json
Due: none

structure
  tidb_cloud/README.md
  tidbcloud/README.md
  tidbcloud/assets/dashboards/tidb_cloud_overview.json
  tidbcloud/assets/service_checks.json
  tidbcloud/images/.gitkeep
  tidbcloud/images/logo.png
  tidbcloud/manifest.json
  tidbcloud/metadata.csv
Due: none

a more usable dashboard
  tidb/assets/dashboards/overview.json
Due: none

add a potential tidb_cloud namespace
  tidb/datadog_checks/tidb/check.py
Due: tidb

update dashboard
  tidb/assets/dashboards/overview.json
Due: none

add dashboard and metrics
  tidbcloud/assets/dashboards/overview.json
  tidbcloud/assets/dashboards/tidb_cloud_overview.json
  tidbcloud/manifest.json
  tidbcloud/metadata.csv
Due: none

update categories
  tidb/manifest.json
Due: none

readable README.md
  tidbcloud/README.md
Due: none

sync conf.yaml.example
  tidb/DEVELOPMENT.md
  tidb/datadog_checks/tidb/data/conf.yaml.example
Due: tidb

recover dashboard short name
  tidb/manifest.json
Due: none

update CODEOWNERS
  .github/CODEOWNERS
  tidbcloud/manifest.json
Due: none

fix integration name
  tidbcloud/manifest.json
  tidbcloud/metadata.csv
Due: none

fix integration id
  tidbcloud/manifest.json
Due: none

fix integration name
  tidbcloud/manifest.json
Due: none

fix: Check that rt_sink_connected_to is a dict (#1086)
  riak_repl/CHANGELOG.md
  riak_repl/datadog_checks/riak_repl/__about__.py
  riak_repl/datadog_checks/riak_repl/riak_repl.py
Due: riak_repl

[Release] Update metadata
  .in-toto/tag.d1d0746a.link
Due: none

Fix doc syntax according to suggestions from code review
  tidb/DEVELOPMENT.md
  tidb/README.md
Due: none

update metrics
  tidb/DEVELOPMENT.md
  tidb/README.md
  tidb/datadog_checks/tidb/metrics.py
  tidb/metadata.csv
  tidb/tests/expected.py
  tidb/tests/fixtures/mock_tidb_metrics.txt
  tidb/tests/fixtures/mock_tiflash_proxy_metrics.txt
  tidb/tests/fixtures/mock_tikv_metrics.txt
Due: tidb

rename to tidb_cloud
  .github/CODEOWNERS
  tidb_cloud/README.md
  tidb_cloud/assets/dashboards/overview.json
  tidb_cloud/assets/service_checks.json
  tidb_cloud/images/.gitkeep
  tidb_cloud/images/logo.png
  tidb_cloud/manifest.json
  tidb_cloud/metadata.csv
Due: none

update metadata.csv
  tidb_cloud/metadata.csv
Due: none

Fix title typo (#1085)
  gnatsd_streaming/manifest.json
Due: none

add sedai
  sedai/README.md
  sedai/assets/dashboards/sedai_overview.json
  sedai/assets/logo.svg
  sedai/assets/service_checks.json
  sedai/images/.gitkeep
  sedai/manifest.json
  sedai/metadata.csv
Due: none

correct CODOWNERS file
  .github/CODEOWNERS
Due: none

Updated README.md comments for Neo4j
  calico/datadog_checks/calico/data/conf.yaml.example
  cyral/datadog_checks/cyral/data/conf.yaml.example
  eventstore/datadog_checks/eventstore/data/conf.yaml.example
  filebeat/datadog_checks/filebeat/data/conf.yaml.example
  gatekeeper/datadog_checks/gatekeeper/data/auto_conf.yaml
  gatekeeper/datadog_checks/gatekeeper/data/conf.yaml.example
  gnatsd/datadog_checks/gnatsd/data/conf.yaml.example
  gnatsd_streaming/datadog_checks/gnatsd_streaming/data/conf.yaml.example
  hbase_master/datadog_checks/hbase_master/data/conf.yaml.example
  hbase_regionserver/datadog_checks/hbase_regionserver/data/conf.yaml.example
  jfrog_platform/datadog_checks/jfrog_platform/data/conf.yaml.example
  kernelcare/datadog_checks/kernelcare/data/conf.yaml.example
  logstash/datadog_checks/logstash/data/conf.yaml.example
  neo4j/README.md
  octoprint/datadog_checks/octoprint/data/conf.yaml.example
  open_policy_agent/datadog_checks/open_policy_agent/data/auto_conf.yaml
  open_policy_agent/datadog_checks/open_policy_agent/data/conf.yaml.example
  php_apcu/datadog_checks/php_apcu/data/conf.yaml.example
  php_opcache/datadog_checks/php_opcache/data/conf.yaml.example
  pihole/datadog_checks/pihole/data/conf.yaml.example
  pulsar/datadog_checks/pulsar/data/conf.yaml.example
  puma/datadog_checks/puma/data/conf.yaml.example
  redisenterprise/datadog_checks/redisenterprise/data/conf.yaml.example
  redpanda/datadog_checks/redpanda/data/conf.yaml.example
  resin/datadog_checks/resin/data/conf.yaml.example
  tidb/datadog_checks/tidb/data/conf.yaml.example
  zabbix/datadog_checks/zabbix/data/conf.yaml.example
Due: calico, cyral, eventstore, filebeat, gatekeeper, gnatsd, gnatsd_streaming, jfrog_platform, kernelcare, logstash, octoprint, open_policy_agent, php_apcu, php_opcache, pihole, pulsar, puma, redisenterprise, tidb, zabbix

Update README.md
  neo4j/README.md
Due: none

update metadata.csv
  tidb/manifest.json
Due: none

Update Tyk (#1075)
  tyk/manifest.json
Due: none

Redisenterprise/dashboard updates (#1087)
  redisenterprise/assets/dashboards/redis_enterprise_active_active.json
  redisenterprise/assets/dashboards/redisenterprise_cluster_top_view.json
  redisenterprise/assets/dashboards/redisenterprise_overview.json
  redisenterprise/assets/dashboards/redisenterprise_rof.json
  redisenterprise/images/ROF_dashboard.png
  redisenterprise/images/active_active_dashboard.png
  redisenterprise/images/dashboard.png
  redisenterprise/images/datadog_cluster_top_view.png
Due: none

Revert "Redisenterprise/dashboard updates (#1087)"
  redisenterprise/assets/dashboards/redis_enterprise_active_active.json
  redisenterprise/assets/dashboards/redisenterprise_cluster_top_view.json
  redisenterprise/assets/dashboards/redisenterprise_overview.json
  redisenterprise/assets/dashboards/redisenterprise_rof.json
  redisenterprise/images/ROF_dashboard.png
  redisenterprise/images/active_active_dashboard.png
  redisenterprise/images/dashboard.png
  redisenterprise/images/datadog_cluster_top_view.png
Due: none

DOCS-2530 Lint Integrations section (part 1)
  algorithmia/README.md
  ambassador/README.md
  apollo/README.md
  appkeeper/README.md
  aqua/README.md
  auth0/README.md
  bluematador/README.md
  bonsai/README.md
  botprise/README.md
  buddy/README.md
Due: none

recover the service check
  tidb/assets/service_checks.json
Due: none

Path conditions:
  aqua: any of: aqua/datadog_checks/aqua, aqua/tests
  argo_cd: any of: argo_cd/datadog_checks/argo_cd, argo_cd/tests
  aws_pricing: any of: aws_pricing/datadog_checks/aws_pricing, aws_pricing/tests
  bind9: any of: bind9/datadog_checks/bind9, bind9/tests
  calico: any of: calico/datadog_checks/calico, calico/tests
  cert_manager: any of: cert_manager/datadog_checks/cert_manager, cert_manager/tests
  cloudsmith: any of: cloudsmith/datadog_checks/cloudsmith, cloudsmith/tests
  cyral: any of: cyral/datadog_checks/cyral, cyral/tests
  eventstore: any of: eventstore/datadog_checks/eventstore, eventstore/tests
  filebeat: any of: filebeat/datadog_checks/filebeat, filebeat/tests
  gatekeeper: any of: gatekeeper/datadog_checks/gatekeeper, gatekeeper/tests
  gnatsd: any of: gnatsd/datadog_checks/gnatsd, gnatsd/tests
  gnatsd_streaming: any of: gnatsd_streaming/datadog_checks/gnatsd_streaming, gnatsd_streaming/tests
  jfrog_platform: any of: jfrog_platform/datadog_checks/jfrog_platform, jfrog_platform/tests
  kernelcare: any of: kernelcare/datadog_checks/kernelcare, kernelcare/tests
  lighthouse: any of: lighthouse/datadog_checks/lighthouse, lighthouse/tests
  logstash: any of: logstash/datadog_checks/logstash, logstash/tests
  neo4j: any of: neo4j/datadog_checks/neo4j, neo4j/tests
  neutrona: any of: neutrona/datadog_checks/neutrona, neutrona/tests
  nextcloud: any of: nextcloud/datadog_checks/nextcloud, nextcloud/tests
  ns1: any of: ns1/datadog_checks/ns1, ns1/tests
  nvml: any of: nvml/datadog_checks/nvml, nvml/tests
  octoprint: any of: octoprint/datadog_checks/octoprint, octoprint/tests
  open_policy_agent: any of: open_policy_agent/datadog_checks/open_policy_agent, open_policy_agent/tests
  php_apcu: any of: php_apcu/datadog_checks/php_apcu, php_apcu/tests
  php_opcache: any of: php_opcache/datadog_checks/php_opcache, php_opcache/tests
  pihole: any of: pihole/datadog_checks/pihole, pihole/tests
  ping: any of: ping/datadog_checks/ping, ping/tests
  portworx: any of: portworx/datadog_checks/portworx, portworx/tests
  pulsar: any of: pulsar/datadog_checks/pulsar, pulsar/tests
  puma: any of: puma/datadog_checks/puma, puma/tests
  reboot_required: any of: reboot_required/datadog_checks/reboot_required, reboot_required/tests
  redis_sentinel: any of: redis_sentinel/datadog_checks/redis_sentinel, redis_sentinel/tests
  redisenterprise: any of: redisenterprise/datadog_checks/redisenterprise, redisenterprise/tests
  riak_repl: any of: riak_repl/datadog_checks/riak_repl, riak_repl/tests
  sendmail: any of: sendmail/datadog_checks/sendmail, sendmail/tests
  snmpwalk: any of: snmpwalk/datadog_checks/snmpwalk, snmpwalk/tests
  sortdb: any of: sortdb/datadog_checks/sortdb, sortdb/tests
  speedtest: any of: speedtest/datadog_checks/speedtest, speedtest/tests
  stardog: any of: stardog/datadog_checks/stardog, stardog/tests
  storm: any of: storm/datadog_checks/storm, storm/tests
  tidb: any of: tidb/datadog_checks/tidb, tidb/tests
  traefik: any of: traefik/datadog_checks/traefik, traefik/tests
  unbound: any of: unbound/datadog_checks/unbound, unbound/tests
  upsc: any of: upsc/datadog_checks/upsc, upsc/tests
  vespa: any of: vespa/datadog_checks/vespa, vespa/tests
  zabbix: any of: zabbix/datadog_checks/zabbix, zabbix/tests
