Repository DataDog/integrations-extras: changes, and which Codecov flags are due for each by the changed paths.
All: aqua, aws_pricing, bind9, cert_manager, cfssl, cloudsmith, cyral, eventstore, exim, filebeat, fluentbit, fluxcd, gatekeeper, gitea, gnatsd, gnatsd_streaming, grpc_check, jfrog_platform, kernelcare, lighthouse, logstash, neo4j, neutrona, nextcloud, nn_sdwan, ns1, nvml, octoprint, open_policy_agent, php_apcu, php_opcache, pihole, ping, portworx, puma, purefa, purefb, reboot_required, redis_sentinel, redisenterprise, redpanda, riak_repl, sendmail, snmpwalk, sortdb, speedtest, stardog, storm, syncthing, tidb, traefik, trino, unbound, unifi_console, upsc, vespa, zabbix

Path conditions:
  aqua: any of: aqua/datadog_checks/aqua, aqua/tests
  aws_pricing: any of: aws_pricing/datadog_checks/aws_pricing, aws_pricing/tests
  bind9: any of: bind9/datadog_checks/bind9, bind9/tests
  cert_manager: any of: cert_manager/datadog_checks/cert_manager, cert_manager/tests
  cfssl: any of: cfssl/datadog_checks/cfssl, cfssl/tests
  cloudsmith: any of: cloudsmith/datadog_checks/cloudsmith, cloudsmith/tests
  cyral: any of: cyral/datadog_checks/cyral, cyral/tests
  eventstore: any of: eventstore/datadog_checks/eventstore, eventstore/tests
  exim: any of: exim/datadog_checks/exim, exim/tests
  filebeat: any of: filebeat/datadog_checks/filebeat, filebeat/tests
  fluentbit: any of: fluentbit/datadog_checks/fluentbit, fluentbit/tests
  fluxcd: any of: fluxcd/datadog_checks/fluxcd, fluxcd/tests
  gatekeeper: any of: gatekeeper/datadog_checks/gatekeeper, gatekeeper/tests
  gitea: any of: gitea/datadog_checks/gitea, gitea/tests
  gnatsd: any of: gnatsd/datadog_checks/gnatsd, gnatsd/tests
  gnatsd_streaming: any of: gnatsd_streaming/datadog_checks/gnatsd_streaming, gnatsd_streaming/tests
  grpc_check: any of: grpc_check/datadog_checks/grpc_check, grpc_check/tests
  jfrog_platform: any of: jfrog_platform/datadog_checks/jfrog_platform, jfrog_platform/tests
  kernelcare: any of: kernelcare/datadog_checks/kernelcare, kernelcare/tests
  lighthouse: any of: lighthouse/datadog_checks/lighthouse, lighthouse/tests
  logstash: any of: logstash/datadog_checks/logstash, logstash/tests
  neo4j: any of: neo4j/datadog_checks/neo4j, neo4j/tests
  neutrona: any of: neutrona/datadog_checks/neutrona, neutrona/tests
  nextcloud: any of: nextcloud/datadog_checks/nextcloud, nextcloud/tests
  nn_sdwan: any of: nn_sdwan/datadog_checks/nn_sdwan, nn_sdwan/tests
  ns1: any of: ns1/datadog_checks/ns1, ns1/tests
  nvml: any of: nvml/datadog_checks/nvml, nvml/tests
  octoprint: any of: octoprint/datadog_checks/octoprint, octoprint/tests
  open_policy_agent: any of: open_policy_agent/datadog_checks/open_policy_agent, open_policy_agent/tests
  php_apcu: any of: php_apcu/datadog_checks/php_apcu, php_apcu/tests
  php_opcache: any of: php_opcache/datadog_checks/php_opcache, php_opcache/tests
  pihole: any of: pihole/datadog_checks/pihole, pihole/tests
  ping: any of: ping/datadog_checks/ping, ping/tests
  portworx: any of: portworx/datadog_checks/portworx, portworx/tests
  puma: any of: puma/datadog_checks/puma, puma/tests
  purefa: any of: purefa/datadog_checks/purefa, purefa/tests
  purefb: any of: purefb/datadog_checks/purefb, purefb/tests
  reboot_required: any of: reboot_required/datadog_checks/reboot_required, reboot_required/tests
  redis_sentinel: any of: redis_sentinel/datadog_checks/redis_sentinel, redis_sentinel/tests
  redisenterprise: any of: redisenterprise/datadog_checks/redisenterprise, redisenterprise/tests
  redpanda: any of: redpanda/datadog_checks/redpanda, redpanda/tests
  riak_repl: any of: riak_repl/datadog_checks/riak_repl, riak_repl/tests
  sendmail: any of: sendmail/datadog_checks/sendmail, sendmail/tests
  snmpwalk: any of: snmpwalk/datadog_checks/snmpwalk, snmpwalk/tests
  sortdb: any of: sortdb/datadog_checks/sortdb, sortdb/tests
  speedtest: any of: speedtest/datadog_checks/speedtest, speedtest/tests
  stardog: any of: stardog/datadog_checks/stardog, stardog/tests
  storm: any of: storm/datadog_checks/storm, storm/tests
  syncthing: any of: syncthing/datadog_checks/syncthing, syncthing/tests
  tidb: any of: tidb/datadog_checks/tidb, tidb/tests
  traefik: any of: traefik/datadog_checks/traefik, traefik/tests
  trino: any of: trino/datadog_checks/trino, trino/tests
  unbound: any of: unbound/datadog_checks/unbound, unbound/tests
  unifi_console: any of: unifi_console/datadog_checks/unifi_console, unifi_console/tests
  upsc: any of: upsc/datadog_checks/upsc, upsc/tests
  vespa: any of: vespa/datadog_checks/vespa, vespa/tests
  zabbix: any of: zabbix/datadog_checks/zabbix, zabbix/tests

Update README.md
  rum_roku/README.md
Due: none

Update conf.yaml.example
  neo4j/datadog_checks/neo4j/data/conf.yaml.example
Due: neo4j

update config_models
  neo4j/datadog_checks/neo4j/config_models/__init__.py
  neo4j/datadog_checks/neo4j/config_models/defaults.py
  neo4j/datadog_checks/neo4j/config_models/instance.py
Due: neo4j

sync config models
  neo4j/datadog_checks/neo4j/config_models/__init__.py
  neo4j/datadog_checks/neo4j/config_models/defaults.py
  neo4j/datadog_checks/neo4j/config_models/instance.py
Due: neo4j

Update conf.yaml.example file
  neo4j/datadog_checks/neo4j/data/conf.yaml.example
Due: neo4j

Update config_models
  neo4j/datadog_checks/neo4j/config_models/__init__.py
  neo4j/datadog_checks/neo4j/config_models/defaults.py
  neo4j/datadog_checks/neo4j/data/conf.yaml.example
Due: neo4j

Update config models
  neo4j/datadog_checks/neo4j/config_models/__init__.py
  neo4j/datadog_checks/neo4j/config_models/defaults.py
Due: neo4j

update config models
  neo4j/datadog_checks/neo4j/config_models/defaults.py
  neo4j/datadog_checks/neo4j/config_models/instance.py
Due: neo4j

Update README.md (#1853)
  rum_roku/README.md
Due: none

[Lighthouse] Fix bug with metric tags when specifying both `tags` and `urls` in config (#1743)
  lighthouse/datadog_checks/lighthouse/lighthouse.py
  lighthouse/tests/test_lighthouse.py
Due: lighthouse

minor issues fixed
  cybersixgill_actionable_alerts/README.md
  cybersixgill_actionable_alerts/datadog_checks/cybersixgill_actionable_alerts/check.py
Due: none

fixed test build issues
  cybersixgill_actionable_alerts/datadog_checks/cybersixgill_actionable_alerts/config_models/instance.py
  cybersixgill_actionable_alerts/datadog_checks/cybersixgill_actionable_alerts/config_models/shared.py
Due: none

fixed test build
  cybersixgill_actionable_alerts/datadog_checks/cybersixgill_actionable_alerts/config_models/instance.py
  cybersixgill_actionable_alerts/datadog_checks/cybersixgill_actionable_alerts/config_models/shared.py
Due: none

Added images
  flagsmith-rum/images/flag_rum-details.png
  flagsmith-rum/images/flag_rum_overview.png
Due: none

Fix manifest
  flagsmith/manifest.json
Due: none

Renamed file
  flagsmith-rum/images/flag_rum_details.png
Due: none

Updating readme to include guide on integrating with docker agent (#1842)
  twingate/README.md
Due: none

Update README.md for port conflicts
  neo4j/README.md
Due: none

Reset changes to conf files
  fluentbit/datadog_checks/fluentbit/data/conf.yaml.example
  hikaricp/datadog_checks/hikaricp/data/conf.yaml.example
Due: fluentbit

Fix config values
  fluentbit/datadog_checks/fluentbit/data/conf.yaml.example
  hikaricp/datadog_checks/hikaricp/data/conf.yaml.example
Due: fluentbit

Fix config models
  fluentbit/datadog_checks/fluentbit/config_models/defaults.py
  fluentbit/datadog_checks/fluentbit/config_models/instance.py
  hikaricp/datadog_checks/hikaricp/config_models/defaults.py
  hikaricp/datadog_checks/hikaricp/config_models/instance.py
Due: fluentbit

(DOCS-5505) Replace broken developer tool links in READMEs (#1850)
  fluentbit/README.md
  fluentbit/datadog_checks/fluentbit/config_models/defaults.py
  fluentbit/datadog_checks/fluentbit/config_models/instance.py
  fluentbit/datadog_checks/fluentbit/data/conf.yaml.example
  fluxcd/README.md
  gatekeeper/README.md
  grpc_check/README.md
  hikaricp/README.md
  hikaricp/datadog_checks/hikaricp/config_models/defaults.py
  hikaricp/datadog_checks/hikaricp/config_models/instance.py
  hikaricp/datadog_checks/hikaricp/data/conf.yaml.example
  octoprint/README.md
  open_policy_agent/README.md
  php_opcache/README.md
  unifi_console/README.md
Due: fluentbit

Update changelog.md
  neo4j/CHANGELOG.md
Due: none

strings that use records now using raw string to allow wildcard records (#1839)
  ns1/datadog_checks/ns1/ns1_api_url.py
  ns1/datadog_checks/ns1/ns1_url_utils.py
Due: ns1

Update README.md to discuss port conflict
  neo4j/README.md
Due: none

Update neo4j/README.md
  neo4j/README.md
Due: none

Update Screenshot Link
  convox/README.md
Due: none

DOCS-5319 Convox Integration Edits (#1846)
  convox/README.md
  convox/images/setting_environment_variables.png
Due: none

initial commit ngrok integration
  .github/CODEOWNERS
  ngrok/CHANGELOG.md
  ngrok/README.md
  ngrok/assets/dashboards/ngrok_http_events.json
  ngrok/assets/logos/ngrok-blue.svg
  ngrok/assets/service_checks.json
  ngrok/images/dashboard.png
  ngrok/images/diag1.png
  ngrok/images/diag2.png
  ngrok/manifest.json
Due: none

update readme
  README.md
Due: none

updated Convox integration docs 5-26-23
  convox/README.md
Due: none

Update README.md (#1852)
  launchdarkly/README.md
Due: none

Update README.md (#1826)
  split/README.md
Due: none

Update README.md
  neo4j/README.md
Due: none

Init Sonarr integration
  sonarr/CHANGELOG.md
  sonarr/README.md
  sonarr/assets/configuration/spec.yaml
  sonarr/assets/dashboards/sonarr_overview.json
  sonarr/assets/service_checks.json
  sonarr/datadog_checks/__init__.py
  sonarr/datadog_checks/sonarr/__about__.py
  sonarr/datadog_checks/sonarr/__init__.py
  sonarr/datadog_checks/sonarr/check.py
  sonarr/datadog_checks/sonarr/config_models/__init__.py
  sonarr/datadog_checks/sonarr/config_models/defaults.py
  sonarr/datadog_checks/sonarr/config_models/instance.py
  sonarr/datadog_checks/sonarr/config_models/shared.py
  sonarr/datadog_checks/sonarr/config_models/validators.py
  sonarr/datadog_checks/sonarr/data/conf.yaml.example
  sonarr/hatch.toml
  sonarr/images/IMAGES_README.md
  sonarr/manifest.json
  sonarr/metadata.csv
  sonarr/pyproject.toml
  sonarr/setup.py
  sonarr/tests/__init__.py
  sonarr/tests/conftest.py
  sonarr/tests/test_sonarr.py
Due: none

Add CI config for sonarr integration
  .codecov.yml
  .github/workflows/test-all.yml
Due: none
